<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>业务参数设置</title>
    </head>
    <body>
    <extend name="Common/base" />
    <block name="breadcrumb_active">
        <li>
            <a href="<{:U('Jcsjroom/room')}>"><{$classify_name|default=''}></a>
        </li>
        <li class="active"><{$seo_title|default=''}></li>
    </block>
    <block name="page_content">
        <style type="text/css">
         #update-mk {
            float: right;
            background-color: rgb(135, 184, 127);
            color: #FFF;
            font-weight: bold;
            border: 0;
            padding: 5px 20px;
            margin: 0 20px 20px 20px;
         }
         #csinfo{
             margin-top: 15px;width:100%;
         }
         .kpms{
             width: 90%;margin-left: 5%;margin-bottom: 10px;
         }
         .cstypediv{
             width: 90%;margin: auto; border:1px solid #6fb3e0
         }
         .cstypetitle{
            border-bottom:1px solid  #6fb3e0;
            font-weight: 700;
            width: 96%;
            margin: 10px auto;
            color: #428bca;
            font-size:15px;
         }
         .lidiv{
             width:94%;
             margin-left: 3%;
             margin-bottom: 10px;
         }
         .lidiv span,.kpms span{
             font-weight: 700; padding:0 15px 0 0;
         }
         .lidiv label,.kpms label{
             padding:0 20px 0 0;
             cursor: pointer;
         }
         .lidiv .content{
         }
         .remark{
            font-size: 10px;
            color: #CCC;
            margin-top: -10px;
         }
        </style>
        <div>
            <div style="height:35px;line-height: 35px;border-bottom: 1px solid #e5e5e5;">
                <span style="font-size: 14px;font-weight: 700;">批次分期级参数</span>
                <form action="<{:U('/Account/YwcsSet/index')}>" method="post" id="form-b">
                    
                <label style=" float: right;margin-top: -35px;">
                    批次
                    <select name="batch_id" class="ywcs_batch_id" style="width: auto;">
                    <foreach name="batch_list" item="batch_list_vo">
                        <if condition="$search_batch_id eq $batch_list_vo['id']">
                        <option value="<{$batch_list_vo['id']}>" selected>
                             <{$batch_list_vo['name']}>
                        </option>
                        <else />
                        <option value="<{$batch_list_vo['id']}>">
                             <{$batch_list_vo['name']}>
                        </option>
                        </if>  
                    </foreach>
                    </select>
                    <input type="hidden" name="project_id" value="<{$search_project_id}>">
                </label>
                </form>
                <form action="<{:U('/Account/YwcsSet/index')}>" method="post" id="form-p">
                <label style=" float: right;margin-top: -35px;margin-right: 15px;">
                    项目
                    <select name="project_id" class="ywcs_project_id" style="width: auto;">   
                    <foreach name="project_list" item="project_list_vo">
                        <if condition="$search_project_id eq $project_list_vo['id']">
                        <option value="<{$project_list_vo['id']}>" selected>
                             <{$project_list_vo['name']}>
                        </option>
                        <else />
                         <option value="<{$project_list_vo['id']}>">
                             <{$project_list_vo['name']}>
                        </option>
                        </if>
                    </foreach>
                    </select>
                     
                </label> 
                </form>
            </div>
            <div id="csinfo">
                <div class="kpms" data_setid="<{$kpmsinfo['id']}>" data_id="<{$kpmsinfo['cs_id']|default=0}>">
                    <div class="content">
                        <span>开盘模式:</span> 
                        <php>$tags = explode(';',$kpmsinfo['options']);</php>
                        <volist name="tags" id="vo">
                            <php>$ops = explode(',',$vo);if(empty($kpmsinfo['cs_value'])){$kpmsinfo['cs_value']=1; }</php>
                            <label><input type="<{$kpmsinfo['cs_type']}>"  name="namems" class="kpmsradio" value="<{$ops[1]}>" <if condition="$ops[1] eq $kpmsinfo['cs_value']"> checked='checked' </if> > <{$ops[0]}></label>                     
                        </volist>
                    </div>
                </div>
                <div class="cstypediv dzkp" style="display: <{$kpmsinfo['showdzkp']}>">
                    <div  class ="cstypetitle">◆ 电子开盘参数</div>
                    <for start="1" end="6">
                        <if condition="$i eq 1">
                        <div class="title-two">

                        </div>
                        </if>
                    </for>
                    <foreach name="dzkplist" item="list_vo" key="k">
                        <div class="lidiv" data_setid="<{$list_vo['id']}>" data_id="<{$list_vo['cs_id']|default=0}>">
                            <div class="content">
                                <span><{$list_vo['cs_name']}>:</span>
                                <php>$tags = explode(';',$list_vo['options']);</php>
                                <volist name="tags" id="vo" key="vo_k">
                                    <if condition="$list_vo['cs_type'] eq 'radio'">
                                        <php>$ops = explode(',',$vo);if(empty($list_vo['cs_value'])){$list_vo['cs_value']=1;}</php>
                                        <label><input type="<{$list_vo['cs_type']}>"  name="name<{$list_vo['id']}>" value="<{$ops[1]}>" <if condition="$ops[1] eq $list_vo['cs_value']"> checked='checked' </if> > <{$ops[0]}></label> 
                                    <else />
                                        <if condition="empty($list_vo['cs_value'])">
                                            <if condition="$vo_k lt 4">
                                                <label style="margin-left: 10px;"><input name="name<{$list_vo['id']}>" type="<{$list_vo['cs_type']}>" class="showinfo" value="<{$vo}>" checked='checked' > <{$vo}></label> 
                                            <else/>
                                                <label style="margin-left: 10px;"><input name="name<{$list_vo['id']}>" type="<{$list_vo['cs_type']}>" class="showinfo" value="<{$vo}>" > <{$vo}></label> 
                                            </if>
                                        <else/>
                                            <php>$yyinfo = explode(';',$list_vo['cs_value']);</php>
                                            <if condition="in_array($vo,$yyinfo)">
                                                <label style="margin-left: 10px;"><input name="name<{$list_vo['id']}>" type="<{$list_vo['cs_type']}>" class="showinfo" value="<{$vo}>" checked='checked' > <{$vo}></label> 
                                            <else/>
                                                <label style="margin-left: 10px;"><input name="name<{$list_vo['id']}>" type="<{$list_vo['cs_type']}>" class="showinfo" value="<{$vo}>" > <{$vo}></label> 
                                            </if>
                                        </if>
                                    </if>                     
                                </volist>
                            </div>
                            <div class="remark"><label><{$list_vo['remark']}><label></div>
                        </div>
                    </foreach>
                </div>
                
                <div class="cstypediv wxkp" style="display: <{$kpmsinfo['showwxkp']}>">
                    <div  class ="cstypetitle">◆ 微信开盘参数</div>
                    <div class="lidiv"> 请到微信认购设置中配置</div>
                    <!--<foreach name="wxkplist" item="list_vo" key="k">
                        <div class="lidiv" data_setid="<{$list_vo['id']}>" data_id="<{$list_vo['cs_id']|default=0}>">
                            <div class="content">
                                <span><{$list_vo['cs_name']}>:</span>
                                <php>$tags = explode(';',$list_vo['options']);</php>
                                <volist name="tags" id="vo" key="vo_k">
                                    <if condition="$list_vo['cs_type'] eq 'radio'">
                                        <php>$ops = explode(',',$vo);if(empty($list_vo['cs_value'])){$list_vo['cs_value']=1;}</php>
                                        <label><input type="<{$list_vo['cs_type']}>"  name="name<{$list_vo['id']}>" value="<{$ops[1]}>" <if condition="$ops[1] eq $list_vo['cs_value']"> checked='checked' </if> > <{$ops[0]}></label> 
                                    </if>                     
                                </volist>
                            </div>
                            <div class="remark"><label><{$list_vo['remark']}><label></div>
                        </div>
                    </foreach>-->
                </div>
                <hr style="border-top: 1px solid #e5e5e5;">
                <button  id="update-mk" pid="<{$search_project_id}>" bid="<{$search_batch_id}>">保存</button>
            </div>
        </div>
    </block>
    <block name="page_js">
        <script type="text/javascript">
             $(".ywcs_project_id").on('change', function() {
                $("#form-p").submit();
            });
            $(".ywcs_batch_id").on('change', function() {
                $("#form-b").submit();
            });
            
            $(".showinfo").on("click",function () {
                var list=$("#csinfo").find(".showinfo");
                var yxz=0;
                for(var i=0;i<list.length;i++)
                {
                    if(list.eq(i).prop("checked"))
                    {
                        yxz++;
                    }
                    if(yxz>3)
                    {
                        layer_alert("只能勾选3个快速选房显示信息");
                        list.eq(i).prop("checked",false);
                        break;
                    }                    
                }
            });
            
            $(".kpmsradio").click(function(){
                $xzms=$('#csinfo input[name="namems"]:checked ').val()
                if($xzms==-1){ $(".dzkp").hide();$(".wxkp").show();}
                else{$(".dzkp").show();$(".wxkp").hide();}
            });
            
            $("#update-mk").on("click",function () {
                var input_checked=$("#csinfo input:radio:checked");
                var input_checkbox=$("#csinfo input:checkbox:checked");
                var pid=$(this).attr("pid");
                var bid=$(this).attr("bid");
                               
                if(input_checked.length===0){
                     layer_alert("参数未配置完!");
                     return false;
                }else{
                    var arr=[];
                    arr[0]=pid;
                    arr[1]=bid;
                    arr[2]=[];
                    for(var i=0;i<input_checked.length;i++){
                        var cs_setid=input_checked.eq(i).parent().parent().parent().attr("data_setid");
                        var cs_id=input_checked.eq(i).parent().parent().parent().attr("data_id");
                        arr[2][i]={"cs_value":input_checked.eq(i).val(),"pzcs_id":cs_setid,"id":cs_id,};
                    }
                    var strinfo="";
                    var cs_setid1=0;
                    var cs_id1=0;
                    if (input_checkbox.length != 3){
                        //layer_alert("请勾选3个快速选房显示信息");
                        //return false;
                    }
                    for(var i=0;i<input_checkbox.length;i++){
                        if (strinfo=="")
                        {
                            strinfo+=input_checkbox.eq(i).val();
                        }
                        else
                        {
                            strinfo+=";"+input_checkbox.eq(i).val();
                        }
                        cs_setid1=input_checkbox.eq(i).parent().parent().parent().attr("data_setid");
                        cs_id1=input_checkbox.eq(i).parent().parent().parent().attr("data_id");
                    }
                    arr[2][input_checked.length]={"cs_value":strinfo,"pzcs_id":cs_setid1,"id":cs_id1};
                    
                    $.post("<{:U('YwcsSet/updateCsset')}>",{cslist:arr},function (data) {
                        if (data.status === 0) {
                                    layer_alert(data);
                                    return false;
				} else {
                                    gritter_alert_success('修改成功！');
                                }
                    });
                    //console.log(arr);
                }
             });
        </script>
    </block>
    </body>
</html>