<extend name="Common/base"/>
<block name="header_css_add">
    <link href="/Public/account/assets/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        html, body {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .pwd_edit_div{
            position: absolute;
            width:350px;height:200px;
            display: none;
            top:30%;
            left:50%;
            z-index: 10;
            transform: translate(-50%, 40%);
            background-color: #fff;
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
            box-shadow: 0 6px 12px rgba(0,0,0,0.175);
            background-clip: padding-box;
        }
        .pwd_edit_div div{
            width:100%;text-align:center;
            padding: 5px;
        }
        .pwd_edit_title{
            height:40px;
            line-height: 35px ;
            font-size:15px;
            font-weight: bold;
            background: #6FB3E0;
            color: #FFF;
        }
        .pwd_edit_btn{
            background: #6fb3e0;
            float: left;
            width: 27%;
            margin-left: 15%;
            height: 30px;
            line-height: 30px;
            cursor:pointer;
            color: #FFF;
        }
        .hidediv{
            background: #C8D1D8;
        }
        .selectpj_ul{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 151px;
            margin: 5px;
            text-align: center;
            color: #FFF;
            background: #2cb9dd;
            z-index: 998;
        }
        .selectpj_ul li{
            line-height: 45px;
            cursor: pointer;
        }
        .allproject_ul{
            position: absolute;
            top: 50px;
            left: 5px;
            width: 150px; 
            z-index: 9999;
            color:#000;
            display:none; 
            border: 1px solid rgba(184, 184, 184, 0.62);
        }
        .allproject_ul li{
            line-height: 45px;
            padding:0 5px;
            background: #FFF;
            border-bottom: 1px solid rgba(184, 184, 184, 0.62);
            cursor: pointer;
        }
        .allproject_ul li:last-child{
            border-bottom: 0;
        }
        
        .sprojlist{
            position: absolute;
            color: grey;
            left: 5px;
            width: 180px;
            top: 21px;
            height: 30px;
            display:none;
        }
        .span-build-list-name {
            background: #FFF;
            border: 1px solid #00bcd4;
            border-radius: 5px;
            line-height: 22px;
            font-weight: bold;
            color: #797979;
            width: 40px;
            text-align: center;
            margin-top: 12px;
        }
        .span-build-list-name {
            background: #FFF;
            border: 1px solid #00bcd4;
            border-radius: 5px;
            line-height: 22px;
            color: #797979;
            width: 45px;
            font-weight: 400;
            text-align: center;
            margin-top: 12px;
            font-size:12px;
            cursor: pointer;
        }
        .span-build-list-name-selected {
            background: #62a8d1;
            border-radius: 5px;
            line-height: 22px;
            color: #FFF;
            font-weight: 700;
            text-align: center;
            width: 45px;
            margin-top: 12px;
            font-size:12px;
            border: 1px solid #62a8d1;
        }
        .span-build-list-name:hover 
        {
            font-weight:700;
        }  
        #build_q li
        {
            display: inline-block;
        }
        .hidden{
            display: none;
        }
        #room-qt{
            position: absolute;
            z-index: 1001;
            width: 570px;
            /* height: 120px; */
            background: rgb(0, 188, 212);
            border-radius: 10px;
            display: none;
            -webkit-box-shadow: 0 0 10px rgba(5, 74, 83, 0.95);
            -moz-box-shadow: 0 0 10px rgba(5, 74, 83, 0.95);
            box-shadow: 0 0 10px rgba(5, 74, 83, 0.95);
            padding: 25px 0 25px 25px;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #room-qt>p{
            width: 100%;
            text-align: right;
            top: -9px;
            position: absolute;
            right: 5px;
        }
        #room-qt>p>span{
            font-size: 30px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
        }

        #shadow-div{
            position: absolute;
            background-color: rgba(0,0,0,0.5);
            width: 100%;
            height: 100%;
            z-index: 1000;
            display: none
        }
        .qzxf-input-title-mx{
            padding: 5px 0;
            width: 18%;
            color: #FFF;
            font-weight: 700;
        }
        #room-qt>ul>li{
            display: none;
        }
        #room-qt>ul>li input{
           width: 150px;
           padding: 2px 5px;
        }
        /*.layui-layer-btn1{*/
            /*background-color: rgb(255, 150, 16)!important;*/
            /*color: #fff!important;*/
            /*border: 0!important;*/
        /*}*/
        .display-none{
            display: none;
        }
    </style>
</block>
<block name="header_js_add">
    <script src="__COMMON__/js/jquery/masonry-docs.min.js"></script>
    <OBJECT ID="CVR_IDCard"  name="CVR_IDCard" CLASSID="CLSID:10946843-7507-44FE-ACE8-2B3483D179B7" width="0" height="0" style="position: fixed"></OBJECT>
    <script type="text/javascript">

        var iPort = CVR_IDCard.InitCommExt();
        if (0 == iPort)
        {
            layer.alert("连接身份证读卡设备失败!");
        }
        var bRet = CVR_IDCard.BeginReadCard();
        if (!bRet)
        {
            layer.alert("启动读卡失败");
        }
    </script>
    <script language="Javascript" event="OnReadCardInfo()" for="CVR_IDCard">
        var zt=$("#sign-zt").text();
        var CardNo = CVR_IDCard.CardNo();
        $("#cardno1").val(CardNo).trigger("input").focus();
    </script>
    <script type="text/javascript">
        $(function () {
            var $container = $('.masonry');
            $container.imagesLoaded(function () {
                $container.masonry({
                    itemSelector: '.masonry-box',
                    gutter: 0,
                    columnWidth: 0,
                    isAnimated: true,
                    isFitWidth: false, //自适应宽度
                    isResizableL: false,
                    animated: false,
                });
            });

            //重新更新
            $(".select-build-list-li-select").click(function () {
                var $build_id = $(this).attr("data-build-id");
                var $index = $(this).index();
                if ($(".marketing-control-content-rooms-list-" + $build_id).is(":hidden")) {
                    $(".marketing-control-content-rooms-list").eq($index).removeClass("masonry-box");
                } else {
                    $(".marketing-control-content-rooms-list").eq($index).addClass("masonry-box");
                }
                var li=$("#build_q .span-build-list-name-selected");
                var tx="";
                $("#show_build").html("");
                for(var i=0;i<li.length;i++){
                    $("#show_build").append("<span style='margin-left: 5px'>"+$.trim(li.eq(i).text())+"</span>");
                }
//                $("#show_build").text(tx);
//                alert(li.length);
                $container.masonry('reloadItems');
                $container.masonry();
            });
            
            /*$(".selectpj_ul").click(function(){
                var pd=$(this).attr("on");
                if(Number(pd)==0){
                    $(".allproject_ul").html($(this).html());
                    $(".allproject_ul").find("li").show();
                    $(".allproject_ul").show();
                    $(this).attr("on","1");
                }else{
                    $(".allproject_ul").hide();
                    $(this).attr("on","0");
                }
            });*/
            
            $(".allproject_ul").on("mouseover","li",function(){
                $(this).css("background-color","#62a8d1");
                $(this).css("color","#FFF");
            });
            
            $(".allproject_ul").on("mouseout","li",function(){
                $(this).css("background-color","#FFF");
                $(this).css("color","#000");
            });
            $(".allproject_ul").on("click","li",function(){
                var $pid=$(this).attr("pid");
               $(".sprojlist").val($pid).change();
            });

            /*$("#build_q").on("mouseover","li",function(){
                $(this).find("span").css("font-weight","700");
            });
            
            $("#build_q").on("mouseout","li",function(){
                $(this).find("span").css("font-weight","400");
            });*/
        });
    </script>
</block>

<block name="content">
    <!--隐藏的权限参数-->
    <span class="hidden" id="pay_auth"><{$pay_auth}></span>
    <span class="hidden" id="num_auth"><{$num_auth}></span>
    <!--END-->
    <!--遮罩层，通用-->
    <div  id="shadow-div"></div>
    <div></div>
    <!--END-->
    <!--显示房间其他参数的弹出层-->
        <div id="room-qt">
            <p><span id="hide-qt">×</span></p>
            <ul style="width:100%;float: left">
                <li class="fl qzxf-input-title-mx jzmj">建筑面积</li>
                <li class="fl wm32 jzmj" style="padding:5px 0"><input id="jzmj" class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="" ></li>
                <li class="fl qzxf-input-title-mx tnmj">套内面积</li>
                <li class="fl wm32 tnmj" style="padding:5px 0"><input id="tnmj" class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="" ></li>
                <li class="fl qzxf-input-title-mx jz-price">标准建筑单价</li>
                <li class="fl wm32 jz-price" style="padding:5px 0"><input id="jz-price" class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="" ></li>
                <li class="fl qzxf-input-title-mx tn-price">标准套内单价</li>
                <li class="fl wm32 tn-price" style="padding:5px 0"><input id="tn-price" class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="" ></li>
                <li class="fl qzxf-input-title-mx all-price">标准总价</li>
                <li class="fl wm32 all-price" style="padding:5px 0" ><input id="all-price" class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="" ></li>
                <li class="fl qzxf-input-title-mx yh-price">优惠后总价</li>
                <li class="fl wm32 yh-price" style="padding:5px 0" ><input id="yh-price" class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="" ></li>
                <li class="fl qzxf-input-title-mx ycx-price" >一次性付款总价</li>
                <li class="fl wm32 ycx-price" style="padding:5px 0">
                    <input id="ycx-price" class="border-sizing marketing-control-content-room-box-input"  type="text"  >
                </li>
                <li class="fl qzxf-input-title-mx fq-price" >分期付款总价</li>
                <li class="fl wm32 fq-price" style="padding:5px 0">
                    <input id="fq-price" class="border-sizing marketing-control-content-room-box-input"  type="text"  >
                </li>
                <li class="fl qzxf-input-title-mx aj-price">按揭付款总价</li>
                <li class="fl wm32 aj-price" style="padding:5px 0">
                    <input id="aj-price"  class="border-sizing marketing-control-content-room-box-input"  type="text"  />
                </li>
                <li class="fl qzxf-input-title-mx gjj-price">公积金付款总价</li>
                <li class="fl wm32 gjj-price" style="padding:5px 0">
                    <input id="gjj-price"  class="border-sizing marketing-control-content-room-box-input"  type="text"  />
                </li>
            </ul>
            <!--<ul style="width:50%;float: left" >-->
                <!--<li class="fl qzxf-input-title-mx tnmj" >套内面积</li>-->
                <!--<li class="fl wm65 tnmj" style="padding:5px 0">-->
                    <!--<input   class="search-input-kh" type="text" id="tnmj"  style="border:0;width: 80%;;padding: 2px 5px 3px 5px"/>-->
                <!--</li>-->
                <!--<li class="fl qzxf-input-title-mx tn-price">标准套内总价</li>-->
                <!--<li class="fl wm65 tn-price" style="padding:5px 0"><input id="tn-price"  class="search-input-kh" type="text"-->
                                                                 <!--style="border:0;width: 80%;;padding: 2px 5px 3px 5px"/></li>-->
                <!--<li class="fl qzxf-input-title-mx yh-price">优惠后总价</li>-->
                <!--<li class="fl wm65 yh-price" style="padding:5px 0"><input id="yh-price"  class="search-input-kh" type="text"-->
                                                                 <!--style="border:0;width: 80%;;padding: 2px 5px 3px 5px"/></li>-->
                <!--<li class="fl qzxf-input-title-mx fq-price">分期付款总价</li>-->
                <!--<li class="fl wm65 fq-price" style="padding:5px 0"><input id="fq-price" class="search-input-kh" type="text"-->
                                                                 <!--style="border:0;width: 80%;;padding: 2px 5px 3px 5px"/></li>-->
                <!--<li class="fl qzxf-input-title-mx gjj-price">公积金付款总价</li>-->
                <!--<li class="fl wm65 gjj-price" style="padding:5px 0"><input id="gjj-price" class="search-input-kh" type="text" style="border:0;width: 80%;;padding: 2px 5px 3px 5px"/></li>-->
            <!--</ul>-->
        </div>
    <!--END-->
    <div class="pwd_edit_div" >
        <input type="hidden" id="user_id" value="<{$user_info['id']}>">
        <div class="pwd_edit_title">修改密码</div>
        <div></div>
        <div>原密码:&nbsp;&nbsp;<input id="oldpwd" type="password" value=""  placeholder="请填写原密码" autocomplete="off"></div>
        <div>新密码:&nbsp;&nbsp;<input id="newpwd" type="password" value=""  placeholder="请填写新密码" autocomplete="off"></div>
        <div></div>
        <div></div>
        <div><span  class="pwd_edit_btn hidediv">取消</span><span class="pwd_edit_btn qz_btn" >确定</span></div>
    </div>
    <div id="base" class="marketing-control-wrapper" style="height:100%;">
        <div id="div-qzxfdhk">
            <br>
            <div id="xfcgys">恭喜选房成功！</div>
            <div style="position: absolute;right: 5px;color: #FFF;font-size: 30px;top:-10px;cursor: pointer" onclick="hidefqz()">×</div>
            <div id="ystitle" style="width: 70px;height: 30px;border: 2px solid red;position: absolute;padding: 5px;transform:rotate(7deg);
-ms-transform:rotate(-30deg); 	/* IE 9 */
-moz-transform:rotate(-30deg); 	/* Firefox */
-webkit-transform:rotate(-30deg); /* Safari 和 Chrome */
-o-transform:rotate(-30deg);right: 30px;top:20px;z-index: 1002" id="tb">
                <div style="width: 100%;height: 100%;background-color: red;color: #FFF;font-weight: bold;font-size: 16px;text-align: center;line-height: 30px;">已&nbsp;售</div>
            </div>
            <div  id="xftitle" style="width: 70px;height: 30px;border: 2px solid #f39900;position: absolute;padding: 5px;transform:rotate(7deg);display: none;
-ms-transform:rotate(-30deg); 	/* IE 9 */
-moz-transform:rotate(-30deg); 	/* Firefox */
-webkit-transform:rotate(-30deg); /* Safari 和 Chrome */
-o-transform:rotate(-30deg);right: 30px;top:20px;z-index: 1002" id="tb">
                <div  style="width: 100%;height: 100%;background-color: #f39900;color: #FFF;font-weight: bold;font-size: 15px;text-align: center;line-height: 30px;">选房成功</div>
            </div>
            <ul style="width:100%;margin-top:10px;float: left">
                <li class="fl qzxf-input-title" style="margin-left: 14px;width:82px ">房间编号</li>
                <li class="fl " style="padding:5px 0;width: calc(100% - 96px);">
                    <input id="roominfo1" type="text" style="border:0;color:red;width: 368px;font-weight: bold;font-size: 17px;padding: 2px 5px;margin-left: -8px" readonly>
                    <button style="width: 50px;height:29px;border-style: none;line-height: 32px;position: absolute;margin-left: 5px;background-color: #FFF;color: #7d43ea;font-weight: bold;cursor: pointer" id="room-tc">详情</button>
                </li>
            </ul>
            <input class="marketing-control-room-info-id" type="hidden" style="display:none;" value="">
            <input class="marketing-control-room-info-is-sf" type="hidden" style="display:none;" value="0">
            <!--<input type="hidden" class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-cstid" value="">-->
            <ul style="width:45%;float: left">
                <li class="fl qzxf-input-title"><label for="select-pay">付款方式</label></li>
                <li class="fl wm65" style="padding:5px 0;">
                    <if condition="!empty($pay_auth)">
                        <input class="border-sizing marketing-control-content-room-box-input" type="text" disabled  style="width: 138px;padding: 2px 5px">
                        <else/>
                        <select name="" id="select-pay" class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-pay" style="width: 138px;padding: 2px 5px">
                            <option value="">请选择付款方式</option>
                            <option value="一次性">一次性</option>
                            <option value="公积金">公积金</option>
                            <option value="按揭">按揭</option>
                            <option value="分期">分期</option>
                        </select>
                    </if>

                </li>
                <if condition="empty($pay_auth)">
                    <li class="fl qzxf-input-title ycx-price-one display-none hidden-li" >一次性</li>
                    <li class="fl wm65 ycx-price-one display-none hidden-li" style="padding:5px 0">
                        <input  class="border-sizing marketing-control-content-room-box-input" readonly type="text" style="width: 138px;padding: 2px 5px" >
                    </li>
                    <li class="fl qzxf-input-title fq-price-one display-none hidden-li" >分期</li>
                    <li class="fl wm65 fq-price-one display-none hidden-li" style="padding:5px 0">
                        <input  class="border-sizing marketing-control-content-room-box-input" readonly  type="text" style="width: 138px;padding: 2px 5px" >
                    </li>
                    <li class="fl qzxf-input-title aj-price-one display-none hidden-li">按揭</li>
                    <li class="fl wm65 aj-price-one display-none hidden-li" style="padding:5px 0">
                        <input   class="border-sizing marketing-control-content-room-box-input" readonly type="text" style="width: 138px;padding: 2px 5px" >
                    </li>
                    <li class="fl qzxf-input-title gjj-price-one display-none hidden-li">公积金</li>
                    <li class="fl wm65 gjj-price-one display-none hidden-li" style="padding:5px 0">
                        <input   class="border-sizing marketing-control-content-room-box-input" readonly  type="text" style="width: 138px;padding: 2px 5px" >
                    </li>
                </if>
                <li class="fl qzxf-input-title hidden-li out-price">售价</li>
                <li class="fl wm65 out-price hidden-li" style="padding:5px 0"><input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-total" type="text" readonly value="" style="width: 138px;padding: 2px 5px"></li>
                <!--<li class="fl qzxf-input-title">面积</li>-->
                <!--<li class="fl wm65" style="padding:5px 0"><input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-area" type="text" readonly value="" style="width: 138px;padding: 2px 5px"></li>-->
                <li class="fl qzxf-input-title">户型</li>
                <li class="fl wm65" style="padding:5px 0"><input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-hx" type="text" readonly value="" style="width: 138px;padding: 2px 5px"></li>
                <li class="fl qzxf-input-title" id="pdz">状态</li>
                <li class="fl wm65" style="padding:5px 0" id="pdz1"><input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-zt" type="text" readonly value="" style="width: 138px;padding: 2px 5px"></li>
                <li class="fl qzxf-input-title" id="pdt">选房时间</li>
                <li class="fl wm65" style="padding:5px 0;display: none" id="pdt1"><input id="xftime1" class="search-input-kh" type="text"
                                                                 style="border:0;width: 138px;padding: 2px 0 3px 0"/></li>
            </ul>
            <ul style="width:55%;float: left" id="ppf">
                <input type="hidden" id="cstid1" value="">
                <li class="fl qzxf-input-title">诚意金编号</li>
                <li class="fl wm65" style="padding:5px 0">
                    <input id="vip1" class="search-input-kh" <if condition="!empty($num_auth)"> disabled </if> type="text"  style="border:0;width: 80%;;padding: 2px 5px 3px 5px"/>
                </li>
                <li class="fl qzxf-input-title">客户名称</li>
                <li class="fl wm65" style="padding:5px 0"><input id="cstname1" class="search-input-kh" type="text"
                                                                 style="border:0;width: 80%;;padding: 2px 5px 3px 5px"/></li>
                <li class="fl qzxf-input-title">手机号码</li>
                <li class="fl wm65" style="padding:5px 0"><input id="phone1" class="search-input-kh" type="text"
                                                                 style="border:0;width: 80%;;padding: 2px 5px 3px 5px"/></li>
                <li class="fl qzxf-input-title">身份证号</li>
                <li class="fl wm65" style="padding:5px 0"><input id="cardno1" class="search-input-kh" type="text"
                                                                 style="border:0;width: 80%;;padding: 2px 5px 3px 5px"/></li>
            </ul>
            <div style="position: relative;clear: both;margin-top: 200px;margin-bottom: 243px">
            <button  style="width: 82px;float: left;padding: 5px 0;border-radius:5px;margin-left: 15px ;margin-bottom:0;color: #FFF;background-color: #c1c1c1;cursor: pointer" onclick="hidefqz()">关闭</button>
            <div class="tac marketing-control-content-room-cancel" style="display:none;margin-bottom: 2px;margin-right: 8px;" >
                <a href="javascript:void(0);" class="marketing-control-content-room-option-btn marketing-control-content-room-cancel-btn" >取消选房</a>
                </div>
                <div class="tac marketing-control-content-room-confirm" style="display:none;margin-bottom: 2px;margin-right: 8px" >
                <a href="javascript:void(0);" class="marketing-control-content-room-option-btn marketing-control-content-room-confirm-btn" >确认选房</a>
                </div>
        </div>
        </div>
        <input type="hidden" id="usertype" value="<{$reset}>">
        <div class="marketing-control" style="margin: 0;padding: 0">
            <div class="marketing-control-content-wrapper">
                <div class="clearfix marketing-control-content" style="height:100%;width:100% ;min-width: 1024px">
                    <div class="fl marketing-control-wrapper"
                         style="height:55px;background-color:#eb5858;position: relative;line-height: 100px">
                        <div style="height:30px;margin-top: 20px;float: left;min-width: 150px"><!--修改标记-->
                            <!--<div class="fl wm25 tac marketing-control-content-room-box-title" style="min-width: 60px">-->
                                <!--选择项目-->
                            <!--</div>-->
                            <select class="fl wm75 marketing-control-select-project-select marketing-control-select-project-id sprojlist">
                                <volist name="project" id="project_vo">
                                    <if condition="$project_vo['id'] eq $search_project_id">
                                        <option value="<{$project_vo.id}>" selected="true"><{$project_vo.name}></option>
                                        <else/>
                                        <option value="<{$project_vo.id}>"><{$project_vo.name}></option>
                                    </if>
                                </volist>
                            </select>
                            <ul class="selectpj_ul" on="0">
                                <volist name="project" id="project_vo">
                                    <if condition="$project_vo['id'] eq $search_project_id">
                                        <li pid="<{$project_vo.id}>"><{$project_vo.name}> </li>
                                    <else/>
                                        <li pid="<{$project_vo.id}>" style="display:none;"><{$project_vo.name}></li>
                                    </if>
                                </volist>
                            </ul>
                            <!--<span style="position: absolute;left: 138px;margin-top: -42px;z-index: 99999;color: #FFF;cursor: pointer;" class="show_divselect">▼</span>-->
                            <ul class="allproject_ul">
                            </ul>
                        </div>
                        <div style="height:45px;margin-top: 5px;float: left;width: 162px;max-width: 162px;line-height: 45px;text-align: center;background: #f39900;margin-left: 3px;"><!--修改标记-->
                             <div style="width: 85%;height: 100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color: #FFF;text-align: left;padding-left: 5px;cursor: pointer;"  id="show_build" on="0">
                                <volist name="rooms" id="rooms_vo" key="rooms_k">
                                            <span style="margin-left: 3px;padding:2px 0;" >
                                                <if condition="isset($builds[$rooms_vo['build_id']])">
                                                <{$builds[$rooms_vo['build_id']]['buildname']|default=1}>
                                                <else/>
                                                1栋
                                                </if>
                                            </span>
                                </volist>
                            </div>
                           <span style="float:right;margin-right: 5px;margin-top: -45px;z-index: 99999;color: #FFF;cursor: pointer;" class="show_divselect">▼</span>
                            <div style="position: absolute;width: 158px;background-color: #FFF;line-height: normal;height: auto;padding-top: 5px;display: none;z-index:10 ;margin-left: 2px;border: 1px solid rgba(184, 184, 184, 0.62);" id="ld_div">
                                <ul class="clearfix" style="width:156px;margin-left: 3px;margin-top: -7px" id="build_q">
                                   <!-- <li class="fl  select-build-list-li-select" id="selectall" data-build-id="-999" style="height: 45px;line-height: 45px;width: 52px;">
                                            <span class="fl bspan span-build-list-name-selected" id="span_build_id_-999" style="">
                                                    <if condition="isset($builds[$rooms_vo['build_id']])">
                                                    全部
                                                    </if>
                                            </span>
                                    </li>--><!--此代码是独栋显示用-->
                                    <volist name="rooms" id="rooms_vo" key="rooms_k">
                                        <li class="fl  select-build-list-li-select" id="bli_<{$rooms_vo['build_id']}>"
                                            data-build-id="<{$rooms_vo['build_id']}>"
                                            style="height: 45px;line-height: 45px;width: 52px;cursor: pointer">
                                                    <span class="fl bspan span-build-list-name-selected" id="span_build_id_<{$rooms_vo['build_id']}>" style="">
                                                            <if condition="isset($builds[$rooms_vo['build_id']])">
                                                            <{$builds[$rooms_vo['build_id']]['buildname']|default=1}>
                                                            <else/>
                                                            1栋
                                                            </if>
                                                    </span>
                                        </li>
                                    </volist>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="wm40 marketing-control-content-room-info div-cz-right" id="div_search" style="padding: 0 ;margin-top: 5px;height: 45px;position: absolute;left: 50%;transform: translate(-50%, 0%);border-left: 0;background-color: #eb5858;width:35%;z-index:998;">
                            <div class="tar marketing-control-search"
                                 style="width:100%;height:auto;min-height:30px;line-height: 0">
                                <!--<div class="fl wm25 tac marketing-control-content-room-box-title">搜索车位</div>-->
                                <span class="fl wm100  marketing-control-search-input-wrapper" style="height: 45px">
                                    <input style="width:100%;height: 100%;border: 0;background: rgba(255, 255, 255, 0.95);border-radius: 5px;font-size: 15px;font-weight: 700;color: #003ef3;" class="marketing-control-search-input" type="text"
                                           value="" placeholder="输入房号搜索" id="in1">
                                    <input style="width:100%;display: none;height: 100%;border: 0;background: rgba(255, 255, 255, 0.95);border-radius: 5px;" class="marketing-control-search-input" type="text"
                                           value="" placeholder="输入客户名称查找" id="in2">
                                    <i class="icon-search nav-search-icon" style="right: 15px;position: absolute;top: 15px;font-size: 18px;color: #eb5858;"></i>
                                    <ul class="marketing-control-search-room-list"></ul>
                                </span>
                            </div>
                            <div style="width:20px;height:30px;position: absolute;top: 10px;left: 101%;"><!--修改标记-->
                                <div class="fl wm25 tac marketing-control-content-room-box-title" on="0" id="qh_ss"
                                     style="color: #FFF;cursor: pointer" title="切换">┆
                                </div>
                            </div>
                        </div>
                        
                        <div  class="fr wm20" style="height:45px;margin-right: 10px;margin-top: 5px;line-height: 50px;text-align: center;min-width: 295px">
                            <div class="wm25 fl" style="background-color: #f39900;color:#FFF;height: 45px;line-height: 45px;" title="当前项目累计已售"><span style="font-weight: bold;font-size: 20px" id="yg_count"><{$yg_count}></span>套</div>
                            <div class="wm25 fl" style="background-color: #a764a7;color:#FFF;height: 45px;line-height: 45px;" title="当前账号累计已售"><span style="font-weight: bold;font-size: 20px" id="user_count" ><{$user_count}></span>套</div>
                            <div class="wm50 fl" style="background-color: #2cb9dd;height: 45px;cursor: pointer;min-width: 146px" id="room_user" on="1">
                                <div class="wm35 fl" style="height: 40px;line-height: 40px;margin-left: 5px;margin-top: 2px;">
                                    <i class="icon-user" style="font-size: 28px;border: 1px solid white;border-radius: 50%;width: 35px;height: 35px;line-height: 35px;margin-top: 3px;display: inline-block;color:#FFF"></i>
                                    <!--<img class="nav-user-photo" src="/Public/account/assets/avatars/user.jpg" alt="Jason's Photo" style="border-radius: 100%;height: 37px;border: 2px solid #FFF;">-->
                                </div>
                                <div class="wm50 fl" style="line-height: normal;text-align: left;color: #FFF;height: 45px;">
                                    <p style="margin-top: 2px"><small>欢迎你</small></p>
                                    <p><{$user_info['name']|default='销控管理员'}></p>
                                </div>
                                <div class="wm5 fl" style="line-height: 50px;margin-top: 20px">
                                <!--   <div style="width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 8px solid #FFF;">
                                   </div>-->
                                </div>

                                <div class="wm50" style="position: absolute;border: 1px solid #ccc;width: 10%;min-width: 148px;margin-top: 45px;background-color: #FFF;color: #FFF;z-index: 5;display: none" id="update_user">
                                   <!-- <ul style="text-align: left;">
                                        <li style="padding-left: 10px;border-bottom: 1px solid rgba(184,184,184,0.62);line-height: 45px" class="open_pwd_edit">
                                            <a href="javascript:void(0);" style="color: black">
                                                <i class="icon-cog"></i>
                                                修改密码
                                            </a>
                                        </li>
                                        <a href="/Account/login/logout.html" style="color: black">
                                            <li style="padding-left: 10px;line-height: 45px">

                                                    <i class="icon-off"></i>
                                                    退出

                                            </li>
                                        </a>
                                    </ul>-->
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="fl marketing-control-content-rooms" style="width: 100%">
                        <div class="marketing-control-content-rooms-box">
                            <div class="clearfix marketing-control-content-rooms-list-wrapper">
                                <div class="clearfix masonry marketing-control-content-rooms-list-info js-marketing-control-content-rooms-list-info"
                                     style="margin-bottom:80px ">
                                    <div style="float: right;position: relative;padding: 0;height:30px;line-height: normal;border: 0;min-width: 250px;margin-top: 2px;padding-top: 3px;margin-right: -27px">
                                        <span class="marketing-control-sale-icon marketing-control-no-sale"
                                        style="border:1px solid #00cccc;font-size: 13px;padding: 3px 15px;font-weight: bold">未售</span>
                                        <span class="marketing-control-sale-icon marketing-control-haved-sale" style="font-size: 13px;padding: 3px 15px">已售</span>
                                        <nobr><span class="marketing-control-sale-icon marketing-control-selected-sale" style="font-size: 13px;padding: 3px 15px">选中</span></nobr>
                                    </div>
                                    <volist name="rooms" id="rooms_vo" key="rooms_k">
                                        <div class="fl masonry-box marketing-control-content-rooms-list marketing-control-content-rooms-list-<{$rooms_vo['build_id']}>"
                                        >
                                            <div class="marketing-control-content-rooms-list-box marketing-control-content-rooms-list-box-bg<{$rooms_k%4}>">
                                                <div class="marketing-control-content-rooms-box-build">
                                                    <if condition="isset($builds[$rooms_vo['build_id']])">
                                                        <{$builds[$rooms_vo['build_id']]['buildname']|default=1}>
                                                        <else/>
                                                        1栋
                                                    </if>
                                                </div>

                                                <div class="marketing-control-content-rooms-box-unit">
                                                    <div class="clearfix marketing-control-content-rooms-box-unit-box">

                                                        <volist name="rooms_vo['data']" id="units_vo" key="units_k">
                                                            <div class="fl marketing-control-content-rooms-box-unit-list"
                                                            >
                                                                <div class="marketing-control-content-rooms-box-unit-title">
                                                                    <{$units_vo.unit_id|default=1}>单元
                                                                </div>

                                                                <div class="div-ztyy marketing-control-content-rooms-box-room">
                                                                    <div class="marketing-control-content-rooms-box-room-box">
                                                                        <table>
                                                                            <volist name="units_vo['floors']"
                                                                                    id="build_floors_vo"
                                                                                    key="build_floors_k">
                                                                                <tr>
                                                                                    <if condition="$units_k eq 1">
                                                                                        <td class="marketing-control-content-rooms-box-room-floor">
                                                                                            <{$build_floors_vo.floor|default=1}>F
                                                                                        </td>
                                                                                    </if>

                                                                                    <if condition="isset($units_vo['data'][$build_floors_vo['floor']])">
                                                                                        <php>$floors_vo =
                                                                                            $units_vo['data'][$build_floors_vo['floor']];
                                                                                        </php>

                                                                                        <foreach
                                                                                                name="units_vo['floor_rooms']"
                                                                                                item="unit_room_item">
                                                                                            <if condition="isset($floors_vo['data'][$unit_room_item['no']])">
                                                                                                <php>$room_item =
                                                                                                    $floors_vo['data'][$unit_room_item['no']];
                                                                                                </php>
                                                                                                <if condition="$room_item['xstype'] eq 1">
                                                                                                    <td class="marketing-control-content-rooms-box-room-num"
                                                                                                        style="background: #C6C0C0;">
                                                                                                        <{$room_item.room|default=1}>
                                                                                                    </td>
                                                                                                    <else/>
                                                                                                    <if condition="$room_item['is_xf'] eq 1">
                                                                                                        <td no="<{$room_item.no|default=1}>"
                                                                                                            roominfo="<{$room_item.buildname}>-<{$room_item.unit}>单元-<{$room_item.floor}>层-<{$room_item.room}>"
                                                                                                            class="marketing-control-content-rooms-box-room-num js-marketing-control-content-rooms-box-room-num marketing-control-content-rooms-box-room-<{$room_item.id}> marketing-control-content-rooms-box-room-selected"
                                                                                                            data-room-id="<{$room_item.id|default=1}>" room="<{$room_item.room}>">
                                                                                                            <{$room_item.room|default=1}>
                                                                                                            <span id="spanid_<{$room_item.id|default=1}>"
                                                                                                                  style="dispaly:none"
                                                                                                                  infolist="<{$room_item.hx}>|<{$room_item.is_xf}>|<{$room_item.area}>|<{$room_item.tnarea}>|<{$room_item.price}>|<{$room_item.tnprice}>|<{$room_item.total}>|<{$room_item.cstname}>|<{$room_item.xftime1}>|<{$room_item.cyjno}>|<{:rsa_decode($room_item['phone'],getChoosekey())}>|<{:rsa_decode($room_item['cardno'],getChoosekey())}>|<{$room_item.unit}>|<{$room_item.floor}>|<{$room_item.room}>|<{$room_item.ycx_price}>|<{$room_item.fq_price}>|<{$room_item.aj_price}>|<{$room_item.gjj_price}>|<{$room_item.discount}>|<{$room_item.pay}>"></span>
                                                                                                        </td>
                                                                                                        <else/>
                                                                                                        <td no="<{$room_item.no|default=1}>"
                                                                                                            roominfo="<{$room_item.buildname}>-<{$room_item.unit}>单元-<{$room_item.floor}>层-<{$room_item.room}>"
                                                                                                            class="marketing-control-content-rooms-box-room-num js-marketing-control-content-rooms-box-room-num marketing-control-content-rooms-box-room-<{$room_item.id}>"
                                                                                                            data-room-id="<{$room_item.id|default=1}>" room="<{$room_item.room}>">
                                                                                                            <{$room_item.room|default=1}>
                                                                                                            <span id="spanid_<{$room_item.id|default=1}>"
                                                                                                                  style="dispaly:none"
                                                                                                                  infolist="<{$room_item.hx}>|<{$room_item.is_xf}>|<{$room_item.area}>|<{$room_item.tnarea}>|<{$room_item.price}>|<{$room_item.tnprice}>|<{$room_item.total}>|<{$room_item.unit}>|<{$room_item.floor}>|<{$room_item.room}>|<{$room_item.ycx_price}>|<{$room_item.fq_price}>|<{$room_item.aj_price}>|<{$room_item.gjj_price}>|<{$room_item.discount}>"></span>
                                                                                                        </td>
                                                                                                    </if>
                                                                                                </if>
                                                                                                <else/>
                                                                                                <td class="marketing-control-content-rooms-box-room-num">
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                            </if>
                                                                                        </foreach>
                                                                                        <else/>
                                                                                        <foreach
                                                                                                name="units_vo['floor_rooms']"
                                                                                                item="floor_rooms_item">
                                                                                            <td class="marketing-control-content-rooms-box-room-num">
                                                                                                &nbsp;
                                                                                            </td>
                                                                                        </foreach>
                                                                                    </if>
                                                                                </tr>

                                                                            </volist>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </volist>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </volist>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="marketing-control-login suspend">
        <div class="clearfix marketing-control-login-box">
            <div class="fl marketing-control-login-btn">
                <div class="marketing-control-login-btn-box">
                    <a href="javascript:void(0);" class="marketing-control-login-btn-a">
                        切换
                    </a>
                </div>
            </div>
            <div class="fl marketing-control-login-content">
                <div class="marketing-control-login-content-box">
                    <div class="marketing-control-login-content-out">
                        <a href="<{:U('login/index')}>" class="marketing-control-login-btn-in-a">
                            登录
                        </a>xk_user2prize
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <script type="text/javascript">
        $(function () {
            //控制用户状态下拉
        /*    $("#room_user").on("click",function () {
                if(Number($(this).attr("on"))==1){
                    $("#update_user").show();
                    $(this).attr("on","0");
                }else{
                    $("#update_user").hide();
                    $(this).attr("on","1");
                }
            });
*/

        //点击阴影层，隐藏额外参数显示框
            $(document).on("click",'#shadow-div,#hide-qt',function () {
                $("#room-qt").hide();
                $("#shadow-div").hide();
            });
            //点击详情显示额外参数
            $('#room-tc').on("click",function () {
                $("#room-qt").show();
                $("#shadow-div").show();
            });
            //用户状态里面的下拉悬停效果
            $("#update_user li").on("mouseover",function () {
                $(this).css("background-color","#62a8d1");
                $(this).find("a").css("color","#FFF");
            });
            $("#update_user li").on("mouseout",function () {
                $(this).css("background-color","");
                $(this).find("a").css("color","black");
            });

            //显示修改密码页面
            $(".open_pwd_edit").click(function(){
                $(".pwd_edit_div").show();
            });
            //取消
            $(".hidediv").click(function(){
                $(".pwd_edit_div").hide();
            });
            //修改密码
            $(".qz_btn").click(function(){

                var $uid=$("#user_id").val();
                var $oldpwd=$("#oldpwd").val();
                var $newpwd=$("#newpwd").val();
                if ($uid == '') {
                    layer_alert('系统异常，请稍后重试！');
                    return false;
                }
                if ($oldpwd == '') {
                    layer_alert('原密码不能为空');
                    return false;
                }
                if ($newpwd == '') {
                    layer_alert('新密码不能为空');
                    return false;
                }

                var pwd_url = {edit_pwd: '<{:U("Account/index/editpwd")}>',}
                $.ajax({
                    url: pwd_url.edit_pwd,
                    data: {
                        uid: $uid,
                        oldpwd: $oldpwd,
                        newpwd: $newpwd,
                    },
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (typeof(data.status) == 'undefined') {
                            layer_alert('请求失败，请重试！');
                            return false;
                        }
                        if (data.status == false) {
                            layer_alert(data.info);
                            return false;
                        }
                        $(".pwd_edit_div").hide();
                        layer.confirm('密码修改成功，请重新登录！', {
                            btn: [ '确认'], //按钮
                            skin: 'layui-layer-molv',
                            shade: [0.5,"black"],
                            closeBtn:false,
                        } ,function(){
                            window.location.href='/Account/login/logout.html';
                        });
                    },
                    error: function (data, status, e) {
                        layer_alert('提交连接失败！');
                    }
                });
            }); 
        });


    </script>
</block>	