
<thead>
<tr>
     <th style="width:50px;">序号</th>
        <th>诚意金编号</th>
	<th>客户名称</th>
	<th>联系方式</th>
	<th>置业顾问</th>
</tr>
</thead>

<tbody>
<if condition="count($data) gt 0">
	<volist name="data" id="item" key="k">
		<tr class="choose-activity-item">
                    <td style="text-align: center;">
                           <{$k}>
                       </td>
                        <td>
				<{$item.cyjno}>
			</td>
			<td>
				<{$item.customer_name}>
			</td>
			<td>
				<{:rsa_decode($item['customer_phone'],getChoosekey())}>
			</td>
			<td>
				<{$item.ywy}><if condition="!empty($item['ywyphone'])">(<{$item.ywyphone}>)</if>
			</td>
		</tr>
	</volist>
	<else/>
	<tr>
		<td colspan="10" style="text-align: center;color: red">暂时没有数据</td>
	</tr>
</if>

</tbody>

