<extend name="Common/base" />

<block name="breadcrumb_active">
	<li><{$classify_name|default=''}></li>
	<li class="active"><{$seo_title|default=''}></li>
</block>

<block name="page_content">
<div class="row">

	<div class="col-xs-12">
		<div class="table-header">
			微信认购活动分析
                        
		</div>
		<div class="table-responsive dataTables_wrapper">
			<div class="row" >
				<div class="col-sm-12" style="padding-left: 0">
					<div id="sample-table-2_length" class="dataTables_length">
						<label style="margin-left: 0">
							项目
							<select name="project-id" class="choose-order_house-project-id" id="a_pro" style="width: 150px">
								<!--<option value="">请选择项目</option>-->
								<option value="0">全部</option>
								<volist name="projects" id="vo">
									<option value="<{$vo.id}>"><{$vo.name}></option>
								</volist>
							</select>
						</label>
						<label>
							批次
							<select name="batch_id" class="choose-activity-batch-id"  id="a_pc" style="width: 150px">
								<option value="">请选择项目批次</option>
							</select>
						</label>
						<label>
							活动
							<select name="batch_id" class="choose-activity-batch-id"  id="a_hd" style="width: 150px">
								<option value="">请选择活动</option>
							</select>
						</label>
					</div>
				</div>
			</div>
			<div class="row" style="padding: 0;background-color: #eff3f8">
					<a href="#" class="label label-xlg label-default" id="hot">房源热度分析</a><!--label-primary-->
					<a href="#" class="label label-xlg label-default" id="rgqk">房源认购情况</a>
					<a href="#" class="label label-xlg label-default" id="khsc">客户备选与认购统计</a>
					<a href="#" class="label label-xlg label-default" id="not_login">未登录客户明细</a>
			</div>
                        <div  id="dcsj" style="display: none;position: absolute;right: 15px;margin-top: -30px;padding: 5px 10px;background-color: rgb(48, 126, 204);color:#FFF; cursor: pointer;"><i class="icon-cloud-download bigger-110"></i>导出当前数据</div>
                        <a id="downa" href="" download="" style="display: none"><div id="downwj">下载文件</div></a>
			<table id="sample-table-choose" class="table table-striped table-bordered table-hover dataTable">
				<tr>
					<td colspan="10" style="text-align: center;color: red">暂时没有数据</td>
				</tr>
			</table>
		</div><!-- /.table-responsive -->

	</div><!-- /span -->

</div>
</block>

<block name="plugin_js">
<script src="__ASSETS__/js/jquery.dataTables.min.js"></script>
<script src="__ASSETS__/js/jquery.dataTables.bootstrap.js"></script>
</block>

<block name="page_js">
<script type="text/javascript">
    var dqtitle="房源热度分析";
	jQuery(function($) {
	    $("#a_pro").focus();
		//选择项目，获取批次
        $("#a_pro").on("change",function (event,a) {
			var pid=$(this).val();
			$("#a_hd option:not(:first)").remove();
			if(pid!=""){
			    $.ajax({
					type:"post",
					url:"/Account/WeixBuyset/get_px",
					data:{pid:pid},
					dataType:"json",
					success:function (data) {
                        $("#a_pc option:not(:first)").remove();
						for(var i=0;i<data.length;i++){
						    $("#a_pc").append("<option value='"+data[i]['id']+"'>"+data[i]['name']+"</option>")
						}
                        $("#a_pc").focus();
						if(a!==undefined){
                            $("#a_pc").find("option").eq(1).prop("selected",true).trigger("change",[2])
						}
                    }
				});
			}else{
                $("#a_pc option:not(:first)").remove();
			}
        });

        //选择项目和批次，获取活动
        $("#a_pc").on("change",function (event,b) {

            var bid=$(this).val();
            var pid=$("#a_pro").val();
         /*   if(bid!=""){
                $.ajax({
                    type:"post",
                    url:"/Account/WeixBuyset/get_hot",
                    data:{bid:bid,pid:pid},
                    success:function (data) {
						$(".table-header").text($.trim($(".table-header").text())+"-"+$.trim($("#hot").text()));
						$("#hot").removeClass("label-default");
						$("#hot").addClass("label-primary");
                        $("#sample-table-choose").html(data);
                    }
                });
            }*/
            if(bid!=""){
                $.ajax({
                    type:"post",
                    url:"/Account/WeixBuyset/get_hd",
                    data:{pid:pid,bid:bid},
                    dataType:"json",
                    success:function (data) {
                        $("#a_hd option:not(:first)").remove();
                        for(var i=0;i<data.length;i++){
                            $("#a_hd").append("<option value='"+data[i]['id']+"'>"+data[i]['name']+"</option>")
                        }
                        $("#a_hd").focus();
						if(b!==undefined){
                            $("#a_hd").find("option").eq(1).prop("selected",true).trigger("change")
						}
                    }
                });
            }else{
                $("#a_hd option:not(:first)").remove();
			}
        });

        //选择活动，获取，数据
		$("#a_hd").on("change",function () {
		    var hid=$(this).val();
		    var bid=$("#a_pc").val();
            var pid=$("#a_pro").val();
		    if(hid!=""){
				$.ajax({
					type:"post",
					url:"/Account/WeixBuyset/get_hot",
					data:{hid:hid,bid:bid,pid:pid},
					success:function (data) {
                        $(".table-header").text("微信认购活动分析-"+$.trim($("#hot").text()));
                        $("#hot").removeClass("label-default");
                        $("#hot").addClass("label-primary");
                        $("#sample-table-choose").html(data);
                    }
				});
			}
                    $("#dcsj").show();
        });
        $("#a_pro").val("<{$selected_project}>");
        $("#a_pro").trigger("change",[1]);
		$(document).on("click",".label-xlg",function () {
		    if($("#a_hd").val()==""){
		        layer_alert("请先选择相应的活动！");
		        return false;
			}
			var ys=$(this);
			var title=$.trim($(this).text());
                        dqtitle=title;
		    var url="";
		    if(title=="房源热度分析"){
                url="/Account/WeixBuyset/get_hot";
			}else if(title=="房源认购情况"){
                url="/Account/WeixBuyset/AnalyticalRoomOrder";
			}else if(title=="客户备选与认购统计"){
                url="/Account/WeixBuyset/AnalyticalCustomerCollectedOrdered";
            }else if(title=="未登录客户明细"){
                url="/Account/WeixBuyset/AnalyticalCustomerNotLogin";
            }
            get_data(url,title,ys);

        });

		function get_data(url,title,elm) {
            var hid=$("#a_hd").val();
            var bid=$("#a_pc").val();
            var pid=$("#a_pro").val();
            $.ajax({
                type:"post",
                url:url,
                data:{hid:hid,bid:bid,pid:pid},
                success:function (data) {
                    $(".table-header").text("微信认购活动分析-"+title);
                    $(".label-primary").removeClass("label-primary");
                    elm.removeClass("label-default");
                    elm.addClass("label-primary");
                    $("#sample-table-choose").html(data);
                }
            });
        }

		$('table th input:checkbox').on('click' , function(){
			var that = this;
			$(this).closest('table').find('tr > td:first-child input:checkbox')
			.each(function(){
				this.checked = that.checked;
				$(this).closest('tr').toggleClass('selected');
			});
		});

		$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

		function tooltip_placement(context, source) {
			var $source = $(source);
			var $parent = $source.closest('table');
			var off1 = $parent.offset();
			var w1 = $parent.width();
			var off2 = $source.offset();
			var w2 = $source.width();
			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
			return 'left';
		}
	});
        
        $("#dcsj").click(function(){
            //alert($("#sample-table-choose").html());
            method5("sample-table-choose");
        });
        
        
        var idTmr;  
        function  getExplorer() {  
            var explorer = window.navigator.userAgent ;  
            //ie  
            if (explorer.indexOf("MSIE") >= 0) {  
                return 'ie';  
            }  
            //firefox  
            else if (explorer.indexOf("Firefox") >= 0) {  
                return 'Firefox';  
            }  
            //Chrome  
            else if(explorer.indexOf("Chrome") >= 0){  
                return 'Chrome';  
            }  
            //Opera  
            else if(explorer.indexOf("Opera") >= 0){  
                return 'Opera';  
            }  
            //Safari  
            else if(explorer.indexOf("Safari") >= 0){  
                return 'Safari';  
            }  
        }  
        function method5(tableid) {  
            if(getExplorer()=='ie')  
            {  
                var curTbl = document.getElementById(tableid);  
                var oXL = new ActiveXObject("Excel.Application");  
                var oWB = oXL.Workbooks.Add();  
                var xlsheet = oWB.Worksheets(1);  
                var sel = document.body.createTextRange();  
                sel.moveToElementText(curTbl);  
                sel.select();  
                sel.execCommand("Copy");  
                xlsheet.Paste();  
                oXL.Visible = true;  
  
                try {  
                    var fname = oXL.Application.GetSaveAsFilename("Excel.xls", "Excel Spreadsheets (*.xls), *.xls");  
                } catch (e) {  
                    print("Nested catch caught " + e);  
                } finally {  
                    oWB.SaveAs(fname);  
                    oWB.Close(savechanges = false);  
                    oXL.Quit();  
                    oXL = null;  
                    idTmr = window.setInterval("Cleanup();", 1);  
                }  
  
            }  
            else  
            {  
                tableToExcel(tableid)  
            }  
        }  
        function Cleanup() {  
            window.clearInterval(idTmr);  
            CollectGarbage();  
        }  
        var tableToExcel = (function() {  
            var uri = 'data:application/vnd.ms-excel;base64,',  
                    template = '<html><head><meta charset="UTF-8"></head><body><table>{table}</table></body></html>',  
                    base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) },  
                    format = function(s, c) {  
                        return s.replace(/{(\w+)}/g,  
                                function(m, p) { return c[p]; }) }  
            return function(table, name) {  
                if (!table.nodeType) table = document.getElementById(table)  
                var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML} 
                $("#downa").attr("href",uri + base64(format(template, ctx)));
                $("#downa").attr("download",dqtitle+new Date().getTime());
                $("#downwj").click();
                //window.location.href = uri + base64(format(template, ctx))  
            }  
        })()  
        
</script>
</block>

<block name="footer_add_js">

</block>
