
<thead>
	<tr>
                 <th style="width:50px;">序号</th>
		<th>客户</th>
		<th>联系方式</th>
		<th>类型</th>
		<th>栋</th>
		<th>单元</th>
		<th>楼层</th>
		<th>房间号</th>
		<th>置业顾问</th>
	</tr>
</thead>

<tbody>
<if condition="count($data) gt 0">
	<volist name="data" id="item" key="k">
		<tr class="choose-activity-item">
                       <td style="text-align: center;">
                           <{$k}>
                       </td>
			<td>
				<{$item.customer_name}>
			</td>
			<td>
				<{:rsa_decode($item['customer_phone'],getChoosekey())}>
			</td>
			<td>
				已选房
			</td>
			<td>
				<{$item.build_name|default='无'}>
			</td>
			<td>
				<if condition="!empty($item.build_name)">
					<{$item.unit_no}>
				</if>
			</td>
			<td>
				<if condition="!empty($item.build_name)">
					<{$item.floor_no}>
				</if>
			</td>
			<td>
				<if condition="!empty($item.build_name)">
					<{$item.room_room}>
				</if>
			</td>
			<td>
				<{$item.adviser}>
			</td>
		</tr>
		<foreach name="item.collection" item="itemA">
			<tr class="choose-activity-item">
				<td class="center" colspan="3">
				</td>
				<td>
					备选
				</td>
				<td>
					<{$itemA.0|default='无'}>
				</td>
				<td>
					<{$itemA.1}>
				</td>
				<td>
					<{$itemA.2}>
				</td>
				<td>
					<{$itemA.3}>
				</td>
				<td>
					<{$itemA.4}>
				</td>
			</tr>

		</foreach>


	</volist>
	<else/>
	<tr>
		<td colspan="10" style="text-align: center;color: red">暂时没有数据</td>
	</tr>
</if>

</tbody>