<thead>
<tr>
    <th style="width:50px;">序号</th>
    <th>项目</th>
    <th>房号</th>
    <th>户型</th>
    <th>累积查询次数</th>
    <th>累积对比次数</th>
    <th>累积备选次数</th>
</tr>
</thead>
<tbody>
<if condition="count($rooms) gt 0">
    <volist name="rooms" id="room" key="k">
        <tr class="choose-activity-item">
            <td style="text-align: center;">
                <{$k}>
            </td>
            <td>
                 <{$room.project_name}>-<{$room.batch_name}>
            </td>
            <td>
                <{$room.buildname}>-<{$room.unit}>单元-<{$room.room}>
            </td>
            <td>
                <{$room.hx}>
            </td>
            <td>
                <{$room.djcount|default=0}>
            </td>
            <td>
                <{$room.sscount|default=0}>
            </td>
            <td>
                <{$room.sccount|default=0}>
            </td>
        </tr>
    </volist>
    <else/>
    <tr>
        <td colspan="10" style="text-align: center;color: red">暂时没有数据</td>
    </tr>
</if>

</tbody>