<extend name="Common/base" />

<block name="seo_title">
	<{$seo_title|default='抢购列表'}>
</block>

<block name="header_js_add">
<script src="__COMMON__/js/jedate/jedate.js"></script>
<script type="text/javascript">
$(function() {
	//开始时间
	jeDate({
		dateCell:".js-room-search-start-time",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal: false,
		isTime: true,
		skin: 'jedate',
		minDate:"2015-09-19 00:00:00",
	});
	
	//结束时间
	jeDate({
		dateCell:".js-room-search-end-time",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal: false,
		isTime: true,
		skin: 'jedate',
		minDate:"2015-09-19 00:00:00",
	});
});
</script>
</block>

<block name="content">
	<div class="room room-game">
		<div class="room-title room-game-title">
			<div class="clearfix room-title-box">
				<span class="room-title-info">抢购列表</span>
				<span class="room-title-subtitle">
					<include file="tab" /> 
				</span>
				<span class="fr room-title-refresh">
					<a href="__SELF__" class="room-title-refresh-btn">
						<img class="room-title-refresh-btn-img" src="__IMG__/sx01.png" />
					</a>
				</span>
			</div>
		</div>

		<div class="room-search">
			<div class="room-search-content">	 
				<form method="get" name="room_search" action="__SELF__">
					<label class="room-search-row">
					   活动
					   <input class="room-search-input" type="text" name="name" value="<{$name|default=''}>"> 
					</label>
				   
				    &nbsp;
					<label class="room-search-row">
					   抢购人
					   <input class="room-search-input" type="text" name="user" value="<{$user|default=''}>"> 
					</label>
				   
				    &nbsp;
					<label class="room-search-row">
						开始时间
						<input class="room-search-input room-search-start-time js-room-search-start-time" type="text" name="start_time" value="<{$start_time|default=''}>"> 
					</label>
				   
				    &nbsp;
					<label class="room-search-row">
						结束时间
						<input class="room-search-input room-search-end-time js-room-search-end-time" type="text" name="end_time" value="<{$end_time|default=''}>"> 
					</label>
					
					<input type="submit" value="提交查询" class="button room-search-button">  
				</form>
			</div>
		</div>

		<div class="room-attr-content">
			<div class="room-attr-rooms">
				<table class="room-attr-rooms-table">
                    <thead>
						<tr>
							<th width="35">
								ID
							</th>
							<th class="room-attr-rooms-table-room-name">
								活动
							</th>
							<th>
								抢购人
							</th>
							<th>
								微信ID
							</th>
							<th>
								抢购时间
							</th>
							<th>
								抢购次数
							</th>							
							<th class="room-attr-rooms-table-option">
								操作
							</th>
						</tr>
                    </thead> 
					<tbody>
						<volist name="click_list" id="click_vo" key="click_k">
							<tr class="room-attr-rooms-table-list room-game-table-list-click-<{$click_vo.id}>">
								<td>
									<{$click_vo.id}>
								</td> 
								<td class="room-game-table-content" title="<{$click_vo.game_title|default=''}>">
									<{$click_vo.game_title}>
								</td> 
								<td>
									<{$click_vo.customer_name}>
								</td> 
								<td>
									<{$click_vo.customer_openid}>
								</td> 
								<td>
									<{$click_vo.create_time|date="Y-m-d H:i:s",###}>
								</td> 
								<td>
									<{$click_vo.click|default=0}>
								</td>								
								<td class="btns">
									<a href="javascript:void(0);" data-id="<{$click_vo.id}>" class="btn btn-radius5 room-game-delete-btn js-room-game-click-delete-btn">删除</a>
								</td> 
							</tr>
						</volist>
					</tbody>
				</table>
			</div>
		</div>
	
		<php>$page = trim($page_show);</php>
		<if condition="!empty($page)">
			<div class="room-attr-page page-container">
				<{$page|default=''}>
			</div>
		</if>
	
	</div>
</block>
