
<volist name="rooms" id="rooms_vo" key="rooms_k">
	<tr data-id="<{$rooms_vo.room_id|default='0'}>" class="saler-search-filter-table-tr js-saler-search-filter-table-tr <if condition="$rooms_vo['room_is_xf'] eq 1">saler-search-filter-table-sale</if>">
		<td class="saler-search-filter-table-td saler-search-filter-table-room">
			<div class="saler-search-filter-table-room-box">
				<span class="saler-search-filter-table-room-info">
					<{$rooms_vo.room_name}>
				</span>
			</div>
		</td>
		<td class="saler-search-filter-table-td saler-search-filter-table-room">
			<div class="saler-search-filter-table-room-box">
				<span class="saler-search-filter-table-room-info">
					<{$rooms_vo.room_floor}>
				</span>
			</div>
		</td>
		<td class="saler-search-filter-table-td saler-search-filter-table-room">
			<div class="saler-search-filter-table-room-box">
				<span class="saler-search-filter-table-room-info" style="text-decoration: underline;font-weight: bold;">
					<{$rooms_vo.room_number}>
				</span>
			</div>
		</td>
		<td class="saler-search-filter-table-td saler-search-filter-table-room">
			<div class="saler-search-filter-table-room-box saler-search-filter-table-room-box-hx">
				<span class="saler-search-filter-table-room-info">
					<{$rooms_vo.room_hx}>
				</span>
				<if condition="$rooms_vo['room_is_xf'] eq 1">
					<span class="saler-search-filter-table-room-sold color-red">[售]</span>
				</if>
			</div>
		</td>
		<td class="saler-search-filter-table-td saler-search-filter-table-room saler-search-filter-table-room-area">
			<div class="saler-search-filter-table-room-box">
				<span class="saler-search-filter-table-room-info">
					<{$rooms_vo.room_area}>
				</span>
			</div>
		</td>
		<td class="saler-search-filter-table-td saler-search-filter-table-room saler-search-filter-table-room-total">
			<div class="saler-search-filter-table-room-box">
				<span class="saler-search-filter-table-room-info">
					<{$rooms_vo.room_total}>
				</span>
			</div>
		</td>
	</tr>
</volist>
