<extend name="Common/base" />

<block name="content">
	<div class="room room-reward">
		<div class="room-title room-game-title">
			<div class="clearfix room-title-box">
				<span class="room-title-info">奖励记录</span>
				<span class="room-title-subtitle">
					<include file="tab" /> 
				</span>
				<span class="fr room-title-refresh">
					<a href="__SELF__" class="room-title-refresh-btn">
						<img class="room-title-refresh-btn-img" src="__IMG__/sx01.png" />
					</a>
				</span>
			</div>
		</div>

		<div class="room-attr-search">
			<div class="room-attr-search-box">
				<span class="room-attr-search-title">选择项目</span>
				<select name="project-id" class="room-attr-search-select js-room-reward-log-search-select">
					<if condition="!empty($search_project_id)">
						<foreach name="project_list" item="project_list_vo">
							<if condition="$search_project_id eq $project_list_vo['id']">
								<option value="<{$project_list_vo['id']}>" selected>
									<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
								</option>
							<else />		 
								<option value="<{$project_list_vo['id']}>">
									<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
								</option>
							</if>
						</foreach> 
					<else />
						<option value="0" selected></option>
						<foreach name="project_list" item="project_list_vo">
							<option value="<{$project_list_vo['id']}>">
								<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
							</option>
						</foreach> 
					</if>
				</select>
			</div>
		</div>

		<div class="room-attr-content">
			<div class="room-attr-rooms">
				<table class="room-attr-rooms-table">
                    <thead>
						<tr>
							<th class="room-attr-rooms-table-room-name">
								ID
							</th>
							<th>
								用户
							</th>
							<th>
								奖励来源用户
							</th>
							<th>
								项目
							</th>
							<th>
								奖励金额
							</th>
							<th>
								来源类型
							</th>
							<th>
								添加时间
							</th>
							<th>
								IP
							</th>
							<th>
								状态
							</th>
							<th class="room-attr-rooms-table-option">
								操作
							</th>
						</tr>
                    </thead> 
					<tbody>
						<volist name="reward_logs" id="reward_logs_vo" key="reward_logs_k">
							<tr class="room-attr-rooms-table-list reward-table-list-<{$reward_logs_vo.id}>">
								<td>
									<{$reward_logs_vo.id}>
								</td> 
								<td>
									<{$reward_logs_vo.customer_name|default=''}>
								</td> 
								<td>
									<{$reward_logs_vo.reward_customer_name|default=''}>
								</td> 
								<td class="room-attr-rooms-table-list-title">
									<{$reward_logs_vo.project_name|default='项目'}>
								</td> 
								<td>
									<{$reward_logs_vo.reward|default=0}>
								</td> 
								<td>
									<eq name='reward_logs_vo["action"]' value='2'>
										<span class="admin-reward-log-status-use">提现</span>
									<else />
										<span class="admin-reward-log-status-get">奖励</span>
									</eq>
								</td> 
								<td>
									<if condition="!empty($reward_logs_vo['add_time'])">
										<{$reward_logs_vo.add_time|date="Y-m-d H:i:s",###}>
									</if>
								</td> 
								<td>
									<if condition="!empty($reward_logs_vo['add_ip'])">
										<{$reward_logs_vo.add_ip|default=''}>
									</if>
								</td> 
								<td>
									<neq name="reward_logs_vo['status']" value="1">
										<span class="color-red">无效</span>
									<else/>
										有效
									</neq>
								</td> 
								<td class="btns">
									<neq name="reward_logs_vo['status']" value="1">
										<a href="javascript:void(0);" data-id="<{$reward_logs_vo.id}>" class="btn btn-red btn-radius5 mr5 room-reward-log-resave-btn js-room-reward-log-resave-btn">恢复</a>
									<else/>
										<a href="javascript:void(0);" data-id="<{$reward_logs_vo.id}>" class="btn btn-radius5 mr5 room-reward-log-redelete-btn js-room-reward-log-redelete-btn">移除</a>
									</neq>
									<a href="javascript:void(0);" data-id="<{$reward_logs_vo.id}>" class="btn btn-radius5 mr5 room-reward-log-delete-btn js-room-reward-log-delete-btn">删除</a>
								</td> 
							</tr>
						</volist>
					</tbody>
				</table>
			</div>
		</div>
	
		<php>$page = trim($page_show);</php>
		<if condition="!empty($page)">
			<div class="room-attr-page page-container">
				<{$page|default=''}>
			</div>
		</if>
	
	</div>
</block>
