<extend name="Common/base" />

<block name="content">
	<div class="room room-reward">
		<div class="room-title room-game-title">
			<div class="clearfix room-title-box">
				<span class="room-title-info">奖励设置</span>
				<span class="room-title-subtitle">
					<include file="tab" /> 
				</span>
				<span class="fr room-title-refresh">
					<a href="__SELF__" class="room-title-refresh-btn">
						<img class="room-title-refresh-btn-img" src="__IMG__/sx01.png" />
					</a>
				</span>
			</div>
		</div>

		<div class="room-attr-search">
			<div class="room-attr-search-box">
				<span class="room-attr-search-title">选择项目</span>
				<select name="project-id" class="room-attr-search-select js-room-reward-search-select">
					<if condition="!empty($search_project_id)">
						<foreach name="project_list" item="project_list_vo">
							<if condition="$search_project_id eq $project_list_vo['id']">
								<option value="<{$project_list_vo['id']}>" selected>
									<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
								</option>
							<else />		 
								<option value="<{$project_list_vo['id']}>">
									<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
								</option>
							</if>
						</foreach> 
					<else />
						<option value="0" selected></option>
						<foreach name="project_list" item="project_list_vo">
							<option value="<{$project_list_vo['id']}>">
								<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
							</option>
						</foreach> 
					</if>
				</select>
			</div>
		</div>

		<div class="room-attr-content">
			<div class="room-attr-rooms">
				<table class="room-attr-rooms-table">
                    <thead>
						<tr>
							<th class="room-attr-rooms-table-room-name">
								ID
							</th>
							<th>
								项目
							</th>
							<th>
								一级奖励
							</th>
							<th>
								二级奖励
							</th>
							<th>
								三级奖励
							</th>
							<th>
								最低提现金额
							</th>
							<th>
								结束时间
							</th>
							<th>
								添加时间
							</th>
							<th>
								状态
							</th>
							<th class="room-attr-rooms-table-option">
								操作
							</th>
						</tr>
                    </thead> 
					<tbody>
						<volist name="reward_list" id="reward_vo" key="reward_k">
							<tr class="room-attr-rooms-table-list reward-table-list-<{$reward_vo.id}>">
								<td>
									<{$reward_vo.id}>
								</td> 
								<td class="room-attr-rooms-table-list-title">
									<{$project_list[$reward_vo['project_id']]['name']|default='项目'}>
								</td> 
								<td>
									<{$reward_vo.one_reward|default=0}>
								</td> 
								<td>
									<{$reward_vo.two_reward|default=0}>
								</td> 
								<td>
									<{$reward_vo.three_reward|default=0}>
								</td> 
								<td>
									<{$reward_vo.lowest_cash|default=0}>
								</td> 
								<td>
									<if condition="!empty($reward_vo['end_time'])">
										<{$reward_vo.end_time|date="Y-m-d H:i:s",###}>
									</if>
								</td> 
								<td>
									<if condition="!empty($reward_vo['add_time'])">
										<{$reward_vo.add_time|date="Y-m-d H:i:s",###}>
									</if>
								</td> 
								<td>
									<neq name="reward_vo['status']" value="1">
										<span class="color-red">关闭</span>
									<else/>
										启用
									</neq>
								</td> 
								<td class="btns">
									<a href="javascript:void(0);" data-id="<{$reward_vo.id}>" class="btn btn-radius5 mr5 room-attr-rooms-save-btn js-room-reward-delete-btn">删除</a>
									<a href="<{:U('option_edit', 'id='.$reward_vo['id'])}>" class="btn btn-radius5 room-attr-rooms-save-btn js-room-reward-save-btn">修改</a>
								</td> 
							</tr>
						</volist>
					</tbody>
				</table>
			</div>
		</div>
	
		<php>$page = trim($page_show);</php>
		<if condition="!empty($page)">
			<div class="room-attr-page page-container">
				<{$page|default=''}>
			</div>
		</if>
	
	</div>
</block>
