<extend name="Common/base" />

<block name="header_js_add">
<script src="__COMMON__/js/jedate/jedate.js"></script>
<script type="text/javascript">
$(function() {
	//开始时间
	jeDate({
		dateCell:".js-reward-date-end-time",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal: false,
		isTime: true,
		skin: 'jedate',
		minDate:"2015-09-19 00:00:00",
	});
});
</script>
</block>

<block name="content">
	<div class="room room-reward">
		<div class="room-title room-game-title">
			<div class="clearfix room-title-box">
				<span class="room-title-info">奖励设置</span>
				<span class="room-title-subtitle">
					<include file="tab" /> 
				</span>
				<span class="fr room-title-refresh">
					<a href="__SELF__" class="room-title-refresh-btn">
						<img class="room-title-refresh-btn-img" src="__IMG__/sx01.png" />
					</a>
				</span>
			</div>
		</div>

		<div class="room-attr-content">
			<div class="room-attr-rooms">
			
				<div class="room-edit">
					<form method="post" name="room-edit-form" action="">
						<div class="room-edit-content">
							<input type="hidden" name="id" class="js-reward-edit-id" value="<{$rewardOption['id']}>" style="display:none;">
							<table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
								<tbody>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											项目名称：
										</td>
										<td class="room-edit-tr-content">
											<select class="room-edit-select room-edit-auto-select js-reward-edit-project-id" name="project">
												<foreach name="project_list" item="project_list_vo">
													<if condition="$rewardOption['project_id'] eq $project_list_vo['id']">
														<option value="<{$project_list_vo['id']}>" selected>
															<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
														</option>
													<else />		 
														<option value="<{$project_list_vo['id']}>">
															<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
														</option>
													</if>
												</foreach> 
											</select>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											一级奖励：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="one_reward" value="<{$rewardOption['one_reward']}>" class="room-edit-input js-reward-edit-one-reward" > 
											<span class="room-edit-tip">（填写推广的一级奖励）</span>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											二级奖励：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="two_reward" value="<{$rewardOption['two_reward']}>" class="room-edit-input js-reward-edit-two-reward" > 
											<span class="room-edit-tip">（填写推广的二级奖励）</span>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											三级奖励：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="three_reward" value="<{$rewardOption['three_reward']}>" class="room-edit-input js-reward-edit-three-reward" > 
											<span class="room-edit-tip">（填写推广的三级奖励）</span>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											最低提现金额：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="lowest_cash" value="<{$rewardOption['lowest_cash']}>" class="room-edit-input js-reward-edit-lowest-cash" > 
											<span class="room-edit-tip">（填写用户的最低提现金额）</span>
										</td>
									</tr> 
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											结束时间：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="end_time" value="<{$rewardOption['end_time']|date="Y-m-d H:i:s",###}>" class="room-edit-input reward-edit-input-end-time js-reward-date-end-time js-reward-edit-end-time" > 
											<span class="room-edit-tip">（推广结束时间）</span>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											状态：
										</td>
										<td class="room-edit-tr-content">
											<select class="room-edit-select js-reward-edit-status" name="status">
												<eq name="rewardOption['status']" value="1">
													<option value="1" selected>
														开启
													</option>
													<option value="0">
														关闭
													</option>
												<else/>
													<option value="1">
														开启
													</option>
													<option value="0" selected>
														关闭
													</option>
												</eq>
											</select>
											<span class="room-edit-tip">（推广的状态设置.默认开启。）</span>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											备注：
										</td>
										<td class="room-edit-tr-content">
											<textarea type="text" name="remark" class="room-edit-textarea js-reward-edit-remark"><{$rewardOption['remark']|default=''}></textarea>
											<span class="room-edit-tip">（填写相关备注）</span>
										</td>
									</tr>
									
								</tbody> 
							</table>
						</div>
						
						<div class="room-edit-tips">
							<div class="room-edit-tips-info">
								<span class="room-edit-tips-bold">提醒：</span>
								“<span class="color-red">*</span>”为必填项，请务必填写。
							</div>
						</div>
						
						<div class="room-edit-btns">
							<a href="javascript:void(0);" class="room-edit-btn room-edit-btn-save js-reward-edit-btn-save">保 存</a> 
							<a href="javascript:history.back(-1);" class="room-edit-btn room-edit-btn-return">返 回</a>				  
						</div>
					</form>
				</div>

			</div>
		</div>
	
	</div>
</block>
