<extend name="Common/base" />

<block name="breadcrumb_active">
	<li>
		<a href="<{:U('ChooseUser/index')}>"><{$classify_name|default=''}></a>
	</li>

	<li class="active"><{$seo_title|default=''}></li>
</block>

<block name="page_content">
<div class="row">

	<div class="col-xs-12">
	
		<div class="table-header">
			客户竞价记录
		</div>

		<div class="table-responsive dataTables_wrapper">
			<div class="row">
				<div class="col-sm-6">
					<div id="sample-table-2_length" class="dataTables_length">
						<label>
							选择项目 
							<select name="project-id" class="choose-log-project-id js-choose-log-project-id" style="width: auto;">
								<if condition="!empty($search_project_id)">
									<option value="">全部</option>
									<foreach name="project_list" item="project_list_vo">
										<if condition="$search_project_id eq $project_list_vo['id']">
											<option value="<{$project_list_vo['id']}>" selected>
												<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
											</option>
										<else />		 
											<option value="<{$project_list_vo['id']}>">
												<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
											</option>
										</if>
									</foreach> 
								<else />
									<option value="0" selected>全部</option>
									<foreach name="project_list" item="project_list_vo">
										<option value="<{$project_list_vo['id']}>">
											<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
										</option>
									</foreach> 
								</if>
							</select> 
						</label>
						
						<label>							
							选择项目批次 
							<select name="batch_id" class="choose-log-batch-id js-choose-log-batch-id" style="width: auto;">
								<option value="">全部</option>
								<foreach name="batch_list" item="batch_list_vo">
									<if condition="$search_batch_id eq $batch_list_vo['id']">
										<option value="<{$batch_list_vo['id']}>" selected>
											<{$batch_list_vo['name']}>
										</option>
									<else />		 
										<option value="<{$batch_list_vo['id']}>">
											<{$batch_list_vo['name']}>
										</option>
									</if>
								</foreach> 
							</select> 
						</label>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="dataTables_filter" id="sample-table-2_filter">
						<form method="get" action="__SELF__" class="choose-log-form js-choose-log-form">
							<label>搜索: <input type="text" name="word" value="<{$search_word|default=''}>" class="js-choose-log-word"></label>
						</form>
					</div>
				</div>
			</div>
			
			<table id="sample-table-choose" class="table table-striped table-bordered table-hover dataTable">
				<thead>
					<tr>
						<th class="center hidden-480">
							<label>
								<input type="checkbox" class="ace">
								<span class="lbl"></span>
							</label>
						</th>
						<th class="center">ID</th>
						<th>
							<i class="icon-phone bigger-110 hidden-480"></i>
							客户手机
						</th>
						<th class="hidden-480">
							项目
						</th>
						<th class="hidden-480">
							活动
						</th>
						<th>
							<i class="icon-jpy bigger-110 hidden-480"></i>
							当前出价(元)
						</th>
						<th class="hidden-480">
							<i class="icon-time bigger-110 hidden-480"></i>
							添加时间
						</th>
						<th class="hidden-480">状态</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody>
					<volist name="choose_log_list" id="choose_log_vo" key="choose_log_key">
						<tr class="choose-log-item choose-log-item-<{$choose_log_vo.id|default='0'}>">
							<td class="center hidden-480">
								<label>
									<input type="checkbox" class="ace choose-log-item-id" data-id="<{$choose_log_vo.id|default='0'}>">
									<span class="lbl"></span>
								</label>
							</td>

							<td class="center">
								<{$choose_log_vo.id|default='0'}>
							</td>
							<td>
								<neq name="choose_log_vo['status']" value="1">
									<i class="icon-lock bigger-120 text-danger"></i>
								</neq>
								
								<{$choose_log_vo.customer_phone|default=''}>
							</td>
							<td class="hidden-480">
								<span class="label-sm">
									<{$choose_log_vo.project_name|default=''}>
								</span>
						
								<notempty name="choose_log_vo.batch_name">
									<span class="label label-sm label-primary arrowed arrowed-right"><{$choose_log_vo.batch_name}></span>
								</notempty>
							</td>
							<td class="hidden-480">
								<{$choose_log_vo.activity_name|default=''}>
								
								<notempty name="choose_log_vo.activity_sort">
									<span class="label label-sm label-primary arrowed-right">第<{$choose_log_vo.activity_sort}>轮</span>
								</notempty>
							</td>
							<td>
								<{$choose_log_vo.money|default='无出价'}>
							</td>
							<td class="hidden-480">
								<if condition="!empty($choose_log_vo['add_time'])">
									<{$choose_log_vo.add_time|date="Y-m-d H:i:s",###}>
								</if>
							</td>
							<td class="hidden-480">
								<eq name="choose_log_vo['status']" value="1">
									<span class="label label-sm label-success">正常</span>
								<else/>
									<span class="label label-sm label-warning">已删除</span>
								</eq>
							</td>
							<td>
								<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
									<neq name="choose_log_vo['status']" value="1">
										<button title="恢复" 
											class="btn btn-xs btn-purple tooltip-info js-choose-log-resave-btn"
											data-id="<{$choose_log_vo.id}>" 
											data-rel="userTooltip" 
											data-placement="left"
											data-original-title="移除"
										>
											<i class="icon-ok bigger-120"></i>
										</button>
									<else/>
										<button title="移除" 
											class="btn btn-xs btn-danger tooltip-error js-choose-log-redelete-btn"
											data-id="<{$choose_log_vo.id}>" 
											data-rel="userTooltip" 
											data-placement="left"
											data-original-title="移除"
										>
											<i class="icon-remove bigger-120"></i>
										</button>
									</neq>
									<button data-id="<{$choose_log_vo.id}>" class="btn btn-xs btn-danger js-choose-log-delete-btn" title="删除">
										<i class="icon-trash bigger-120"></i>
									</button>
								</div>
								
								<div class="visible-xs visible-sm hidden-md hidden-lg">
									<div class="inline position-relative">
										<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
											<i class="icon-cog icon-only bigger-110"></i>
										</button>

										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
											<li>
												<neq name="choose_log_vo['status']" value="1">
													<a href="javascript:void(0);" title="恢复" 
														class="tooltip-success js-choose-log-resave-btn"
														data-id="<{$choose_log_vo.id}>" 
														data-rel="tooltip" 
														data-placement="top"
														data-original-title="移除"
													>
														<span class="green">
															<i class="icon-ok bigger-120"></i>
														</span>
													</a>
												<else/>
													<a href="javascript:void(0);" title="移除" 
														class="tooltip-success js-choose-log-redelete-btn"
														data-id="<{$choose_log_vo.id}>" 
														data-rel="tooltip" 
														data-placement="top"
														data-original-title="移除"
													>
														<span class="red">
															<i class="icon-remove bigger-120"></i>
														</span>
													</a>
												</neq>
											</li>

											<li>
												<a href="javascript:void(0);" class="tooltip-error js-choose-log-delete-btn"
													title="" 
													data-id="<{$choose_log_vo.id}>"
													data-rel="tooltip" 
													data-original-title="删除"
												>
													<span class="red">
														<i class="icon-trash bigger-120"></i>
													</span>
												</a>
											</li>

										</ul>

									</div>
								</div>	
								
							</td>
						</tr>
					</volist>
					
					<tr class="hidden-480">
						<td class="center">
							<div class="action-buttons">
								<a class="red btn-sm js-choose-log-delete-all-btn" href="javascript:void(0);" title="批量删除">
									<i class="icon-trash bigger-130"></i>
								</a>
							</div>
						</td>
						<td colspan="8"></td>
					</tr>
				</tbody>

			</table>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="dataTables_info" id="sample-table-2_info">
						第 <{$p|default=1}> / <{$total_pages|default=1}> 页，共 <{$choose_log_count|default=1}> 条
					</div>
				</div>
				<div class="col-sm-6">
					<div class="dataTables_paginate paging_bootstrap">
						<{$page_show|default=''}>
					</div>
				</div>
			</div>
		</div><!-- /.table-responsive -->

	</div><!-- /span -->

</div>

	
<div class="js-choose-log-excel-export-tpl" style="display:none;">
	<div class="choose-log-excel-export-tpl">
		<div class="choose-log-excel-export-tpl-title">
			你确认要导出该项目模板吗？
		</div>
		<div class="choose-log-excel-export-tpl-btns center">
			<button class="btn btn-sm btn-success js-choose-log-excel-export-tpl-btn">
				<i class="icon-cloud-download bigger-110"></i>
				导出模板
			</button>
		</div>
	</div>
</div>

<div class="js-choose-log-excel-import-tpl" style="display:none;">
	<form method="post" id="choose-log-excel-import-tpl-form" class="choose-log-excel-import-tpl-form" name="import-form" action="<{:U('import')}>" enctype="multipart/form-data" >
		<div class="choose-log-excel-import-tpl">
			<div class="choose-log-excel-import-tpl-title">
				提交客户信息文件
			</div>
			<div class="choose-log-excel-import-tpl-input">
				<input type="file" class="choose-excel-import-tpl-file upload" name="excel" value="" />
			</div>
			<div class="choose-log-excel-import-tpl-btns center">
				<button class="btn btn-sm btn-purple js-choose-log-excel-import-tpl-btn">
					<i class="icon-cloud-upload align-top bigger-110"></i>
					导入数据
				</button>
			</div>
		</div>
	</form>
</div>

</block>

<block name="plugin_js">
<script src="__ASSETS__/js/jquery.dataTables.min.js"></script>
<script src="__ASSETS__/js/jquery.dataTables.bootstrap.js"></script>
</block>

<block name="page_js">
<script type="text/javascript">
	jQuery(function($) {
		$('table th input:checkbox').on('click' , function(){
			var that = this;
			$(this).closest('table').find('tr > td:first-child input:checkbox')
			.each(function(){
				this.checked = that.checked;
				$(this).closest('tr').toggleClass('selected');
			});
		});
		
		$('[data-rel=userTooltip]').tooltip();

		$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

		function tooltip_placement(context, source) {
			var $source = $(source);
			var $parent = $source.closest('table')
			var off1 = $parent.offset();
			var w1 = $parent.width();
			var off2 = $source.offset();
			var w2 = $source.width();
			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
			return 'left';
		}
	});

</script>
</block>

<block name="footer_add_js">

</block>








