<extend name="Common/base" />

<block name="body">
	<body class="login-layout">

		<div class="main-container">

			<div class="main-content">

				<div class="row">

					<div class="col-sm-10 col-sm-offset-1">

						<div class="login-container">

							<div class="center">
								<h1>
									<i class="icon-leaf green"></i>
									<span class="red">云销控</span>
									<span class="white">管理系统</span>
								</h1>

								<h4 class="blue">&copy; 链商科技</h4>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="icon-coffee green"></i>
												登录
											</h4>

											<div class="space-6"></div>

											<form method="POST" action="<{:U('check')}>" 
												class="js-account-login-form" data-success-url="<{:U('index/index')}>"
											>
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="name" class="form-control js-account-login-name" placeholder="用户名" />
															<i class="icon-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" class="form-control js-account-login-password" placeholder="密码" />
															<i class="icon-lock"></i>
														</span>
													</label>

													<div class="space"></div>
													
													<div class="alert alert-block alert-success account-login-success js-account-login-success" style="display:none;">
														<button type="button" class="close" data-dismiss="alert">
															<i class="icon-remove"></i>
														</button>

														<p>
															<strong>
																<i class="icon-ok"></i>
																登录成功！
															</strong>
															正在跳转到控制台。
														</p>
													</div>
													
													<div class="alert alert-block alert-danger account-login-error js-account-login-error" style="display:none;">
														<button type="button" class="close" data-dismiss="alert">
															<i class="icon-remove"></i>
														</button>

														<p>
															<strong>
																<i class="icon-remove"></i>
																登录失败！
															</strong>
															<span class="js-account-login-error-info">
																请确认密码是否正确后重试。
															</span>
														</p>
													</div>

													<div class="space-4"></div>

													<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace account-login-remember js-account-login-remember" />
															<span class="lbl"> 保持登录</span>
														</label>

														<button type="button" data-loading-text="正在登录..." class="width-35 pull-right btn btn-sm btn-primary account-login-btn js-account-login-btn">
															<i class="icon-key"></i>
															登录
														</button>
													</div>
										
													<div class="space-4"></div>
												</fieldset>

											</form>

										</div><!-- /widget-main -->

									</div><!-- /widget-body -->

								</div><!-- /login-box -->


							</div><!-- /position-relative -->

						</div>

					</div><!-- /.col -->

				</div><!-- /.row -->

			</div>

		</div><!-- /.main-container -->

		<!-- basic scripts -->
		
		<!--[if !IE]> -->
			<script src="__ASSETS__/js/jquery-2.1.1.min.js"></script>
		<!-- <![endif]-->
		<!--[if IE]>
			<script src="__ASSETS__/js/jquery-2.1.1.min.js"></script>
		<![endif]-->

		<!--[if !IE]> -->
			<script type="text/javascript">
				window.jQuery || document.write("<script src='__ASSETS__/js/jquery-2.1.1.min.js'>"+"<"+"script>");
			</script>
		<!-- <![endif]-->
		<!--[if IE]>
			<script type="text/javascript">
				window.jQuery || document.write("<script src='__ASSETS__/js/jquery-1.10.2.min.js'>"+"<"+"script>");
			</script>
		<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__ASSETS__/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
		</script>
		<script src="__ASSETS__/js/bootstrap.min.js"></script>
		<script src="__ASSETS__/js/typeahead-bs2.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			function show_box(id) {
				jQuery('.widget-box.visible').removeClass('visible');
				jQuery('#'+id).addClass('visible');
			}
			var login_url = {
				check: "<{:U('check')}>",
			};
		</script>
		<script src="__JS__/layer/layer.js"></script>
		<script src="__JS__/pc/layer.js"></script>
		<script src="__JS__/functions.js"></script>
		<script src="__JS__/account.js"></script>

	</body>
</block>

