/** 美化样式 **/

/* input上传按钮美化 */
.input-box .a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.input-box .a-upload  .upload {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.input-box .a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;
}
.input-box .a-upload-file {
    color: #444;
    background: #f1f2f3;
    border-color: #ccc;
    text-decoration: none;
	padding: 10px 8px;
	margin-top: 3px;
}

