<extend name="Common/base" />

<block name="breadcrumb_active">
	<li>
		<a href="<{:U('ChooseActivity/index')}>"><{$classify_name|default=''}></a>
	</li>

	<li class="active"><{$seo_title|default=''}></li>
</block>

<block name="page_content">
<form class="form-horizontal js-choose-activity-select-box" role="form">

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-project-id"> 
			<i class="icon-asterisk pink"></i> 
			项目名称 
		</label>
		
		<div class="col-sm-9">
			<select class="col-xs-10 col-sm-5   js-choose-activity-select-project-id js-choose-activity-add-project-id"
				name="project_id"
				id="form-field-project-id"
				data-placeholder="请选择项目"
				data-first-title="请选择项目"
				data-first-value='0'
			>
				<foreach name="project_list" item="project_list_vo">
					<option value="<{$project_list_vo['id']}>">
						<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
					</option>
				</foreach> 
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-batch-id"> 
			项目批次 
		</label>
		
		<div class="col-sm-9">
			<select class="col-xs-10 col-sm-5   js-choose-activity-select-batch-id js-choose-activity-add-batch-id"
				name="batch_id"
				id="form-field-batch-id"
				data-placeholder="请选择项目批次"
				data-first-title="请选择项目批次"
			>
			</select>
		</div>
	</div>

	<div class="space-4"></div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-name"> 
			<i class="icon-asterisk pink"></i> 
			活动名称 
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="name" value="" id="form-field-name" placeholder="请填写活动名称" class="col-xs-10 col-sm-5 js-choose-activity-add-name">
			<span class="help-inline col-xs-12 col-sm-7 col-xs-12 col-sm-7">
				<span class="middle">填写活动名称</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-description"> 
			活动描述
		</label>
		
		<div class="col-sm-9">
			<div class="col-xs-10 col-sm-5 no-padding">
				<textarea class="form-control js-choose-activity-add-description" rows="6" name="remark" id="form-field-description" placeholder="填写活动描述"><{$choose_activity.description|default=''}></textarea>
			</div>
		</div>
	</div>

	<div class="space-4"></div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-sort"> 
			轮次
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="sort" value="" id="form-field-sort" placeholder="请填写活动轮次" class="col-xs-10 col-sm-5 js-choose-activity-add-sort">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写活动轮次。默认为顺延轮次</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-person-count"> 
			<i class="icon-asterisk pink"></i> 
			预定人数
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="person_count" value="" id="form-field-person-count" placeholder="请填写活动预定人数" class="col-xs-10 col-sm-5 js-choose-activity-add-person-count">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写活动预定人数，单位：“人”</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-start-time"> 
			<i class="icon-asterisk pink"></i> 
			开始时间
		</label>
		
		<div class="col-sm-9">
			<input type="text" 
				name="start_time" 
				value="<{:date('Y-m-d H:i:s')}>" 
				id="form-field-start-time" 
				placeholder="请填写活动开始时间" 
				class="col-xs-10 col-sm-5 js-choose-activity-add-start-time"
				onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'twoer'})"
			>
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写活动开始时间</span>
			</span>
		</div>
	</div>

	<div class="space-4"></div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-end-time"> 
			结束时间
		</label>
		
		<div class="col-sm-9">
			<input type="text" 
				name="area" 
				value="" 
				id="form-field-end-time" 
				placeholder="请填写活动结束时间" 
				class="col-xs-10 col-sm-5 js-choose-activity-add-end-time"
				onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'twoer'})"
			>
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写活动结束时间，空时以时长为结束时间</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-long-time"> 
			活动时长
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="long_time" value="<{$choose_activity.long_time|default=''}>" id="form-field-long-time" placeholder="请填写活动时长" class="col-xs-10 col-sm-5 js-choose-activity-add-long-time">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写活动时长，时长不为空时结束时间已时长为准。单位：“秒”</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-house-type"> 
			<i class="icon-asterisk pink"></i> 
			补位规则
		</label>
		
		<div class="col-sm-9">
			
			<div class="col-xs-10 col-sm-12 no-padding">
				<span class="radio inline">
					<label>
						<input name="form-field-radio" 
							value="order"
							type="radio" 
							class="ace js-choose-activity-add-type"
							checked="checked"
						>
						<span class="lbl"> 顺序</span>
					</label>
				</span>	
				<span class="radio inline">
					<label>
						<input name="form-field-radio" 
							value="rand"
							type="radio" 
							class="ace js-choose-activity-add-type"
						>
						<span class="lbl"> 随机</span>
					</label>
				</span>			
			</div>
			
			<div class="help-inline col-xs-12 col-sm-7 no-padding">
				<span class="middle">请选择活动补位规则</span>
			</div>
		</div>
	</div>

	<div class="space-4"></div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-status"> 
			<i class="icon-asterisk pink"></i> 
			开启 
		</label>
		
		<div class="col-sm-9">
			<label>
				<input name="switch-field-status" id="form-field-status" class="ace ace-switch ace-switch-4 js-choose-activity-add-status" type="checkbox" checked="checked">
				<span class="lbl"></span>
			</label>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-remark"> 
			备注
		</label>
		
		<div class="col-sm-9">
			<div class="col-xs-10 col-sm-5 no-padding">
				<textarea class="form-control js-choose-activity-add-remark" rows="6" name="remark" id="form-field-remark" placeholder="填写相关备注"><{$choose_activity.remark|default=''}></textarea>
			</div>
		</div>
	</div>

	<div class="space-4"></div>

	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">
			<i class="icon-remove"></i>
		</button>

		<strong>注意：</strong>

		“<i class="icon-asterisk pink"></i>”为必填选项，请注意填写。
		<br>
	</div>

	<div class="clearfix form-actions">
		<div class="col-md-offset-3 col-md-9">
			<button class="btn btn-info js-choose-activity-add-save-btn" type="button" data-loading-text="正在提交..." >
				<i class="icon-ok bigger-110"></i>
				提交
			</button>

			&nbsp; &nbsp; &nbsp;
			<button class="btn" type="reset">
				<i class="icon-undo bigger-110"></i>
				重置
			</button>
		</div>
	</div>
	
</form>
</block>

<block name="page_plugin_styles">
<link rel="stylesheet" href="__ASSETS__/css/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="__ASSETS__/css/chosen.css" />
</block>

<block name="plugin_js">
<script src="__ASSETS__/js/chosen.jquery.min.js"></script>
<script src="__ASSETS__/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__JS__/My97DatePicker/WdatePicker.js"></script>
</block>

<block name="page_js">
<script src="__JS__/jquery/jquery.cxSelect-1.4.1/jquery.cxselect.min.js"></script>
<script type="text/javascript">	
$(function() {	
	//多级联动
	var $project_json = '<{$project_json}>';
	var $project_json = $.parseJSON($project_json);
	$('.js-choose-activity-select-box').cxSelect({
		data: $project_json,                
		selects: ['js-choose-activity-select-project-id', 'js-choose-activity-select-batch-id'],  
		jsonName: 'n',         
		jsonValue: 'v',
		jsonSub: 's',
		emptyStyle: 'display'
	});
});
</script>

<script type="text/javascript">	
$(function() {	
	$(".js-choose-activity-select-project-id").chosen({
		no_results_text: "没有找到",
		allow_single_de: true	
	}).change(function() {
		setTimeout(function() {
			$(".js-choose-activity-select-batch-id").trigger("chosen:updated");
		}, 500);
	}); 
	
	$(".js-choose-activity-select-batch-id").chosen({
		no_results_text: "没有找到",
		allow_single_de: true	
	}); 	
});
</script>
</block>

<block name="footer_add_js"></block>
