<extend name="Common/base" />

<block name="breadcrumb_active">
	<li><{$classify_name|default=''}></li>

	<style>
	form{display: inline}
	#sample-table-2_length label{
		margin-left: 10px;
	}
	#sample-table-2_length>form:not(:first-child)>label>select{
		width: 70px;
	}
	</style>
</block>

<block name="page_content">
<div class="row">
	<div class="col-xs-12">
		<div class="table-header">
			交易记录列表
		</div>
		<div class="table-responsive dataTables_wrapper">
			<div class="row">
				<div class="col-sm-12">
					<div id="sample-table-2_length" class="dataTables_length">
						<form action="<{:U('/Account/Xsgllog/index')}>" method="post" id="form-p">
						<label>
							项目 
							<select name="project_id" class="trade-project-id js-trade-project-id" style="width: auto;">
								<if condition="!empty($search_project_id)">
									<option value="">全部</option>
									<foreach name="project_list" item="project_list_vo">
										<if condition="$search_project_id eq $project_list_vo['id']">
											<option value="<{$project_list_vo['id']}>" selected>
												<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
											</option>
										<else />		 
											<option value="<{$project_list_vo['id']}>">
												<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
											</option>
										</if>
									</foreach> 
								<else />
									<option value="0" selected>全部</option>
									<foreach name="project_list" item="project_list_vo">
										<option value="<{$project_list_vo['id']}>">
											<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
										</option>
									</foreach> 
								</if>
							</select> 
						</label>
						</form>
						<form action="<{:U('/Account/Xsgllog/index')}>" method="post" id="form-b">
						<label>							
							批次 
							<select name="batch_id" class="trade-batch-id js-trade-batch-id" >
							<if condition="count($batch_list) neq 1">
								<option value="0">全部</option>
							</if>
						
								<foreach name="batch_list" item="batch_list_vo">
									<if condition="$batch_list_vo['id'] eq $search_batch_id">
									<option value="<{$batch_list_vo['id']}>" selected>
										<{$batch_list_vo['name']}>
									</option>
										<else/>
										<option value="<{$batch_list_vo['id']}>">
											<{$batch_list_vo['name']}>
										</option>
									</if>
								</foreach> 
							</select> 
						</label>

						<label>
							状态
							<select name="pd" class="trade-zt-id js-trade-zt-id" >


								<if condition="$pd eq 1">
									<option value="0">激活</option>
									<option value="1" selected>关闭</option>
									<else/>
									<option value="0">激活</option>
									<option value="1" >关闭</option>
								</if>>
							</select>
						</label>
						<div class="nav-search" id="sample-table-2_filter" style="top:0;">
							<label class="input-icon">
								<input type="text" name="word" value="<{$search_word|default=''}>" class="nav-search-input js-choose-jy-word" id="zt_cx" placeholder="房间、客户、手机">
								<i class="icon-search nav-search-icon" style="cursor: pointer;left:6px;" id="likeUsers"></i>
							</label>
						</div>
							<input type="hidden" name="project_id" value="<{$search_project_id}>">
							<input type="hidden" name="p" value="<{$p|default=1}>">
						</form>
					</div>
				</div>

			</div>
			
			<table id="sample-table-choose" class="table table-striped table-bordered table-hover dataTable">
				<thead>
					<tr>
						<!--<th class="center hidden-480">-->
							<!--<label>-->
								<!--<input type="checkbox" class="ace">-->
								<!--<span class="lbl"></span>-->
							<!--</label>-->
						<!--</th>-->
						<th class="hidden-480">项目</th>
                                                <th class="hidden-480">房间</th>
						<th>客户名称</th>
						<th>
							<i class="icon-phone bigger-110 hidden-480"></i>
							客户手机
					    </th>
						<th>来源</th>
						<th>交易信息</th>
						<th>付款方式</th>
						<th class="hidden-480">
							<i class="icon-time bigger-110 hidden-480"></i>
							交易时间
						</th>
						<th>
							<i class="icon-jpy bigger-110 hidden-480"></i>
							售价(元)
						</th>
						<th>置业顾问</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody>
				<if condition="count($tradelist) gt 0 ">


					<volist name="tradelist" id="list_vo" key="list_key">
						<tr class="choose-user-item choose-user-item-<{$choose_vo.id|default='0'}>" data-id="<{$list_vo.id}>" data-pay="	<{$list_vo.pay|default=''}>" data-je="<{$list_vo['money']}>" data-bl="<{$list_vo['proportion']}>">
							<!--<td class="center hidden-480">-->
								<!--<label>-->
									<!--<input type="checkbox" class="ace choose-user-item-id" data-id="<{$list_vo.id|default='0'}>">-->
									<!--<span class="lbl"></span>-->
								<!--</label>-->
							<!--</td>-->
							<td class="hidden-480">
								<span>
									<{$list_vo.project_name|default=''}>
								</span>
						
								<notempty name="list_vo.batch_name">
									<span class="label label-primary arrowed arrowed-right"><{$list_vo.batch_name}></span>
								</notempty>
							</td>
                                                        <td><{$list_vo.bld_name}>-<{$list_vo.unit}>单元-<{$list_vo.floor}>层-<{$list_vo.room}></td>
							<td><{$list_vo.cst_name|default=''}></td>
							<td><{:rsa_decode($list_vo['cst_phone'],getChoosekey())}></td>
                                                        <td><{$list_vo.source|default=''}></td>
                                                        <td class="hidden-480 center">
								<if condition="$list_vo.status eq '签约'">
									<span class="label label-sm label-success update_zt" style="cursor: pointer" data-id="<{$list_vo.id}>">签约</span>
								</if>
								<if condition="$list_vo.status eq '认购'">
									<span class="label label-sm label-warning update_zt" style="cursor: pointer" data-id="<{$list_vo.id}>">认购</span>
                                </if>
                                <if condition="$list_vo.status eq '选房'">
                                                                    <span class="label label-sm label-purple update_zt" style="cursor: pointer" data-id="<{$list_vo.id}>">选房</span>
								</if>
							</td>
							<td>
                                                            <{$list_vo.pay}>
                                                            <notempty name="list_vo.proportion">
								(<{$list_vo.proportion}>%)
                                                            </notempty>
							</td>
                            <td class="hidden-480">
								<if condition="!empty($list_vo['trade_time'])">
									<{$list_vo.trade_time|date="Y-m-d H:i:s",###}>
								</if>
							</td>
							<td style="text-align:right;"><{:number_format($list_vo['total'], 2)}></td>
							<td>
								<{$list_vo.ywy|default=''}>
							</td>
							<td class="center">
								<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
									<span class="print-log" data-pvid="<{$list_vo.pvid}>" data-bid="<{$list_vo.pcid}>" data-pid="<{$list_vo.xmid}>" style="color: #fff;background-color: #2db5ee;padding: 3px 2px 4px 5px;cursor: pointer;margin-right: 3px">
										打印
									</span>
									<if condition="$list_vo['isyx'] eq 1">
									<button data-id="<{$list_vo.id}>" class="js-choose-user-circle-btn" title="作废" style="border-style: none;background-color: #ffb752;padding: 3px 6px">
										<i class="icon-ban-circle bigger-120" style="color: #FFF"> </i>
									</button>
										<else/>
										<button style="border-style: none;color: #FFF;background-color: grey;font-weight: bold" disabled>已关闭</button>
									</if>
								</div>
								

							</td>
						</tr>
					</volist>
					<else/>
					<tr>
						<td colspan="13" class="center">暂时没有数据...</td>
					</tr>
				</if>

				</tbody>

			</table>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="dataTables_info" id="sample-table-2_info">
						第 <{$p|default=1}> / <{$total_pages|default=1}> 页，共 <{$count|default=1}> 条
					</div>
				</div>
				<div class="col-sm-6">
					<div class="dataTables_paginate paging_bootstrap">
						<{$page_show|default=''}>
					</div>
				</div>
			</div>
		</div><!-- /.table-responsive -->

	</div><!-- /span -->

</div>

	
<div class="js-choose-user-excel-export-tpl" style="display:none;">
	<div class="choose-user-excel-export-tpl">
		<div class="choose-user-excel-export-tpl-title">
			你确认要导出该项目模板吗？
		</div>
		<div class="choose-user-excel-export-tpl-btns center">
			<button class="btn btn-sm btn-success js-choose-user-excel-export-tpl-btn">
				<i class="icon-cloud-download bigger-110"></i>
				导出模板
			</button>
		</div>
	</div>
</div>

<div class="js-choose-user-excel-import-tpl" style="display:none;">
	<form method="post" id="choose-user-excel-import-tpl-form" class="choose-user-excel-import-tpl-form" name="import-form" action="<{:U('import')}>" enctype="multipart/form-data" >
		<div class="choose-user-excel-import-tpl">
			<div class="choose-user-excel-import-tpl-title">
				提交客户信息文件
			</div>
			<div class="choose-user-excel-import-tpl-input">
				<input type="file" class="choose-excel-import-tpl-file upload" name="excel" value="" />
			</div>
			<div class="choose-user-excel-import-tpl-btns center">
				<button class="btn btn-sm btn-purple js-choose-user-excel-import-tpl-btn">
					<i class="icon-cloud-upload align-top bigger-110"></i>
					导入数据
				</button>
			</div>
		</div>
	</form>
</div>

</block>

<block name="plugin_js">
<script src="__ASSETS__/js/jquery.dataTables.min.js"></script>
<script src="__ASSETS__/js/jquery.dataTables.bootstrap.js"></script>
	<script src="__JS__/My97DatePicker/WdatePicker.js"></script>
</block>

<block name="page_js">
<script type="text/javascript">
    var c_num="<{$p}>";
	jQuery(function($) {
//        document.execCommand('print');
        //分页跳转
        $(".pagination li").on("click",function () {
            var tx=$(this).attr("data-tx");
            if(tx !==undefined){
                if(tx ==="上一页"){
                    $("#form-b input[name='p']").val(Number(c_num)-1);
                }else if(tx ==="下一页"){
                    $("#form-b input[name='p']").val(Number(c_num)+1);
                }else if(tx ==="首页"){
                    $("#form-b input[name='p']").val(1);
                } else if(tx ==="尾页"){
                    $("#form-b input[name='p']").val("<{$total_pages|default=1}>");
                }else{
                    $("#form-b input[name='p']").val(tx);
                }
                $("#form-b").submit();
            }
        });

		$('table th input:checkbox').on('click' , function(){
			var that = this;
			$(this).closest('table').find('tr > td:first-child input:checkbox')
			.each(function(){
				this.checked = that.checked;
				$(this).closest('tr').toggleClass('selected');
			});
		});

		$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

		function tooltip_placement(context, source) {
			var $source = $(source);
			var $parent = $source.closest('table');
			var off1 = $parent.offset();
			var w1 = $parent.width();
			var off2 = $source.offset();
			var w2 = $source.width();
			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
			return 'left';
		}
	});

</script>
</block>

<block name="footer_add_js">

</block>
