<extend name="Common/base" />
<block name="breadcrumb_active">
	<li><{$classify_name|default=''}></li>
	<li class="active"><{$seo_title|default=''}></li>
</block>
<block name="page_content">
	<div class="table-header" style="margin-bottom: 20px">
		编辑房间信息
	</div>
<form class="form-horizontal js-room-select-box" role="form">

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-project-id"> 
			项目名称 
		</label>
		
		<div class="col-sm-9">
                    <input type="text" name="name" value="<{$roominfo['projname']}>" id="form-field-project-id" class="col-xs-10 col-sm-5" readonly="readonly">
		</div>
        </div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-batch-id"> 
			项目批次 
		</label>
		
		<div class="col-sm-9">
                   <input type="text" name="name" value="<{$roominfo['pcname']}>" id="form-field-batch-id" class="col-xs-10 col-sm-5" readonly="readonly">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-name"> 
			房间 
		</label>
		
		<div class="col-sm-9">
                        <input type="text" name="name" id="form-field-name" value="<{$roominfo['buildname']}>-<{$roominfo['unit']}>-<{$roominfo['room']}>" class="col-xs-10 col-sm-5" readonly="readonly">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle"> 房间名称</span>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-description"> 
                        <i class="icon-asterisk pink"></i>
			户型
		</label>
		<div class="col-sm-9">
                    <input type="text" id="form-field-description" name="name" value="<{$roominfo['hx']}>" class="col-xs-10 col-sm-5" readonly="readonly">
		</div>
	</div>

	<div class="space-4"></div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="total">
                        <i class="icon-asterisk pink"></i>
			标准总价(元)
		</label>
		<div class="col-sm-9">
			<input type="number" name="total"  value="<{$roominfo['total']}>" id="total" placeholder="请填写标准总价" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-discount">
			优惠后总价(元)
		</label>
		<div class="col-sm-9">
			<input type="number" name="discount" id="form-field-discount" value="<{$roominfo['discount']}>"  placeholder="请填写优惠总价" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="area">
			<i class="icon-asterisk pink"></i> 
			建筑面积(㎡)
		</label>
		<div class="col-sm-9">
			<input type="number" name="area"  value="<{$roominfo['area']}>" id="area" placeholder="请填写建筑面积" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="price">
			<i class="icon-asterisk pink"></i> 
			建筑单价(元)
		</label>
		<div class="col-sm-9">
			<input type="number" name="price"  value="<{$roominfo['price']}>" id="price" placeholder="请填写建筑单价" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="space-4"></div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="tnarea">
			<i class="icon-asterisk pink"></i> 
			套内面积(㎡)
		</label>
		<div class="col-sm-9">
			<input type="number" name="tnarea" value="<{$roominfo['tnarea']}>" id="tnarea" placeholder="请填写建筑面积" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="tnprice">
			<i class="icon-asterisk pink"></i> 
			套内单价(元)
		</label>
		<div class="col-sm-9">
			<input type="number" name="tnprice" value="<{$roominfo['tnprice']}>" id="tnprice" placeholder="请填写建筑单价" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="ycx_price">
			一次性总价(元)
		</label>
		<div class="col-sm-9">
			<input type="number" name="ycx_price" value="<{$roominfo['ycx_price']}>" id="ycx_price" placeholder="请填写一次性总价" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="fq_price">
			分期总价(元)
		</label>
		<div class="col-sm-9">
			<input type="number" name="fq_price" value="<{$roominfo['fq_price']}>" id="fq_price" placeholder="请填写分期总价" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="aj_price">
			按揭总价(元)
		</label>
		<div class="col-sm-9">
			<input type="number" name="aj_price" value="<{$roominfo['aj_price']}>" id="aj_price" placeholder="请填写按揭总价" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="gjj_price">
			公积金总价(元)
		</label>
		<div class="col-sm-9">
			<input type="number" name="gjj_price" value="<{$roominfo['gjj_price']}>" id="gjj_price" placeholder="请填写公积金总价" class="col-xs-10 col-sm-5">
		</div>
	</div>
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">
			<i class="icon-remove"></i>
		</button>
		<strong>注意：</strong>
		“<i class="icon-asterisk pink"></i>”为必填选项，请注意填写。
		<br>
	</div>
	<input type="hidden" name="id" class="js-room-edit-id" value="<{$roominfo['id']}>" style="display:none;">
	<div class="clearfix form-actions">
		<div class="col-md-offset-3 col-md-9">
			<button class="btn btn-info js-room-edit-save-btn" type="button" data-loading-text="正在提交..." >
				<i class="icon-ok bigger-110"></i>
				提交
			</button>
			&nbsp; &nbsp; &nbsp;
			<button class="btn" type="reset">
				<i class="icon-undo bigger-110"></i>
				重置
			</button>
		</div>
	</div>
</form>
</block>

<block name="page_plugin_styles">
<link rel="stylesheet" href="__ASSETS__/css/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="__ASSETS__/css/chosen.css" />
</block>

<block name="plugin_js">
<script src="__ASSETS__/js/chosen.jquery.min.js"></script>
<script src="__ASSETS__/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__JS__/My97DatePicker/WdatePicker.js"></script>
</block>

<block name="page_js">
<script src="__JS__/jquery/jquery.cxSelect-1.4.1/jquery.cxselect.min.js"></script>
</block>

<block name="footer_add_js"></block>
