<div class="user-voucher-footer">
	<div class="user-voucher-footer-tabs-wrapper">
		<div class="user-voucher-footer-tabs">
			<span class="user-voucher-footer-tabs-box">
				<a href="" 
					class="user-voucher-footer-tabs-btn user-voucher-footer-tabs-btn1 
						<eq name='action_name' value='index'>user-voucher-footer-tabs-btn-select</eq>">
					意向房源
				</a>
				
				<a href="<{:U('grab')}>" 
					class="user-voucher-footer-tabs-btn user-voucher-footer-tabs-btn3
						<eq name='action_name' value='grab'>user-voucher-footer-tabs-btn-select</eq>">
					添加房源
				</a>
			</span>
		</div>
	</div>
</div>
