<extend name="Common/base" />

<block name="header_config_add">
<script type="text/javascript">
var condition = {
    event_id : 0,
	build_id: '<{$buildings[0][2]}>',
	unit_id: '<{$units[0][0][1]}>',
	level : [0,0],
	area : [0,0],
	total : [0,0],
	hx : []
};
</script>
</block>

<block name="header">
<style>
    .header-bg{
        margin-top:0px;color:#000;font-size:12px;font-weight:400;
    }
    .userinfo{
        width:90%;
        margin:auto;
    }
    .userinfo-div{
        height:50px;background: #FFF;
        padding:10px 0;
        border-bottom: 1px solid #eae9e9;
        line-height: 20px;
    }
    .userinfo-name{
        font-size:18px;
        font-weight: 700;
    }  

    .userinfo-ul{
        background: #FFF;
        padding:5px 0;
        border-bottom: 1px solid #eae9e9;
        line-height: 25px;
    }
    .userinfo-ul:last-child{
        border-bottom: 0;
    }
    .user-project-view-content-rooms {
        top: 155px;
        bottom: 55px;
    }
    .orderlist{
        //background: #FFF;
    }
    .orderlist-title{
        width:90%;
        margin:auto;
        border-bottom: 1px solid #eae9e9;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 0 5px;
    }
     .orderlist .orderlist_ul{
        width:100%;
        margin:auto;
        margin-top: 5px;
        background: #FFF;
    }
    .orderlist .orderlist_ul li{
        width:92%;
        margin:auto
    }
    
     .orderlist .orderlist_ul li ul li{
        padding:5px 0;
        line-height: 20px;
        height:20px;
    }
    .orderlist_ul a {
        color:#000;
    }
</style>
	<div class="common-header-wrapper">
		<input id="dpproj_id" value="<{$project['id']}>" style="display:none;">
		<div class="clearfix common-header header-bg" >
                    <div class="userinfo">
                        <div class="userinfo-div">
                            <div style="float:left;width:75%">
                                <ul style="line-height:25px">
                                    <li class="userinfo-name fl"><{$userinfo['customer_name']}></li>
                                    <li class="fl" style="padding: 2px 5px;width:45%"><{$userinfo['customer_phone']}></li>
                                    <li style="float: left;width: 100%;">证件号码：<{$userinfo['cardno']}></li>
                                </ul>
                            </div>
                            <div style="float:right;width:25%; text-align: right;"> 
                                <a style="padding: 5px;color:#BFBFBF;" href="/User/OrderHouse/logout"><span style="position:absolute;right: 44px;top: 18px;">退出</span><i class="fa fa-sign-out weui-tabbar__icon" ></i></a>
                            </div>
                        </div>
                        <ul class="userinfo-ul">
                            <li>认筹单号：<{$userinfo['cyjno']}></li>
                            <li>置业顾问：<{$userinfo['ywy']}></li>
                            <li>联系电话：<{$userinfo['ywyphone']}></li>
                        </ul>
                    </div>
		</div>
	</div>
</block>

<block name="content">
	<div class="user-project-view-base">
		<div class="user-project-view-content-wrapper">
			<div class="user-project-view-content">			
				<div id="iscroller-wrapper" class="user-project-view-content-rooms iscroller-rooms iscroller-style" style="">
					<div id="iscroller-scroller" class="user-project-view-content-rooms-box iscroller-rooms-scroller iscroller-scroller-style">	
                                            <if condition="!empty($orderedRooms)">    
                                            <div class="orderlist"> 
                                                    <!--<div class="orderlist-title">订单列表</div>-->  
                                                    <foreach name="orderedRooms" item="orderedRoom">
                                                    <ul class="orderlist_ul">
                                                       <li>
                                                            <php>$einfo = geturl($eventId, getUrlkey());  $jminfo=encrypt_url("eventId/".$einfo['eventId']."/oid/{$orderedRoom['id']}", getUrlkey());</php>
                                                            <a href="/User/OrderHouse/ordershow/info/<{$jminfo}>">
                                                            <ul>
                                                                <li style="font-weight:bold;font-size:16px;border-bottom:1px solid #eae9e9;padding:10px 0;">
                                                                    <div style="float:left;width:70%">选房号：(公测)<{$orderedRoom.code}></div>
                                                                    <div style="float:right;width:30%;text-align:right;color:#e0dfdf;">  》 </div>
                                                                </li>
                                                                <li>  
                                                                    房间：<{$orderedRoom.project_name}>-<{$orderedRoom.build_name}>-<{$orderedRoom.unit_no}>单元-<{$orderedRoom.floor_no}>层-<{$orderedRoom.room_room}>
                                                               </li>
                                                               <li>售价：<{:number_format($orderedRoom['total'], 2)}></li>
                                                               <li  style="border-top:1px solid #eae9e9;"><{$orderedRoom.log_time|date="Y-m-d H:i:s",###}></li>
                                                               <!--<li>户型结构：(<{$room['hx']}>) <{$hxinfo.hxmx}></li>
                                                               <li>建筑面积：<{$room.area}></li><li>套内面积：<{$room.tnarea}></li>-->
                                                            </ul>
                                                            </a>    
                                                       </li>
                                                    </ul>
                                                    </foreach>    
						</div>
                                                <else/>
                                                     <div style="width: 100%;text-align: center;margin-top: 50%;color: red;font-size:16px;">暂时没有订单！</div>
                                                </if>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="footer">
    <div class="weui-tabbar">
        <a href="/User/OrderHouse/index/info/<{$eventId}>" class="weui-tabbar__item ">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-list weui-tabbar__icon" ></i>
            </span>
            <p class="weui-tabbar__label">房源列表</p>
        </a>
        <a href="/User/OrderHouse/collectedroom/info/<{$eventId}>" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-heart-o weui-tabbar__icon" ></i>
                <span class="weui-badge user-project-view-content-gwc-num" style="position: absolute;top: 2px;right: -10px;display:none;">0</span>
            </span>
            <p class="weui-tabbar__label">备选房源</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-user weui-tabbar__icon" style="font-size:21px;"></i>
                 <if condition="!empty($orderedRoom)">
                    <span class="weui-badge weui-badge_dot" style="position: absolute;top: 2px;right: 0px;"></span>
                </if>
            </span>
            <p class="weui-tabbar__label">我的订单</p>
        </a>
    </div>
</block>
<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_room" iscroller_select_id="iscroller-wrapper" />
<link href="__COMMON__/js//jquery/iscroll/iscroll.css" type="text/css" rel="stylesheet"/>
<script src="__COMMON__/js/jquery/iscroll/iscroll.js"></script>
<script>
var iscroller_index,
	pullDownEl, 
	pullDownOffset,
	loadingStep = 0;//加载状态0默认，1显示加载状态，2执行加载数据，只有当为0时才能再次加载，这是防止过快拉动刷新

var collection = <{$roomCollected}>;
/*var orderedRoom = <{$orderedRooms}>;*/

$(document).ready(function() {	
        if (collection.length>0)
        {
            $('.user-project-view-content-gwc-num').html(collection.length).show();
        }
        else
        {
            $('.user-project-view-content-gwc-num').hide();
        }
});

</script>
</block>
