<extend name="Common/base" />

<block name="header">
	<div class="saler-project-view-header-wrapper">
		<div class="clearfix saler-project-view-header">
			<div class="fl wm25 saler-project-view-header-return">
				<span class="saler-project-view-header-return-box return-btn">
					<a href="javascript:void(0);" class="saler-project-view-header-return-btn">返回</a>
				</span>
			</div>
			<div class="fl wm60 saler-project-view-header-content js-saler-project-view-header-content">
				<span class="saler-project-view-header-content-box-no-arrow">
					<span class="saler-project-view-header-content-box-name"><{$project['name']|default='热销排名'}></span>
				</span>
			</div>
			<div class="fl wm15 saler-project-view-header-right">
			
			</div>
		</div>
	</div>
</block>

<block name="content">
	<div class="saler-project-view-base" data-project-id="<{$project['id']|default='1'}>">
		<div class="saler-project-view-content-wrapper">
			<div class="saler-project-view-content">
				<div class="clearfix saler-project-view-content-tabs">
					<!--<div class="fl wm50 saler-project-view-content-tab" style="background: #fff;">-->
						<!--<a href="<{:U('project/index', array('info' => set_search_ids(array('p' => $search_project_id))))}>" class="saler-project-view-content-tab-info">-->
							<!--房源信息-->
						<!--</a>-->
					<!--</div>-->
					<!--<div class="fl wm50 saler-project-view-content-tab saler-project-view-content-tab-selected">-->
						<!--<a href="<{:U('hot/index', array('info' => set_search_ids(array('p' => $search_project_id))))}>" class="saler-project-view-content-tab-info saler-project-view-content-tab-hot">-->
							<!--热度排名-->
						<!--</a>-->
					<!--</div>-->
				</div>
				
				<div class="saler-project-view-content-sort">
					<div class="saler-project-view-content-sort-box">
						<span class="saler-project-view-content-sort-title">
							<span class="saler-project-view-content-sort-title-info"><{$sub_title|default='收藏次数'}></span>排名
						</span>
					</div>
				</div>
				
				<div id="iscroller-wrapper" class="iscroller-style saler-project-sort-content-rooms">
					<div id="iscroller-scroller" class="iscroller-scroller-style saler-project-sort-content-box">
						<ul class="saler-project-view-content-sort-ul saler-project-view-content-sort-<{$now_type|default='collection'}>">

							<volist name="attribute_list" id="attribute_list_vo" key="attribute_list_k">
								<li>
									<div class="saler-project-view-content-sort-histogram-wrapper">
										<div class="clearfix saler-project-view-content-sort-histogram">
											<div class="fl wm30 saler-project-view-content-sort-histogram-title">
												<a href="<{:U('room/index', array('id' => $room_list[$attribute_list_vo['room_id']]['id']))}>" class="saler-project-view-content-sort-histogram-title-a <if condition="$room_list[$attribute_list_vo['room_id']]['is_xf'] eq 1">saler-project-view-content-sort-histogram-title-select-a</if>">
													<{$build_list[$room_list[$attribute_list_vo['room_id']]['bld_id']]['buildname']}>-<{$room_list[$attribute_list_vo['room_id']]['unit']}>-<{$room_list[$attribute_list_vo['room_id']]['floor']}><{$room_list[$attribute_list_vo['room_id']]['no']}>
												</a>
											</div>
											<div class="fl wm70 saler-project-view-content-sort-histogram-content">
												<div class="saler-project-view-content-sort-histogram-content-box" style="width:80%">
													<div style="width: <{$attribute_list_vo['precision']}>;" class="saler-project-view-content-sort-histogram-size">
														<div class="saler-project-view-content-sort-histogram-size-box saler-project-view-content-sort-histogram-size-box<{$attribute_list_k|default=1}>">
															<span class="saler-project-view-content-sort-histogram-size-tip">
																<{$attribute_list_vo['now_count']|default=1}>次
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</volist>
							
						</ul>
					</div>
				</div>
				
				<div class="saler-project-view-content-right-nav">
					<div class="saler-project-view-content-right-nav-box">
						<div class="saler-project-view-content-right-nav-house-type js-saler-project-view-content-right-nav-house-type">
							<div class="saler-project-view-content-right-nav-house-type-box">
								<ul>
									<if condition="empty($now_hxs[0])">
										<li class="saler-project-view-content-right-nav-house-type-one js-saler-project-view-content-right-nav-house-type-one saler-project-view-content-right-nav-house-type-all saler-project-view-content-right-nav-house-type-one-select">
											<a href="javascript:void(0);">全部</a>
										</li>
									<else />
										<li class="saler-project-view-content-right-nav-house-type-one js-saler-project-view-content-right-nav-house-type-one saler-project-view-content-right-nav-house-type-all">
											<a href="javascript:void(0);">全部</a>
										</li>
									</if>
									
									<volist name="hx_list" id="hx_list_vo" key="hx_list_k">
										<if condition="in_array(strtolower($hx_list_vo['hx']), $now_hxs)">
											<li class="saler-project-view-content-right-nav-house-type-one js-saler-project-view-content-right-nav-house-type-one">
												<a href="javascript:void(0);" data-hx="<{$hx_list_vo['hx']}>"><{$hx_list_vo['hx']}></a>
											</li>
										<else />
											<li class="saler-project-view-content-right-nav-house-type-one js-saler-project-view-content-right-nav-house-type-one">
												<a href="javascript:void(0);" data-hx="<{$hx_list_vo['hx']}>"><{$hx_list_vo['hx']}></a>
											</li>
										</if>
									</volist>
								</ul>
							</div>
						</div>
						
						<div class="saler-project-view-content-right-nav-btn js-saler-project-view-content-right-nav-btn">
							<span class="saler-project-view-content-right-nav-btn-box">
								户型筛选
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
</block>

<block name="footer">
	<div class="saler-project-footer">
		<div class="saler-project-footer-tabs-wrapper">
			<div class="saler-project-footer-tabs">
				<span class="saler-project-footer-tabs-box">
					<span class="saler-project-footer-tabs-btn js-order_house-project-footer-tabs-btn saler-project-footer-tabs-btn1 <if condition="$now_type eq 'collection'">saler-project-footer-tabs-btn-select</if>" data-type="collection">
						收藏次数
					</span>
					<span class="saler-project-footer-tabs-btn js-order_house-project-footer-tabs-btn saler-project-footer-tabs-btn2 <if condition="$now_type eq 'comparison'">saler-project-footer-tabs-btn-select</if>" data-type="comparison">
						对比次数
					</span>
					<span class="saler-project-footer-tabs-btn js-order_house-project-footer-tabs-btn saler-project-footer-tabs-btn3 <if condition="$now_type eq 'follow'">saler-project-footer-tabs-btn-select</if>" data-type="follow">
						关注次数
					</span>
				</span>
			</div>
		</div>
	</div>
</block>

<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_hot" iscroller_select_id="iscroller-wrapper" />
<script>
	var eventId = '<{$eventId}>';
</script>
</block>

