<extend name="Common/base" />

<block name="header">
	<div class="saler-project-header-wrapper">
		<span class="saler-project-header">
			选择项目
		</span>
		<span>
			<a class="a-logout js-order-house-logout" >注销</a>
		</span>
	</div>
</block>

<block name="content">
	<div class="base">
		<div class="saler-project-content-wrapper">
			<div class="saler-project-content">
				<ul class="saler-project-content-list">
				
					<volist name="eventList" id="event">
						<li class="saler-project-content-li">
							<a href="<{:U('saler/EventOrderHouse/index/', array('eventId' => $event['id'] ))}>" class="saler-project-content-a">
									<{$event.name}>
									<input style="float:right;margin-right:5px" type="radio" name="xzproj" class="js_xzproj_radio"/>
							</a>
						</li>
					</volist>
				</ul>
			</div>
		</div>
	<div>
</block>
