<ul class="saler-project-view-content-sort-ul saler-project-view-content-sort-<{$now_type|default='collection'}>">
	<volist name="attribute_list" id="attribute_list_vo" key="attribute_list_k">
		<li>
			<div class="saler-project-view-content-sort-histogram-wrapper">
				<div class="clearfix saler-project-view-content-sort-histogram">
					<div class="fl wm30 saler-project-view-content-sort-histogram-title">
						<a href="<{:U('room/index', array('id' => $room_list[$attribute_list_vo['room_id']]['id']))}>" class="saler-project-view-content-sort-histogram-title-a <if condition="$room_list[$attribute_list_vo['room_id']]['is_xf'] eq 1">saler-project-view-content-sort-histogram-title-select-a</if>">
							<{$build_list[$room_list[$attribute_list_vo['room_id']]['bld_id']]['buildname']}>-<{$room_list[$attribute_list_vo['room_id']]['unit']}>-<{$room_list[$attribute_list_vo['room_id']]['floor']}><{$room_list[$attribute_list_vo['room_id']]['no']}>
						</a>
					</div>
					<div class="fl wm70 saler-project-view-content-sort-histogram-content">
						<div class="saler-project-view-content-sort-histogram-content-box" style="width:80%">
							<div style="width: <{$attribute_list_vo['precision']}>;" class="saler-project-view-content-sort-histogram-size">
								<div class="saler-project-view-content-sort-histogram-size-box saler-project-view-content-sort-histogram-size-box<{$attribute_list_k|default=1}>">
									<span class="saler-project-view-content-sort-histogram-size-tip">
										<{$attribute_list_vo['now_count']|default=1}>次
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</volist>
</ul>
