<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>后台管理中心</title>
</head>
<frameset rows="40px,*" frameborder="1">
	<frame src="<{:U('index/top')}>" name="tophtml" noresize="noresize">
	<frameset cols="180px,*" frameborder="0">
		<frame src="<{:U('index/left')}>" name="lefthtml" noresize="noresize">
		<!--<frame src="<{:U('index/project')}>" name="mainhtml" noresize="noresize">-->
		<frame src="<{:U('index/project', array('cz' => 'admin'))}>" name="mainhtml" noresize="noresize">
	</frameset>
</frameset>
</html>