/** 后台css **/

/* 通用分页 */
.page-container {
	text-align: center;
	padding: 10px 0; 
	margin-top: 10px;
	background: #F5F5F5;
}
.page-container .num,
.page-container .prev,
.page-container .next,
.page-container .first,
.page-container .end,
.page-container .rows,
.page-container .current
{
	padding: 5px;
	display: inline-block;
	padding: 2px 9px;
    background: #d1cfd6;
	color: #0076cf;
	font-size: 16px;
}
.page-container .current
{
    background: #ff6600;
    color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.page-container .num:hover,
.page-container .prev:hover,
.page-container .next:hover,
.page-container .first:hover,
.page-container .end:hover,
.page-container .rows:hover,
.page-container .current:hover
{
    background: #d08553;
	color: #FFF;
}


/* 按钮 */
.btns .btn {
    cursor: pointer;
    text-align: center;
    padding: 2px 10px;
    border: 1px solid #c4d9e9;
	background: #dddddd;
    color: #395366;
	letter-spacing: 3px;
	transition: all 0.5s linear;
}
.btns .btn-red {
	background: #d88585;
    color: #FFF;
    border: 1px solid #de739c;
}
.btns .btn:hover {
    border: 1px solid #8b949a;
	background: #3d9596;
    color: #FFF;
	transition: background-color 0.3s linear;
}
.btns .btn-radius5 {
	border-radius: 5px;
}


/* 通用 */
.room {
	padding: 5px 10px;
}
.room-title-box {
	background: #2C3B41;
	color: #FFF;
	padding: 7px 10px 7px 20px;
}
.room-title-info {
	font-size: 16px;
	font-weight: bold;
	margin-right: 5px;
}
.room-title-subtitle {
	font-size: 13px;
}
.room-title-subtitle a.href {
	color: #FFF;
}
.room-title-subtitle a.href:hover {
	color: #cc6868;
}
.room-title-subtitle a.hover {
	padding: 0 3px;
}
.room-title-subtitle a.hover:hover {
	color: #FFF;
	background: #cc6868;
}
.room-title-refresh-btn {
	display: inline-block;
}
.room-title-refresh-btn-img {
	width: 22px;
    height: 18px;
}

.room-search {
	margin-top: 10px;
	background: #F5F5F5;
}
.room-search-content {
    display: display;
	padding: 10px 10px 10px 10px;
    color: #666;
    font-size: 12px;
}
.room-search-box {
    display: inline-flex;
	padding: 10px 10px 10px 10px;
}
.room-search-title {
	font-weight:bold;
	font-size: 16px;
}
.room-search-select {
	margin-left: 10px;
}
.room-search-row {
	margin-right: 8px;
	font-size: 13px;
	display: inline-table;
    vertical-align: middle;
}
.room-search-input {
	font-size: 12px;
	padding: 3px 5px;
	margin-left: 2px;
	border: 1px solid #a9a9a9;
	transition: all 0.5s linear;
	
}
.room-search-input:focus {
	box-shadow: 0 0 0 1px #15c90d;
	transition: box-shadow 0.3s linear;
}
.room-search-button {
    height: 26px;
    line-height: 18px;
    cursor: pointer;
    text-align: center;
    padding: 3px 15px;
    border: 1px solid #c4d9e9;
    color: #395366;
    overflow: hidden;
    margin-left: 20px;
    font-size: 12px;
	border-radius: 5px;
	transition: all 0.5s linear;
}
.room-search-button:hover {
	border: 1px solid #FFF;
	color: #FFF;
	background: #cc6868;
	transition: background-color 0.3s linear;
}
.search-roomlist-ul
{
	position:absolute;width:160px;
	border:1px solid #EDC5C5;
	background:rgb(249, 240, 240);
	min-height:45px;
	display:none;
}
.search-roomlist-li
{
	height:22px;
	line-height:22px;
	border-top:1px solid #EDC5C5;
}

.search-roomlist-li label {
	padding: 0 10px;
	display: block;
    height: 22px;
    color: #333333;
    text-decoration: none;
	font-size: 13px;
	color: #F00;
	cursor: pointer;
}
.search-roomlist-li label:hover {
    background-color: #ffccff;
	font-weight: bold;
	font-size: 15px;
}


/* 房间收藏 */
.room-attr {
	padding: 5px 10px;
}
.room-attr-title-box {
	background: #2C3B41;
	color: #FFF;
	padding: 7px 10px 7px 20px;
}
.room-attr-title-info {
	font-size: 16px;
	font-weight: bold;
	margin-right: 5px;
}
.room-attr-title-refresh-btn {
	display: inline-block;
}
.room-attr-title-refresh-btn-img {
	width: 22px;
    height: 18px;
}

.room-attr-search {
	margin-top: 10px;
	background: #F5F5F5;
}
.room-attr-search-box {
    display: inline-flex;
	padding: 10px 10px 10px 10px;
}
.room-attr-search-title {
	font-weight:bold;
	font-size: 16px;
}
.room-attr-search-select {
	margin-left: 10px;
}

.room-attr-content {
	margin-top: 5px;
	font-size: 13px;
}

/* 表格 */
.room-attr-rooms-table {
	width: 100%;
}
.room-attr-rooms-table tr {
    line-height: 20px;
    height: auto;
    clear: both;
    border-bottom: 1px solid #e8eef6;
}
.room-attr-rooms-table tr:nth-of-type(even) {
	background: #f9f9f9;
}
.room-attr-rooms-table  th {
    background: #ebe7dc;
    text-align: center;
	font-size:13px;
    color: #1B4670;
	padding: 7px 0;
	border: 2px solid #FFF;
}
.room-attr-rooms-table td {
    font-size: 12px;
    color: #1B4670;
	border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;
    text-align: center;
	padding: 10px 3px;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
}
.room-attr-rooms-table-list:hover,
.room-attr-rooms-table tr:nth-of-type(even):hover 
{
	background: #F5F5F5;
}
.room-attr-rooms-input {
	width: 100px;
	padding: 0 3px;
	font-size: 13px;
}
.room-attr-rooms-table-room-name {
	width: 150px;
}
.room-attr-rooms-table-option {
	width: 150px;
}
.room-attr-rooms-table td.room-attr-rooms-table-list-title {
	font-size: 13px;
}
.room-attr-rooms-table-bold {
	font-weight:bold;
	font-size: 15px;
}

/** 列表 */
.room-game-table-content {
	max-width: 175px;
}

/* 房间编辑 */
.room-edit-content {
	margin-top: 10px;
	border-top: 2px solid #e8eef6;
	line-height: 30px;
}
.room-edit-tr {
	background: #ffffff;
	font-size: 13px;
    color: #1B4670;
    border-bottom: 1px solid #e8eef6;
}
.room-edit-tr:hover {
	background: #F5F5F5;
}
.room-edit-tr td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.room-edit-tr-title {
	text-align: right;
	padding-right: 10px;
	width: 250px;
	font-weight: bold;
	vertical-align: top;
}
.room-edit-tr-content {
	vertical-align: top;
}
.room-edit-content .room-edit-input {
    font-size: 13px;
    line-height: 22px;
    width: 160px;
    padding: 1px 10px;
	border: 1px solid #a9a9a9;
}
.room-edit-content .room-edit-small-input {
    width: 100px;
}
.room-edit-content .room-edit-medium-input {
    width: 250px;
}
.room-edit-content .room-edit-largest-input {
    width: 320px;
}
.room-edit-content .room-edit-auto-input {
    width: auto;
}
.room-edit-content .room-edit-input:focus {
	border: 1px solid #00cccc;
	background: #ecf5ee;
	-webkit-box-shadow:0 0 5px 1px rgba(0, 204, 204, .5);  
	-moz-box-shadow:0 0 5px 1px rgba(0, 204, 204, .5);  
	box-shadow:0 0 5px 1px rgba(0, 204, 204, .5);  
	font-weight: bold;
}
.room-edit-content .room-edit-input-empty {
	border: 1px solid #F00;
	background: #f5e6eb;
}
.room-edit-content .room-edit-select {
    width: 160px;
	padding: 2px 10px;
	/** letter-spacing: 2px; */
}
.room-edit-content .room-edit-small-select {
    width: 100px;
}
.room-edit-content .room-edit-medium-select {
    width: 250px;
}
.room-edit-content .room-edit-largest-select {
    width: 320px;
}
.room-edit-content .room-edit-auto-select {
    width: auto;
}
.room-edit-content .room-edit-select:focus {
	border: 1px solid #00cccc;
	background: #ecf5ee;
	-webkit-box-shadow:0 0 5px 1px rgba(0, 204, 204, .5);  
	-moz-box-shadow:0 0 5px 1px rgba(0, 204, 204, .5);  
	box-shadow:0 0 5px 1px rgba(0, 204, 204, .5);  
	font-weight: bold;
}
.room-edit-content .room-edit-select option {
	border-bottom: 1px solid #1d5ece;
	padding: 3px 0;
}
.room-edit-content .room-edit-textarea {
    font-size: 13px;
    line-height: 22px;
    width: 350px;
    height: 130px;
    padding: 5px 10px;
	border: 1px solid #a9a9a9;
}
.room-edit-content .room-edit-small-textarea {
    width: 260px;
}
.room-edit-content .room-edit-medium-textarea {
    width: 480px;
}
.room-edit-content .room-edit-largest-textarea {
    width: 560px;
}
.room-edit-content .room-edit-auto-textarea {
    width: auto;
}
.room-edit-content .room-edit-textarea:focus {
	border: 1px solid #00cccc;
	background: #ecf5ee;
	-webkit-box-shadow:0 0 5px 1px rgba(0, 204, 204, .5);  
	-moz-box-shadow:0 0 5px 1px rgba(0, 204, 204, .5);  
	box-shadow:0 0 5px 1px rgba(0, 204, 204, .5);  
	font-weight: bold;
}
.room-edit-content .room-edit-tip {
	color: #a2a2a2;
}
.room-edit-content .room-edit-input:hover,
.room-edit-content .room-edit-select:hover,
.room-edit-content .room-edit-textarea:hover {
	border: 1px solid #00cccc;
}
.room-edit-content .room-edit-radio-label  {
	padding: 5px 15px;
	cursor: pointer;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
	margin-right: 15px;
}
.room-edit-content .room-edit-radio-label:last-child {
	margin-right: 0;
}
.room-edit-content .room-edit-radio-label:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;
}

.room-edit-tips {
	color: #a2a2a2;
	margin-top: 10px;
    background: #f8f8f8;
	font-size: 15px;
	padding: 8px 15px;
}
.room-edit-tips .room-edit-tips-bold {
	font-weight: bold;
	color: #777;
}

.room-edit-btns {
    padding: 25px 0px 25px 0px;
	margin-top: 10px;
	background: #f5f5f5;
}
.room-edit-btns .room-edit-btn {
	cursor: pointer;
    font-size: 13px;
	border:1px solid blue;
	padding: 5px 25px;
	border-radius: 5px;
	background: #FFF;
}
.room-edit-btns .room-edit-btn:hover {
	border: 1px solid #FFF;
	background: blue;
	color: #FFF;
}
.room-edit-btns .room-edit-btn-save {
    margin-left: 20%;
    background: #f9e8f4;
}
.room-edit-btns .room-edit-btn-return {
	margin-left:50px;
}

/* 项目 - 证书管理 */
.admin-weixin-key {
	padding: 10px 0;
}
.admin-weixin-item {
	padding: 15px 30px;
	border-bottom: 1px solid #e8eef6;
}
.admin-weixin-item:first-child {
	border-top: 1px solid #e8eef6;
}
.admin-weixin-item:nth-of-type(even) {
    background: #f9f9f9;
}
.admin-weixin-item:hover {
    background: #F5F5F5;
}
.admin-weixin-item-title {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #4452c1;
}
.admin-weixin-item-name {
	margin-bottom: 6px;
	padding: 5px 10px;
	background: #eeeaef;
	border: 1px dashed #ecdada;
}
.admin-weixin-item-btn {
	padding: 3px 50px;
	cursor: pointer;
	background: #03a9f4;
    border: 2px solid #2eb4f1;
    color: #FFF;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    background-origin: padding-box;
    background-clip: padding-box;
    border-radius: 5px;
    font-weight: blod;
    font-size: 15px;
	transition: all 0.5s linear;
	margin-left: 25px;
}
.admin-weixin-item-btn:hover {
	border: 2px solid #ca8d8d;
	color: #FFF;
	background: #cc6868;
	transition: background-color 0.3s linear;
}
.admin-weixin-submit {
	margin-top: 15px;
	padding: 15px 0; 
	background: #F5F5F5;
}

/* 项目 - 图片管理 */
.admin-weixin-item-pic-img {
	padding-right: 25px;
}
.admin-weixin-wx-avatar-name {
	margin-bottom: 20px;
}
.admin-weixin-wx-avatar-title {
	margin-bottom: 20px;
}
.admin-weixin-wx-avatar-input {
}
.admin-weixin-poster-name {
	margin-bottom: 20px;
}
.admin-weixin-poster-title {
	margin-bottom: 20px;
}

/** 代金券活动 */
.voucher-activity-box {
	width: 500px;
}
.voucher-activity-select-info {
	padding: 5px 10px;
    background: rgba(226, 98, 192, 0.76);
    color: #FFF;
	letter-spacing: 1.5px;
	font-family: "黑体","微软雅黑","宋体";
}
.voucher-activity-select-num {
	font-weight: bold;
	font-size: 18px;
}
.voucher-activity-wrapper {
	position:relative;
	max-height: 220px;
    overflow: hidden;
}
.voucher-activity-list {
	border: 1px solid #F5F5F5;
}
.voucher-activity-item {
	padding: 10px 80px 10px 10px;
	cursor: pointer;
	background: #FFF;
	color: #655a5a;
	border-bottom: 1px solid #f5f5f5;
	border-left: 2px solid #FFF;
	line-height: 22px;
	position: relative;
}
.voucher-activity-item:last-child {
	border-top: 1px solid #f5f5f5;
}
.voucher-activity-item.selected {
	border-left: 2px solid rgba(239, 58, 58, 0.6);
	background: rgba(239, 58, 58, 0.04);
	font-weight: bold;
}
.voucher-activity-item:hover {
	background: #efe4e4;
	color: #d25b5b;
	border-left: 2px solid #ef3a3a;
}
.voucher-activity-item-cate {
	color: #008000;
}
.voucher-activity-item-num-box {
	display: inline-block;
	position: absolute;
	right: 13px;
}
.voucher-activity-item-num {
	width: 60px;
	padding: 0 3px;
	overflow: hidden;
}
.voucher-activity-empty {
}
.voucher-activity-empty-info {
	margin-bottom: 0;
}

/** 代金券 */
.voucher-search-room-box {
	position: relative;
}
.voucher-search-room-content {
	position: absolute;
	top: 30px;
	border: 1px solid #d2caca;
	display: none;
	background: #FFF;
	min-width: 160px;
}
.voucher-search-room-wrapper {
	position: relative;
	max-height: 190px;
	overflow: hidden;
}
.voucher-search-room-list {
}
.voucher-search-room-item {
	padding: 3px 15px;
	border-bottom: 1px solid #f5f5f5;
	cursor: pointer;
	font-size: 13px;
}
.voucher-search-room-item:hover {
	background: #e3e3e3;
	font-size: 15px;
	font-weight: bold;
}
.voucher-search-room-item.old-voucher {
	border-bottom: 1px solid #e262c0;
}
.room-edit-text-info {
	margin-top: 10px;
	background: #f3f3f3;
	padding: 0 10px;
	min-width: 250px;
}

/** 竞价选房 - 用户信息 */
.choose-excel {
	padding: 12px 10px 0 0;
}
.choose-excel-option {
	margin-right: 5px;
}
.choose-excel-option-export {
	margin-right: 15px;
}
.choose-export-icon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    background: url(../images/dr01.png) no-repeat scroll 0 2px/14px 14px;
    width: 15px;
    height: 15px;
}
.choose-export-icon-in {}
.choose-export-icon-out {}
.choose-excel-btn {
	color: #333;
    font-size: 13px;
	padding: 3px 8px;
	border-radius: 5px;
	transition: all 0.5s linear;
}
.choose-excel-btn:hover {
	color: #FFF;
	background: #947c7c;
	transition: background-color,color 0.3s,0.3s linear,linear;
}
.choose-excel-export-tpl {
	padding: 25px 20px;
	max-width: 250px;
}
.choose-excel-export-tpl-title {
	margin-bottom: 26px;
	font-size: 15px;
	text-align: center;
}
.choose-excel-export-tpl-btns {
	text-align: center;
}
.choose-excel-export-tpl-btn {
    cursor: pointer;
    text-align: center;
    padding: 6px 25px;
    background: #dddddd;
    color: #395366;
    overflow: hidden;
    font-size: 12px;
	border-radius: 5px;
	transition: all 0.5s linear;
}
.choose-excel-export-tpl-btn:hover {
	color: #FFF;
	background: #cc6868;
	transition: background-color,color 0.3s,0.3s linear,linear;
}
.choose-excel-import-tpl {
	padding: 25px 20px;
	max-width: 550px;
}
.choose-excel-import-tpl-title {
	margin-bottom: 20px;
	font-size: 15px;
	text-align: center;
}
.choose-excel-import-tpl-input {
	margin-bottom: 20px;
	text-align: center;
	padding: 15px 15px;
	background: #f5f5f5;
}
.choose-excel-import-tpl-btns {
	text-align: center;
}
.choose-excel-import-tpl-btn {
    cursor: pointer;
    text-align: center;
    padding: 6px 25px;
    background: #dddddd;
    color: #395366;
	border: 0;
    overflow: hidden;
    font-size: 12px;
	border-radius: 5px;
	transition: all 0.5s linear;
}
.choose-excel-import-tpl-btn:hover {
	color: #FFF;
	background: #cc6868;
	transition: background-color,color 0.3s,0.3s linear,linear;
}






