<extend name="Common/base" />

<block name="page_alert_success"></block>

<block name="page_content">
<div class="row">

	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<div class="error-container">
			<div class="well">
				<h1 class="grey lighter smaller">
					<span class="blue bigger-125">
						<i class="icon-random"></i>
						302
					</span>
					跳转提示
				</h1>

				<hr>

				<h3 class="lighter smaller">
					<?php echo($error); ?>
				</h3>

				<div class="space"></div>

				<div>
					<h4 class="lighter smaller">你可以选择下面的处理情况:</h4>

					<ul class="list-unstyled spaced inline bigger-110 margin-15">
						<li>
							<i class="icon-hand-right blue"></i>
							<b id="wait" class="wait"><?php echo($waitSecond); ?></b> 秒后页面将自动跳转
						</li>

						<li>
							<i class="icon-hand-right blue"></i>
							<span>
								<a id="btn-now" href="<?php echo(U('index/index')); ?>">首页</a>
								<a id="btn-stop" href="javascript:void(0);" type="button" onclick="stop()">停止跳转</a>
								<a id="href" href="<?php echo($jumpUrl); ?>">立即跳转</a>
							</span>
						</li>
					</ul>
				</div>

				<hr>

				<div class="space"></div>

				<div class="center">
					<a href="<{:U('index/index')}>" class="btn btn-grey">
						<i class="icon-arrow-left"></i>
						返回首页
					</a>

					<a href="<?php echo($jumpUrl); ?>" class="btn btn-primary">
						<i class="icon-external-link"></i>
						立即跳转
					</a>
				</div>

			</div>
		</div>

		<!-- PAGE CONTENT ENDS -->

	</div><!-- /.col -->

</div>

<script type="text/javascript">
(function(){
	var wait = document.getElementById('wait'),
		href = document.getElementById('href').href;
	var interval = setInterval(function(){
		var time = --wait.innerHTML;
		if (time <= 0) {
			location.href = href;
			clearInterval(interval);
		};
	}, 1000);
	window.stop = function () {
		clearInterval(interval);
	}
})();
</script>
</block>

<block name="breadcrumb_active">
	<li class="active">跳转提示</li>
</block>

<block name="page_header"></block>
