<extend name="Common/base" />

<block name="header">
	<div class="common-header-wrapper">
		<div class="clearfix common-header">
			<div class="fl wm25 arrow-left common-header-return user-header-return">
				<span class="common-header-return-box return-btn">
					<a href="javascript:void(0);" class="common-header-return-btn">返回</a>
				</span>
			</div>
			<div class="fl wm50 common-header-content js-common-header-content">
				<span class="common-header-content-box-no-arrow">
					<span class="common-header-content-box-name">活动</span>
				</span>
			</div>
			<div class="fl wm25 common-header-right">
				<div class="common-header-right-box clearfix">
					<a href="<{:U('activities')}>" class="common-header-right-btn user-activity-header-right-btn">
						<i class="icon-home icon-home-header"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</block>

<block name="content">
<div class="user-project-view-base">
	<div class="user-project-view-content-wrapper">
		<div id="iscroller-wrapper" class="iscroller-style user-activity">
			<div id="iscroller-scroller" class="iscroller-scroller-style">
				<div class="user-activity-box">
					
					<div class="user-activity-list">
						<div class="user-activity-title">
							<span>热门活动</span>
						</div>
						<volist name="games" id="games_vo" key="games_k">					
							<eq name='games_vo["id"]' value='$will_game["id"]'>
								<a href="<{:U('index')}>" class="user-activity-list-info">
							<else />
								<if condition="($games_vo['start_time'] egt time()) AND ($games_vo['is_end'] != 1)">
									<a href="javascript:void(0);" class="user-activity-list-info">
								<elseif condition="$now_game['id'] eq $games_vo['id']" />
									<a href="<{:U('index')}>" class="user-activity-list-info">
								<else />
									<a href="<{:U('info', array('id'=>$games_vo['id']))}>" class="user-activity-list-info">
								</if>
							</eq>
								<div class="clearfix user-activity-list-one <eq name='games_vo["id"]' value='$will_game["id"]'>user-activity-list-one-will</eq>" data-game-id="<{$games_vo.id}>">
									<div class="fl wm20 user-activity-list-time">
										<div class="user-activity-list-time-hour" style="color:#e23e3e;">
											<{$games_vo['start_time']|date='H:i',###}>
										</div>
										<div class="user-activity-list-time-line"></div>
										<div class="user-activity-list-time-day" style="font-size:20px;color:#333">
											<{$games_vo['start_time']|date='d',###}>日
										</div>
									</div>
									<div class="fl wm80 user-activity-list-content">
										<div class="user-activity-list-title">
											<{$games_vo.title|default='暂无标题'}>
										</div>
										<div class="cut user-activity-list-des">
											<{$games_vo.content|default='暂无描述'}>
										</div>
										<div class="clearfix user-activity-list-footer">
											<if condition="isset($user_game_prizes['no_buy'][$games_vo['id']]) AND ($user_game_prizes['no_buy'][$games_vo['id']]['click'] neq 0)">
												<span class="fl user-activity-list-radius user-activity-list-rush">参与过</span>
											</if>
											<if condition="isset($user_game_prizes['buy'][$games_vo['id']]) AND ($user_game_prizes['buy'][$games_vo['id']]['is_buy'] eq 1)">
												<span class="fl user-activity-list-radius user-activity-list-buy">已购买</span>
											</if>
											
											<if condition="($games_vo['start_time'] egt time()) AND ($games_vo['is_end'] == 0) AND (!isset($user_game_prizes['buy'][$games_vo['id']]))">
												<eq name='games_vo["id"]' value='$will_game["id"]'>
													<span class="fr user-activity-list-radius user-activity-list-will-start">即将开始</span>
												<else />
													<span class="fr user-activity-list-radius user-activity-list-start">预热中</span>
												</eq>
											<else/>
												<if condition="($now_game['id'] eq $games_vo['id'])">
													<span class="fr user-activity-list-radius user-activity-list-dong">正在进行</span>
												<else/>
													<span class="fr user-activity-list-radius user-activity-list-end">已结束</span>
												</if>
											</if>
										</div>
									</div>
								</div>
							</a>
						</volist>
					</div>
					
					<div class="clearfix user-activity-page">
						<{$page_show|default=''}>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
</block>

<block name="header_config"></block>

<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_activity" iscroller_select_id="iscroller-wrapper" />
</block>

