<extend name="Common/base" />

<block name="header">
<style>
            .user-activity-bg01{
                height:160px;
				background:url(../../Public/user/img/activity/001.png) no-repeat 0 0/100% 100%;
            }
			.user-activity-qfwks{
                height:150px;
				text-align:center;
				line-height:150px;
            }
			.user-activity-btn1 {
				padding: 5px 25px;
				background: #f3f3f3;
				border: 1px solid #e6e6e6;
				margin: 0 auto;
				text-align: center;
				width: 85px;
				font-size: 18px;
				color: #c5c5c5;
				font-weight: bold;
			}
            .user-activity-qfbegin{
                height:150px;
				text-align:center;
				display:none;
            }
			.user-activity-qf-img{
				vertical-align:middle;
				width:120px;
				height:120px;
			}
			.user-activity-qf-time
			{
				background:#fe5955;height:42px;
				line-height:42px;text-align:center;
				color:#FFF;
			}
			.user-activity-qf-qfgm-time {
				font-size:18px;font-weight:bold
			}
			
			
			.user-project-room-info span {
				padding: 0 5px; 
				font-size: 12px;
			}
			.user-activity-room-phone {
				margin: 10px 6px 0 5px;
			}
			.user-activity-room-btns {
				margin: 10px 5px 0 5px;
			}
			.user-project-room-name-box {
				font-size: 14px;
				padding: 0px 5px;
			}
			user-project-room-project-box {
				font-size: 14px;
				padding: 0px 5px;
			}
        </style>
		<script type="text/javascript">
		function timer_djs(intDiff){
			window.setInterval(function(){
			var day=0,
				hour=0,
				minute=0,
				second=0;//时间默认值        
			if(intDiff > 0){
				day = Math.floor(intDiff / (60 * 60 * 24));
				hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
				minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
				second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
			}
			if (minute <= 9) minute = '0' + minute;
			if (second <= 9) second = '0' + second;
			$('.js_qrgm_djs_sec').text(minute);
			$('.js_qrgm_djs_sec').text(second);
			intDiff--;
			}, 1000);
		} 
		</script>
		<div id="zz01" style="position:absolute;width:100%;height:100%;background:#000;opacity:0.5;z-index:999;display:none"></div>
	<div class="common-header-wrapper">
		<div class="clearfix common-header">
			<div class="fl wm25 arrow-left common-header-return user-header-return">
				<span class="common-header-return-box return-btn">
					<a href="javascript:void(0);" class="common-header-return-btn">返回</a>
				</span>
			</div>
			<div class="fl wm50 common-header-content js-common-header-content">
				<span class="common-header-content-box-no-arrow">
					<span class="common-header-content-box-name">限时抢房</span>
				</span>
			</div>
			<div class="fl wm25 common-header-right">
				<div class="common-header-right-box clearfix">
					<a href="<{:U('activities')}>" class="common-header-right-btn user-activity-header-right-btn">
						<i class="icon-home icon-home-header"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</block>

<block name="content">
<div class="user-project-view-base">
	<div class="user-project-view-content-wrapper">
		<div id="iscroller-wrapper" class="iscroller-style user-activity">
			<div id="iscroller-scroller" class="iscroller-scroller-style">
				<div class="user-activity-box user-activity-id js-user-activity-id" data-activity-id="<{$game['id']|default='0'}>" is_fqgm="<{$is_fqgm|default='0'}>" use_num="<{$game['use_num']|default='0'}>" allow_num="<{$game['allow_num']|default='0'}>" jxgmdjs="<{$jxgmdjs|default='0'}>">
					<div class="user-activity-bg01" style=""></div>
					<div class="user-activity-qf-time" data-run-start-time="<{$run_start_time|date='Y/m/d H:i:s',###}>" data-start-time="<{$start_time|date='Y/m/d H:i:s',###}>">
						<span class="user-activity-surplus-time-box" style="color:#FFF;font-size:110%;">
							<i class="user-activity-alarm"></i>
							本场倒计时:
							<span class="user-activity-time-hour" style="font-size:150%;">00</span>小时
							<span class="user-activity-time-minute" style="font-size:150%;">00</span>分
							<span class="user-activity-time-second" style="font-size:150%;">00</span>秒
						</span>
						
					</div>
					<div class="user-activity-qfwks">
						<div class="user-activity-btn-box">
							<a href="javascript:void(0);" class="user-activity-btn1">
							<if condition="($game['use_num'] gt 0) and ($game['use_num'] lt $game['allow_num'])">
								<if condition="$is_fqgm eq 1">
									已放弃本次抢购权
								<else/>	
									等待再次抢购
								</if>
							<else/>	
								即将开始
							</if>
								
							</a>
						</div>
					</div>
					<div class="user-activity-qfbegin user-activity-btns">	
						<img  src="../../Public/user/img/activity/003.png" class="user-activity-qf-img js-user-activity-btn" />
						<span style="height:100%;display:inline-block;vertical-align:middle;"></span>
					</div>
					<div style="height:300px;margin-top:20px;margin-left:5%;width:90%;">
						<p>
							<h3>抢房须知：</h3>
							1、此活动奖品为“房间购买权”</br>
							2、活动开始后，有5秒的抢房时间</br>
							3、中奖后，有1分钟时间考虑是否购买，超时视为自动放弃本次购买权</br>
							4、每人可以参加多场活动</br>
						</p>
					</div>
				</div>
				
				

			</div>
		</div>
	</div>
</div>

<div class="user-activity-room-all" style="display:none;">
	<div class="user-activity-room-box js-user-activity-room-box">
		<div class="user-activity-room-title">
			<span class="user-activity-room-title-info" style="color:red;font-size: 18px;">
				恭喜获得房间购买权
			</span>
		</div>
		
		<div class="user-activity-room-content">
			<div class="user-project-room">
				<div class="user-project-room-border user-project-room-project">
					<div class="user-project-room-project-box">
						项目名称：<{$room.projname}>
					</div>
				</div>
				
				<div class="user-project-room-border user-project-room-name">
					<div class="user-project-room-name-box">
						房间名称：<{$room.buildname}>-<{$room.unit}>-<{$room.room}>
					</div>
				</div>
				
				<div class="user-project-room-info">
					<table>
						<tr>
							<td class="user-project-room-info-td1">
								<span class="user-project-room-info-title">
									户型
								</span>
							</td>
							<td class="user-project-room-info-td2">
								<span class="user-project-room-info-content">
									<{$room.hx}>
								</span>
							</td>
							<td class="user-project-room-info-td3">
								<span class="user-project-room-info-title">
									标准总价
								</span>
							</td>
							<td class="user-project-room-info-td4">
								<span class="user-project-room-info-content">
									<{:number_format($room['total'], 2)}><span class="user-project-room-info-employer">元</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="user-project-room-info-td1">
								<span class="user-project-room-info-title">
									建筑面积
								</span>
							</td>
							<td class="user-project-room-info-td2">
								<span class="user-project-room-info-content">
									<{$room.area|intval}>
								</span>
							</td>
							<td class="user-project-room-info-td3">
								<span class="user-project-room-info-title">
									建筑单价
								</span>
							</td>
							<td class="user-project-room-info-td4">
								<span class="user-project-room-info-content">
									<{:number_format($room['price'], 2)}><span class="user-project-room-info-employer">元/㎡</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="user-project-room-info-td1">
								<span class="user-project-room-info-title">
									套内面积
								</span>
							</td>
							<td class="user-project-room-info-td2">
								<span class="user-project-room-info-content">
									<{$room.tnarea|intval}>
								</span>
							</td>
							<td class="user-project-room-info-td3">
								<span class="user-project-room-info-title">
									套内单价
								</span>
							</td>
							<td class="user-project-room-info-td4">
								<span class="user-project-room-info-content">
									<{:number_format($room['tnprice'], 2)}><span class="user-project-room-info-employer">元/㎡</span>
								</span>
							</td>
						</tr>
					</table>
				</div>
				<div class="user-project-room-border user-project-room-name">
					<div class="user-project-room-name-box">
						购房优惠：<{$game.content}>
					</div>
				</div>
			</div>
		</div>
		<div style="text-align:center;line-height:20px;margin-top: 10px;">
			<p style="color:red;font-size:16px">购买确认倒计时：<span class="user-activity-qf-qfgm-time js_qrgm_djs_min">00</span>分<span class="user-activity-qf-qfgm-time js_qrgm_djs_sec">60</span>秒<p>
		</div>
		<div class="user-activity-room-phone">
			<div class="user-activity-room-phone-box">
				<input class="border-sizing user-activity-room-phone-input js-user-activity-room-phone" type="number" name="phone" value="" placeholder="输入手机号" style="color:#333">
			</div>
		</div>
		
		<div class="user-activity-room-tip">
			<div class="user-activity-room-tip-box">
				<span class="user-activity-room-tip-title">
				提示:购买请填写手机后确认，放弃请点击取消！
				</span>
			</div>
		</div>
		
		<div class="user-activity-room-btns">
			<div class="user-activity-room-btns-confirm">
				<input class="border-sizing user-activity-room-btn user-activity-room-confirm-btn js-user-activity-room-confirm-btn" type="button" value="确认购买">
			</div>
			
			<div class="user-activity-room-btns-cancel">
				<input class="border-sizing user-activity-room-btn user-activity-room-cancel-btn js-user-activity-room-cancel-btn" type="button" value="取消">
			</div>
		</div>
	</div>
</div>
</block>

<block name="header_config">
<script type="text/javascript">
var activity_url = {
	click: '<{:U("activity/click")}>',
	prize: '<{:U("activity/get_prize")}>',
	buy_room: '<{:U("activity/buy_room")}>',
	qx_buy: '<{:U("activity/qx_buy")}>',
};
</script>
</block>

<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_activity" iscroller_select_id="iscroller-wrapper" />
<script src="__JS__/activity.js"></script>
<script src="__JS__/activitys.js"></script>
</block>

