<extend name="Common/base" />

<block name="header">
	<div class="common-header-wrapper">
		<div class="clearfix common-header">
			<div class="fl wm25 arrow-left common-header-return user-header-return">
				<span class="common-header-return-box return-btn">
					<a href="javascript:void(0);" class="common-header-return-btn">返回</a>
				</span>
			</div>
			<div class="fl wm50 common-header-content js-common-header-content">
				<span class="common-header-content-box-no-arrow">
					<span class="common-header-content-box-name">活动详情</span>
				</span>
			</div>
			<div class="fl wm25 common-header-right">
				<div class="common-header-right-box clearfix">
					<a href="<{:U('activities')}>" class="common-header-right-btn user-activity-header-right-btn">
						<i class="icon-home icon-home-header"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</block>

<block name="content">
<div class="user-project-view-base">
	<div class="user-project-view-content-wrapper">
		<div id="iscroller-wrapper" class="iscroller-style user-activity-info">
			<div id="iscroller-scroller" class="iscroller-scroller-style">
				<div class="user-activity-box user-activity-id js-user-activity-id" data-activity-id="<{$game['id']|default='0'}>">
					<eq name="customer_id" value="$user_game_prizes['customer_id']">
						<div >
							<div class="user-activity-room-title">
								<span class="user-activity-room-title-info" style="color:red;font-size: 18px;">
									恭喜获得房间购买权
								</span>
							</div>
							<div class="clearfix">
								<div class="fl wm35 user-activity-prize-info-subtitle">
									<span class="subtitle">验证凭据:</span>
								</div>
								<div class="fl wm65 user-activity-prize-info-code-subvalue">
									<{$user_game_prizes['code']|default=''}>
								</div>		
							</div>
							<div class="clearfix">
								<div class="fl wm35 user-activity-prize-info-subtitle">
									<span class="subtitle">购买时间:</span>
								</div>
								<div class="fl wm65">
									<notempty name="user_game_prizes['buy_time']">
										<{$user_game_prizes['buy_time']|date='Y-m-d H:i:s',###}>
									</notempty>
								</div>				
							</div>
							<div class="clearfix">
								<div class="fl wm35 user-activity-prize-info-subtitle">
									<span class="subtitle">手机号码:</span>
								</div>
								<div class="fl wm65">
									<{$user_game_prizes['phone']|default=''}>
								</div>				
							</div>
							<div style="line-height:20px;color:red;text-align:left;font-size:12px;margin-left:5px">
								<span style="font-weight:bold;">提醒:</span>
								请牢记您的验证凭据，尽快到销售处办理购买手续！
							</div>
						</div>
					<else />
						<div style="line-height:40px;color:#000;text-align:center;font-size:18px;font-weight:bold;">
						未中奖，活动已结束！
						</div>
					</eq>
					<div class="user-activity-room-content">
						<div class="user-project-room">
							<div class="user-project-room-border user-project-room-name">
								<div class="user-project-room-name-box">
									房间名称：<{$room.projname}>-<{$room.buildname}>-<{$room.unit}>-<{$room.room}>
								</div>
							</div>
							
							<div class="user-project-room-info">
								<table>
									<tr>
										<td class="user-project-room-info-td1">
											<span class="user-project-room-info-title">
												户型
											</span>
										</td>
										<td class="user-project-room-info-td2">
											<span class="user-project-room-info-content">
												<{$room.hx}>
											</span>
										</td>
										<td class="user-project-room-info-td3">
											<span class="user-project-room-info-title">
												标准总价
											</span>
										</td>
										<td class="user-project-room-info-td4">
											<span class="user-project-room-info-content">
												<{:number_format($room['total'], 2)}><span class="user-project-room-info-employer">元</span>
											</span>
										</td>
									</tr>
									<tr>
										<td class="user-project-room-info-td1">
											<span class="user-project-room-info-title">
												建筑面积
											</span>
										</td>
										<td class="user-project-room-info-td2">
											<span class="user-project-room-info-content">
												<{$room.area|intval}>
											</span>
										</td>
										<td class="user-project-room-info-td3">
											<span class="user-project-room-info-title">
												建筑单价
											</span>
										</td>
										<td class="user-project-room-info-td4">
											<span class="user-project-room-info-content">
												<{:number_format($room['price'], 2)}><span class="user-project-room-info-employer">元/㎡</span>
											</span>
										</td>
									</tr>
									<tr>
										<td class="user-project-room-info-td1">
											<span class="user-project-room-info-title">
												套内面积
											</span>
										</td>
										<td class="user-project-room-info-td2">
											<span class="user-project-room-info-content">
												<{$room.tnarea|intval}>
											</span>
										</td>
										<td class="user-project-room-info-td3">
											<span class="user-project-room-info-title">
												套内单价
											</span>
										</td>
										<td class="user-project-room-info-td4">
											<span class="user-project-room-info-content">
												<{:number_format($room['tnprice'], 2)}><span class="user-project-room-info-employer">元/㎡</span>
											</span>
										</td>
									</tr>
								</table>
							</div>
							<div class="user-project-room-border user-project-room-name">
								<div class="user-project-room-name-box">
									购房优惠：<{$game.content}>
								</div>
							</div>
						</div>
					</div>
					<div class="user-activity-clear"></div>
				</div>
			</div>
		</div>
		
	</div>
</div>
</block>

<block name="header_config"></block>

<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_activity" iscroller_select_id="iscroller-wrapper" />
</block>

