<script type="text/javascript">
var choose_user_url = {
	index: '<{:U("ChooseUser/index")}>',
	add: '<{:U("ChooseUser/add")}>',
	delete: '<{:U("ChooseUser/delete")}>',
	delete_all: '<{:U("ChooseUser/delete_all")}>',
	edit: '<{:U("ChooseUser/edit")}>',
    check_user: '<{:U("ChooseUser/check_user")}>',
	import: '<{:U("ChooseUser/import")}>',
	export: '<{:U("ChooseUser/export")}>',
    add_room: '<{:U("ChooseUser/add_room")}>',
    update_yd: '<{:U("ChooseUser/update_yd")}>',
    update_qx: '<{:U("ChooseUser/update_qx")}>',
};
var choose_fast_activity_url = {
	index: '<{:U("ChooseFastActivity/index")}>',
	add: '<{:U("ChooseFastActivity/add")}>',
};
var choose_activity_url = {
	index: '<{:U("ChooseActivity/index")}>',
	add: '<{:U("ChooseActivity/add")}>',
	delete: '<{:U("ChooseActivity/delete")}>',
	delete_all: '<{:U("ChooseActivity/delete_all")}>',
	edit: '<{:U("ChooseActivity/edit")}>',
};
var choose_log_url = {
	index: '<{:U("ChooseLog/index")}>',
	delete: '<{:U("ChooseLog/delete")}>',
	delete_all: '<{:U("ChooseLog/delete_all")}>',
	
	//移除
	redelete: '<{:U("ChooseLog/redelete")}>',
	resave: '<{:U("ChooseLog/resave")}>',
};

var SpeedBuy_fast_url = {
	index: '<{:U("SpeedBuyfast/index")}>',
	add: '<{:U("SpeedBuyfast/add")}>',
};
var order_house ={
    index : '<{:U("index")}>',
    add : '<{:U("add")}>',
    edit : '<{:U("edit")}>',
    delete : '<{:U("remove")}>'
};
var Jcsj_room_url = {
	delroom: '<{:U("Jcsjroom/delroom")}>',
        saveroom: '<{:U("Jcsjroom/saveroom")}>',
        index: '<{:U("Jcsjroom/room")}>',
        eidt: '<{:U("Jcsjroom/eidt")}>',
};
var user_url = {
        index: '<{:U("Yhqxuser/index")}>',
        saveuser: '<{:U("Yhqxuser/saveuser")}>',
        deluser: '<{:U("Yhqxuser/deluser")}>',
        pldeluser: '<{:U("Yhqxuser/pldeluser")}>',
};
var xsgl_url={
    update_off: '<{:U("Xsgllog/update_off")}>',
    update_zt: '<{:U("Xsgllog/update_zt")}>',
};
var hx_url={
    add_hx: '<{:U("Hxset/add_hx")}>',
    delete_hx: '<{:U("Hxset/delete_hx")}>',
    update_hx: '<{:U("Hxset/update_hx")}>',
};
var station={
    delete_station:'<{:U("/Account/Yhqxstation/delete_station")}>'
};
var sign={
    user_list:'<{:U("/Account/CstSign/user_list")}>',
    sign:'<{:U("/Account/CstSign/sign")}>',
    check_excel:'<{:U("/Account/CstSign/check_excel")}>'
}

</script>
