<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-info">
				专
			</button>
			<button class="btn btn-success">
				注
			</button>
			<button class="btn btn-warning">
				开
			</button>

			<button class="btn btn-danger">
				盘
			</button>
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>
			<span class="btn btn-info"></span>
			<span class="btn btn-warning"></span>
			<span class="btn btn-danger"></span>
		</div>
	</div><!-- #sidebar-shortcuts -->

	<ul class="nav nav-list">
                <li <if condition="isset($group_action['index']) AND in_array($now_action, $group_action['index']) AND ($now_action eq 'index')">class="active"</if>>
			<a href="<{:U('index/index')}>">
				<i class="icon-dashboard"></i>
				<span class="menu-text"> 桌面 </span>
			</a>
		</li>
            <if condition="$user_info['type'] gt 0">
		<li <if condition="$now_action eq 'choose_user'">class="active"</if>>
			<a href="<{:U('ChooseUser/index')}>">
				<i class="icon-group"></i>
				<span class="menu-text"> 客户信息</span>
			</a>
		</li>
            </if>
            <if condition="$user_info['is_wx'] eq 1 or $user_info['type'] gt 4">
		<li <if condition="in_array($now_action, $group_action['weixbuy'])">class="open active"</if>>
			<a href="#" class="dropdown-toggle">
				<i class="icon-comments"></i>
				<span class="menu-text"> 微信开盘 </span>
				<b class="arrow icon-angle-down"></b>
			</a>
                       
			<ul class="submenu">
                             <if condition="$user_info['type'] gt 0">
				<li <if condition="$now_action eq 'weixbuy_set'">class="active"</if>>
					<a href="<{:U('WeixBuyset/index')}>">
						<i class="icon-double-angle-right"></i>
						微信认购设置
					</a>
				</li>
				<li <if condition="$now_action eq 'weixbuy_log'">class="active"</if>>
					<a href="<{:U('WeixBuylog/index')}>">
						<i class="icon-double-angle-right"></i>
						微信认购记录
					</a>
				</li>
				<li <if condition="$now_action eq 'weixbuy_fx'">class="active"</if>>
				<a href="<{:U('WeixBuyset/AnalyticalRoomHot')}>">
					<i class="icon-double-angle-right"></i>
					微信认购分析
				</a>
				</li>
                                </if>
                                <li <if condition="$now_action eq 'weixbuy_led'">class="active"</if>>
				<a href="<{:U('WeixBuyled/index')}>">
					<i class="icon-double-angle-right"></i>
					LED大屏显示
				</a>
				</li>
			</ul>
		</li>
            </if>
            <if condition="$user_info['type'] gt 3 and $user_info['is_wx'] eq 0">
                <li <if condition="in_array($now_action, $group_action['xsgl'])">class="open active"</if>>
			<a href="#" class="dropdown-toggle">
				<i class="icon-shopping-cart"></i>
				<span class="menu-text"> 销售管理 </span>
				<b class="arrow icon-angle-down"></b>
			</a>
                       
			<ul class="submenu">
                                <if condition="$user_info['type'] gt 1">
				<li <if condition="$now_action eq 'xsgl_xf'">class="active"</if>>
					<a href="<{:U('../Room/index')}>" target="_blank">
						<i class="icon-double-angle-right"></i>
						快速选房
					</a>
                                        <!--<a href="<{:U('Xsglxf/index')}>">
						<i class="icon-double-angle-right"></i>
						快速选房
					</a>-->
				</li>
                                </if>
                                <if condition="$user_info['type'] gt 1">
                                    <li <if condition="$now_action eq 'xsgl_log'">class="active"</if>>
                                            <a href="<{:U('Xsgllog/index')}>" >
                                                    <i class="icon-double-angle-right"></i>
                                                    交易管理
                                            </a>
                                    </li>
                                </if>
                        <!--
                                <li <if condition="$now_action eq 'xsgl_led'">class="active"</if>>
					<a href="<{:U('../led/index')}>" target="_blank">
						<i class="icon-double-angle-right"></i>
						LED展示
					</a>
				</li>-->
                                <li <if condition="$now_action eq 'xsgl_led'">class="active"</if>>
					<a href="<{:U('xsglled/index')}>">
						<i class="icon-double-angle-right"></i>
						LED展示
					</a>
				</li>
                                <!--<if condition="$user_info['type'] gt 3">
                                    <li <if condition="$now_action eq 'xsgl_pmt'">class="active"</if>>
                                            <a href="<{:U('Xsglxf/pmtxf')}>"  target="_blank">
                                                    <i class="icon-double-angle-right"></i>
                                                    平面图设置
                                            </a>
                                    </li>
                                </if>-->
			</ul>
		</li>
            </if>
            <if condition="$user_info['type'] gt 4">
                <li <if condition="in_array($now_action, $group_action['jcsj'])">class="open active"</if>>
			<a href="#" class="dropdown-toggle">
				<i class="icon-cog"></i>
				<span class="menu-text"> 基础数据设置 </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
                                <li <if condition="$now_action eq 'jcsj_room'">class="active"</if>>
					<a href="<{:U('Jcsjroom/room')}>">
						<i class="ion-double-angle-right"></i>
						房间导入
					</a>
				</li>
				<li <if condition="$now_action eq 'jcsj_pcset'">class="active"</if>>
					<a href="<{:U('Jcsjpcset/index')}>" >
						<i class="icon-double-angle-right"></i>
						批次设置
					</a>
				</li>
                                <li <if condition="$now_action eq 'jcsj_hxset'">class="active"</if>>
					<a href="<{:U('Hxset/index')}>" >
						<i class="icon-double-angle-right"></i>
						户型设置
					</a>
				</li>  
                                <!--<li <if condition="$now_action eq 'xsgl_pmt'">class="active"</if>>
                                        <a href="<{:U('Xsglxf/pmtxf')}>"  target="_blank">
                                                <i class="icon-double-angle-right"></i>
                                                平面图设置
                                        </a>
                                </li>-->
			</ul>
		</li>
            </if>
            <if condition="$user_info['type'] gt 3 and $user_info['is_wx'] eq 0 ">    
                <li <if condition="in_array($now_action, $group_action['yhqx'])">class="open active"</if>>
			<a href="#" class="dropdown-toggle">
				<i class="icon-cogs"></i>
				<span class="menu-text"> 用户权限设置 </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li <if condition="$now_action eq 'yhqx_user'">class="active"</if>>
					<a href="<{:U('Yhqxuser/index')}>">
						<i class="ion-double-angle-right"></i>
						用户资料设置
					</a>
				</li>
				<li <if condition="$now_action eq 'yhqx_station'">class="active"</if>>
					<a href="<{:U('Yhqxstation/index')}>" >
						<i class="icon-double-angle-right"></i>
						岗位用户管理
					</a>
				</li>
                                <li <if condition="$now_action eq 'yhqx_proj'">class="active"</if>>
					<a href="<{:U('Yhqxproj/index')}>" >
						<i class="icon-double-angle-right"></i>
						岗位权限管理
					</a>
				</li>
                                <!--<li <if condition="$now_action eq 'yhqx_pcset'">class="active"</if>>
					<a href="<{:U('Yhqxpcset/index')}>" >
						<i class="icon-double-angle-right"></i>
						项目用户设置
					</a>
				</li>-->
			</ul>
		</li>
            </if>
                
	</ul><!-- /.nav-list -->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>

	</div>

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>
