FORM {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
UL {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
OL {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
H1 {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
H2 {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
H3 {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
H4 {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
H5 {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
H6 {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
P {
	padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;padding-top:0px
}
INPUT {
	font-size:12px
}
textAREA {
	font-size:12px
}
SELECT {
	font-size:12px
}
BUTTON {
	font-size:12px
}
IMG {
	border-top-style:none;border-right-style:none;border-left-style:none;border-bottom-style:none
}
a{
	color:#999;text-decoration:underline
}

#box {
	background: #f2f2f2;
	margin:0px auto;
	width: 100%;
}
#box H4 {
	padding-right:10px;
	padding-left:10px;
	font-size:14px;
	background:#03a9f4;
	padding-bottom:0px;
	color:#fff;
	padding-top:8px;
	height:25px;
}
#box .content {
	padding-right:20px;
	padding-left:20px;
	padding-bottom:20px;
	padding-top:20px;
	/** border-bottom: 2px solid #33ccff; */
}
address {
	display:block;margin:20px auto 0px;width:400px
}
#myPoint {
	padding-right:0px;padding-left:0px;padding-bottom:15px;overflow:hidden;padding-top:0px;border-bottom:#ddd 1px solid;height:55px;
}
#myPoint SPAN {
	float:left;line-height:64px;font-family:Tahoma
}
#myPoint SPAN BIG {
	font-weight:bold;font-size:60px
}
#myPoint SPAN SMALL {
	font-size:30px
}
#myPoint DIV {
	font-size:14px;
	float:left;
	margin:10px 0px 0px 10px;
}
#myPoint DIV IMG {
	vertical-align:middle;margin-right:5px
}
#myPoint .rating-big-star .rating-big-star-icon {
	height: 28px;
    display: block;
    width: 190px;
	background-size: 190px;
}
#myPoint .rating-big-star1 .rating-big-star-icon {
	background-image: url(star1.gif);
}
#myPoint .rating-big-star2 .rating-big-star-icon {
	background-image: url(star2.gif);
}
#myPoint .rating-big-star3 .rating-big-star-icon {
	background-image: url(star3.gif);
}
#myPoint .rating-big-star4 .rating-big-star-icon {
	background-image: url(star4.gif);
}
#myPoint .rating-big-star5 .rating-big-star-icon {
	background-image: url(star5.gif);
}
#myPoint .rating-big-star6 .rating-big-star-icon {
	background-image: url(star6.gif);
}
#myPoint .rating-big-star7 .rating-big-star-icon {
	background-image: url(star7.gif);
}
#myPoint .rating-big-star8 .rating-big-star-icon {
	background-image: url(star8.gif);
}
#myPoint .rating-big-star9 .rating-big-star-icon {
	background-image: url(star9.gif);
}
#myPoint .rating-big-star10 .rating-big-star-icon {
	background-image: url(star10.gif);
}
#doPoint P {
	padding-right:0px;padding-left:0px;padding-bottom:10px;padding-top:10px
}
#doPoint TR TD {
	padding-right:5px;padding-left:5px;padding-bottom:3px;padding-top:3px
}
#doPoint TR TD IMG {
	margin-top:5px
}
#doPoint TR TD STRONG {
	font-size:14px;color:#f00
}
#doPoint SPAN {
	display:block;background:url(star_small.gif) no-repeat 2px 0px;width:120px;height:20px
}
#doPoint SPAN SMALL {
	font-size:0px;float:left;overflow:hidden;width:12px;cursor:pointer;padding-top:20px;height:0px
}
#doPoint .star10 {
	background:url(star_small.gif) no-repeat 2px 0px
}
#doPoint .star9 {
	background:url(star_small.gif) no-repeat 2px -20px
}
#doPoint .star8 {
	background:url(star_small.gif) no-repeat 2px -40px
}
#doPoint .star7 {
	background:url(star_small.gif) no-repeat 2px -60px
}
#doPoint .star6 {
	background:url(star_small.gif) no-repeat 2px -80px
}
#doPoint .star5 {
	background:url(star_small.gif) no-repeat 2px -100px
}
#doPoint .star4 {
	background:url(star_small.gif) no-repeat 2px -120px
}
#doPoint .star3 {
	background:url(star_small.gif) no-repeat 2px -140px
}
#doPoint .star2 {
	background:url(star_small.gif) no-repeat 2px -160px
}
#doPoint .star1 {
	background:url(star_small.gif) no-repeat 2px -180px
}

/** 评价 */
.user-rating {
	position: absolute;
    top: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #f2f2f2;
}
.user-rating-wrapper em {
	font-style: italic;
}
.user-rating-project-name {
	font-size: 15px;
	font-weight: bold;
	color: #fbca8c;
}

.user-rating-form {
	margin:15px 0px 0px
}
.user-rating-form label {
	display:block;margin:5px 0px
}
.user-rating-form textarea {
	width:100%;
}
.user-rating-form textarea:focus {
	box-shadow: 0 0 0 1px #03a9f4;
}
.user-rating-form-btn {
	background-color: #03a9f4;
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-size: 13px;
    color: #FFF;
	padding: 5px 35px;
	cursor: pointer;
}
.user-rating-form-btn:hover {
	background: #0379af;
	color: #FFF;
	font-weight: bold;
}
