<div class="user-project-footer">
		<div class="user-project-view-content-help-wrapper">
			<div class="user-project-view-content-help">

				<div class="clearfix user-project-view-content-search">
					<div class="fl wm25 user-project-view-content-search-rooms">
						<span onclick="wode(0)" class="user-project-view-content-search-collection-box fy1">
							<span>房源</span><i class="icon-home home-icon"></i>
						</span>

						<div class="user-search-form-choose-option-shadow js-user-search-form-choose-option-shadow"></div>
					</div>

					<div class="fl wm25 user-project-view-content-search-rooms">
						<span onclick="wode(1)" class="user-project-view-content-search-compare-box js-user-project-view-content-search-compare-btn fy2">
							<span>活动</span><i class="icon-eye-open home-icon"></i>
						</span>
					</div>

					<div class="fl wm25 user-project-view-content-search-rooms">
						<span onclick="wode(2)" class="user-project-view-content-search-collection-box fy3">
							<span>
						热度</span><i class="icon-globe home-icon"></i>
						</span>
					</div>

					<div class="fl wm25 user-project-view-content-search-rooms">
						<span  onclick="wode(3)" class="user-project-view-content-search-collection-box fy4">
							<span>我的</span><i class="blue icon-user home-icon"></i>
						</span>
					</div>
				</div>

			</div>
		</div>
	</div>
