<extend name="Common/base" />

<block name="header_css">
	<link href="__COMMON__/css/weixin.css" type="text/css" rel="stylesheet"/>
</block>
<block name="header_common_js"></block>
<block name="header_js"></block>
<block name="header_config"></block>

<block name="content">
	<div class="user-weixin-tip">
		<div class="weui_msg">
			<div class="weui_icon_area">
				<i class="weui_icon_info weui_icon_msg"></i>
			</div>
			<div class="weui_text_area">
				<h4 class="weui_msg_title"><{$content|default='请在微信客户端打开链接'}></h4>
			</div>
		</div>
	</div>
</block>

