<extend name="Common/base" />

<block name="content">
	<div class="base">
	<i class="bqsy-title-tb"></i><div class="bqsy-title">云销控</div>
		<div class="saler-login-wrapper">
			<form class="saler-login-form" method="post" action="">
				<div class="saler-login-box">
					<div class="saler-login-box-wrapper">
						<div class="saler-login-box-title">
							登录
						</div>
						
						<div class="clearfix saler-login-box-user">
							<div class="fl wm30 tar saler-login-box-left-title">
								<span>用户名</span>
							</div>
							
							<div class="fl wm70 saler-login-box-right-input">
								<input class="border-sizing saler-login-box-input saler-login-box-user-input" name="user" type="text" value="">
							</div>
						</div>
						
						<div class="clearfix saler-login-box-password">
							<div class="fl wm30 tar saler-login-box-left-title">
								<span>密码</span>
							</div>
							
							<div class="fl wm70 saler-login-box-right-input">
								<input class="border-sizing saler-login-box-input saler-login-box-password-input" name="password" type="password" value="">
							</div>
						</div>
						
						<div class="tac saler-login-box-btns">
							<span class="saler-login-box-btn js-saler-login-box-btn">
								登  录
							</span>
						</div>
					</div>
				
					<div class="saler-login-box-shade"></div>
				</div>
			</form>
		</div>
		
		<div class="saler-login-wrapper-shade"></div>
		<!--<div class="bqsy-sm">版权所有 成都链商科技有限公司</div>-->
	</div>
</block>