<extend name="Common/base" />

<block name="breadcrumb_active">
	<li>
            <a href="<{:U('Xsglxf/index')}>"><{$classify_name|default=''}></a>
	</li>
	<li class="active"><{$seo_title|default=''}></li>
</block>

<block name="page_js">
    <link href="../../public/xk/css/xk.css" type="text/css" rel="stylesheet"/>
    <link href="../../public/common/css/base.css" type="text/css" rel="stylesheet"/>
    <link href="../../public/common/js/jquery/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet"/>
    <link  href="../../Public/common/js/layer/skin/default/layer.css?v=3.0.11110" rel="stylesheet" id="layuicss-skinlayercss">
    <script src="../../public/common/js/jquery/masonry-docs.min.js"></script>
    <script src="../../public/common/js/jquery/jquery-ui-1.12.0.custom/jquery-ui.js"></script>
    <script src="../../public/common/js/jquery/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../public/common//js/jquery/jquery.mousewheel.js"></script>
    <script src="../../public/common/js/layer/layer.js"></script>
    <script src="../../public/common/js/pc/functions.js"></script>
    <script src="../../public/xk/js/xk.js"></script>
    <style>
     .qpxs{
            position: absolute;
            top: -47px;
            right: 80px;
            width: 100px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background: red;  
        }
        .qpxs a{
            color:#FFF;
        }
    </style>
</block>
<block name="header_js_add">
<script type="text/javascript">
 var room_url = {
        room_index: '<{:U("xsglxf/index")}>',
        room_info: '<{:U("xsglxf/room_info")}>',
        choose_room: '<{:U("xsglxf/choose_room")}>',
        not_choose_room: '<{:U("xsglxf/not_choose_room")}>',
        search_room: '<{:U("xsglxf/search_room")}>',
        search_cst: '<{:U("xsglxf/search_cst")}>',
};

$(function() {
    var $container = $('.masonry');
    $container.imagesLoaded(function() {
        $container.masonry({
			itemSelector: '.masonry-box',
			gutter: 0,
			columnWidth: 0,
			isAnimated: true,
			isFitWidth: false, //自适应宽度
			isResizableL:false,
			animated: false,
		});
	});
	
	//重新更新
	$(".select-build-list-li-select").click(function() {
		var $build_id = $(this).attr("data-build-id");
		var $index = $(this).index();
		if ($(".marketing-control-content-rooms-list-" + $build_id).is(":hidden")) {
			$(".marketing-control-content-rooms-list").eq($index).removeClass("masonry-box");
		} else {
			$(".marketing-control-content-rooms-list").eq($index).addClass("masonry-box");
		}
		
		$container.masonry('reloadItems');
		$container.masonry();
	});
});
</script>
</block>

<block name="page_content">
    <div class="qpxs"><a href="<{:U('../Room/index')}>" target="_blank">全屏显示</a></div>
    <div id="base" class="marketing-control-wrapper">
		<div  id="div-qzxfdhk" > 
			<ul style="width:100%;margin-top:10px">
                                 <input type="hidden" id="cstid1" value="">
				<li class="fl qzxf-input-title" >车位编号</li>
				<li class="fl wm65" style="padding:5px 0"><input id="roominfo1" type="text" style="border:0;color:red;width: 100%;font-weight: bold;" readonly /></li>
                                <li class="fl qzxf-input-title" >诚意金编号</li>
                                <li class="fl wm65" style="padding:5px 0">
                                    <input id="vip1" class="search-input-kh" type="text" style="border:0;width: 100%;"/>
                                </li>
				<li class="fl qzxf-input-title" >客户名称</li>
                                <li class="fl wm65" style="padding:5px 0"><input id="cstname1"  class="search-input-kh" type="text" style="border:0;width: 100%;"/></li>
                                <li class="fl qzxf-input-title" >手机号码</li>
                                <li class="fl wm65" style="padding:5px 0"><input id="phone1"  class="search-input-kh" type="text" style="border:0;width: 100%;"/></li>
                                <li class="fl qzxf-input-title" >身份证号</li>
                                <li class="fl wm65" style="padding:5px 0"><input id="cardno1"  class="search-input-kh" type="text" style="border:0;width: 100%;"/></li>				
				<li class="fl" style="padding:5px 0;width:100%"><input type="button" class="qzxf-input-btn"  onclick="xfqz()" value="确认选房"/></li>
			</ul>			
		</div>
                <input type="hidden" id="usertype" value="<{$usertype}>">
		<div class="marketing-control">	
			<div class="marketing-control-content-wrapper">
				<div class="clearfix marketing-control-content" style="height:100%;">
					<div class="fl marketing-control-content-rooms">
						<div class="marketing-control-content-rooms-box">
							<div class="clearfix marketing-control-content-rooms-list-wrapper">
								<div class="clearfix masonry marketing-control-content-rooms-list-info js-marketing-control-content-rooms-list-info">
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<div class="fl masonry-box marketing-control-content-rooms-list marketing-control-content-rooms-list-<{$rooms_vo['build_id']}>">
											<div class="marketing-control-content-rooms-list-box marketing-control-content-rooms-list-box-bg<{$rooms_k%4}>">
												<div class="marketing-control-content-rooms-box-build">
													<if condition="isset($builds[$rooms_vo['build_id']])">
														<{$builds[$rooms_vo['build_id']]['buildname']|default=1}>
													<else />
														1栋
													</if>
												</div>
												
												<div class="marketing-control-content-rooms-box-unit">
													<div class="clearfix marketing-control-content-rooms-box-unit-box">
														
														<volist name="rooms_vo['data']" id="units_vo" key="units_k">
															<div class="fl marketing-control-content-rooms-box-unit-list">
																<div class="marketing-control-content-rooms-box-unit-title">
																	<!--<{$units_vo.unit_id|default=1}>单元-->
																</div>

																<div class="div-ztyy marketing-control-content-rooms-box-room">
																	<div class="marketing-control-content-rooms-box-room-box">
																		<table>
																			<volist name="units_vo['floors']" id="build_floors_vo" key="build_floors_k">
																				<tr>
																					<if condition="$units_k eq 1">
																						<td class="marketing-control-content-rooms-box-room-floor">
																							<!--<{$build_floors_vo.floor|default=1}>F-->
																						</td>
																					</if>
																					
																					<if condition="isset($units_vo['data'][$build_floors_vo['floor']])">
																						<php>$floors_vo = $units_vo['data'][$build_floors_vo['floor']];</php>
																							
																						<foreach name="units_vo['floor_rooms']" item="unit_room_item" >
																							<if condition="isset($floors_vo['data'][$unit_room_item['no']])">
																								<php>$room_item = $floors_vo['data'][$unit_room_item['no']];</php>
																								<if condition="$room_item['xstype'] eq 1">
                                                                                                                                                                                                    <td class="marketing-control-content-rooms-box-room-num" style="background: #C6C0C0;">
                                                                                                                                                                                                                    <{$room_item.room|default=1}> 
                                                                                                                                                                                                    </td>
                                                                                                                                                                                                <else/>
                                                                                                                                                                                                    <if condition="$room_item['is_xf'] eq 1"> 
                                                                                                                                                                                                            <td no="<{$room_item.no|default=1}>" roominfo="<{$room_item.room}>" class="marketing-control-content-rooms-box-room-num js-marketing-control-content-rooms-box-room-num marketing-control-content-rooms-box-room-<{$room_item.id}> marketing-control-content-rooms-box-room-selected" data-room-id="<{$room_item.id|default=1}>">
                                                                                                                                                                                                                    <{$room_item.room|default=1}>
                                                                                                                                                                                                            <span id= "spanid_<{$room_item.id|default=1}>" style="dispaly:none" infolist="<{$room_item.hx}>|<{$room_item.is_xf}>|<{$room_item.area}>|<{$room_item.tnarea}>|<{$room_item.price}>|<{$room_item.tnprice}>|<{$room_item.total}>|<{$room_item.cstname}>|<{$room_item.xftime1}>|<{$room_item.cyjno}>|<{$room_item.phone}>|<{$room_item.cardno}>"   ></span>
                                                                                                                                                                                                            </td>
                                                                                                                                                                                                    <else />
                                                                                                                                                                                                            <td no="<{$room_item.no|default=1}>" roominfo="<{$room_item.room}>" class="marketing-control-content-rooms-box-room-num js-marketing-control-content-rooms-box-room-num marketing-control-content-rooms-box-room-<{$room_item.id}>" data-room-id="<{$room_item.id|default=1}>">
                                                                                                                                                                                                                    <{$room_item.room|default=1}>
                                                                                                                                                                                                                <span id= "spanid_<{$room_item.id|default=1}>" style="dispaly:none" infolist="<{$room_item.hx}>|<{$room_item.is_xf}>|<{$room_item.area}>|<{$room_item.tnarea}>|<{$room_item.price}>|<{$room_item.tnprice}>|<{$room_item.total}>"  ></span>
                                                                                                                                                                                                            </td>
                                                                                                                                                                                                    </if>
                                                                                                                                                                                                </if>
																							<else />
																								<td class="marketing-control-content-rooms-box-room-num">
																									&nbsp;
																								</td>
																							</if>
																						</foreach>
																					<else />
																						<foreach name="units_vo['floor_rooms']" item="floor_rooms_item" >
																							<td class="marketing-control-content-rooms-box-room-num">
																								&nbsp;
																							</td>
																						</foreach>
																					</if>
																				</tr>
																				
																			</volist>
																			
																		</table>
																	</div>
																</div>
															</div>
														</volist>

														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									</volist>
									
								</div>
							</div>
						</div>
					</div>
					
					<div class="fl marketing-control-content-room-info-wrapper">
						<div class="fl marketing-control-content-room-info-box">
							<div id="zxproj_bld" class="div-cz-right" style="margin-top:0">
								<div style="width:100%;height:30px;margin-bottom: 10px;">
									<div class="fl wm25 tac marketing-control-content-room-box-title">选择项目</div>
									<select class="fl wm75 marketing-control-select-project-select marketing-control-select-project-id" >
										<volist name="project" id="project_vo">
											<if condition="$project_vo['id'] eq $search_project_id">
												<option value="<{$project_vo.id}>" selected="true"><{$project_vo.name}></option>
											<else />
												<option value="<{$project_vo.id}>"><{$project_vo.name}></option>
											</if>
										</volist>
									</select>		
								</div>
								
								<div class="clearfix" style="width:100%;height:auto;min-height:30px;margin-top:5px">
									<div class="fl wm25 tac marketing-control-content-room-box-title">显示楼栋</div>
									<if condition="!empty($rooms)">
										<if condition="count($rooms) lt 9">
											<div class="fl wm75" style="height:auto;">
												<ul class="clearfix" style="width:100%;height:auto;">
													<volist name="rooms" id="rooms_vo" key="rooms_k">
														<li class="fl wm25 select-build-list-li-select" data-build-id="<{$rooms_vo['build_id']}>" >
															<span class="span-build-list-name-selected" id="span_build_id_<{$rooms_vo['build_id']}>">
																<if condition="isset($builds[$rooms_vo['build_id']])">
																	<{$builds[$rooms_vo['build_id']]['buildname']|default=1}>
																<else />
																	1栋
																</if>
															</span>
														</li>
													</volist>
												</ul>
											</div>
										<else/>
											<div class="fl wm75" style="height:auto;">
												<div id="div-select-bld1" style="line-height:24px;border:1px solid rgba(0, 204, 204, 1);"><span style="text-align:left;font-size:13px;">&nbsp;</span><span class="marketing-control-content-room-arrow-bottom"></span></div>
												<ul id="ul-select-bld" class="ul-select-bld" style="position:absolute;z-index:999;width:200px;height:auto; border:1px solid rgba(0, 204, 204, 1);display:none">
													<volist name="rooms" id="rooms_vo" key="rooms_k">
													<label>
														<li style="background:#FFF;font-size:13px;" class="marketing-control-select-build-list-li marketing-control-select-build-list-li-<{$rooms_vo['build_id']}>" data-build-id="<{$rooms_vo['build_id']}>">
															<span class="marketing-control-select-build-list-input">
																<input id="checkbox_a<{$rooms_vo['build_id']}>" class="chk_1 marketing-control-select-build-list-input-select" data-build-id="<{$rooms_vo['build_id']}>" type="checkbox" value="<{$rooms_vo['build_id']}>" checked>
																<label for="checkbox_a<{$rooms_vo['build_id']}>"></label> 
															</span>
															
															<span class="marketing-control-select-build-list-name">
																<if condition="isset($builds[$rooms_vo['build_id']])">
																	<{$builds[$rooms_vo['build_id']]['buildname']|default=1}>
																<else />
																	1栋
																</if>
															</span>
														</li>
													</label>
													</volist>
												</ul>
											</div>
										</if>
									</if>
								</div>
								
							</div>
							<div class="marketing-control-content-room-info div-cz-right" id="div_search" style="border:2px solid red;">
								<div class="tar marketing-control-search" style="width:100%;height:auto;min-height:30px;">
									<div class="fl wm25 tac marketing-control-content-room-box-title">搜索房间</div>
									<span class="fl wm75  marketing-control-search-input-wrapper">
										<input style="width:100%" class="marketing-control-search-input" type="text" value="" placeholder="输入房号搜索">
										<ul class="marketing-control-search-room-list"></ul>
									</span>
								</div>
							</div>
							<div class="marketing-control-content-room-info div-cz-right" id="div_roominfo">
								<div class="marketing-control-content-room-title" >
									车位详情
								</div>
								<div class="marketing-control-content-room-info-list">
									<input class="marketing-control-room-info-id" type="hidden" style="display:none;" value="">
									<input class="marketing-control-room-info-is-sf" type="hidden" style="display:none;" value="0">
									<div class="clearfix marketing-control-content-room-box">
										<div class="fl wm25 tac marketing-control-content-room-box-title">
											车位编号
										</div>
										<div class="fl wm75 tac marketing-control-content-room-box-content">
											<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-name" type="text" readonly value="">
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box">
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												标准总价
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-total" type="text" readonly value="">
											</div>
										</div>
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												销售状态
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-zt" type="text" readonly value="">
											</div>
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box" style="display:none">
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												建筑面积
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-area" type="text" readonly value="">
											</div>
										</div>
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												套内面积
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-tnarea" type="text" readonly value="">
											</div>
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box" style="display:none">
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												建筑单价
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-price" type="text" readonly value="">
											</div>
										</div>
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												套内单价
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-tnprice" type="text" readonly value="">
											</div>
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box" style="display:none">
										<div class="fl wm25 tac marketing-control-content-room-box-title">
											房间户型
										</div>
										<div class="fl wm75 marketing-control-content-room-box-content">
											<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-hx" type="text" readonly value="">
										</div>
									</div>
									
								</div>
							</div>
							
							<div  class="div-cz-right" id="div_xfinfo" style="display:none;">
								<div class="marketing-control-content-room-title"  >
									选房信息
								</div>
                                                            <input type="hidden" class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-cstid" value="">
								<div class="clearfix marketing-control-content-room-box">
									<div class="fl wm25 tac marketing-control-content-room-box-title marketing-control-content-room-user-name">
										诚意金编号
									</div>
									<div class="fl wm75 marketing-control-content-room-box-content">
										<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-vip" style="border-bottom: 1px solid rgb(0, 204, 204);" type="text" value="">
									</div>
								</div>
                                                                <div class="clearfix marketing-control-content-room-box">
									<div class="fl wm25 tac marketing-control-content-room-box-title marketing-control-content-room-user-name">
										客户姓名
									</div>
									<div class="fl wm75 marketing-control-content-room-box-content">
										<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-cstname" style="border-bottom: 1px solid rgb(0, 204, 204);" type="text" value="">
									</div>
								</div>
                                                                <div class="clearfix marketing-control-content-room-box">
									<div class="fl wm25 tac marketing-control-content-room-box-title marketing-control-content-room-user-name">
										手机号码
									</div>
									<div class="fl wm75 marketing-control-content-room-box-content">
										<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-phone" style="border-bottom: 1px solid rgb(0, 204, 204);" type="text" value="">
									</div>
								</div>
                                                                <div class="clearfix marketing-control-content-room-box">
									<div class="fl wm25 tac marketing-control-content-room-box-title marketing-control-content-room-user-name">
										身份证号
									</div>
									<div class="fl wm75 marketing-control-content-room-box-content">
										<input class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-cardno" style="border-bottom: 1px solid rgb(0, 204, 204);" type="text" value="">
									</div>
								</div>
								<div class="clearfix marketing-control-content-room-box">
									<div class="fl wm25 tac marketing-control-content-room-box-title">
										选房时间
									</div>
									<div class="fl wm75 marketing-control-content-room-box-content">
										<input readonly class="border-sizing marketing-control-content-room-box-input marketing-control-room-info-xftime" type="text" value="" placeholder="--:--">
									</div>
								</div>
							</div>
							<div class="clearfix marketing-control-content-room-info-option">
								<div class="tac marketing-control-content-room-cancel" style="display:none">
									<a href="javascript:void(0);" class="marketing-control-content-room-option-btn marketing-control-content-room-cancel-btn">取消选房</a>
								</div>
								<div class="tac marketing-control-content-room-confirm" style="display:none">
									<a href="javascript:void(0);" class="marketing-control-content-room-option-btn marketing-control-content-room-confirm-btn">确认选房</a>
								</div>
							</div>
							<div class="marketing-control-content-rooms-help-box">
								<span class="marketing-control-sale-icon marketing-control-no-sale" style="border:1px solid #00cccc">未售</span>
								<span class="marketing-control-sale-icon marketing-control-haved-sale">已售</span>
								<span class="marketing-control-sale-icon marketing-control-selected-sale">选中</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--<div class="marketing-control-login suspend">
		<div class="clearfix marketing-control-login-box">
			<div class="fl marketing-control-login-btn">
				<div class="marketing-control-login-btn-box">
					<a href="javascript:void(0);" class="marketing-control-login-btn-a">
						切换
					</a>
				</div>
			</div>
			<div class="fl marketing-control-login-content">
				<div class="marketing-control-login-content-box">
					<div class="marketing-control-login-content-out">
						<a href="<{:U('login/index')}>" class="marketing-control-login-btn-in-a">
							登录
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>-->
	
	<script type="text/javascript">
	</script>
    
</block>
<block name="footer_add_js">

</block>
