<!DOCTYPE html>
<html>
	<head>
		<title>yjxk</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<link href="__XK__/css/base.css" type="text/css" rel="stylesheet"/>
		<link href="__XK__/css/xk.css" type="text/css" rel="stylesheet"/>
		<script src="__XK__/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="__XK__/js/jquery/jquery-ui-1.12.0.custom/jquery-ui.js"></script>
		<script src="__XK__/js/jquery/jquery.mousewheel.js"></script>
		<link href="__XK__/js/jquery/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet"/>
		<script src="__XK__/js/jquery/perfect-scrollbar/perfect-scrollbar.js"></script>
		<script src="__XK__/js/functions.js"></script>
		<script src="__XK__/js/xk.js"></script>
		<script type="text/javascript">
		</script>
	</head>
	
	<body>
		<div id="base" class="marketing-control-wrapper">
			<div class="marketing-control">
				<div class="marketing-control-title-wrapper">
					<div class="clearfix marketing-control-title">
						<div class="fl wm75 marketing-control-select">
							<span class="marketing-control-select-project">
								<span class="marketing-control-select-project-title">项目：</span>
								<select class="marketing-control-select-project-select">
									<volist name="project" id="project_vo">
										<option value="<{$project_vo.id}>"><{$project_vo.name}></option>
									</volist>
								</select>							
							</span>
							<span class="marketing-control-select-build">
								<span class="marketing-control-select-build-show">选择显示楼栋</span>
							</span>
						</div>
						
						<div class="fl wm25 tar marketing-control-search">
							<span class="marketing-control-search-input-wrapper">
								<input class="marketing-control-search-input" type="text" value="" placeholder="搜索房间">
							</span>
							<span class="marketing-control-search-btn">搜索</span>
						</div>
					</div>
				</div>	

				<div class="marketing-control-content-wrapper">
					<div class="clearfix marketing-control-content">
						<div class="fl marketing-control-content-rooms">
							<div class="marketing-control-content-rooms-box">
								<div class="clearfix marketing-control-content-rooms-list-wrapper">
									<div class="clearfix marketing-control-content-rooms-list-info">
										<div class="fl marketing-control-content-rooms-list">
											<div class="marketing-control-content-rooms-list-box">
												<div class="marketing-control-content-rooms-box-build">
													一栋
												</div>
												<div class="marketing-control-content-rooms-box-unit">
													<div class="marketing-control-content-rooms-box-unit-box">
														<div class="fl marketing-control-content-rooms-box-unit-list">
															<div class="marketing-control-content-rooms-box-unit-title">
																一单元
															</div>
															
															<div class="marketing-control-content-rooms-box-room">
																<div class="marketing-control-content-rooms-box-room-box">
																	<table>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">19L</td>
																			<td class="marketing-control-content-rooms-box-room-num marketing-control-content-rooms-box-room-selected">1901</td>
																			<td class="marketing-control-content-rooms-box-room-num">1902</td>
																			<td class="marketing-control-content-rooms-box-room-num marketing-control-content-rooms-box-room-click">1903</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">18L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																		</tr>
																	</table>
																</div>
															</div>
														</div>
														
														<div class="fl marketing-control-content-rooms-box-unit-list">
															<div class="marketing-control-content-rooms-box-unit-title">
																二单元
															</div>
															
															<div class="marketing-control-content-rooms-box-room">
																<div class="marketing-control-content-rooms-box-room-box">
																	<table>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num">1901</td>
																			<td class="marketing-control-content-rooms-box-room-num">1902</td>
																			<td></td>
																			<td></td>
																			<td></td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-num" class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																		</tr>
																	</table>
																</div>
															</div>
														</div>
														
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="fl marketing-control-content-rooms-list">
											<div class="marketing-control-content-rooms-list-box">
												<div class="marketing-control-content-rooms-box-build">
													二栋
												</div>
												<div class="marketing-control-content-rooms-box-unit">
													<div class="marketing-control-content-rooms-box-unit-box">
														<div class="fl marketing-control-content-rooms-box-unit-list">
															<div class="marketing-control-content-rooms-box-unit-title">
																一单元
															</div>
															
															<div class="marketing-control-content-rooms-box-room">
																<div class="marketing-control-content-rooms-box-room-box">
																	<table>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">19L</td>
																			<td class="marketing-control-content-rooms-box-room-num marketing-control-content-rooms-box-room-selected">1901</td>
																			<td class="marketing-control-content-rooms-box-room-num">1902</td>
																			<td class="marketing-control-content-rooms-box-room-num">1903</td>
																			<td class="marketing-control-content-rooms-box-room-num">1904</td>
																			<td class="marketing-control-content-rooms-box-room-num">1905</td>
																			<td></td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">18L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1801</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1805</td>
																			<td class="marketing-control-content-rooms-box-room-num">1906</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																		<tr> 
																			<td class="marketing-control-content-rooms-box-room-floor">17L</td>
																			<td class="marketing-control-content-rooms-box-room-num">1701</td>
																			<td class="marketing-control-content-rooms-box-room-num">1802</td>
																			<td class="marketing-control-content-rooms-box-room-num">1803</td>
																			<td class="marketing-control-content-rooms-box-room-num">1804</td>
																			<td class="marketing-control-content-rooms-box-room-num">1705</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																			<td class="marketing-control-content-rooms-box-room-num">1706</td>
																		</tr>
																	</table>
																</div>
															</div>
														</div>
														
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="marketing-control-content-rooms-help">
									<div class="marketing-control-content-rooms-help-box">
										<span class="marketing-control-content-rooms-help-box-title">图例：</span>
										<span class="marketing-control-no-sale">未售</span>
										<span class="marketing-control-haved-sale">已售</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="fl marketing-control-content-room-info-wrapper">
							<div class="marketing-control-content-room-info">
								<div class="marketing-control-content-room-title">
									房间详情
								</div>
								<div class="marketing-control-content-room-info-list">
									<div class="clearfix marketing-control-content-room-box">
										<div class="fl wm25 tac marketing-control-content-room-box-title">
											房间名称
										</div>
										<div class="fl wm75 tac marketing-control-content-room-box-content">
											<input class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="">
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box">
										<div class="fl wm25 tac marketing-control-content-room-box-title">
											房间编号
										</div>
										<div class="fl wm75 marketing-control-content-room-box-content">
											<input class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="">
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box">
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												建筑面积
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="">
											</div>
										</div>
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												套内面积
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="">
											</div>
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box">
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												建筑单价
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="">
											</div>
										</div>
										<div class="fl wm50">
											<div class="fl wm50 tac marketing-control-content-room-box-title">
												套内单价
											</div>
											<div class="fl wm50 marketing-control-content-room-box-content">
												<input class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="">
											</div>
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box">
										<div class="fl wm25 tac marketing-control-content-room-box-title">
											标准总价
										</div>
										<div class="fl wm75 marketing-control-content-room-box-content">
											<input class="border-sizing marketing-control-content-room-box-input" type="text" readonly value="">
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box">
										<div class="fl wm25 tac marketing-control-content-room-box-title marketing-control-content-room-user-name">
											客户姓名
										</div>
										<div class="fl wm75 marketing-control-content-room-box-content">
											<input class="border-sizing marketing-control-content-room-box-input" type="text" value="">
										</div>
									</div>
									<div class="clearfix marketing-control-content-room-box">
										<div class="fl wm25 tac marketing-control-content-room-box-title">
											选房时间
										</div>
										<div class="fl wm75 marketing-control-content-room-box-content">
											<input class="border-sizing marketing-control-content-room-box-input" type="time" value="" placeholder="--:--">
										</div>
									</div>
								</div>
							</div>
							
							<div class="clearfix marketing-control-content-room-info-option">
								<div class="fl wm50 tac marketing-control-content-room-cancel">
									<a href="javascript:void(0);" class="marketing-control-content-room-option-btn marketing-control-content-room-cancel-btn">取消选房</a>
								</div>
								<div class="fl wm50 tac marketing-control-content-room-confirm">
									<a href="javascript:void(0);" class="marketing-control-content-room-option-btn marketing-control-content-room-confirm-btn">确认选房</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	
</html>
	