<table class="fl wm100" style="color: #999999;text-align: center;" id="content-tab">
    <if condition="count($user_xf) egt 1">
        <foreach name="user_xf" item="vo" key="k">
            <tr data-id="<{$vo.id}>">
                <td align="left" class="wm40" style="padding: 5px 0 3px 15px;">
                    <p style="color:#000;"><{$vo.customer_name}></p>
                    <p><{:rsa_decode($vo['customer_phone'],getChoosekey())}></p>
                </td>
                <td class="wm25">
                    <if condition="$status eq 6">
                        <span class="xf-status ydl">已摇号</span>
                        <elseif condition="$status eq 7"/>
                        <span class="xf-status ydl">已入场</span>
                        <elseif condition="$status eq 8"/>
                        <span class="xf-status ydl">已认购</span>
                        <elseif condition="$status eq 9"/>
                        <span class="xf-status wdl">超时未认购</span>
                        <else/>
                        <if condition="$vo.is_sign eq 1 "><span class="xf-status ydl">已签到</span><else/><span class="xf-status wdl">未签到</span></if>
                    </if>

                </td>
                <td class="wm20"><if condition="$vo.rid neq null"><span class="xf-status yxf">已选房</span><else/><span class="xf-status wxf">未选房</span></if></td>
                <td class="wm15"><span class="call-phone" data-num="<{:rsa_decode($vo['customer_phone'],getChoosekey())}>"><i class="fa fa-phone"></i></span></td>
            </tr>
        </foreach>
        <else/>
        <tr>
            <td colspan="3" align="center">暂时没有数据...</td>
        </tr>
    </if>
</table>
</div>