<table class="fl wm100" style="color: #999999;text-align: center;" id="content-tab">
    <if condition="count($user_xf) egt 1">
        <foreach name="user_xf" item="vo" key="k">
            <tr data-id="<{$vo.id}>">
                <td align="left" class="wm40" style="padding: 5px 0 3px 15px;">
                    <p style="color:#000;"><{$vo.customer_name}></p>
                    <p><{:rsa_decode($vo['customer_phone'],getChoosekey())}></p>
                </td>
                <td class="wm25"><if condition="($vo.oid neq null)"><span class="xf-status ydl">已登录</span><else/><span class="xf-status wdl">未登录</span></if></td>
                <td class="wm20"><if condition="($vo.rid neq null) AND ($vo.oid neq null)"><span class="xf-status yxf">已选房</span><else/><span class="xf-status wxf">未选房</span></if></td>
                <td class="wm15"><span class="call-phone" data-num="<{:rsa_decode($vo['customer_phone'],getChoosekey())}>"><i class="fa fa-phone"></i></span></td>
            </tr>
        </foreach>
        <else/>
        <tr>
            <td colspan="3" align="center">暂时没有数据...</td>
        </tr>
    </if>
</table>
</div>