*{
	padding: 0px;
	margin: 0px;
	font-family: "Microsoft YaHei";
}
body, button, input, select, textarea a{	 
	font: 14px/1.5 "微软雅黑",tahoma,arial,'宋体',sans-serif;
}
body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, iframe, button, textarea, p, blockquote, th, td, img{ 
	margin: 0;  
	padding: 0;
}
html {
	color:#333;
}
html, body{ 
	margin:0; 
}
fieldset, img, iframe, button { 
	border:0; 
	text-decoration:none;
}
*:focus { 
	outline: 0;
}
ol, ul { 
	list-style: none;
}
table { 
	border-collapse:collapse; 
	border-spacing: 0;
}
caption, th { 
	text-align: left;
}
header, footer, article, section, nav{
	display: block;
}
a {
	outline: none; /* for Forefox */ 
	cursor:pointer; 
	text-decoration: none; 
}
a:active, *:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input{ 
	outline:none; 
}
em{ 
	font-style:normal;
}
input,select,img{ 
	vertical-align:middle;
}
textarea{ 
	outline: none; 
	resize:none;
}
h1,h2,h3,h4,h5,h6,.fs14 {  
	font-size: 14px;  
} 
a img{
	border: none;
}
i{ 
	font-style:normal;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom:1;
}

.fl {
	float: left;
}
.fr {
	float: right;
}

.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
.tal {
	text-align: left;
}

.wm5 {width: 5%;} .wm10 {width: 10%;} .wm15 {width: 15%;} .wm20 {width: 20%;} .wm23 {width: 23%;} .wm25 {width: 25%;}
.wm30 {width: 30%;} .wm32 {width: 32%;} .wm33{width: 33%;} .wm35 {width: 35%;} .wm36 {width: 36%;} .wm40 {width: 40%;}
.wm45 {width: 45%;} .wm50 {width: 50%;} .wm55 {width: 55%;} .wm56{width: 56%;} .wm60 {width: 60%;} .wm65 {width: 65%;}
.wm70 {width: 70%;} .wm75 {width: 75%;} .wm77 {width: 77%;} .wm80 {width: 80%;} .wm85 {width: 85%;}
.wm90 {width: 90%;} .wm95 {width: 95%;} .wm100 {width: 100%;} 

.mt2 { margin-top: 2px;} .mt3 { margin-top: 3px;} .mt5 { margin-top: 5px;}
.mt10 { margin-top: 10px;} .mt15 { margin-top: 15px;} .mt20 { margin-top: 20px;}

.mb2 { margin-bottom: 2px;} .mb3 { margin-bottom: 3px;} .mb5 { margin-bottom: 5px;}
.mb10 { margin-bottom: 10px;} .mb15 { margin-bottom: 15px;} .mb20 { margin-bottom: 20px;}

.ml2 { margin-left: 2px;} .ml3 { margin-left: 3px;} .ml5 { margin-left: 5px;}
.mml10 { margin-left: 10px;} .ml15 { margin-left: 15px;} .ml20 { margin-left: 20px;}

.mr2 { margin-right: 2px;} .mr3 { margin-right: 3px;} .mr5 { margin-right: 5px;}
.mr10 { margin-right: 10px;} .mr15 { margin-right: 15px;} .mr20 { margin-right: 20px;}

.block10 {
	height: 10px;
	clear: both;
}
.block20 {
	height: 20px;
	clear: both;
}
.block60 {
	height: 60px;
	clear: both;
}

.color-red {
	color: #f00;
}

.border-sizing {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* 旋转360度 */
.tr360 {
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
}
.trh360 {
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
}
.trh360:hover {
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
}

/* 放大 */
.ts1_2 {
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
}
.ts1_2:hover {
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
}

/* 旋转-放大 */
.trs1_2 {
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
}
.trs1_2:hover {
	transform:rotate(360deg) scale(1.2);
	-webkit-transform:rotate(360deg) scale(1.2);
	-moz-transform:rotate(360deg) scale(1.2);
	-o-transform:rotate(360deg) scale(1.2);
	-ms-transform:rotate(360deg) scale(1.2);
}

/* 上下左右移动 */
.tmb10 {
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
}
.tmb10:hover {
	transform:translate(0,-10px);
	-webkit-transform:translate(0,-10px);
	-moz-transform:translate(0,-10px);
	-o-transform:translate(0,-10px);
	-ms-transform:translate(0,-10px);
}


/** input美化 */
@keyframes hover-color {
	from {
		border-color: #c0c0c0; 
	}
	to {
		border-color: #3e97eb;
	} 
}
.lookey-radio,
.lookey-checkbox {
  position: absolute;
  display: none; 
}
.lookey-radio[disabled],
.lookey-checkbox[disabled] {
	cursor: not-allowed; 
}

.lookey-radio + label,
.lookey-checkbox + label {
	position: relative;
	display: block;
	padding-left: 30px;
	cursor: pointer;
	vertical-align: middle; 
}
.lookey-radio + label:hover:before,
.lookey-checkbox + label:hover:before {
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-name: hover-color; 
}
.lookey-radio + label:before,
.lookey-checkbox + label:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: '';
	border: 1px solid #c0c0c0; 
}
.lookey-radio + label:after,
.lookey-checkbox + label:after {
	position: absolute;
	display: none;
	content: ''; 
}

.lookey-radio[disabled] + label,
.lookey-checkbox[disabled] + label {
	cursor: not-allowed;
	color: #e4e4e4; 
}
.lookey-radio[disabled] + label:hover, 
.lookey-radio[disabled] + label:before, 
.lookey-radio[disabled] + label:after,
.lookey-checkbox[disabled] + label:hover,
.lookey-checkbox[disabled] + label:before,
.lookey-checkbox[disabled] + label:after {
	cursor: not-allowed; 
}
.lookey-radio[disabled] + label:hover:before,
.lookey-checkbox[disabled] + label:hover:before {
	border: 1px solid #e4e4e4;
	animation-name: none; 
}
.lookey-radio[disabled] + label:before,
.lookey-checkbox[disabled] + label:before {
	border-color: #e4e4e4; 
}
.lookey-radio:checked + label:before,
.lookey-checkbox:checked + label:before {
	animation-name: none; 
}
.lookey-radio:checked + label:after,
.lookey-checkbox:checked + label:after {
	display: block; 
}
.lookey-radio + label:before {
	border-radius: 50%; 
}
.lookey-radio + label:after {
	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #3e97eb; 
}
.lookey-radio:checked + label:before {
	border: 1px solid #3e97eb; 
}
.lookey-radio:checked[disabled] + label:before {
	border: 1px solid #c9e2f9; 
}
.lookey-radio:checked[disabled] + label:after {
	background: #c9e2f9;
}
.lookey-checkbox + label:before {
	border-radius: 3px; 
}
.lookey-checkbox + label:after {
	top: 2px;
	left: 7px;
	box-sizing: border-box;
	width: 6px;
	height: 12px;
	transform: rotate(45deg);
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	border-top: 0;
	border-left: 0; 
}
.lookey-checkbox:checked + label:before {
	border: #3e97eb;
	background: #3e97eb; 
}
.lookey-checkbox:checked[disabled] + label:before {
	border: #c9e2f9;
	background: #c9e2f9; 
}

/** 提示 */
.lookey-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	line-height: normal;
}
.lookey-alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.lookey-alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.lookey-alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.lookey-alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
