/* 公共布局CSS */


/* 滚动条 */
.iscroller-style {
    position:absolute;  
    z-index:1;  
	width: 100%;  
	top: 100px;
    bottom: 35px;
    left: 0;
    right: 0;
    overflow: hidden;  
}
.iscroller-scroller-style {
	position:absolute; 
	z-index:5;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

.arrow-bottom-small {
	background: url(../img/arrow-bottom-small.png) no-repeat right scroll;
	background-size: 21px 10px;
}
.arrow-top-small {
	background: url(../img/arrow-top-small.png) no-repeat right scroll;
	background-size: 21px 10px;
}
.arrow-left {
	background: url(../img/arrow-left.png) no-repeat scroll 8px 10px/14px 23px;
}
.arrow-left-white {
	background: url(../img/arrow-left-white.png) no-repeat scroll 8px 10px/14px 23px;
}
.arrow-right {
	background: url(../img/arrow-right.png) no-repeat scroll 8px 6px/14px 23px;
}

/* 顶部导航 */
.common-header-wrapper {
	position: fixed;
	top: 0;
    width: 100%;
    z-index: 50;
	z-index: 50;
}
.common-header {
	background: #ffffff;
	border: 1px solid #03a9f4;
	font-size: 15px;
	font-weight: bold;
    color: #03A9F4;
	position: relative;
    z-index: 125;
}
.common-header-return {
	padding: 10px 0;	
}
.common-header-return-box {
	position: relative;
	padding-left: 25px;
}
.common-header-return-btn {
    color: #03A9F4;
	font-size: 13px;
}
.common-header-return-box .icon-return {
	background: url(../img/arrow-left.png) no-repeat scroll;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
}
.common-header-content {
	position: relative;
	text-align: center;
	padding: 10px 0;	
}
.common-header-content-box {
	display: block;
	position: relative;
	padding-right: 28px;
	overflow:hidden;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	word-break: keep-all;
	font-size: 15px;
	cursor: pointer;
}
.common-header-content-box-no-arrow {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    font-size: 15px;
}
.common-header-content-box-name, 
.common-header-content-box-build, 
.common-header-content-box-unit {
	overflow:hidden;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	word-break: keep-all;
	font-size: 15px;
}
.common-header-content-icon {
	position: absolute;
	top: 5px;
	right: 0;
	display: block;
	width: 21px;
	height: 10px;
}

.common-header-right {
	padding: 6px 0;	
}

.common-header-unit-wrapper {
	position: absolute;
	top: 37px;
	width: 100%;
	display: none;
	z-index: 100;
}
.common-header-unit {
	width: 65%;
	margin: 0 auto;
	background: rgba(102, 204, 255, 0.917647058823529);
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ffffff;
}
.common-header-unit-info {
	width: 33.33333333%;
	text-align: center;
}
.common-header-unit-info > a {
    font-size: 10px;
	margin: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
	display: block;
	padding: 5px 0;
	color: #000;
}
.common-header-unit-info-selected > a {
	background: #03a9f4;
	color: #FFF;
	font-weight: bold;
	border: 1px solid #03a9f4;
}


/* 内容 */
.common-content {
	position: absolute;
	top: 45px;
	bottom: 30px;
	width: 100%;
	background: #d7e7f5;
	overflow: hidden;
}


/* 底部 */
.common-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 30px;
}
