/** 主题CSS **/

input[type=checkbox].ace.ace-switch.ace-switch-4+.lbl::before, 
input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before 
{
    content: "开\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0关";
}
@media only screen and (max-width: 991px) {
	.menu-toggler>.menu-text:after {
		content: "菜单";
		width: 28px;
	}
}

.help-inline {
	color: #a2a2a2;
}
.radio, .checkbox {
	margin-right: 15px;
}
.form-horizontal .radio {
	padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
















