<extend name="Common/base" />

<block name="breadcrumb_active">
    <li>
        <a href="<{:U('Xsglled/index')}>"><{$classify_name|default=''}></a>
    </li>
    <li class="active"><{$seo_title|default=''}></li>
</block>

<block name="page_content">
    <style type="text/css">
        .qpxs {
            position: absolute;
            top:260px;left:40%;
            width:300px;
            height:50px;
            transform: translate(-10%, -10%);
        }
        .qpxs a{
            padding: 10px 20px;
            text-align: center;
            background: red;
            color: #FFF;
            margin-left: 50px;
        }
        form{
            display: inline;
        }
        #sample-table-2_length label{
            margin-left: 10px;
        }
    </style>
    <div class="row">
        <div class="col-xs-12">

            <div class="table-header">
                销控LED显示列表
            </div>
            <div class="table-responsive dataTables_wrapper">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="sample-table-2_length" class="dataTables_length">
                            <form action="<{:U('/Account/Xsglled/index')}>" method="post" id="form-p">
                            <label>
                                项目 
                                <select name="project_id" class="xkled-project-id" style="width: auto;">
                                    <if condition="!empty($search_project_id)">
                                        <option value="0">全部</option>
                                        <foreach name="project_list" item="project_list_vo">
                                            <if condition="$search_project_id eq $project_list_vo['id']">
                                                <option value="<{$project_list_vo['id']}>" selected>
                                                    <{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
                                                </option>
                                                <else />		 
                                                <option value="<{$project_list_vo['id']}>">
                                                    <{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
                                                </option>
                                            </if>
                                        </foreach> 
                                        <else />
                                        <option value="0" selected>全部</option>
                                        <foreach name="project_list" item="project_list_vo">
                                            <option value="<{$project_list_vo['id']}>">
                                                <{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
                                            </option>
                                        </foreach> 
                                    </if>
                                </select> 
                            </label>
                            </form>
                            <form action="<{:U('/Account/Xsglled/index')}>" method="post" id="form-b">
                            <label>							
                                批次 
                                <select name="batch_id" class="xkled-batch-id" style="width: auto;">
                                    <if condition="count($batch_list) neq 1">
                                        <option value="0">全部</option>
                                    </if>
                                    <foreach name="batch_list" item="batch_list_vo">
                                        <if condition="$bid eq $batch_list_vo['id']">
                                            <option value="<{$batch_list_vo['id']}>" selected>
                                                <{$batch_list_vo['name']}>
                                            </option>
                                            <else/>
                                            <option value="<{$batch_list_vo['id']}>" >
                                                <{$batch_list_vo['name']}>
                                            </option>
                                        </if>
                                    </foreach>
                                </select> 
                            </label>
                                <input type="hidden" name="project_id" value="<{$search_project_id}>">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qpxs">
        <a href="<{:U('../led/pmtled1')}>" target="_blank">负一层</a>
        <a href="<{:U('../led/pmtled2')}>" target="_blank">负二层</a>
    </div>

</block>
<block name="footer_add_js">

</block>
