<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"></head><body><!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"></head><body><strong> 
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	一、认购书范本编号： <input type="text" style="width: 50px;border-bottom: 1px solid #000"><span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	商品房认购书双方当事人：_________<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	出卖人（以下简称“甲方”）_________<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	认购人（以下简称“乙方”）_________<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	根据相关<span><a href="http://www.chinalawedu.com/" target="_blank"><span>法律</span></a></span>、<span><a href="http://www.chinalawedu.com/falvfagui/" target="_blank"><span>法规</span></a></span>规定，甲、乙双方在平等、自愿、协商一致的基础上，就乙方认购甲方商品房相关事宜达成如下协议：<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	一、认购标的的基本情况<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	1.1 乙方所认购的商品房为甲方开发的位于____ _市______ 区 ______项目中的第__楼__ 单元__号房（以下简称“该商品房”）<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	1.2该商品房的建筑面积为___平方米，阁楼面积为___平方米。以上面积均以房地局测绘中心最终测绘面积为准。<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	二、认购标的的价款<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	2.1该商品房按照建筑面积计价，单价为人民币______ 元<span>/</span>平方米，房款计人民币 ______元（大写：__________）阁楼按套计价，单套为人民币
元（大写：__________）<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	2.2房屋总价款为<span>2.1</span>所列款项之和，共计人民币 元（大写：__________ ）<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	三、认购款<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	3.1乙方应当于本认购书签订之日，一次性向甲方支付认购款计人民币_______元（大写：__________）乙方逾期未支付认购款的，该认购书自行解除，无须另行通知，甲方有权将该商品房另行出卖给第三人。<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	3.2甲方在取得预售许可证后，通知乙方。乙方在接到甲方的签约通知次日起___日内，到销售现场与甲方协商商品房<span><a href="http://www.chinalawedu.com/web/191/" target="_blank"><span>买卖合同</span></a></span>的相关条款，协商一致并签署《商品房买卖合同》。（本款约定的期限为协商签约的起始时限，而非终止时限）<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	3.3乙方未在<span>3.2</span>条约定的期限内与甲方协商商品房买卖合同的相关条款的，该认购书自行解除，无须另行通知，乙方已支付的认购款不予返还，甲方有权将该商品房另行出卖给第三人。<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	3.4甲、乙双方在<span>3.2</span>条约定的期限内协商商品房买卖合同的相关条款，但双方未达成一致意见，自第<span>3.2</span>条约定的期限届满次日起超过 日的，本认购书自行解除，无须另行通知。甲方应当在本认购书解除次日起 日内将已收取的认购款无息返还给乙方。<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	3.5甲乙双方协商一致签订《商品房买卖合同》的，乙方已交纳的认购款抵作该商品房的购房款，无须返还给乙方。<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	四、其他约定<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	4.1在签订正式的《商品房买卖合同》时，变更认购人的，需征得甲方的同意。（变更为父母、夫妻、子女的除外）<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	4.2乙方在本认购书中提供的联系地址和联系电话是甲方通知乙方的依据。乙方保证其提供的信息准确无误。若甲方按照乙方提供的信息不能联系到乙方的，因此产生的不利后果均由乙方承担。<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	甲方（公章）&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 乙方（公章）&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	授权代表： __________<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	证件号码： __________<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	联系地址： __________<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	联系电话： __________<span></span> 
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
	____年__ 月__ 日&nbsp;
</p>
</strong></body></html></body></html>