<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"></head><body><strong> 
<p align="center" style="text-align:center;">
	<b>天誉珑城住宅认购协议<span></span></b> 
</p>
<p>
	出卖人：<u>泸州天誉房地产开发有限公司</u><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：<u>泸州市龙马潭区玉雨路</u><u>88</u><u>号</u><u></u> 
</p>
<p>
	认购人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：
</p>
<p>
	身份证号码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：
</p>
<p>
	双方在签订本认购协议之前，知悉【天誉珑城】项目的基本情况，认同售楼现场公示文件和本协议的全部内容，经双方协商一致，达成如下协议：
</p>
<p>
	1、天誉珑城项目的商品房预售许可证、国有土地使用权等证件均已在出卖人售楼现场公示，认购人已知悉。
</p>
<p>
	2、认购人认购的商品房为【天誉珑城】<u>&nbsp;&nbsp;&nbsp; </u>栋<u>&nbsp;&nbsp;&nbsp; &nbsp;</u>单元<u>&nbsp;&nbsp; &nbsp;&nbsp;</u>号，建筑面积约 <u><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><span>m2</span>（实际产权面积以交房时政府主管部门备案的实测面积为准）。
</p>
<p>
	3、双方约定，认购人认购的商品房房屋优惠前总价款为<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u>元
</p>
<p>
	（大写：<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</u>佰<u>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</u>拾<u>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>万<u>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>仟<u>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>佰<u>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</u>拾<u>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>元人民币）。
</p>
<p>
	4、认购人购房可享受的优惠均已在出卖人售楼现场公示，认购人已知悉，签订《商品房买卖合同》时，认购人按优惠后的实际总房款付款。
</p>
<p>
        5、认购人在本《认购协议》签订的同时，向出卖人交纳认购定金<u>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>元（大写：<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</u>万<br/><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>仟<u>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</u>佰<u>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>拾<u>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</u>元人民币）。已交纳诚意登记金的，认购人同意将诚意金转为认购定金。
</p>
<p>
	6、认购人在本《认购协议》签订后，须在签订之日起7日内，在出卖人售楼现场按本《认购协议》约定的基本条件与出卖人签订正式的《商品房买卖合同》及《补充协议》。在双方签订了正式的《商品房买卖合同》及《补充协议》后，所交定金抵作购房款且认购人需在合同签订当天支付全部应付房款。如认购人逾期不来签订或不按本《认购协议》约定的基本条件签订正式的《商品房买卖合同》及《补充协议》的，视为认购人放弃认购权利，出卖人有权将该套房屋另行销售，所交定金不予退还。
</p>
<p>
	7、若认购人为按揭付款客户，应于《商品房买卖合同》签订之日起3日内主动将办理贷款手续所需的相关文件及相关费用（详见贷款须知）交给出卖人，用于向银行申请贷款。认购人应无条件地配合银行等相关单位办理贷款手续。贷款金额、贷款利率及贷款年限等以银行最后批复为准，如银行批准的贷款金额与认购人申请的额度不一致，则两者之间的差额由认购人以现金方式在银行批准贷款金额确定之日起7日内向出卖人支付完毕。
</p>
<p>
	8、本《认购协议》一式叁份，认购人壹份，出卖人贰份。出卖人盖章、认购人签字并交付定金之日起生效。
</p>
<p>
	&nbsp;
</p>

<p style="text-indent:10.5pt;">
	出卖人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;认购人：<strong></strong>
</p>
<p style="text-indent:10.5pt;">
	委托代理人：&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;委托代理人：
</p>
<p>
	&nbsp; &nbsp;置业顾问：&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 协议签订日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 日
</p>
<div style="position: absolute;text-align: center;vertical-align: middle;width:130px;height:130px;bottom:50px;z-index:9999;"><img src="/Uploads/img/rgstd/ty_lc.png" style="width:100%;height:100%;"></div>
</strong></body><script >window.print();</script></html>