<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"></head>
<body>
<p align="center" style="text-align:center;font-size:12px;font-weight: 400;margin-top: -20px;">
	<p align="center" style="text-align:center;font-size:22px;font-weight: 700;">
		<b>天誉珑城住宅认购协议<span></span></b>
	</p>
        <p style="font-weight: 400;font-size:14px;margin-top: -20px;">
            <span style="float:left;width:55%;padding: 15px 0 16px 0;">出卖人：<u>泸州天誉房地产开发有限公司</u></span>
            <span style="float:left;width:45%;padding: 15px 0 16px 0;">地址：<u>泸州市龙马潭区玉雨路88号</u></span>
	</p>
        <p style="font-weight: 400;font-size:14px;margin-top: -8px;">
                <span style="float:left;width:55%">认购人：<u><{$cst_name}></u></span>
                <span style="float:left;width:45%">电话：<u></u></span>
        </p> 
        <p style="font-weight: 400;font-size:14px;margin-top: -8px;">
                <span style="float:left;width:55%;font-weight: 400;font-size:14px;padding: 16px 0 16px 0;">
                    身份证号码：
                    <u style="font-size:12px;position: absolute;">
                        <{$cardno}><br/>
                        <{$cardno2}>
                    </u>
                </span>
                <span style="float:left;width:45%;font-weight: 400;font-size:14px;padding: 16px 0 16px 0;">地址：<u></u></span>
        </p>    
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		双方在签订本认购协议之前，知悉【天誉珑城】项目的基本情况，包括但不限于小区/楼栋出入口位置、三四
		期土地抵押情况、周边不利环境如变电站、道路等影响。认同售楼现场公示文件和本协议的全部内容，经双方
		协商一致，达成如下协议：
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		1、&nbsp; 天誉珑城项目的商品房预售许可证、国有土地使用权等证件在签约前公示，认购人已知悉。
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		2、&nbsp; 认购人认购的商品房为【天誉珑城】<u>&nbsp;&nbsp;<{$bld_code}>&nbsp;&nbsp;</u>栋<u>&nbsp; &nbsp;<{$unit}>&nbsp;&nbsp;</u>单元<u>&nbsp;&nbsp;<{$room}>&nbsp;&nbsp;</u>号，
                建筑面积约<u>&nbsp;&nbsp;<{$area}>&nbsp;&nbsp;</u>㎡（实际产权面积以交房时政府主管部门备案的实测面积为准）。
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		3、&nbsp; 双方约定，认购人认购的商品房房屋优惠前总价款为 <u>&nbsp;&nbsp;<span id="roomtotal"><{$total}></span>&nbsp;&nbsp;</u>元
		（大写<u>：</u><u>&nbsp;&nbsp;<span id="bww"></span>&nbsp;&nbsp; </u>佰<u>&nbsp;&nbsp;<span id="sww"></span>&nbsp; &nbsp;</u>拾<u>&nbsp;&nbsp;<span id="ww"></span>&nbsp;&nbsp;</u>万<u>
                    &nbsp;&nbsp;<span id="qw"></span>&nbsp;&nbsp;</u>仟<u>&nbsp;&nbsp;<span id="bw"></span>&nbsp;&nbsp;</u>佰<u>&nbsp;&nbsp;<span id="sw"></span>&nbsp;&nbsp;</u>拾<u>&nbsp;&nbsp;<span id="gw"></span>&nbsp;&nbsp;</u>元人民币）。
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		4、&nbsp; 认购人购房可享受的优惠均已在出卖人售楼现场公示，认购人已知悉，签订《商品房买卖合同》时，认购人按优惠后的实际总房款付款。
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		5、&nbsp; 认购人在本《认购协议》签订的同时，向出卖人交纳认购定金<u>&nbsp;20000&nbsp;</u>元
                （大写：<u>&nbsp;&nbsp;贰 &nbsp;&nbsp;</u>万<u>&nbsp;&nbsp;零 &nbsp;&nbsp;</u>仟<u>&nbsp;&nbsp;零&nbsp;&nbsp;</u>&nbsp;佰<u>&nbsp;&nbsp; 零 &nbsp;&nbsp;</u>拾 <u><span>&nbsp;&nbsp; 零 &nbsp;&nbsp;</span></u>元人民币）。已交纳诚意登记金的，认购人同意将诚意金转为认购定金。
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		6、&nbsp; 认购人在本《认购协议》签订后，须在签订之日起7日内或出卖人通知时间七日内，在出卖人售楼现场按本《认购协议》约定的基本条件与出卖人签订正式的《商品房买卖合同》及《补充协议》。在双方签订了正式的《商品房买卖合同》及《补充协议》后，所交定金抵作购房款且认购人需在合同签订当天支付全部应付房款。
		如认购人逾期不来签订或不按本《认购协议》约定的基本条件签订正式的《商品房买卖合同》及《补充协议》
		的，视为认购人放弃认购权利，出卖人有权将该套房屋另行销售，所交定金不予退还。
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		7、&nbsp; 若认购人为按揭付款客户，应于《商品房买卖合同》签订之日起3日内主动将办理贷款手续所需的相关文件及相关费用（详见贷款须知）交给出卖人，用于向银行申请贷款。认购人应无条件地配合银行等相关单位办理贷款手续。贷款金额、贷款利率及贷款年限等以银行最后批复为准，如银行批准的贷款金额与认购人申请的额度不一致，则两者之间的差额由认购人以现金方式在银行批准贷款金额确定之日起7日内向出卖人支付完毕。
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		8、&nbsp; 本《认购协议》一经签订，认购人不能更名（同一户口本上的夫妻、子女关系除外）。
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -8px;">
		9、&nbsp; 本《认购协议》一式贰份，认购人壹份，出卖人壹份。出卖人盖章、认购人签字并交付定金之日起生效。
	</p>
	<p style="font-weight: 400;font-size:14px;line-height: 25px;margin-top: -25px;">
		&nbsp;&nbsp;
	</p>
	<p style="font-weight: 400;font-size:14px;">
		出卖人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;认购人：<u></u>
	</p>
	<p style="font-weight: 400;font-size:14px;">
		委托代理人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;委托代理人：<u></u>
	</p>
	<p style="font-weight: 400;font-size:14px;">
		置业顾问：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;协议签订日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 日
	</p>
</p>
<div style="position: absolute;text-align: center;vertical-align: middle;width:170px;height:170px;bottom:10px;z-index:9999;"><img src="/Uploads/img/rgstd/ty_lc.png" style="width:100%;height:100%;"></div>
</body>
<script src="/Public/common/js/jquery/jquery-2.1.1.min.js"></script>
<script >
    function Arabia_to_Chinese(Num) {
            for (i = Num.length - 1; i >= 0; i--) {
                Num = Num.replace(",", "")//替换tomoney()中的“,”
                Num = Num.replace(" ", "")//替换tomoney()中的空格
            }
            Num = Num.replace("￥", "")//替换掉可能出现的￥字符
            if (isNaN(Num)) { //验证输入的字符是否为数字
                alert("请检查小写金额是否正确");
                return;
            }
            //---字符处理完毕，开始转换，转换采用前后两部分分别转换---//
            part = String(Num).split(".");
            newchar = "";
            //小数点前进行转化
            for (i = 0;i<=part[0].length - 1; i++) {
                if (part[0].length > 10) { alert("位数过大，无法计算"); return ""; } //若数量超过拾亿单位，提示
                tmpnewchar = ""
                perchar = part[0].charAt(i);
                switch (perchar) {
                    case "0": tmpnewchar = "零|" + tmpnewchar; break;
                    case "1": tmpnewchar = "壹|" + tmpnewchar; break;
                    case "2": tmpnewchar = "贰|" + tmpnewchar; break;
                    case "3": tmpnewchar = "叁|" + tmpnewchar; break;
                    case "4": tmpnewchar = "肆|" + tmpnewchar; break;
                    case "5": tmpnewchar = "伍|" + tmpnewchar; break;
                    case "6": tmpnewchar = "陆|" + tmpnewchar; break;
                    case "7": tmpnewchar = "柒|" + tmpnewchar; break;
                    case "8": tmpnewchar = "捌|" + tmpnewchar; break;
                    case "9": tmpnewchar = "玖|" + tmpnewchar; break;
                }
                /*switch (part[0].length - i - 1) {
                    case 0: tmpnewchar = tmpnewchar + "|"; break;
                    case 1: if (perchar != 0) tmpnewchar = tmpnewchar + "|"; break;
                    case 2: if (perchar != 0) tmpnewchar = tmpnewchar + "|"; break;
                    case 3: if (perchar != 0) tmpnewchar = tmpnewchar + "|"; break;
                    case 4: tmpnewchar = tmpnewchar + "|"; break;
                    case 5: if (perchar != 0) tmpnewchar = tmpnewchar + "|"; break;
                    case 6: if (perchar != 0) tmpnewchar = tmpnewchar + "|"; break;
                    case 7: if (perchar != 0) tmpnewchar = tmpnewchar + "|"; break;
                    case 8: tmpnewchar = tmpnewchar + "|"; break;
                    case 9: tmpnewchar = tmpnewchar + "|"; break;
                }*/
                newchar = tmpnewchar + newchar;
            }
           
        //小数点之后进行转化
            if (Num.indexOf(".") != -1) {
                if (part[1].length > 2) {
                    alert("小数点之后只能保留两位,系统将自动截段");
                    part[1] = part[1].substr(0, 2)
                }
                for (i = 0; i < part[1].length; i++) {
                    tmpnewchar = ""
                    perchar = part[1].charAt(i)
                    switch (perchar) {
                        case "0": tmpnewchar = "零" + tmpnewchar; break;
                        case "1": tmpnewchar = "壹" + tmpnewchar; break;
                        case "2": tmpnewchar = "贰" + tmpnewchar; break;
                        case "3": tmpnewchar = "叁" + tmpnewchar; break;
                        case "4": tmpnewchar = "肆" + tmpnewchar; break;
                        case "5": tmpnewchar = "伍" + tmpnewchar; break;
                        case "6": tmpnewchar = "陆" + tmpnewchar; break;
                        case "7": tmpnewchar = "柒" + tmpnewchar; break;
                        case "8": tmpnewchar = "捌" + tmpnewchar; break;
                        case "9": tmpnewchar = "玖" + tmpnewchar; break;
                    }
                    if (i == 0) tmpnewchar = tmpnewchar + "角";
                    if (i == 1) tmpnewchar = tmpnewchar + "分";
                    newchar = newchar + tmpnewchar;
                }
            }
            //替换所有无用汉字
            /* while (newchar.search("零零") != -1)
            newchar = newchar.replace("零零", "零");
            newchar = newchar.replace("零亿", "亿");
            newchar = newchar.replace("亿万", "亿");
            newchar = newchar.replace("零万", "万");
            newchar = newchar.replace("零元", "元");*/
            newchar = newchar.replace("零角", "");
            newchar = newchar.replace("零分", "");

            if (newchar.charAt(newchar.length - 1) == "元" || newchar.charAt(newchar.length - 1) == "角")
                newchar = newchar + "整"
          //  document.write(newchar);
            arr1=newchar.split("|");
            if (arr1.length==8)
            {
                $("#bww").text(arr1[6]);
                $("#sww").text(arr1[5]);
                $("#ww").text(arr1[4]);
                $("#qw").text(arr1[3]);
                $("#bw").text(arr1[2]);
                $("#sw").text(arr1[1]);
                $("#gw").text(arr1[0]);
            }
            else if(arr1.length==7)
            {
                $("#bww").text("\\");
                $("#sww").text(arr1[5]);
                $("#ww").text(arr1[4]);
                $("#qw").text(arr1[3]);
                $("#bw").text(arr1[2]);
                $("#sw").text(arr1[1]);
                $("#gw").text(arr1[0]);
            }
            else if(arr1.length==6)
            {
                $("#bww").text("\\");
                $("#sww").text("\\");
                $("#ww").text(arr1[4]);
                $("#qw").text(arr1[3]);
                $("#bw").text(arr1[2]);
                $("#sw").text(arr1[1]);
                $("#gw").text(arr1[0]);
            }
        } 
        Arabia_to_Chinese($("#roomtotal").text());
        window.print();
     
</script>
</html>