<extend name="Common/base" />

<block name="header_config_add">
	<script type="text/javascript">
        var eventId = '<{$eventId}>';
        var collection = <{$roomCollected}>;
        var orderedRoom = <{$orderedRoom}>;

        $(document).ready(function() {	
                if (collection.length>0)
                {
                    $('.user-project-view-content-gwc-num').html(collection.length).show();
                }
                else
                {
                    $('.user-project-view-content-gwc-num').hide();
                }
        });
	</script>
</block>

<block name="header">
	<!--<div class="common-header-wrapper">
		<div class="clearfix common-header">
			<div class="fl wm25 arrow-left common-header-return user-header-return">
				<span class="common-header-return-box return-btn">
					<a href="javascript:void(0);" class="common-header-return-btn">返回</a>
				</span>
			</div>
			<div class="fl wm50 common-header-content js-common-header-content">
				<span class="common-header-content-box-no-arrow">
					<span class="common-header-content-box-name">房源对比</span>
				</span>
			</div>
			<div class="fl wm25 user-header-right">&nbsp;</div>
		</div>
	</div>-->
</block>

<block name="content">
	<div class="user-project-view-base">	
		<div class="user-project-view-content-wrapper">
			<div id="iscroller-wrapper" class="iscroller-style border-sizing user-project-room-list" style="top:2px;bottom:55px;">
				<div id="iscroller-scroller" class="iscroller-scroller-style border-sizing user-project-room-list-box">
					<div class="user-project-room-list-rooms">
						<div class="user-project-room-list-rooms-box">
							<table class="user-project-room-list-rooms-table">
                                                            <thead>
                                                                <tr>
                                                                    <th style=""></th>
                                                                    <th style=""></th>
                                                                    <th style=""></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
								<tr>
									<td class="user-project-room-list-td1-title" colspan="<{$rooms_count+1}>">
										<div class="user-project-room-list-title">
											<div class="user-project-room-list-title-box">
												项目名称：<{$projects[$rooms[0]['proj_id']]['name']}>
											</div>
										</div>
									</td>
								</tr>
								
								<tr>
									<td class="user-project-room-list-td1 user-project-room-list-td-room-name">
										<span class="user-project-room-list-td-title user-project-room-list-room-name">
											房间名称
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2 user-project-room-list-td-room-name">
											<span class="user-project-room-list-td-content user-project-room-list-room-name">
												<{$builds[$rooms_vo['bld_id']]['buildname']}>-<{$rooms_vo.unit}>单元-<{$rooms_vo.floor}>层-<{$rooms_vo.room}>
											</span>
										</td>
									</volist>
								</tr>
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											户型
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												(<{$rooms_vo.hx|default=""}>)<{$rooms_vo.hxmx|default=""}>
											</span>
										</td>
									</volist>
								</tr>
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											标准总价<span class="user-project-room-list-title-employer">(元)</span>
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												<{:number_format($rooms_vo['total'], 2)}>
											</span>
										</td>
									</volist>
								</tr>
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											建筑面积<span class="user-project-room-list-title-employer">(㎡)</span>
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												<{:number_format($rooms_vo['area'], 2)}>
											</span>
										</td>
									</volist>
								</tr>
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											套内面积<span class="user-project-room-list-title-employer">(㎡)</span>
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												<{:number_format($rooms_vo['tnarea'], 2)}>
											</span>
										</td>
									</volist>
								</tr>
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											建筑单价<span class="user-project-room-list-title-employer">(元)</span>
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												<{:number_format($rooms_vo['price'], 2)}>
											</span>
										</td>
									</volist>
								</tr>
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											套内单价<span class="user-project-room-list-title-employer">(元)</span>
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												<{:number_format($rooms_vo['tnprice'], 2)}>
											</span>
										</td>
									</volist>
								</tr>
								<!--<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											销售状态
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												<if condition="$rooms_vo['is_xf'] eq 1">
													<span class="color-red user-project-room-list-td-content-has-sale">已售</b>
												<else />
													待售
												</if>
											</span>
										</td>
									</volist>
								</tr>-->

								<tr>
									<td class="user-project-room-list-td1-title" colspan="<{$rooms_count+1}>">
										<div class="user-project-room-list-title user-project-room-list-title-hot-sale">
											<div class="user-project-room-list-title-box">
												热销程度
											</div>
										</div>
									</td>
								</tr>

								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											收藏次数
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												<{$room_attributes[$rooms_vo['id']]['sccount']|default='0'|intval}>
											</span>
										</td>
									</volist>
								</tr>
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											对比次数
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												<{$room_attributes[$rooms_vo['id']]['sscount']|default='0'|intval}>
											</span>
										</td>
									</volist>
								</tr>
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											关注次数
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content">
												<{$room_attributes[$rooms_vo['id']]['djcount']|default='0'|intval}>
											</span>
										</td>
									</volist>
								</tr>
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											热力指数
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content user-project-room-list-content-star">
												<for start="0" end="$room_attributes[$rooms_vo['id']]['hot_num']" >★</for><for start="$room_attributes[$rooms_vo['id']]['hot_num']" end="5" >☆</for>
											</span>
										</td>
									</volist>
								</tr>
								
								<tr>
									<td class="user-project-room-list-td1">
										<span class="user-project-room-list-td-title">
											&nbsp;
										</span>
									</td>
									
									<volist name="rooms" id="rooms_vo" key="rooms_k">
										<td class="user-project-room-list-td2">
											<span class="user-project-room-list-td-content user-project-room-list-content-collection">
												<if condition="in_array($rooms_vo['id'], $collection_room_ids)">
													<a href="javascript:void(0);" data-room-id="<{$rooms_vo['id']}>" class="user-project-room-list-td-a js-user-uncollection-room-btn">
														取消备选
													</a>
												<else />
													<a href="javascript:void(0);" data-room-id="<{$rooms_vo['id']}>" class="user-project-room-list-td-a js-user-collection-room-btn" no="2" eventId="<{$eventId}>">
														加入备选
													</a>
												</if>
											</span>
										</td>
									</volist>
								</tr>
                                                                </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</block>
<block name="footer">
    <div class="weui-tabbar">
        <a href="/User/OrderHouse/index/id/<{$eventId}>.html" class="weui-tabbar__item ">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-list weui-tabbar__icon" ></i>
            </span>
            <p class="weui-tabbar__label">房源列表</p>
        </a>
        <a href="/User/OrderHouse/collectedroom/id/<{$eventId}>.html" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-heart-o weui-tabbar__icon" ></i>
                <span class="weui-badge user-project-view-content-gwc-num" style="position: absolute;top: 2px;right: -10px;display:none;">0</span>
            </span>
            <p class="weui-tabbar__label">备选房源</p>
        </a>
        <a href="/User/OrderHouse/myorder/id/<{$eventId}>.html" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-user-o weui-tabbar__icon" style="font-size:21px;"></i>
                 <if condition="!empty($orderedRoom)">
                    <span class="weui-badge weui-badge_dot" style="position: absolute;top: 2px;right: 0px;"></span>
                </if>
            </span>
            <p class="weui-tabbar__label">我的订单</p>
        </a>
    </div>
</block>
<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_compare" iscroller_select_id="iscroller-wrapper" />
</block>

