.marketing-control-wrapper {
	width: 100%;
	height: auto;
}
.marketing-control {
	/*width: 1335px;*/
        width: 100%;
        height: 100%;
	padding: 8px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f7f1f1;
	-webkit-box-shadow: 0 0 35px 5px rgba(43, 222, 192, .11);
    -moz-box-shadow: 0 0 35px 5px rgba(43, 222, 192, .11);
    box-shadow: 0 0 35px 5px rgba(43, 222, 192, .11);
	background: rgba(240, 250, 251, .25);
}
.marketing-control-title  {
    background: inherit;
    background-color: #F0F5FB;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	padding: 10px;
}
.marketing-control-select-project-title {
	color:rgb(51, 51, 51);
	display:inline;
	font-family:"Arial Negreta", "Arial Normal", Arial;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	height:auto;
	line-height:normal;
	text-align:left;
	visibility:visible;
	white-space:nowrap;	
	padding-left: 25px;
}
.marketing-control-select-project-select {
    height: 25px;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    /* border-color: rgba(0, 204, 204, 1); */
    border: 0;
    border-bottom: 1px solid rgb(0, 204, 204);
}
.marketing-control-select-project-select option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.marketing-control-select-build {
	margin-left: 15px;
	display:inline;
	position: relative;
}
.marketing-control-select-build-btn {
    width: 106px;
    color: #333333;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 204, 204, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;	
	padding: 3px 15px;
}
.marketing-control-select-build-show {
	width: 102px;
    word-wrap: break-word;	
	font-size: 14px;
}
.marketing-control-select-build-list {
	width:auto;
	border:1px solid #333333; 
	background-color:#fff; 
	/*position:absolute; */
	left: 0;
	z-index:10; 
	margin-top:1px; 
	display:none;
	padding: 10px 0;
}
.marketing-control-select-build-list li {
	height:24px; 
	line-height:24px;
	min-width: 115px;
}
.marketing-control-select-build-list li label {
	display:block; 
	height:24px; 
	color:#333333; 
	text-decoration:none; 
	padding-left:10px; 
	padding-right:10px;
}
.marketing-control-select-build-list li label:hover{
	background-color:#CCC;
}

.span-build-list-name {
	background:#FFF;
	border:1px solid #00bcd4;
	border-radius:5px;
	line-height: 22px;
	font-weight: bold;
        color: #797979;
        width:40px;
        text-align: center;
        margin-top: 9px;
        font-weight: 400;
}

.marketing-control-select-build-list-tip-info {
	display: block;
	min-width: 115px;
	font-size: 13px;
	text-align: center;
}

.marketing-control-search-input-wrapper {
	position: relative;
}
.marketing-control-search-room-list {
    width: auto;
    border: 1px solid #777;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 10;
    margin-top: 1px;
	display: none;
    padding: 0;
}
.marketing-control-search-room-list .marketing-control-content-rooms-box-room-click {
	font-weight: bold;
	font-size: 15px;
}
.marketing-control-search-room-list li {
    height: 24px;
    line-height: 24px;
    min-width: 221px;
	text-align: left;
    border-bottom: 1px solid #777;
}
.marketing-control-search-room-list li:last-child {
    border-bottom: 0;
}
.marketing-control-search-room-list li label {
	padding: 0 10px;
	display: block;
    height: 24px;
    color: #333333;
    text-decoration: none;
	font-size: 13px;
	color: #F00;
	cursor: pointer;
}
.marketing-control-search-room-list li label:hover {
    background-color: pink;
	font-weight: bold;
        /*font-size: 15px;*/
}

.marketing-control-search-input {
	padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    /*width: 223px;*/
    height: 25px;
    background-color: #fff;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #1E1E1E;
    text-align: left;
    border-color: transparent;
    outline-style: none;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    /*border: 1px solid rgba(0, 204, 204, 1);*/
    border-bottom: 1px solid rgb(0, 204, 204);
    padding: 3px 10px;
    background: url(../img/search.png) no-repeat scroll 95% 15px/18px 18px;
}
.marketing-control-search-input:focus {
	/*background-color: rgba(255, 204, 255, 1);*/
}
.marketing-control-search-btn {
    width: 68px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 204, 204, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #1E1E1E;
	padding: 3px 15px;
	margin-left: 10px;
	cursor: pointer;
}

.marketing-control-content-wrapper {
	/** margin-top: 15px; */
        height:95%;
}
.marketing-control-content-rooms {
	width: 77%;
        height:100%;
}
.marketing-control-content-room-info-wrapper {
	width: 23%;
        height:100%;
	position: relative;
}
.marketing-control-content-room-info-box {
	background: #F0F5FB;
	border: 1px solid #797979;
	height: 100%;
}
.marketing-control-content-room-info {
	background-color: #ffffff;
    box-sizing: border-box;
	font-size: 14px;
	padding: 5px 13px 5px 0;
	background: #FFF;
}
.marketing-control-content-room-title {
	text-align: center;
	/*padding: 10px 0 15px 0;*/
	font-size: 110%;
	font-weight:700;
	color: #848282;
}
.marketing-control-content-room-box {
	padding: 5px 0;
}
.marketing-control-content-room-box-title {
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	color: #848282;
}
.marketing-control-content-room-box-content {
}
.marketing-control-content-room-box-input {
	width: 100%;
	padding: 2px 5px;
	border: 0;
    border-bottom: 1px solid rgba(79, 83, 83, 0.2);
}
.marketing-control-content-room-box-input-focus:focus {
	box-shadow: 0 0 15px #f1dfeb;
}

.marketing-control-content-room-info-option {
	padding: 15px 0;
	/*height: 106px;*/
        height: 221px;
	/*border-top: 1px solid #797979;*/
}
.marketing-control-content-room-option-btn {
	font-weight: 700;
	border: 1px solid rgba(0, 204, 204, 1);
	border-radius: 5px;
	font-size: 14px;
    color: #1E1E1E;
	padding: 5px 15px;
	background: #FFF;
	float:right;
	margin-right: 20px;
}
.marketing-control-content-room-user-name {
	color: #00BCD4;
    font-weight: 700;
}
.marketing-control-content-rooms-box {
	border: 1px solid #797979;
	background: #F0F5FB;
         margin-right: 5px;
         height:100%;
}

.marketing-control-content-rooms-list-wrapper {
	position:relative; 
	overflow: hidden;
	/** height: 652px; */
	height:100%;
}
.marketing-control-content-rooms-list-info {
	height: auto;
	margin-left: 5px;
}
.marketing-control-content-rooms-list {
	width: auto;
	margin-bottom: 10px;
}
.marketing-control-content-rooms-list-box {
	/* margin: 0 5.9px; */
	margin: 0 5px;
}
.marketing-control-content-rooms-box-build {
	text-align: center;
	font-weight: 700;
	border: 1px solid #FFF;
	background: #00bcd4;
	font-size: 18px;
	color:#FFF;
	border-radius: 50%;
    width: 60px;
    line-height: 60px;
    position: absolute;
	margin-left: -8px;
    margin-top: 3px;
}

.marketing-control-content-rooms-box-unit {
}
.marketing-control-content-rooms-box-unit-title {
	border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
	background: #00bcd4;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	padding: 3px 0;
	color:#FFF;
	margin-top: 30px;
         height: 20px;
}
.marketing-control-content-rooms-box-room-box tr td {
	width: 30px;
    word-wrap: break-word;
	border: 1px solid #797979;
	width: 52px;
    height: 30px;
	font-size: 85%;
	color: #333;
	text-align: center;
	background: #fff;
	border: 1px solid rgba(0, 204, 204, 0.2);;
}
.marketing-control-content-rooms-box-room-box tr td:last-child {
	/*border-right: 1px solid #00cccc;*/
}
.marketing-control-content-rooms-box-room-box tr td.marketing-control-content-rooms-box-room-floor {
	border: 1px solid #FFF;
	background: #00bcd4;
	width: 28px;
        min-width:28px;
	color:#FFF
        
}
.marketing-control-content-rooms-box-room-box tr td.marketing-control-content-rooms-box-room-num {
	cursor: pointer;
        display:inline-block;
        line-height: 30px;
}
.marketing-control-content-rooms-box-room-box tr td.marketing-control-content-rooms-box-room-num:hover {
	background: #ffdff5;
	/*font-weight: 700;*/
	border: 1px solid #00cccc;
}
.marketing-control-content-rooms-box-room-box tr td.marketing-control-content-rooms-box-room-selected {
	background: #ff0000;
	color:#FFF;
}
.marketing-control-content-rooms-box-room-box tr td.marketing-control-content-rooms-box-room-click {
	background: #FFEB3B;
	font-weight: bold;
	color:#111;
}

.marketing-control-content-rooms-help {
	margin-top: 0;
}
.marketing-control-content-rooms-help-box {
	padding: 15px 25px;
	border-top: 1px solid #797979;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.marketing-control-content-rooms-help-box-title {
	font-weight: bold;
}
.marketing-control-sale-icon  {
	/*border: 1px solid #00cccc;*/
	background: #fff;
	padding: 5px 15px;
	font-size: 14px;
	margin-left: 10px;
}
.marketing-control-no-sale {
	background: #fff;
}
.marketing-control-haved-sale {
	background: #f00;
	color: #FFF;
}
.marketing-control-selected-sale {
	font-weight: bold;
    background:#FFEB3B;
}

/* 背景 */
.marketing-control-content-rooms-list-box-bg1 .marketing-control-content-rooms-box-build {
	background: #00bcd4;
}
.marketing-control-content-rooms-list-box-bg1 .marketing-control-content-rooms-box-unit-title {
	background: #00bcd4;
}
.marketing-control-content-rooms-list-box-bg1 .marketing-control-content-rooms-box-room-floor {
	background: #00bcd4;
}

.marketing-control-content-rooms-list-box-bg2 .marketing-control-content-rooms-box-build {
	background: #81ab28;
}
.marketing-control-content-rooms-list-box-bg2 .marketing-control-content-rooms-box-unit-title {
	background: #81ab28;
}
.marketing-control-content-rooms-list-box-bg2 tr td.marketing-control-content-rooms-box-room-floor {
	background: #81ab28;
}

.marketing-control-content-rooms-list-box-bg3 .marketing-control-content-rooms-box-build {
	background: #f39900;
}
.marketing-control-content-rooms-list-box-bg3 .marketing-control-content-rooms-box-unit-title {
	background: #f39900;
}
.marketing-control-content-rooms-list-box-bg3 tr td.marketing-control-content-rooms-box-room-floor {
	background: #f39900;
}

.marketing-control-content-rooms-list-box-bg0 .marketing-control-content-rooms-box-build {
	background: #7d43ea;
}
.marketing-control-content-rooms-list-box-bg0 .marketing-control-content-rooms-box-unit-title {
	background: #7d43ea;
}
.marketing-control-content-rooms-list-box-bg0 tr td.marketing-control-content-rooms-box-room-floor {
	background: #7d43ea;
}


.input_ws {
	color:#000;
}

.input_ys {
	color:red;font-weight:bold;
}

.div-ztyy {
	margin-left:0;
}

.select-build-list-li-select {
	/*cursor:pointer;
	margin-bottom: 5px;*/
}

.span-build-list-name-selected {
	background:#62a8d1;
	border-radius:5px;
	line-height: 22px;
        color: #FFF;
        font-weight: 400;
        text-align: center;
        width:40px;
        margin-top: 9px;
        border:1px solid #62a8d1;
}
#div-qzxfdhk
{
	position:absolute;z-index:999; 
	width:550px;
	/*height:120px;*/
	background:rgb(0, 188, 212);
	border-radius:10px;display:none;
	-webkit-box-shadow:0 0 10px rgba(5, 74, 83, 0.95);  
	-moz-box-shadow:0 0 10px rgba(5, 74, 83, 0.95);  
	box-shadow:0 0 10px rgba(5, 74, 83, 0.95);  
}
.qzxf-input-title
{
	padding:5px 0;margin-left:5%;
	width:30%;color:#FFF;font-weight: 700;
}
.qzxf-input-btn{
	padding: 2px 10px;width: 90%;margin-left: 5%;
	background: #FFF;
	border: 1px solid #FFF;
	color: rgba(5, 74, 83, 0.95);
	font-weight: 700;
	border-radius: 5px;
	cursor:pointer;
}
.div-cz-right{
	background-color: #fff;
	padding: 5px 13px 5px 0;
	border-left: 2px solid #00BCD4;
	margin-top:10px;
}

/*check美化*/
.chk_1 { 
    display: none; 
} 
 
.chk_1 + label { 
    background-color: #FFF; 
    border: 1px solid #C1CACA; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); 
    /*padding: 9px; */
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 4px;
} 
.chk_1 + label:active { 
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); 
} 
 
.chk_1:checked + label { 
    background-color: #ECF2F7; 
    border: 1px solid #92A1AC; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); 
    color: #243441; 
} 
 
.chk_1:checked + label:after { 
    content: '\2714'; //勾选符号 
    position: absolute; 
    top: 0px;
    left: 0px;
    color: #758794;
    width: 50%;
    text-align: center;
    font-size: 0.4em;
    padding: 1px 0 0 0;
	/*vertical-align: text-top; */
} 

.ul-select-bld .marketing-control-select-build-list-li {
	padding: 2px 6px;
}
.marketing-control-content-room-arrow-bottom {
	float:right;
	text-align:right;
	border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #000;
    display: block;
    height: 0;
    width: 0;
	margin-top: 8px;
    margin-right: 5px;
}


/** 左侧登录切换 */
.marketing-control-login {
	position: fixed;
	bottom: 1%;
    left: 0;
	overflow: hidden;
    z-index: 99999;
	width: 45px;
	display: block;
}
.marketing-control-login-box {
	padding-right: 45px;
	border: 1px solid #f3eeee;
}
.marketing-control-login-btn {
    position: absolute;
    top: 1px;
    right: 0;
}
.marketing-control-login-btn-box {
	width: 45px;
    cursor: pointer;
	padding: 12px 0;
	background: #F00;
	border-radius: 0 5px 5px 0; 
}
.marketing-control-login-btn-a {
	display: block;
	padding-left: 5px;
	color: #FFF;
	font-weight: bold;
}
.marketing-control-login-content {
}
.marketing-control-login-content-box {
	width: 100px;
	padding: 12px 0;
	background: #FFF;
}
.marketing-control-login-content-out {
	padding-left: 5px;
}

@keyframes showxfcg
{
from {margin-left:5%;}
to {margin-left:40%;}
}
@-moz-keyframes showxfcg
{
from {margin-left:5%;}
to {margin-left:40%;}
}
@-webkit-keyframes showxfcg
{
from {margin-left:5%;}
to {margin-left:40%;}
}
@-o-keyframes showxfcg
{
from {margin-left:5%;}
to {margin-left:40%;}
}
#xfcgys
{
    position: absolute;color: white;margin-left: 5%;top: 2px;font-size: 20px;font-weight: bold;display:none;
    animation: showxfcg 0.3s;
    -moz-animation: showxfcg 0.3s;	/* Firefox */
    -webkit-animation: showxfcg 0.3s;	/* Safari 和 Chrome */
    -o-animation: showxfcg 0.3s;	/* Opera */
    -webkit-animation-fill-mode:forwards; /*运行后停留在最后的地方*/
}





