<extend name="Common/base" />

<block name="header">
    <link href="/Public/sales/css/saler.css" type="text/css" rel="stylesheet"/>
    <!--<script src="/Public/sales/js/saler.js"></script>
    <script src="/Public/sales/js/data.js"></script>-->
	<div class="saler-project-view-header-wrapper">
		<div class="clearfix saler-project-view-header">
			<div class="fl wm25 saler-project-view-header-return">
                            <span class="saler-project-view-header-return-box return-btn">
                                    <a href="javascript:void(0);" class="saler-project-view-header-return-btn">返回</a>
                            </span>
			</div>
			<div class="fl wm50 saler-project-view-header-content">
                            <span class="saler-project-view-header-content-box-no-arrow">
                                    <span class="saler-project-view-header-content-box-name">房源搜索</span>
                            </span>
			</div>
			<div class="fl wm25 saler-project-view-header-right"></div>
		</div>
	</div>
</block>

<block name="content">
	<div class="saler-search-base saler-search-project-id" data-id="<{$project_id|default=0}>">
		<div class="saler-search-wrapper">
			<div class="saler-search">
				<div class="clearfix saler-search-form">
					<div class="fl wm65 saler-search-form-input">
						<div class="saler-search-form-input-box">
							<input class="border-sizing saler-search-form-input-box-input js-saler-search-form-input-box-input" type="text" value="" placeholder="搜索户型、楼层、房号">
						</div>
					</div>
					
					<div class="fl wm35 saler-search-form-choose">
						<div class="saler-search-form-choose-box">
							<span class="saler-search-form-choose-btn js-saler-search-form-choose-btn">
								多条件筛选
							</span>
							
							<div class="saler-search-form-choose-option js-saler-search-form-choose-option">
								<div class="saler-search-form-choose-option-box">
									<div class="clearfix saler-search-form-choose-option-list saler-search-form-choose-option-list-build">
										<div class="fl saler-search-form-choose-option-title">
											选择楼栋：
										</div>
										<div class="fl saler-search-form-choose-option-content">
											<volist name="build_list" id="build_vo" key="build_k">
												<a href="javascript:void(0);" data-id="<{$build_vo.id|default='0'}>" class="saler-search-form-choose-option-a js-saler-search-form-choose-option-a saler-search-form-choose-option-build">
													<{$build_vo.buildname|default='1'}>
												</a>
											</volist>
										</div>
									</div>
									<div class="clearfix saler-search-form-choose-option-list">
										<div class="fl saler-search-form-choose-option-title">
											楼层范围：
										</div>
										<div class="fl clearfix saler-search-form-choose-option-content">
											<div class="fl saler-search-form-choose-option-content-start">
												<input class="saler-search-form-choose-option-floor-start" type="number" value="">
											</div>
											<div class="fl saler-search-form-choose-option-content-info">
												到
											</div>
											<div class="fl saler-search-form-choose-option-content-end">
												<input class="saler-search-form-choose-option-floor-end" type="number" value="">
											</div>
										</div>
									</div>
									<div class="clearfix saler-search-form-choose-option-list">
										<div class="fl saler-search-form-choose-option-title">
											面积范围：
										</div>
										<div class="fl clearfix saler-search-form-choose-option-content">
											<div class="fl saler-search-form-choose-option-content-start">
												<input class="saler-search-form-choose-option-area-start" type="number" value="">
											</div>
											<div class="fl saler-search-form-choose-option-content-info">
												到
											</div>
											<div class="fl saler-search-form-choose-option-content-end">
												<input class="saler-search-form-choose-option-area-end" type="number" value="">
											</div>
										</div>
									</div>
									<div class="clearfix saler-search-form-choose-option-list">
										<div class="fl saler-search-form-choose-option-title">
											价格范围(万)：
										</div>
										<div class="fl clearfix saler-search-form-choose-option-content">
											<div class="fl saler-search-form-choose-option-content-start">
												<input class="saler-search-form-choose-option-price-start" type="number" value="">
											</div>
											<div class="fl saler-search-form-choose-option-content-info">
												到
											</div>
											<div class="fl saler-search-form-choose-option-content-end">
												<input class="saler-search-form-choose-option-price-end" type="number" value="">
											</div>
										</div>
									</div>
									<div class="clearfix saler-search-form-choose-option-list">
										<div class="fl saler-search-form-choose-option-title">
											房间户型：
										</div>
										<div class="fl saler-search-form-choose-option-content">
											<volist name="hx_list" id="hx_vo" key="hx_k">
												<a href="javascript:void(0);" data-id="<{$hx_vo.hx|default=''}>" class="saler-search-form-choose-option-a js-saler-search-form-choose-option-a saler-search-form-choose-option-hx">
													<{$hx_vo.hx|default=''}>
												</a>
											</volist>
										</div>
									</div>
									
									<div class="saler-search-form-choose-option-footer">
										<div class="saler-search-form-choose-option-footer-btns">
											<span class="saler-search-form-choose-option-footer-btn js-saler-search-form-choose-option-footer-btn">
												确定
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="saler-search-form-choose-option-shadow js-saler-search-form-choose-option-shadow"></div>
						</div>
					</div>
				</div>
				
				<div class="clearfix saler-search-filter" style="display:none;">
					<div class="fl wm45 saler-search-filter-title">
						<div class="saler-search-filter-title-box">
							<span class="saler-search-filter-title-info">
								房源状态
							</span>
						</div>
					</div>
					
					<div class="fl wm55 saler-search-filter-tabs">
						<div class="saler-search-filter-tabs-box">
							<div class="saler-search-filter-tabs-labels">
								<label class="saler-search-filter-tabs-label">
									<input class="saler-search-filter-sale saler-search-filter-tabs-all" type="radio" value="all" name="saler-search-filter-sale" checked="1">所有
								</label>
								<label class="saler-search-filter-tabs-label">
									<input class="saler-search-filter-sale saler-search-filter-tabs-no-sale" type="radio" value="-1" name="saler-search-filter-sale">待售
								</label>
								<label class="saler-search-filter-tabs-label">
									<input class="saler-search-filter-sale saler-search-filter-tabs-has-sale" type="radio" value="1" name="saler-search-filter-sale">已售
								</label>
							</div>
						</div>
					</div>
				</div>
				<div>
                                    <table style="width:100%;">
                                            <tr class="saler-search-filter-table-tr-title">
                                                    <td class="saler-search-filter-table-td saler-search-filter-table-title">
                                                            <div class="saler-search-filter-table-title-box">
                                                                    <span class="saler-search-filter-table-title-info">
                                                                            楼栋、单元
                                                                    </span>
                                                            </div>
                                                    </td>
                                                    <td class="saler-search-filter-table-td saler-search-filter-table-title">
                                                            <div class="saler-search-filter-table-title-box">
                                                                    <span class="saler-search-filter-table-title-info">
                                                                            楼层
                                                                    </span>
                                                            </div>
                                                    </td>
                                                    <td class="saler-search-filter-table-td saler-search-filter-table-title">
                                                            <div class="saler-search-filter-table-title-box">
                                                                    <span class="saler-search-filter-table-title-info">
                                                                            房号
                                                                    </span>
                                                            </div>
                                                    </td>
                                                    <td class="saler-search-filter-table-td saler-search-filter-table-title">
                                                            <div class="saler-search-filter-table-title-box">
                                                                    <span class="saler-search-filter-table-title-info">
                                                                            户型
                                                                    </span>
                                                            </div>
                                                    </td>
                                                    <td class="saler-search-filter-table-td saler-search-filter-table-title">
                                                            <div class="saler-search-filter-table-title-box">
                                                                    <span class="saler-search-filter-table-title-info">
                                                                            面积(㎡)
                                                                    </span>
                                                            </div>
                                                    </td>
                                                    <td class="saler-search-filter-table-td saler-search-filter-table-title">
                                                            <div class="saler-search-filter-table-title-box">
                                                                    <span class="saler-search-filter-table-title-info">
                                                                            总价(元)
                                                                    </span>
                                                            </div>
                                                    </td>
                                            </tr>
                                    </table>
                                </div>
				<div id="iscroller-wrapper" class="iscroller-style saler-search-filter-rooms-wrapper" style="top:97px">
					<div id="iscroller-scroller" class="iscroller-scroller-style saler-search-filter-rooms">
						<table class="saler-search-filter-table saler-search-filter-rooms-list">
							<tr class="saler-search-filter-table-tr-title" style="display: none;">
								<td class="saler-search-filter-table-td saler-search-filter-table-title">
									<div class="saler-search-filter-table-title-box">
										<span class="saler-search-filter-table-title-info">
											楼栋、单元
										</span>
									</div>
								</td>
								<td class="saler-search-filter-table-td saler-search-filter-table-title">
									<div class="saler-search-filter-table-title-box">
										<span class="saler-search-filter-table-title-info">
											楼层
										</span>
									</div>
								</td>
								<td class="saler-search-filter-table-td saler-search-filter-table-title">
									<div class="saler-search-filter-table-title-box">
										<span class="saler-search-filter-table-title-info">
											房号
										</span>
									</div>
								</td>
								<td class="saler-search-filter-table-td saler-search-filter-table-title">
									<div class="saler-search-filter-table-title-box">
										<span class="saler-search-filter-table-title-info">
											户型
										</span>
									</div>
								</td>
								<td class="saler-search-filter-table-td saler-search-filter-table-title">
									<div class="saler-search-filter-table-title-box">
										<span class="saler-search-filter-table-title-info">
											面积(㎡)
										</span>
									</div>
								</td>
								<td class="saler-search-filter-table-td saler-search-filter-table-title">
									<div class="saler-search-filter-table-title-box">
										<span class="saler-search-filter-table-title-info">
											总价(元)
										</span>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>				
				
			</div>
		</div>
	</div>
</block>

<block name="footer">
	<!--
	<div class="saler-footer-help-wrapper">
		<div class="saler-footer-help">
			<span class="saler-footer-help-btn saler-footer-help-btn-no-sale">
				待售
			</span>
			<span class="saler-footer-help-btn saler-footer-help-btn-saled">
				已售
			</span>
		</div>
	</div>
	-->
</block>

<block name="footer_js">
<script>
$(function() {
	$(".js-saler-search-form-input-box-input").focus();

});
</script>

<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_search" iscroller_select_id="iscroller-wrapper" />
</block>
