<extend name="Common/base" />

<block name="breadcrumb_active">
	<li class="active">桌面</li>
</block>

<block name="page_header_sub_name">
	查看
</block>

<block name="page_alert_success">
	<include file="Common/alert-success" />
</block>

<block name="page_content">
<div class="row">
	<div class="space-6"></div>

	<div class="col-sm-7 infobox-container">
		<!--<div class="infobox infobox-pink  ">
			<div class="infobox-icon">
				<i class="icon-shopping-cart"></i>
			</div>

			<div class="infobox-data">
				<span class="infobox-data-number">8</span>
				<div class="infobox-content">新认购</div>
			</div>

			<div class="stat stat-important">4%</div>
		</div>

		<div class="infobox infobox-orange2  ">
			<div class="infobox-chart">
				<span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"><canvas width="44" height="24" style="display: inline-block; width: 44px; height: 24px; vertical-align: top;"></canvas></span>
			</div>

			<div class="infobox-data">
				<span class="infobox-data-number">6,251万</span>
				<div class="infobox-content">本月销售额</div>
			</div>

			<div class="badge badge-success">
				7.2%
				<i class="icon-arrow-up"></i>
			</div>
		</div>

		<div class="infobox infobox-blue2  ">
			<div class="infobox-progress">
				<div class="easy-pie-chart percentage easyPieChart" data-percent="42" data-size="46" style="width: 46px; height: 46px; line-height: 46px;">
					<span class="percent">42</span>%
				<canvas width="46" height="46"></canvas></div>
			</div>

			<div class="infobox-data">
				<span class="infobox-text">已售房间</span>

				<div class="infobox-content">
					<span class="bigger-110">~</span>
					剩余102套
				</div>
			</div>
		</div>-->
	</div>

	<div class="vspace-sm"></div>

	

</div>
</block>

<block name="plugin_js">
<!--[if lte IE 8]>
  <script src="__ASSETS__/js/excanvas.min.js"></script>
<![endif]-->

<script src="__ASSETS__/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__ASSETS__/js/jquery.ui.touch-punch.min.js"></script>
<script src="__ASSETS__/js/jquery.slimscroll.min.js"></script>
<script src="__ASSETS__/js/jquery.easy-pie-chart.min.js"></script>
<script src="__ASSETS__/js/jquery.sparkline.min.js"></script>
<script src="__ASSETS__/js/flot/jquery.flot.min.js"></script>
<script src="__ASSETS__/js/flot/jquery.flot.pie.min.js"></script>
<script src="__ASSETS__/js/flot/jquery.flot.resize.min.js"></script>
</block>

<block name="ace_add_js">
<script type="text/javascript">
	
</script>
</block>
