<extend name="Common/base" />

<block name="header">
    <style>
        .speedbuy-bg
		{
			height:100%;width:100%;border-top: 1px solid #03A9F4;
        }
		.speedbuy-title
		{
			height:60px;width:100%;
		}
		.speedbuy-djs
		{
			position:absolute;top:3px;left:8%;
		}
		.speedbuy-djs .djs-ul
		{
			text-align:center;
			font-size:15px;
			font-weight:bold;
		}
		.djs-time
		{
			color:#FFF;
			font-size:23px;
			background:#000;
			padding:0 6px 0 6px;
		}
		.begin-time
		{
			width:100%;height:60px;line-height:60px;margin-left:42%;
			font-size:18px;
			font-weight:bold;
		}
		.remark{
			position:absolute;top:3px;right:5%;
			color:#BFBFBF;
		}
		.speedbuy-content
		{
			height:100%;
			background:#91AEC5;
			margin-top:1px;
		}
		.del-div{
			margin-left:12px;margin-top:25px;width:25px;line-height:25px;text-align:center;font-size:10px;font-weight:bold;color:red;background:#FFF;border:1px solid red;border-radius:50%;
			-webkit-box-shadow: 0 0 8px #D20E50;
			-moz-box-shadow: 0 0 8px #D20E50;
			box-shadow: 0 0 8px #D20E50;
		}
		.buy-span
		{
			background:#BFBBBB;
			color:#FFF;
			padding:2px 8px 2px 8px;border-radius:5px;
		}
		.buy-button
		{
			background:red;
			-webkit-box-shadow: 0 0 8px #D20E50;
			-moz-box-shadow: 0 0 8px #D20E50;
			box-shadow: 0 0 8px #D20E50;
		}
		.user-voucher-footer-tabs-btn{padding:8px 30px;background:#03a9f4;color:#D6D5D5;}
		.user-voucher-footer-tabs-btn-select{background:#FFF;color:#03a9f4;font-weight:bold;}
    </style>
    <div id="zz01" class="div-zz" ></div>
    <div class="common-header-wrapper">
        <div class="clearfix common-header">
            <div class="fl wm25 arrow-left common-header-return user-header-return">
                <span class="common-header-return-box return-btn">
                    <a href="javascript:void(0);" class="common-header-return-btn">返回</a>
                </span>
            </div>
            <div class="fl wm50 common-header-content js-common-header-content">
                <span class="common-header-content-box-no-arrow">
                    <span class="common-header-content-box-name">极速秒购</span>
                </span>
            </div>
            <div class="fl wm25 common-header-right">
                <div class="common-header-right-box clearfix">
                    <a href="#" class="common-header-right-btn user-activity-header-right-btn">
                        <i class="icon-home icon-home-header"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="content">
    <div class="user-project-view-base" style="background:#FFF">
        <div class="user-project-view-content-wrapper">
            <div id="iscroller-wrapper" class="iscroller-style user-activity">
                <div style="height:100%" id="iscroller-scroller" class="iscroller-scroller-style">
					<div class="speedbuy-bg" data_ishavehd="<{$is_havehd}>" data_id="<{$dqhd['id']}>">
						<div class="speedbuy-title">
							<div style="position:absolute;color:#FFF;z-index=-1;">
								<span class="a" id="djstemp"></span>秒<span class="b"></span>
							</div>
							<div class="speedbuy-djs">
								<ul class="djs-ul">
									<li id="djs-type-title">倒计时(秒)</li>
									<li>
										<span class="bw djs-time" >0</span>
										<span class="sw djs-time" >0</span>
										<span class="gw djs-time" >0</span>
									</li>
								</ul>
							</div>
							<div class="begin-time" >9:00准时开启</div>
							<div class="remark" ><u>说明</u> </div>
						</div>
						<div class="speedbuy-content">
							<ul>
								<li style="width:100%;height:75px;line-height:75px;">
									<ul style="height:75px">
										<li style="float:left;width:14%;height:100%;">
											<div class="del-div del-button">删</div>
											<div style="margin-top:-40px;height:55px;border-right:1px solid #FFF;"></div>
										</li>
										<li style="float:left;width:68%;height:100%;">
											<ul style="margin-left:15px;color:#FFF">
												<li style="height:24px;line-height:24px;padding: 4px 5px 0px 5px;font-size:16px;font-weight:bold;">
												1栋1单元-1306
												<span style="font-size:12px;font-weight:400;">&nbsp;&nbsp;&nbsp;户型：A1</span>
												</li>
												<li style="height:20px;line-height:20px;padding: 2px 5px 0px 5px;font-size:13px;">
												面积(㎡)：建筑 118&nbsp;&nbsp;&nbsp;&nbsp;套内 101
												</li>
												<li style="height:20px;line-height:20px;padding: 2px 5px 0px 5px;font-size:13px;">
												标准总价：¥ <span style="font-weight:bold;">1,326,000.00</span>
												</li>
											</ul>
										</li>
										<li style="float:left;width:17%;height:100%;">
											<div style="line-height:25px;margin-top:25px;"><span class="buy-span">认购</span></div>
										</li>
									</ul>	
									<ul style="height:75px">	
										<li style="float:left;width:14%;height:100%;background:#FFF">
											<div class="del-div del-button">删</div>
											<div style="margin-top:-40px;height:55px;border-right:1px solid #2196F3;"></div>
										</li>
										<li style="float:left;width:68%;height:100%;background:#FFF">
											<ul style="margin-left:15px;color:#2196F3">
												<li style="height:24px;line-height:24px;padding: 4px 5px 0px 5px;font-size:16px;font-weight:bold;">
												1栋1单元-1306
												<span style="font-size:12px;font-weight:400;">&nbsp;&nbsp;&nbsp;户型：A1</span>
												</li>
												<li style="height:20px;line-height:20px;padding: 2px 5px 0px 5px;font-size:13px;">
												面积(㎡)：建筑 118&nbsp;&nbsp;&nbsp;&nbsp;套内 101
												</li>
												<li style="height:20px;line-height:20px;padding: 2px 5px 0px 5px;font-size:13px;">
												标准总价：¥ <span style="font-weight:bold;">1,326,000.00</span>
												</li>
											</ul>
										</li>
										<li style="float:left;width:17%;height:100%;background:#FFF">
											<div style="line-height:25px;margin-top:25px;"><span class="buy-span">认购</span></div>
										</li>
									<ul>
								</li>
							</ul>
						</div>
					</div>	
                </div>
            </div>
        </div>
    </div>
</block>

<block name="header_config">
    <script type="text/javascript">
        var auction_url = {
            click: '<{:U("auction/click")}>',
			result:'<{:U("auction/result")}>',
        };
		
		$(document).ready(function() {
			var $ishavehd=1;
			if ($ishavehd==1)
			{
				var $djs=$("#djstemp").text();
				//var times=$djs*100;
				var times=10*100;
				countTime = setInterval(function() {
					times = --times < 0 ? 0 : times;
					var ms = Math.floor(times / 100).toString();
					if(ms.length <= 1) {
						ms = "0" + ms;
					}
					var hm = Math.floor(times % 100).toString();
					if(hm.length <= 1) {
						hm = "0" + hm;
					}
					if(times == 0) {
						clearInterval(countTime);	
						$(".begin-time").text("抢购进行中...");
						$("#djs-type-title").text("剩余时限");
						$(".buy-span").addClass("buy-button");
						showjsdjs();
					}
					// 获取分钟、毫秒数
					$(".a").html(ms);
					$(".b").html(hm);
					
					var gw = Math.floor(ms%10);//个位
					var sw = Math.floor((ms%100)/10); //十位
					var bw = Math.floor(ms/100);//百位
					$(".bw").text(bw);
					$(".sw").text(sw);
					$(".gw").text(gw);
				}, 10);
			}
		});
		
		function showjsdjs()
		{
			var times=8*100;
			countTime = setInterval(function() {
				times = --times < 0 ? 0 : times;
				var ms = Math.floor(times / 100).toString();
				if(ms.length <= 1) {
					ms = "0" + ms;
				}
				var hm = Math.floor(times % 100).toString();
				if(hm.length <= 1) {
					hm = "0" + hm;
				}
				if(times == 0) {
					clearInterval(countTime);	
					$(".begin-time").text("活动已结束...");
					$("#djs-type-title").text("活动已结束");
					$(".buy-span").removeClass("buy-button");
				}
				// 获取分钟、毫秒数
				$(".a").html(ms);
				$(".b").html(hm);
				
				var gw = Math.floor(ms%10);//个位
				var sw = Math.floor((ms%100)/10); //十位
				var bw = Math.floor(ms/100);//百位
				$(".bw").text(bw);
				$(".sw").text(sw);
				$(".gw").text(gw);
			}, 10);
		}
		
		$(function() {
			$("body").on('click',".buy-button",function(){
				alert(111);
			});
		});
		
		/*$(".xxx").bind('click', function() {
		});*/
    </script>
</block>
<block name="footer">
	<include file="footer_tab"/>
</block>
<block name="footer_js">
    <include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_activity" iscroller_select_id="iscroller-wrapper" />
    <script src="__JS__/auction.js"></script>
</block>

