<div class="user-voucher-tip">
	<div class="user-voucher-tip-box">
		<div class="user-voucher-tip-content">
			<span>您有代金券可领取！
			<br/>
			<a href="<{:U('voucher/index')}>">请点击领取>></a>
			</span>
			<div class="user-voucher-tip-btn js-voucher-tip-close-btn">
				X
			</div>
		</div>
	</div>
</div>

<style>
.user-voucher-tip {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
.user-voucher-tip-box {
	position: fixed;
    top: 230px;
	left: 8%;
	right: 8%;
	text-align: center;
}
.user-voucher-tip-content {
	position: relative;
	z-index: 25;
	background: rgba(255,152,0,0.96);
	background: -webkit-linear-gradient(top, #FF5722 0%, #E91E63 120%);
    background: -moz-linear-gradient(top, #FF5722 0%, #E91E63 120%);
    background: -o-linear-gradient(top, #FF5722 0%, #E91E63 120%);
    background: -ms-linear-gradient(top, #FF5722 0%, #E91E63 120%);
    background: linear-gradient(top, #FF5722 0%, #E91E63 120%);
	border-radius: 5px;
	padding: 10px 5px;
	line-height: 40px;
	color:#FFF;
	font-size:14px;
}
.user-voucher-tip-content span {
	font-size:16px;
	font-weight:bold;
}
.user-voucher-tip-btn {
    width: 25px;
    line-height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-size: 115%;
    text-align: center;
    background-color: #FFF;
    border-radius: 50px;
    color: #F44336;
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: -10px;
    border: 1px solid #F44336;
	font-size:18px;
}
</style>
<script type="text/javascript">
$(function() {

	//超过时间关闭
	setTimeout(function() {
		$(".user-voucher-tip").fadeOut(3000);
	}, 5000);

	//关闭提示框
	$(document).on('click', '.js-voucher-tip-close-btn', function() {
		$(".user-voucher-tip").fadeOut(1000);
	});

});
</script>

