<extend name="Common/base" />

<block name="header">
    <style>
        .saler-saled-opended-content-box {
            font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            color: #03A9F4;
            text-align: right;
            word-wrap: break-word;
            text-rendering: optimizeLegibility;
            font-feature-settings: "kern" 1;
            -webkit-font-feature-settings: "kern";
            -moz-font-feature-settings: "kern";
            -moz-font-feature-settings: "kern=1";
        }
        .saler-saled-opended-content-time {
            font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
            color: #333333;
            text-align: center;
        }

    </style>
    <link rel="stylesheet" href="/Public/common/css/font-awesome-4.7.0/css/font-awesome.css">
	<div class="common-header-wrapper">
		<div class="clearfix common-header sales-statistics-header">
			<div class="fl wm25 arrow-left common-header-return">
				<span class="common-header-return-box return-btn">
					<a href="javascript:void(0);" class="common-header-return-btn">返回</a>
				</span>
			</div>
			<div class="fl wm50 common-header-content js-common-header-content">
				<span class="common-header-content-box-no-arrow">
					<span class="common-header-content-box-name">开盘情况走势(每30分钟)</span>
				</span>
			</div>
			<div class="fl wm25 common-header-right">&nbsp;</div>
		</div>
	</div>
</block>

<block name="content">
	<div id="iscroller-wrapper" class="iscroller-style common-content sales-saled-content">
		<div id="iscroller-scroller" class="iscroller-scroller-style saler-saled-content-wrapper">
		
			<div class="saler-saled-img saler-saled-opened">
				<div class="saler-saled-opened-box">
					<div class="saler-saled-opended-line-wrapper">
						<div class="saler-saled-opended-line"></div>
					</div>
					
					<div class="saler-saled-opended-table-wrapper">
						<table class="saler-saled-opended-table">
							<tr>
								<td class="saler-saled-opended-td saler-saled-opended-td-title">
									<div class="saler-saled-opended-title">
										<div class="saler-saled-opended-title-box">
											&nbsp;
										</div>
									</div>
								</td>
								
								<volist name="data" id="data_vo" key="data_k">
									<td class="saler-saled-opended-td">
										<div class="saler-saled-opended-content">
											<div class="saler-saled-opended-content-box saler-saled-opended-content-time">
												<{$data_vo.time}>
											</div>
										</div>
									</td>
								</volist>
							</tr>
							
							<tr>
								<td class="saler-saled-opended-td saler-saled-opended-td-title">
									<div class="saler-saled-opended-title">
										<div class="saler-saled-opended-title-box">
											数量(套)
										</div>
									</div>
								</td>
								
								<volist name="data" id="data_vo" key="data_k">
									<td class="saler-saled-opended-td">
										<div class="saler-saled-opended-content">
											<div class="saler-saled-opended-content-box">
												<{$data_vo.quantity}>
											</div>
										</div>
									</td>
								</volist>
							</tr>
							
							<tr>
								<td class="saler-saled-opended-td saler-saled-opended-td-title">
									<div class="saler-saled-opended-title">
										<div class="saler-saled-opended-title-box">
											金额(万)
										</div>
									</div>
								</td>
								
								<volist name="data" id="data_vo" key="data_k">
									<td class="saler-saled-opended-td">
										<div class="saler-saled-opended-content">
											<div class="saler-saled-opended-content-box">
												<{$data_vo.price}>
											</div>
										</div>
									</td>
								</volist>
							</tr>
						</table>
					</div>
				</div>
			</div>
			
			<div class="saler-saled-opened-statistics">
				<include file="sell_statistics" />
			</div>
			
		</div>
	</div>
</block>

<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_saled_opened" iscroller_select_id="iscroller-wrapper" />

<script src="__COMMON__/js/d3/d3.v3.min.js" type="text/javascript" charset="utf-8"></script>  
<script src="__COMMON__/js/d3/draw-line/draw-line.d3.js" type="text/javascript" charset="utf-8"></script>  
<script type="text/javascript">  
;(function($) {
	'use strict';
	
	var $sale_list = '<{$json_data}>';
	var $svg_id = '.saler-saled-opended-line';
	var time = $.parseJSON($sale_list);

	draw_line(time, $svg_id);

})(jQuery);	
</script>  
</block>

