<extend name="Common/base" />

<block name="header">
    <link rel="stylesheet" href="/Public/common/css/font-awesome-4.7.0/css/font-awesome.css">
	<div class="common-header-wrapper">
		<div class="clearfix common-header sales-statistics-header">
			<div class="fl wm25 arrow-left common-header-return">
				<span class="common-header-return-box return-btn">
					<a href="javascript:void(0);" class="common-header-return-btn">返回</a>
				</span>
			</div>
			<div class="fl wm50 common-header-content js-common-header-content">
				<span class="common-header-content-box-no-arrow">
					<span class="common-header-content-box-name"><{$title|default='已售占比排名'}></span>
				</span>
			</div>
			<div class="fl wm25 common-header-right">&nbsp;</div>
		</div>
	</div>
</block>

<block name="content">
	<div id="iscroller-wrapper" class="iscroller-style common-content sales-saled-content">
		<div id="iscroller-scroller" class="iscroller-scroller-style saler-saled-content-price">
		
			<table class="saler-saled-content-price-table">
				<tr class="saler-saled-content-price-tr saler-saled-content-price-tr-title">
					<td class="saler-saled-content-price-td">
						<span class="saler-saled-content-price-td-title">&nbsp;</span>
					</td>
					<td class="saler-saled-content-price-td">
						<span class="saler-saled-content-price-td-title">户型</span>
					</td>
					
					<eq name="sort" value="price">
						<td class="saler-saled-content-price-td saler-saled-content-price-sort saler-saled-content-price-sort-active js-saler-saled-content-price-sort" data-href="<{:U('saled/price', 'project_id='.$project_id.'&sort=price')}>">
							<span class="saler-saled-content-price-td-title">金额(万)</span>
							<div class="saler-saled-content-price-sort-icon-box">
								<span class="saler-saled-content-price-sort-icon-bottom"></span>
							</div>
						</td>
					<else/>
						<td class="saler-saled-content-price-td saler-saled-content-price-sort js-saler-saled-content-price-sort" data-href="<{:U('saled/price', 'project_id='.$project_id.'&sort=price')}>">
							<span class="saler-saled-content-price-td-title">金额(万)</span>
						</td>
					</eq>
					
					<eq name="sort" value="area">
						<td class="saler-saled-content-price-td saler-saled-content-price-sort saler-saled-content-price-sort-active js-saler-saled-content-price-sort" data-href="<{:U('saled/price', 'project_id='.$project_id.'&sort=area')}>">
							<span class="saler-saled-content-price-td-title">面积(㎡)</span>
							<div class="saler-saled-content-price-sort-icon-box">
								<span class="saler-saled-content-price-sort-icon-bottom"></span>
							</div>
						</td>
					<else/>
						<td class="saler-saled-content-price-td saler-saled-content-price-sort js-saler-saled-content-price-sort" data-href="<{:U('saled/price', 'project_id='.$project_id.'&sort=area')}>">
							<span class="saler-saled-content-price-td-title">面积(㎡)</span>
						</td>
					</eq>
					
					<eq name="sort" value="sets">
						<td class="saler-saled-content-price-td saler-saled-content-price-sort saler-saled-content-price-sort-active js-saler-saled-content-price-sort" data-href="<{:U('saled/price', 'project_id='.$project_id.'&sort=sets')}>">
							<span class="saler-saled-content-price-td-title">套数</span>
							<div class="saler-saled-content-price-sort-icon-box">
								<span class="saler-saled-content-price-sort-icon-bottom"></span>
							</div>
						</td>
					<else/>
						<td class="saler-saled-content-price-td saler-saled-content-price-sort js-saler-saled-content-price-sort" data-href="<{:U('saled/price', 'project_id='.$project_id.'&sort=sets')}>">
							<span class="saler-saled-content-price-td-title">套数</span>
						</td>
					</eq>
					
				</tr>
				
				<volist name="prices" id="prices_vo" key="prices_k">
					<tr class="saler-saled-content-price-tr">
						<td class="saler-saled-content-price-td">
							<elt name="prices_k" value="3">
								<img class="saler-saled-content-price-img" src="__IMG__/saled-number<{$prices_k}>.png">
							<else/>
								<{$prices_k}>
							</elt>
						</td>
						<td class="saler-saled-content-price-td">
							<{$prices_vo.hx}>
						</td>
						<td class="saler-saled-content-price-td">
							<{:number_format($prices_vo['price'], 2)}>
						</td>
						<td class="saler-saled-content-price-td">
							<{:number_format($prices_vo['area'], 2)}>
						</td>
						<td class="saler-saled-content-price-td">
							<{$prices_vo.sets|default=0}>
						</td>
					</tr>
				</volist>
				
			</table>
		</div>
	</div>
</block>

<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_saled_price" iscroller_select_id="iscroller-wrapper" />
</block>

