<extend name="Common/base" />

<block name="header">
    <link rel="stylesheet" href="/Public/common/css/font-awesome-4.7.0/css/font-awesome.css">
	<div class="common-header-wrapper">
		<div class="clearfix common-header sales-statistics-header">
			<div class="fl wm25 arrow-left common-header-return">
				<span class="common-header-return-box return-btn">
					<a href="javascript:void(0);" class="common-header-return-btn">返回</a>
				</span>
			</div>
			<div class="fl wm50 common-header-content js-common-header-content">
				<span class="common-header-content-box-no-arrow">
					<span class="common-header-content-box-name">人员销售明细</span>
					<span class="common-header-content-box-name" style="display: none">奖品分布明细</span>
				</span>
			</div>
			<div class="fl wm25 common-header-right">&nbsp;</div>
		</div>
	</div>
</block>

<block name="content">
	<div class="common-content sales-saled-lottery">
	<div class="saler-saled-lottery-prizes">

		<div id="iscroller-wrapper" class="iscroller-style saler-saled-lottery-prizes-list-wrapper" style="bottom:45px;">
			<div id="iscroller-scroller" class="iscroller-scroller-style saler-saled-lottery-prizes-list-box">

				<!--<volist name="prizes" id="prizes_vo" key="prizes_k">
					<div class="saler-saled-lottery-prizes-list saler-saled-lottery-prizes-list<elt name='prizes_k' value='5'><{$prizes_k}><else/><{$prizes_k-5}></elt>">
						<div class="saler-saled-lottery-prize">
							<div class="saler-saled-lottery-prize-title">
								<div class="saler-saled-lottery-prize-title-box">
										<span class="saler-saled-lottery-prize-title-square">
											<span class="saler-saled-lottery-prize-title-square-info"></span>
										</span>
									<span class="saler-saled-lottery-prize-title-info">
											<{$prizes_vo.name}>
										</span>
								</div>
							</div>
							<div class="clearfix saler-saled-lottery-prize-content">
								<div class="fl wm32 saler-saled-lottery-prize-jackpot">
									<div class="saler-saled-lottery-prize-content-title saler-saled-lottery-prize-jackpot-title">
										奖池
									</div>
									<div class="saler-saled-lottery-prize-content-info saler-saled-lottery-prize-jackpot-info">
										<{$prizes_vo.zgs}>
									</div>
								</div>
								<div class="fl wm36 saler-saled-lottery-prize-send">
									<div class="saler-saled-lottery-prize-content-title saler-saled-lottery-prize-send-title">
										已送
									</div>
									<div class="saler-saled-lottery-prize-content-info saler-saled-lottery-prize-send-info">
										<{$prizes_vo.send}>
									</div>
								</div>
								<div class="fl wm32 saler-saled-lottery-prize-residual">
									<div class="saler-saled-lottery-prize-content-title saler-saled-lottery-prize-residual-title">
										剩余
									</div>
									<div class="saler-saled-lottery-prize-content-info saler-saled-lottery-prize-residual-info">
										<{$prizes_vo.sygs}>
									</div>
								</div>
							</div>
						</div>
					</div>
				</volist>-->

				<volist name="res" id="val" key="prizes_k">
					<div class="saler-saled-lottery-prizes-list saler-saled-lottery-prizes-list<elt name='prizes_k' value='5'><{$prizes_k}><else/><{$prizes_k-5}></elt>">
						<div class="saler-saled-lottery-prize">
							<div class="saler-saled-lottery-prize-title">
								<div class="saler-saled-lottery-prize-title-box">
										<span class="saler-saled-lottery-prize-title-square">
											<span class="saler-saled-lottery-prize-title-square-info"></span>
										</span>
									<span class="saler-saled-lottery-prize-title-info">
										<if condition="$val.czusername eq '()'">
											其他
											<else/>
											<{$val.czusername}>
										</if>
										</span>
								</div>
							</div>
							<div class="clearfix saler-saled-lottery-prize-content">
								<div class="fl wm32 saler-saled-lottery-prize-jackpot">
									<div class="saler-saled-lottery-prize-content-title saler-saled-lottery-prize-jackpot-title">
										套数
									</div>
									<div class="saler-saled-lottery-prize-content-info saler-saled-lottery-prize-jackpot-info">
										<{$val.cou}>
									</div>
								</div>
								<div class="fl wm36 saler-saled-lottery-prize-send">
									<div class="saler-saled-lottery-prize-content-title saler-saled-lottery-prize-send-title">
										金额（万）
									</div>
									<div class="saler-saled-lottery-prize-content-info saler-saled-lottery-prize-send-info">
										<{$val.mon}>
									</div>
								</div>
								<div class="fl wm32 saler-saled-lottery-prize-residual">
									<div class="saler-saled-lottery-prize-content-title saler-saled-lottery-prize-residual-title">
										销售占比
									</div>
									<div class="saler-saled-lottery-prize-content-info saler-saled-lottery-prize-residual-info">
										<?php echo round(($val['cou']/$ct)*100,2)."%"; ?>
									</div>
								</div>
							</div>
						</div>
					</div>
				</volist>

			</div>
		</div>

	</div>
</div>

</block>

<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_prizes" iscroller_select_id="iscroller-wrapper" />
</block>

