<div class="saler-saled-content">
	<div class="saler-saled-content-icon">
		<img class="saler-saled-content-icon-info" src="__IMG__/saled-icon.png">
	</div>
	
	<div class="saler-saled-content-box">
		<div class="saler-saled-content-box-info">
			<div class="saler-saled-content-info">
				当前累计销售 
				<span class="saler-saled-content-info-math"><{$sell_accumulate.saled|default=0}></span> 
				套，计
				<span class="saler-saled-content-info-math"><{$sell_accumulate.price|default=0|number_format=0}></span> 
				万
			</div>
			<div class="saler-saled-content-info">
                                平均每分钟销售 
				<span class="saler-saled-content-info-math"><{$sell_one.minute|default=0|number_format=2}></span> 
				套
				<br>平均每套耗时 
				<span class="saler-saled-content-info-math"><{$sell_one.suit|default=0|number_format=1}></span> 
				分钟
			</div>
			
		</div>
	</div>
</div>
