<extend name="Common/base" />
<block name="header_config_add">
	<script type="text/javascript">
        var eventId = '<{$eventId}>';
	</script>
</block>
<block name="header">
    <style>
        .user-project-room-attribute-box {margin-top: 2px;}
    </style>
    <div class="common-header-wrapper">
        <div class="user-project-room-border user-project-room-name">
            <div class="user-project-room-name-box">
                <{$room.buildname}>-<{$room.unit}>单元-<{$room.floor}>层-<{$room.room}>
            </div>
            <if condition="empty($collection)">
                <div style="padding: 7px 0 0;" class="weui-tabbar__item js-user-addbx-room-btn roombx_btn" data-room-id="<{$room.id}> " no='1' style="cursor: pointer">
                <span style="display: inline-block;position: relative;">
                    <i class="fa fa-heart-o weui-tabbar__icon" style="padding:0px;color: #09BB07;"></i>
                </span>
                    <p class="weui-tabbar__label roombx_btn" style="color: #09BB07;">加入备选</p>
                </div>
            <else/>
                <div style="padding: 7px 0 0;" class="weui-tabbar__item roombx_btn" data-room-id="<{$room.id}>">
                <span style="display: inline-block;position: relative;">
                    <i class="fa fa-heart weui-tabbar__icon" style="padding:0;color: #09BB07;"></i>
                </span>
                <p class="weui-tabbar__label roombx_btn" style="color: #09BB07;">已备选</p>
                </div>
            </if>
        </div>
    </div>
	
</block>

<block name="content">
	<div class="user-project-view-base">
	
		<div id="iscroller-wrapper" class="user-project-view-content-wrapper user-project-room-wrapper iscroller-style">
			<div id="iscroller-scroller" class="saler-project-room-box iscroller-scroller-style">
				<div class="user-project-room">					
					
					
					<div class="user-project-room-info">
						<table>
                                                    <tr>
                                                            <td class="user-project-room-info-td1">
                                                                    <span class="user-project-room-info-title">
                                                                            户型结构
                                                                    </span>
                                                            </td>
                                                            <td class="user-project-room-info-td2" colspan="3">
                                                                    <span class="user-project-room-info-content room-hx">
                                                                            (<{$room['hx']}>) <{$hxinfo.hxmx}>
                                                                    </span>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td class="user-project-room-info-td3">
                                                                    <span class="user-project-room-info-title">
                                                                            房间售价
                                                                    </span>
                                                            </td>
                                                            <td class="user-project-room-info-td4" colspan="3">
                                                                    <span class="user-project-room-info-content room-total">
                                                                            <{:number_format($room['total'], 2)}><span class="user-project-room-info-employer">元</span>
                                                                    </span>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td class="user-project-room-info-td1">
                                                                    <span class="user-project-room-info-title">
                                                                            建筑面积
                                                                    </span>
                                                            </td>
                                                            <td class="user-project-room-info-td2">
                                                                    <span class="user-project-room-info-content room-jzarea">
                                                                            <{$room.area}>
                                                                    </span>
                                                            </td>
                                                            <td class="user-project-room-info-td3">
                                                                    <span class="user-project-room-info-title">
                                                                            建筑单价
                                                                    </span>
                                                            </td>
                                                            <td class="user-project-room-info-td4">
                                                                    <span class="user-project-room-info-content">
                                                                            <{:number_format($room['price'], 2)}><span class="user-project-room-info-employer">元/㎡</span>
                                                                    </span>
                                                            </td>
                                                    </tr>
                                                    <tr>
                                                            <td class="user-project-room-info-td1">
                                                                    <span class="user-project-room-info-title">
                                                                            套内面积
                                                                    </span>
                                                            </td>
                                                            <td class="user-project-room-info-td2">
                                                                    <span class="user-project-room-info-content room-tnarea">
                                                                            <{$room.tnarea}>
                                                                    </span>
                                                            </td>
                                                            <td class="user-project-room-info-td3">
                                                                    <span class="user-project-room-info-title">
                                                                            套内单价
                                                                    </span>
                                                            </td>
                                                            <td class="user-project-room-info-td4">
                                                                    <span class="user-project-room-info-content">
                                                                            <{:number_format($room['tnprice'], 2)}><span class="user-project-room-info-employer">元/㎡</span>
                                                                    </span>
                                                            </td>
                                                    </tr>
                                            </table>
					</div>
				</div>
				
				<div class="user-project-room-attribute">
					<div class="user-project-room-attribute-box">
					
						<table>
							<tr>
								<td class="user-project-room-attribute-td1">
									<span class="user-project-room-info-title">
										备选
									</span>
								</td>
								<td class="user-project-room-attribute-td2">
									<span class="user-project-room-info-content">
										<{$room_attribute.sccount|default='0'|intval}><span class="user-project-room-info-employer">次</span>
									</span>
								</td>
							</tr>
							<tr>
								<td class="user-project-room-attribute-td1">
									<span class="user-project-room-info-title">
										对比
									</span>
								</td>
								<td class="user-project-room-attribute-td2">
									<span class="user-project-room-info-content">
										<{$room_attribute.sscount|default='0'}><span class="user-project-room-info-employer">次</span>
									</span>
								</td>
							</tr>
							<tr>
								<td class="user-project-room-attribute-td1">
									<span class="user-project-room-info-title">
										关注
									</span>
								</td>
								<td class="user-project-room-attribute-td2">
									<span class="user-project-room-info-content">
										<{$room_attribute.djcount|default='0'|intval}><span class="user-project-room-info-employer">次</span>
									</span>
								</td>
							</tr>
							<tr>
								<td class="user-project-room-attribute-td1">
									<span class="user-project-room-info-title">
										热力指数
									</span>
								</td>
								<td class="user-project-room-attribute-td2">
									<span class="user-project-room-info-content user-project-room-info-content-star">
										<for start="0" end="$hot_num" >★</for><for start="$hot_num" end="5" >☆</for>
									</span>
								</td>
							</tr>
						</table>
						
					</div>
				</div>
				<div>
					<img src="/Uploads/<{$hxinfo.imgurl}>" width="100%" alt="户型图">
				</div>
				<!--<div class="user-project-room-collection">-->
					<!--<div class="user-project-room-collection-box">-->
						<!--<if condition="!empty($collection)">-->
							<!--<a href="javascript:void(0);" class="user-project-room-collection-a user-collection-room-btn js-user-uncollection-room-btn" data-room-id="<{$room.id}>">-->
								<!--取消收藏-->
							<!--</a>-->
						<!--<else /> -->
							<!--<a href="javascript:void(0);" class="user-project-room-collection-a user-collection-room-btn js-user-collection-room-btn" data-room-id="<{$room.id}>">-->
								<!--收藏-->
							<!--</a>-->
						<!--</if>-->
					<!--</div>-->
				<!--</div>-->
			
			</div>
			
		</div>
	</div>

</block>
<block name="footer">
	<div class="weui-tabbar">
		<a href="/User/index/index/info/p<{$project_id}>.html" class="weui-tabbar__item weui-bar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-list weui-tabbar__icon" ></i>
            </span>
			<p class="weui-tabbar__label">房源列表</p>
		</a>
		<!--<a href="/User/OrderHouse/roomsseach/id/<{$eventId}>.html" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-search weui-tabbar__icon" ></i>
            </span>
            <p class="weui-tabbar__label">房源筛选</p>
        </a>-->
		<a href="/User/index/collectedroom/id/<{$project_id}>.html" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-heart-o weui-tabbar__icon" ></i>
                <span class="weui-badge user-project-view-content-gwc-num" style="position: absolute;top: 2px;right: -10px"><{$cou}></span>
            </span>
			<p class="weui-tabbar__label">备选房源</p>
		</a>

		<a id="rd" onclick="document.getElementById('rd').style.color=document.getElementById('rd').style.color=='peru' ? '':'peru';" href="/user/hot/index/info/p<{$project_id}>.html" class="weui-tabbar__item">
                <span style="display: inline-block;position: relative;">
                <i class="fa fa-bar-chart-o weui-tabbar__icon" ></i>
            </span>
			<p class="weui-tabbar__label">房源热度</p>
		</a>
	</div>

	<div class="user-search-form-choose-option js-user-search-form-choose-option">
		<div class="user-search-form-choose-option-box">
			<div class="clearfix user-search-form-choose-option-list">
				<div class="fl user-search-form-choose-option-title">
					只显示待售：
				</div>
				<div class="fl user-search-form-choose-option-content">
					<input type="checkbox" id="checkbox_a1" class="chk_1" checked="checked" value="1" style="width:20px;"/>
					<label for="checkbox_a1"></label>
				</div>
			</div>
			<div class="clearfix user-search-form-choose-option-list">
				<div class="fl user-search-form-choose-option-title">
					楼层范围：
				</div>
				<div class="fl clearfix user-search-form-choose-option-content">
					<div class="fl user-search-form-choose-option-content-start">
						<input class="user-search-form-choose-option-floor-start" type="number" value="">
					</div>
					<div class="fl user-search-form-choose-option-content-info">
						到
					</div>
					<div class="fl user-search-form-choose-option-content-end">
						<input class="user-search-form-choose-option-floor-end" type="number" value="">
					</div>
				</div>
			</div>
			<div class="clearfix user-search-form-choose-option-list">
				<div class="fl user-search-form-choose-option-title">
					面积范围：
				</div>
				<div class="fl clearfix user-search-form-choose-option-content">
					<div class="fl user-search-form-choose-option-content-start">
						<input class="user-search-form-choose-option-area-start" type="number" value="">
					</div>
					<div class="fl user-search-form-choose-option-content-info">
						到
					</div>
					<div class="fl user-search-form-choose-option-content-end">
						<input class="user-search-form-choose-option-area-end" type="number" value="">
					</div>
				</div>
			</div>
			<div class="clearfix user-search-form-choose-option-list">
				<div class="fl user-search-form-choose-option-title">
					价格范围(万)：
				</div>
				<div class="fl clearfix user-search-form-choose-option-content">
					<div class="fl user-search-form-choose-option-content-start">
						<input class="user-search-form-choose-option-price-start" type="number" value="">
					</div>
					<div class="fl user-search-form-choose-option-content-info">
						到
					</div>
					<div class="fl user-search-form-choose-option-content-end">
						<input class="user-search-form-choose-option-price-end" type="number" value="">
					</div>
				</div>
			</div>
			<div class="clearfix user-search-form-choose-option-list">
				<div class="fl user-search-form-choose-option-title">
					房间户型：
				</div>
				<div class="fl user-search-form-choose-option-content">
					<volist name="hxs" id="hx_vo">
						<a href="javascript:void(0);" data-id="<{$hx_vo}>" class="user-search-form-choose-option-a js-user-search-form-choose-option-a user-search-form-choose-option-hx">
							<{$hx_vo}>
						</a>
					</volist>
				</div>
			</div>
			<div class="user-search-form-choose-option-footer">
				<div class="user-search-form-choose-option-footer-btns">
                    <span class="user-search-form-choose-option-footer-btn js-user-search-form-choose-option-footer-btn">
                        确定
                    </span>
				</div>
			</div>
		</div>
	</div>
	<div class="user-search-form-choose-option-shadow js-user-search-form-choose-option-shadow"></div>
</block>
<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_room" iscroller_select_id="iscroller-wrapper" />
</block>
