<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><{$seo_title|default='房间管理'}></title>
<link href="__COMMON__/css/base.css" type="text/css" rel="stylesheet"/>
<link href="__CSS__/admin.css" type="text/css" rel="stylesheet"/>
<script src="__COMMON__/js/jquery/jquery-1.11.3.min.js"></script>
<script src="__COMMON__/js/functions.js"></script>
<script src="__COMMON__/js/layer/layer.js"></script>
<script src="__COMMON__/js/pc/layer.js"></script>
<script src="__JS__/admin.js"></script>
<script type="text/javascript">
var room_url = {
	index: '<{:U("room/index")}>',
	attr_save: '<{:U("room/save")}>',
	edit: '<{:U("room/edit")}>',
}
</script>
</head>

<body>

	<div class="room-attr">
		<div class="room-attr-title">
			<div class="clearfix room-attr-title-box">
				<span class="room-attr-title-info"><{$seo_title|default='房间管理'}></span>
				<span class="room-attr-title-project">[<{$room['projname']}> - <{$room['buildname']}> - <{$room['unit']}> - <{$room['room']}>]</span>
				<span class="fr room-attr-title-refresh">
					<a href="__SELF__" class="room-attr-title-refresh-btn">
						<img class="room-attr-title-refresh-btn-img" src="__IMG__/sx01.png" />
					</a>
				</span>
			</div>
		</div>

		<div class="room-attr-content">
			<div class="room-attr-rooms">
			
				<div class="room-edit">
					<form method="post" name="room-edit-form" action="">
						<div class="room-edit-content">
							<input type="hidden" name="id" class="room-id" value="<{$room['id']}>" style="display:none;">
							<table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
								<tbody>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">建筑公司：</td>
										<td class="room-edit-tr-content">
											<{$room['cpname']}>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">项目名称：</td>
										<td class="room-edit-tr-content">
											<{$room['projname']}>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">批次：</td>
										<td class="room-edit-tr-content">
											<{$room['pcname']}>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											楼栋：
										</td>
										<td class="room-edit-tr-content">
											<select class="room-edit-select" name="build">
												<foreach name="builds" item="builds_vo">
													<if condition="$builds_vo['id'] eq $room['bld_id']">
														<option value="<{$builds_vo['id']}>" selected>
															<{$builds_vo['buildname']}>
														</option>
													<else />
														<option value="<{$builds_vo['id']}>">
															<{$builds_vo['buildname']}>
														</option>
													</if>
												</foreach> 
											</select>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											单元：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="unit" value="<{$room['unit']}>" class="room-edit-input room-edit-input-unit" > 
											<span class="room-edit-tip">单元</span>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											楼层：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="floor" value="<{$room['floor']}>" class="room-edit-input room-edit-input-floor" > 
											<span class="room-edit-tip">层</span>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											房间号：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="no" value="<{$room['no']}>" class="room-edit-input room-edit-input-no" > 
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											户型：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="hx" value="<{$room['hx']}>" class="room-edit-input room-edit-input-hx" > 
											<span class="room-edit-tip">直接填写相关户型</span>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											建筑面积：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="area" value="<{$room['area']}>" class="room-edit-input room-edit-input-area" > 
											<span class="room-edit-tip">平米</span>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											套内面积：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="tnarea" value="<{$room['tnarea']}>" class="room-edit-input room-edit-input-tnarea" > 
											<span class="room-edit-tip">平米</span>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											建筑单价：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="price" value="<{$room['price']}>" class="room-edit-input room-edit-input-price" > 
											<span class="room-edit-tip">元</span>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											套内单价：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="tnprice" value="<{$room['tnprice']}>" class="room-edit-input room-edit-input-tnprice" > 
											<span class="room-edit-tip">元</span>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											标准总价：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="total" value="<{$room['total']}>" class="room-edit-input room-edit-input-total" > 
											<span class="room-edit-tip">元</span>
										</td>
									</tr>
								</tbody> 
							</table>
						</div>
						
						<div class="room-edit-tips">
							<div class="room-edit-tips-info">
								<span class="room-edit-tips-bold">提醒：</span>
								“<span class="color-red">*</span>”为必填项，请务必填写。
							</div>
						</div>
						
						<div class="room-edit-btns">
							<a href="javascript:void(0);" class="room-edit-btn room-edit-btn-save js-room-edit-btn-save">保 存</a> 
							<a href="<{:U('index/room', 'projid='.$room['proj_id'])}>" class="room-edit-btn room-edit-btn-return">返 回</a>				  
						</div>
					</form>
				</div>

			</div>
		</div>
	
	</div>

</body>
</html>