<extend name="Common/base" />
<block name="content">
<div style="height:780px;width:1440px;background:#81204B;">
	<!--左侧区-->
	<div style="float:left;width:11%;height:780px;" >
		<div style="position:absolute;top:20px;left:15px;width:10%;height:735px;" class="dh01">
			<img src="../Public/xk/img/led1/u3168.png" style="position:absolute;width:110px;top:32%;left:15px;">
			<img src="../Public/xk/img/led1/u3170.png" style="position:absolute;width:140px;top:52%;left:0%;">
			<img id="yhtpd" src="../Public/xk/img/led1/yh.png" style="position:absolute;width:20px;height:20px;top:40px;left:70px;display:none">
			<img id="yhtpx" src="../Public/xk/img/led1/yh.png" style="position:absolute;width:20px;height:20px;bottom:1px;left:70px;display:none">
		</div>
	</div>
	<div style="float:left;height:780px;width:73%">
		<div id="divtable" style="height:700px;margin-top:2%;background:#F0F5FB;border:1px solid #03A9F4">
			<table style="border-collapse:separate;border-spacing:8px;background:#F0F5FB;" id="roomstable">
				<tr>
				<volist name="builds" id="builds_vo" key="builds_k">
				<td valign="top">
					<table style="">
						<tr>
							<td style="text-align:center;border:0px solid #fff;background-color:#03A9F4;color:#FFF;font-size:120%;font-weight:bold" colspan="10">
							<if condition="isset($builds_vo['buildname'])">
								<{$builds_vo['buildname']|default=1}>
							<else />
								1栋
							</if>
							</td>
						</tr>
						<tr>
							<volist name="units" id="units_vo" key="units_k">
							<if condition="$units_vo['bld_id'] eq $builds_vo['id']"> 
							<td>	
								<table style="border-collapse: collapse;border-spacing:2px;">
									<tr >
										<td style="text-align:center;border:1px solid #fff;background-color:#03A9F4;color:#FFF;font-weight:bold;border:1px solid #fff"><{$units_vo.unit|default=1}>单元</td>
									</tr>
									<tr >
										<td>
											<table style="border-collapse: separate;border-spacing:2px;border: 1px solid #03A9F4;">
												<volist name="floors" id="floors_vo" key="floors_k">
													<if condition="$floors_vo['bld_id'] eq $builds_vo['id']">																		
													<tr> 
														<td class="td_floor">
															<{$floors_vo.floor|default=1}>F
														</td>
														<foreach name="nolist" item="nolist_vo">
														<if condition="$nolist_vo['bld_id'] eq $builds_vo['id']">
														<if condition="$nolist_vo['unit'] eq $units_vo['unit']">
														<td class="td_room">
															<for start="$ii" end="count($rooms)">
																<if condition="$rooms[$i]['bld_id'] eq $builds_vo['id']">	
																<if condition="$rooms[$i]['unit'] eq $units_vo['unit']">
																	<if condition="$rooms[$i]['floor'] eq $floors_vo['floor']">
																		<if condition="$rooms[$i]['no'] eq $nolist_vo['no']">
																			<if condition="$rooms[$i]['is_xf'] eq 1">
																				<div id="roomid_<{$rooms[$i]['id']}>" roomid="<{$rooms[$i]['id']}>" class="divyxf">
																					<{$rooms[$i].room}>
																				</div>
																			<else />
																				<div id="roomid_<{$rooms[$i]['id']}>" roomid="<{$rooms[$i]['id']}>" class="divwxf">
																					<{$rooms[$i].room}>
																				</div>
																			</if>
																			<php>$ii++;break;</php>
																		</if>
																	</if>
																</if>
																</if>
															</for>
														</td>
														</if>
														</if>
														</foreach>
														</td>
													</tr>
													</if>
												</volist>	
											</table>
										</td>
									</tr >
								</table>
							</td>
							</if>
							</volist>
						</tr>
					</table>
					</td>
				</volist>
				</tr>
			</table>
		</div>
		<div id="dtcdiv" style="position:absolute;top:40%;left:45%;border:1px solid red;background-color:red;color: #FFF;border-radius: 7px;line-height: 45px;padding: 0 30px;display:none">图层</div>
		<div style="height:35px;background:#F0F5FB;border-bottom: 1px solid #03A9F4;border-left: 1px solid #03A9F4;border-right: 1px solid #03A9F4;" >
			<ul style="height:5px" ></ul>
			<ul style="width:70%;">
				<li style="float:left;width:20%;font-weight:bold"><span style="margin-left:50%">图例：</span></li>
				<li style="float:left;width:15%"><div class="divwxf_tl">待售</div></li>
				<li style="float:left;width:15%"><div class="divyxf_tl">已售</div></li>
				<li style="float:left;width:15%"><div class="divgzf_tl">关注</div></li>
			</ul>
		</div>
	</div>
	
	<!--右侧区-->
	<div style="float:left;width:15%;height:780px;margin-left:5px">
		<div style="margin-top:20px;margin-right:15px;width:210px;height:160px;background:#fff">
			<img src="../Public/xk/img/led1/u2411.png" style="position:absolute;width:30px;margin-top:0px;margin-left:0px;">
			<img src="../Public/xk/img/led1/u2413.png" style="position:absolute;width:30px;margin-top:130px;margin-left:180px;">
			<ul style="margin-top:13px">
				<li></li>
				<li id="gfgg">
				<marquee direction="up" scrollamount="2.5" loop="200" style="height:130px;margin-top:15px;"> 
				<p class="ggzs" >
					<foreach name="gfrooms" item="gfrooms_vo">
						恭喜<{$gfrooms_vo.buildname}>-<{$gfrooms_vo.unit}>-<{$gfrooms_vo.room}>业主，选房成功</br>
					</foreach>
				</p>
				</marquee>
				</li>
			</ul>	
		</div>
		<div style="width:210px;height:568px;background:#fff;margin-top:10px" id="pm">
			<div id="djpmdiv" style="display:block">
				<div class="divpmtitle">房间关注次数排名</div>
				<div>
					<ul id="djpmul">
					<foreach name="djpmlist" item="djpmlist_vo">
						<li style="margin-top:5px">
							<div class="divroomname"><{$djpmlist_vo['buildname']}>-<{$djpmlist_vo['unit']}>-<{$djpmlist_vo['room']}></div>
							<div class="divpmcs1">
								<div class="divpmcs2 divpmcsbor_dj" style="width:<{$djpmlist_vo['precision']}>">
								<{$djpmlist_vo['nowcount']|default=1}>
								</div>
							</div>
						</li>
					</foreach>
					</ul>
				</div>
			</div>
			<div id="dbpmdiv" style="display:none">
				<div class="divpmtitle">房间对比次数排名</div>
				<div>
					<ul id="dbpmul">
					<foreach name="dbpmlist" item="djpmlist_vo">
						<li style="margin-top:5px">
							<div class="divroomname"><{$djpmlist_vo['buildname']}>-<{$djpmlist_vo['unit']}>-<{$djpmlist_vo['room']}></div>
							<div class="divpmcs1">
								<div class="divpmcs2 divpmcsbor_db" style="width:<{$djpmlist_vo['precision']}>">
								<{$djpmlist_vo['nowcount']|default=1}>
								</div>
							</div>
						</li>
					</foreach>
					</ul>
				</div>
			</div>
			<div id="scpmdiv" style="display:none">
				<div class="divpmtitle">房间收藏次数排名</div>
				<div>
					<ul id="scpmul">
					<foreach name="scpmlist" item="djpmlist_vo">
						<li style="margin-top:5px">
							<div class="divroomname"><{$djpmlist_vo['buildname']}>-<{$djpmlist_vo['unit']}>-<{$djpmlist_vo['room']}></div>
							<div class="divpmcs1"> 
								<div class="divpmcs2 divpmcsbor_sc" style="width:<{$djpmlist_vo['precision']}>">
								<{$djpmlist_vo['nowcount']|default=1}>
								</div>
							</div>
						</li>
					</foreach>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div style="position:absolute;height:780px;width:1440px;">
		<!--四周花边-->
		<img src="../Public/xk/img/led1/u2735.png" style="position:absolute;width:50px;top:0%;left:0%;z-index:881" >
		<img src="../Public/xk/img/led1/u2737.png" style="position:absolute;height:50px;top:729px;left:0%;z-index:881">
		
		<img src="../Public/xk/img/led1/u2741.png" style="position:absolute;height:50px;top:730px;right:0%;z-index:881">
		<img src="../Public/xk/img/led1/u2739.png" style="position:absolute;width:50px;top:0%;right:0%;z-index:881">
		<hr style="position:absolute;width:98%;top:8px;left:1%;z-index:880;border:none;border-top:1px solid #FFCC00;"/>
		<hr style="position:absolute;width:98%;top:772px;left:1%;z-index:880;border:none;border-top:1px solid #FFCC00;"/>
		<hr style="position:absolute;height:764px;top:1%;left:8px;z-index:880;border:none;border-left:1px solid #FFCC00;"/>
		<hr style="position:absolute;height:764px;top:1%;right:8px;z-index:880;border:none;border-left:1px solid #FFCC00;"/>
	</div>
</div>
	<script type="text/javascript">
	var oldlist="|";
	var ipm=1;
	$(document).ready(function () {  
		setInterval("showgg()", 23300); //定时刷新公告区域
		setInterval("showzxrooms()", 5031); //定时刷最新房间信息	
		setInterval("showgzrooms()", 8013); //被关注房间动画
		setInterval("showoldxf()", 5130); //已售房间定时出现动画
		setInterval("showpm()", 8000); //显示排名
		setInterval("sxpmsj()", 30000); //排名数据刷新	
		setInterval("qkbl()", 11100); 		
	});
	
	function showpm()
	{
		if (ipm==1)
		{
			$("#dbpmdiv").hide();
			$("#scpmdiv").hide();
			$("#djpmdiv").fadeIn(2000);
			ipm=2;
		}
		else if (ipm==2)
		{
			$("#djpmdiv").hide();
			$("#scpmdiv").hide();
			$("#dbpmdiv").fadeIn(2000);
			ipm=3;
		}
		else if (ipm==3)
		{
			$("#djpmdiv").hide();
			$("#dbpmdiv").hide();
			$("#scpmdiv").fadeIn(2000);
			ipm=1;
		}
	}
	
	function sxpmsj()
	{
		var rooms_url = {get_pmsj: '<{:U("led/get_pmsj")}>',}
		$.ajax({
			url: rooms_url.get_pmsj,
			data: {
				projid: "<{$projid}>",
			},
			type: 'POST',
			dataType: 'JSON',
			success: function (data, status) {
				if (typeof(data.status) == 'undefined') {
					//layer_alert('请求失败，请重试！');
					return false;
				} 
				if (data.status == false) {
					layer_alert(data.info);
					return false;
				}
				var $allpm = data.info;
				var $html;
				for (var i = 0; i < $allpm.length; i++)
				{	
					if($allpm[i].length>0)
					{	
						$html="";
						for (var j = 0; j < $allpm[i].length; j++)
						{
							$html += "<li style='margin-top:5px'>";
							$html +="	<div class='divroomname'>"+$allpm[i][j].buildname+"-"+$allpm[i][j].unit+"-"+$allpm[i][j].room+"</div>";
							$html +="	<div class='divpmcs1'>";
							if (i==0)
							{
								$html +="	<div class='divpmcs2 divpmcsbor_dj' style='width:" + $allpm[i][j].precision + "'>";
							}
							if (i==1)
							{
								$html +="	<div class='divpmcs2 divpmcsbor_db' style='width:" + $allpm[i][j].precision + "'>";
							}
							if (i==2)
							{
								$html +="	<div class='divpmcs2 divpmcsbor_sc' style='width:" + $allpm[i][j].precision + "'>";
							}
							$html +=$allpm[i][j].nowcount + "";
							$html +="		</div>"
							$html +="	</div>"
							$html += "</li>";
						}
					}
					if (i==0)
						$("#djpmul").html($html);
					if (i==1)
						$("#dbpmul").html($html);
					if (i==2)
						$("#scpmul").html($html);
					
				}
			},
			error: function (data, status, e) {
				//layer_alert('提交连接失败！');
			}
		}); 
	}
	
	//公告刷新显示
	function showgg() 
	{
		var rooms_url = {get_gfrooms: '<{:U("led/get_gfrooms")}>',}
		//异步获取最新的购房数据前10条
		$.ajax({
			url: rooms_url.get_gfrooms,
			data: {
				info: "showgg",
				projid: "<{$projid}>",
			},
			type: 'POST',
			dataType: 'JSON',
			success: function (data, status) {
				if (typeof(data.status) == 'undefined') {
					//layer_alert('请求失败，请重试！');
					return false;
				} 
				if (data.status == false) {
					layer_alert(data.info);
					return false;
				}
				var $rooms = data.info;
				var $htmlks='<marquee direction="up" scrollamount="2.5" loop="200" height="130px" >';
				$htmlks+= '<p class="ggzs">';
				var $htmljs='</p></marquee>';
				
				var $html = "";
				if ($rooms.length > 0) {
					$("#gfgg").hide();
					for (var $i = 0; $i < $rooms.length; $i ++) {
						$html=$html + "恭喜"+ $rooms[$i].buildname +"-" + $rooms[$i].unit + "-" + $rooms[$i].room + "业主，选房成功</br>";
					}
					
					$("#gfgg").html($htmlks+$html+$htmljs).show();
				} 
			},
			error: function (data, status, e) {
				//layer_alert('提交连接失败！');
			}
		}); 
	}

	//最新购房数据刷新
	function showzxrooms() 
	{
		var $isshowyh=false;
		var rooms_url = {get_gfrooms: '<{:U("led/get_gfrooms")}>',}
		$.ajax({
			url: rooms_url.get_gfrooms,
			data: {
				info: "showzxrooms",
				projid: "<{$projid}>",
			},
			type: 'POST',
			dataType: 'JSON',
			success: function (data, status) {
				if (typeof(data.status) == 'undefined') {
					//layer_alert('请求失败，请重试！');
					return false;
				} 
				if (data.status == false) {
					layer_alert(data.info);
					return false;
				}
				var $zxrooms = data.info;
				if ($zxrooms.length > 0) {
					for (var $i = 0; $i < $zxrooms.length; $i++) {
						var $id=$zxrooms[$i].id;
						if ($zxrooms[$i].is_xf==1)
						{
							if ($('#roomid_' + $id).hasClass("divwxf"))
							{
								var $roomno=$('#roomid_' + $id).text();
								var $zb = $('#roomid_' + $id).offset();
								
								var $new_div=$('#roomid_' + $id).clone().attr({id:"roomid_dd"+ $id}).hide();//复制图层
								$new_div.removeClass("divwxf");
								$new_div.addClass("divyxf");
								
								$new_div.css("position","absolute"); 
								//$new_div.css("top","40%");
								//$new_div.css("left","45%");
								$new_div.css("top",$zb.top);//原地
								$new_div.css("left",$zb.left);//原地
								//$new_div.css("line-height","auto"); 
								$('#roomid_' + $id).parent().append($new_div);
								
								//动画
								$new_div.addClass("div_xz_begin").fadeIn(800).animate({height:'+=20px',width:'+=20px',left:$zb.left-12,top:$zb.top-12 },1000).animate({height:'-=20px',width:'-=20px',left:$zb.left-2,top:$zb.top-2 },1000).fadeOut(800);
								
								//setTimeout(function(){$('#roomid_' + $id).removeClass("divwxf"); $('#roomid_' + $id).addClass("divyxf");},1850)
								setTimeout(function(){$('#roomid_dd'+$id).remove();},3602)
								
								$('#roomid_' + $id).removeClass("divwxf");
								$('#roomid_' + $id).addClass("divyxf");
								$isshowyh=true;
							}
						}
						else
						{
							if ($('#roomid_' + $id).hasClass("divyxf")) 
							{
								$('#roomid_' + $id).removeClass("divyxf");
								$('#roomid_' + $id).addClass("divwxf");
							}
						}
					}
					//正式时启用
					//if ($isshowyh)
						//showyh();
				} 
				//测试时启用
				showyh();
			},
			error: function (data, status, e) {
				//layer_alert('提交连接失败！');
			}
		}); 
	}
	
	//已购房数据定时重复动画
	function showoldxf($id)
	{
		//异步获取信息??
		//var $oldlist="|";
		var $roomlist=$("#roomstable").find(".divyxf");//获取已选房的房间
		if ($roomlist.length>0)
		{
			var $count=$roomlist.length;
			var $v=Math.floor(Math.random() * $count)//随机选取一个房间
			if (oldlist.indexOf($v)==-1)//排除重复的房间
			{
				oldlist+=$v;				 
				for (var $i = 0; $i < $roomlist.length; $i++) {
					if ($i==$v)
					{
						var $id=$roomlist.eq($i).attr("roomid");
						var $roomno=$('#roomid_' + $id).text();
						var $zb = $('#roomid_' + $id).offset();
						
						var $new_div=$('#roomid_' + $id).clone().attr({id:"roomid_dd"+ $id}).hide();//复制图层
						$new_div.css("position","absolute"); 
						//$new_div.css("top","40%");//飞入
						//$new_div.css("left","45%");//飞入
						$new_div.css("top",$zb.top);//原地
						$new_div.css("left",$zb.left);//原地
						//$new_div.css("line-height","auto"); 
						$('#roomid_' + $id).parent().append($new_div);
						
						$('#roomid_' + $id).removeClass("divyxf");
						$('#roomid_' + $id).addClass("divwxf1");
						
						//动画
						$new_div.addClass("div_xz_begin").fadeIn(800).animate({height:'+=20px',width:'+=20px',left:$zb.left-10,top:$zb.top-10 },1000).animate({height:'-=20px',width:'-=20px',left:$zb.left,top:$zb.top },1000).fadeOut(800);
						
						setTimeout(function(){$('#roomid_' + $id).removeClass("divwxf1"); $('#roomid_' + $id).addClass("divyxf");},1850)
						setTimeout(function(){$('#roomid_dd'+$id).remove();},3601)
					}
				}
			}
		}
	}
	
	//动态显示关注房间
	function showgzrooms()
	{
		//异步获取信息??
		var $vlist="|";
		var $roomlist=$("#roomstable").find(".divwxf");//获取未选房的房间
		if ($roomlist.length>0)
		{
			var $count=$roomlist.length;
			var $xsgs=Math.floor(Math.random()*5)+1
			for (var $k=0; $k < $xsgs; $k++)//随机显示1-6个房间
			{
				var $v=Math.floor(Math.random() * $count)
				if ($vlist.indexOf($v)==-1)//排除重复的房间
				{
					$vlist+=$v;				 
					for (var $i = 0; $i < $roomlist.length; $i++) {
						if ($i==$v)
						{
							if ($('#roomid_' + $id).hasClass("divyxf"))
							{continue;}
							var $id=$roomlist.eq($i).attr("roomid");
							var $roomno=$('#roomid_' + $id).text();
							var $zb = $('#roomid_' + $id).offset();
							var $new_div=$('#roomid_' + $id).clone().attr({id:"roomid_gz"+ $id});
							$new_div.removeClass("divwxf").hide();
							$('#roomid_' + $id).parent().append($new_div);
							$new_div.css("position","absolute"); 
							$new_div.css("top",$zb.top);
							$new_div.css("left",$zb.left);
							$new_div.text("");
							$new_div.css("width","1px");
							$new_div.addClass("divgzf").show().animate({width:'32px',opacity:'0.6'},2500);
							//$new_div.text($roomno);
							setTimeout(function(){$('.divgzf').remove();},5000);
						}
					}
				}
			}
		}
	}
	
	//显示烟花效果
	function showyh(){
		$w = $('.yhtpd').width();
		$h = $('.yhtpd').height();
		$w2 = $w + 240;
		$h2 = $h + 240;
		$("#yhtpx").show().animate({bottom: '670px'}, 1000,function(){
			$("#yhtpx").hide(100);
			$("#yhtpd").show().animate({height:$h2,width:$w2,left:"-30px",top:"-30px"},500);
			$("#yhtpx").animate({bottom: '10px'});
			setTimeout('displayyh()', 1800);
		});
	}
	
	//烟花隐藏并还原成原始位置
	function displayyh()
	{
		$("#yhtpd").animate({height:$h,width:$w,left:"70px",top:"40px"},300).hide();
	}
	
	function qkbl()
	{
		oldlist="|";
	}
	
	//动画效果99--抛物线
	/*
	$(function() { 
		var offset = $("#yhtp").offset(); 
		$(".dh01").click(function(event){ 
			var img = $("#yhtp").attr('src'); 
			var flyer = $('<img class="u-flyer" src="'+img+'">'); 
			flyer.fly({ 
				start: { 
					left: event.pageX, //开始位置（必填）#fly元素会被设置成position: fixed 
					top: event.pageY //开始位置（必填） 
					//width: 5, //结束时宽度 
					//height: 5 //结束时高度 
				}, 
				end: { 
					left: offset.left+50, //结束位置（必填） 
					top: offset.top-500, //结束位置（必填） 
					width: 0, //结束时宽度 
					height: 0 //结束时高度 
				}, 
				onEnd: function(){ //结束回调 
					//$("#msg").show().animate({width: '250px'}, 200).fadeOut(1000); //提示信息 
					//addcar.css("cursor","default").removeClass('orange').unbind('click'); 
					this.destory(); //移除dom 
				} 
			}); 
		}); 
	}); 
	*/
	</script>
</block>	