<extend name="Common/base" />

<block name="content">
    <style>
    
    video{  
            position: fixed;  
            right: 0px;  
            bottom: 0px;  
            min-width: 100%;  
            min-height: 100%;  
            height: auto;  
            width: auto;  
            /*加滤镜*/  
            /*-webkit-filter: grayscale(100%);*/  
            /*filter:grayscale(100%);*/  
        }  
        source{  
            min-width: 100%;  
            min-height: 100%;  
            height: auto;  
            width: auto;  
        }  
</style>
    <div style="width:100%;height:100%;background:#03a9f4;position: absolute;">
        <div style="position:absolute;width:100%;height:100%;display: none;overflow: hidden;background:#03a9f4" id="dsjdiv">
            <video >
                <source src="../../../Public/xk/img/djs.mp4" type="video/mp4">
            </video>
        </div>
        <div style="width:100%;height:100%;" id="roomdiv">
            <div id="divtable" style="overflow-x:auto;height:100%;float:left;width:85%;">
                <table style="border-collapse:separate;border-spacing:8px;" id="roomstable">
                    <tr>
                    <volist name="builds" id="builds_vo" key="builds_k">
                        <td valign="top">
                            <table style="">
                                <tr>
                                <volist name="units" id="units_vo" key="units_k">
                                    <if condition="$units_vo['bld_id'] eq $builds_vo['id']"> 
                                        <td>	
                                            <table style="border-collapse: collapse;border-spacing:2px;">
                                                <tr >
                                                    <td style="text-align:center;border:1px solid #fff;background-color:#03A9F4;color:#FFF;font-weight:bold;border:1px solid #fff">
                                                        <{$builds_vo['buildname']}><{$units_vo.unit|default=1}>单元</td>
                                                </tr>
                                                <tr >
                                                    <td style="border: 1px solid white;">
                                                        <table style="border-collapse: separate;border-spacing:2px;">
                                                            <volist name="floors" id="floors_vo" key="floors_k">
                                                                <if condition="$floors_vo['bld_id'] eq $builds_vo['id']">																		
                                                                    <tr> 
                                                                        <td class="td_floor">
                                                                            <{$floors_vo.floor|default=1}>F
                                                                        </td>
                                                                    <foreach name="nolist" item="nolist_vo">
                                                                        <if condition="$nolist_vo['bld_id'] eq $builds_vo['id']">
                                                                            <if condition="$nolist_vo['unit'] eq $units_vo['unit']">
                                                                                <td class="td_room">
                                                                                <for start="$ii" end="count($rooms)">
                                                                                    <if condition="$rooms[$i]['bld_id'] eq $builds_vo['id']">	
                                                                                        <if condition="$rooms[$i]['unit'] eq $units_vo['unit']">
                                                                                            <if condition="$rooms[$i]['floor'] eq $floors_vo['floor']">
                                                                                                <if condition="$rooms[$i]['no'] eq $nolist_vo['no']">
                                                                                                    <if condition="$rooms[$i]['is_xf'] eq 1">
                                                                                                        <div id="roomid_<{$rooms[$i]['id']}>" roomid="<{$rooms[$i]['id']}>" class="divyxf" style="width:60px;line-height:30px;">
                                                                                                            <font style="font-size:90%;font-weight:bold"><{$rooms[$i].room}></font><br/>
                                                                                                        </div>
                                                                                                        <else />
                                                                                                        <div id="roomid_<{$rooms[$i]['id']}>" roomid="<{$rooms[$i]['id']}>" class="divwxf" style="width:60px;line-height:30px;">
                                                                                                            <font style="font-size:90%;font-weight:bold"><{$rooms[$i].room}></font><br/>
                                                                                                        </div>
                                                                                                    </if>
                                                                                                    <php>$ii++;break;</php>
                                                                                                </if>
                                                                                            </if>
                                                                                        </if>
                                                                                    </if>
                                                                                </for>
                                                                                </td>
                                                                            </if>
                                                                        </if>
                                                                    </foreach>
                                                                    </td>
                                                                    </tr>
                                                                </if>
                                                            </volist>	
                                                        </table>
                                                    </td>
                                                </tr >
                                            </table>
                                        </td>
                                    </if>
                                </volist>
                                </tr>
                            </table>
                        </td>
                    </volist>
                    </tr>
                </table>
            </div>
            <div style="float:right;width:15%;">
            </div>
        </div>       
    </div>
    <script type="text/javascript">
        $("#roomdiv").click(function(){
             $("#dsjdiv").find("video").trigger("play");
            $("#dsjdiv").show();
            setTimeout(test,10500); 
        });
        function test()
        {
            $("#dsjdiv").fadeOut(1500);
            kkk();
        }
        
        function kkk()
        {
            $wxf=$("#divtable").find(".divwxf");
            var arrid=new Array();
            for(var i=0;i<$wxf.length;i++)
            {
                arrid[i]=$wxf.eq(i).attr("roomid");
            }
            //for(var i=0;i<$wxf.length;i++)
            //{
                var index = Math.floor((Math.random()*arrid.length)); 
                $("#roomid_"+arrid[index]).removeClass("divwxf").addClass("divyxf");
                arrid.splice(index,1);
                if (arrid.length>0)
                {
                    setTimeout(kkk,50); 
                }
            //}
        }  
        
    </script>
</block>	