<extend name="Common/base" />

<block name="header">
	<link href="__COMMON__/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
	<div class="common-header-wrapper">
		<div class="clearfix common-header">

			<div class="fl wm100 common-header-content js-common-header-content">
				<span class="common-header-content-box-no-arrow">
					<span class="common-header-content-box-name">热销排名</span>
				</span>
			</div>
		</div>
	</div>
</block>

<block name="content">
	<div class="user-project-view-base" data-project-id="<{$project['id']|default='1'}>">
		<div class="user-project-view-content-wrapper">
			<div class="user-project-view-content">

				<div class="user-project-view-content-sort">
					<div class="user-project-view-content-sort-box">
						<span class="user-project-view-content-sort-title">
							<span class="user-project-view-content-sort-title-info"><{$sub_title|default='收藏次数'}></span>排名
						</span>
					</div>
				</div>

				<div id="iscroller-wrapper" class="iscroller-style user-project-sort-content-rooms">
					<div id="iscroller-scroller" class="iscroller-scroller-style user-project-sort-content-box">
						<ul class="user-project-view-content-sort-ul user-project-view-content-sort-<{$now_type|default='collection'}>">

							<volist name="attribute_list" id="attribute_list_vo" key="attribute_list_k">
								<li>
									<div class="user-project-view-content-sort-histogram-wrapper">
										<div class="clearfix user-project-view-content-sort-histogram">
											<div class="fl wm30 user-project-view-content-sort-histogram-title">
												<a href="<{:U('room/index', array('id' => $room_list[$attribute_list_vo['room_id']]['id']))}>" class="user-project-view-content-sort-histogram-title-a <if condition=" $room_list[$attribute_list_vo[ 'room_id']][ 'is_xf'] eq 1 ">user-project-view-content-sort-histogram-title-select-a</if>">
													<{$build_list[$room_list[$attribute_list_vo[ 'room_id']][ 'bld_id']][ 'buildname']}>-
														<{$room_list[$attribute_list_vo[ 'room_id']][ 'unit']}>-
															<{$room_list[$attribute_list_vo[ 'room_id']][ 'room']}>
												</a>
											</div>
											<div class="fl wm70 user-project-view-content-sort-histogram-content">
												<div class="user-project-view-content-sort-histogram-content-box" style="width:80%">
													<div style="width: <{$attribute_list_vo['precision']}>;" class="user-project-view-content-sort-histogram-size">
														<div class="user-project-view-content-sort-histogram-size-box user-project-view-content-sort-histogram-size-box<{$attribute_list_k|default=1}>">
															<span class="user-project-view-content-sort-histogram-size-tip">
																<{$attribute_list_vo['now_count']|default=1}>次
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</volist>

						</ul>
					</div>
				</div>

				<div class="user-project-view-content-right-nav">
					<div class="user-project-view-content-right-nav-box">
						<div class="user-project-view-content-right-nav-house-type js-user-project-view-content-right-nav-house-type" style="position: absolute;right: 0;bottom:15px">
							<div class="user-project-view-content-right-nav-house-type-box">
								<ul>
									<if condition="empty($now_hxs[0])">
										<li class="user-project-view-content-right-nav-house-type-one js-user-project-view-content-right-nav-house-type-one user-project-view-content-right-nav-house-type-all user-project-view-content-right-nav-house-type-one-select">
											<a href="javascript:void(0);">全部</a>
										</li>
										<else />
										<li class="user-project-view-content-right-nav-house-type-one js-user-project-view-content-right-nav-house-type-one user-project-view-content-right-nav-house-type-all">
											<a href="javascript:void(0);">全部</a>
										</li>
									</if>

									<volist name="hx_list" id="hx_list_vo" key="hx_list_k">
										<if condition="in_array(strtolower($hx_list_vo['hx']), $now_hxs)">
											<li class="user-project-view-content-right-nav-house-type-one js-user-project-view-content-right-nav-house-type-one">
												<a href="javascript:void(0);" data-hx="<{$hx_list_vo['hx']}>">
													<{$hx_list_vo[ 'hx']}>
												</a>
											</li>
											<else />
											<li class="user-project-view-content-right-nav-house-type-one js-user-project-view-content-right-nav-house-type-one">
												<a href="javascript:void(0);" data-hx="<{$hx_list_vo['hx']}>">
													<{$hx_list_vo[ 'hx']}>
												</a>
											</li>
										</if>
									</volist>
								</ul>
							</div>
						</div>

						<div class="user-project-view-content-right-nav-btn js-user-project-view-content-right-nav-btn" style="bottom:35px;">
							<span class="user-project-view-content-right-nav-btn-box">
								户型筛选</span>
						</div>
					</div>
					<div class="user-project-footers">
						<div class="user-project-footer-tabs-wrapper" style="position: fixed;bottom: 56px;width: 100%;z-index: 50;left: 0;">
							<div class="user-project-footer-tabs">
								<span class="user-project-footer-tabs-box">
					<span class="user-project-footer-tabs-btn js-user-project-footer-tabs-btn user-project-footer-tabs-btn1 <if condition="$now_type eq 'collection'">user-project-footer-tabs-btn-select</if>" data-type="collection">
						收藏次数
					</span>
								<span class="user-project-footer-tabs-btn js-user-project-footer-tabs-btn user-project-footer-tabs-btn2 <if condition=" $now_type eq 'comparison' ">user-project-footer-tabs-btn-select</if>" data-type="comparison">
						对比次数
					</span>
								<span class="user-project-footer-tabs-btn js-user-project-footer-tabs-btn user-project-footer-tabs-btn3 <if condition=" $now_type eq 'follow' ">user-project-footer-tabs-btn-select</if>" data-type="follow">
						关注次数
					</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>

</block>

<block name="footer">
	<div class="weui-tabbar">
		<a href="/User/index/index/info/p<{$id}>.html" class="weui-tabbar__item weui-bar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-list weui-tabbar__icon" ></i>
            </span>
			<p class="weui-tabbar__label">房源列表</p>
		</a>
		<!--<a href="/User/OrderHouse/roomsseach/id/<{$eventId}>.html" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-search weui-tabbar__icon" ></i>
            </span>
            <p class="weui-tabbar__label">房源筛选</p>
        </a>-->
		<a href="/User/index/collectedroom/id/<{$id}>.html" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-heart-o weui-tabbar__icon" ></i>
                <span class="weui-badge user-project-view-content-gwc-num" style="position: absolute;top: 2px;right: -10px"><{$cou}></span>
            </span>
			<p class="weui-tabbar__label">备选房源</p>
		</a>

		<a id="rd" onclick="document.getElementById('rd').style.color=document.getElementById('rd').style.color=='peru' ? '':'peru';" href="/user/hot/index/info/p<{$id}>.html" class="weui-tabbar__item weui-bar__item_on">
                <span style="display: inline-block;position: relative;">
                <i class="fa fa-bar-chart-o weui-tabbar__icon" ></i>
            </span>
			<p class="weui-tabbar__label">房源热度</p>
		</a>
	</div>
</block>

<block name="footer_js">
	<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_hot" iscroller_select_id="iscroller-wrapper" />
	<link href="__COMMON__/js//jquery/iscroll/iscroll.css" type="text/css" rel="stylesheet" />
	<script src="__COMMON__/js/jquery/iscroll/iscroll.js"></script>
	<script>
		function wode(v) {
			//var project_id = '<{$search_project_id}>';
			//alert(project_id)
			if(v == 0) {
				window.location.href = "<{:U('Index/index', array('info' => set_search_ids(array('p' => $search_project_id))))}>";
			
			} else if(v == 1) {
				window.location.href = "<{:U('User/index',array('info' => set_search_ids(array('p' => $search_project_id))))}>";
			} else if(v == 2) {
				window.location.href = "<{:U('hot/index', array('info' => set_search_ids(array('p' => $search_project_id))))}>";
			} else {
				window.location.href = "<{:U('User/index',array('info' => set_search_ids(array('p' => $search_project_id))))}>";
			}
			//			document.searchform.href = "<{:U('User/index')}>";
		}
		
	</script>
</block>