/** 置业顾问 **/

html,
body {
	height: 100%;
}

.base {
	height: 100%;
	background: #d7e7f5;
}


/* 底部 - 帮助 */

.saler-footer-help-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	border-top: 1px solid #c9c9c9;
	padding: 5px 0;
	background: #e7f0f9;
	text-align: center;
}

.saler-footer-help-btn {
	font-size: 85%;
	background-color: #ffffff;
	box-sizing: border-box;
	border: 1px solid #33ccff;
	border-radius: 5px;
	margin: 3px 10px;
	padding: 5px 15px;
	line-height: 30px;
}

.saler-footer-help-btn-saled {
	background-color: #c00000;
	color: #FFF;
	border: 1px solid #c00000;
	margin-left: 10px;
}


/* 登录 */

.saler-login-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 30;
}

.saler-login-wrapper-shade {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	opacity: 0.5;
	background: url(../img/saler/login-bg.jpg);
}

.saler-login-form {}

.saler-login-box {
	width: 90%;
	margin: 0 auto;
	background: inherit;
	box-sizing: border-box;
	margin-top: 38%;
	padding: 15px 0;
	position: relative;
}

.saler-login-box-wrapper {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 150;
}

.saler-login-box-shade {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background-color: #ffffff;
	opacity: 0.8;
	border: 1px solid #797979;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 10px;
}

.saler-login-box-title {
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	color: #1e1919;
	text-align: center;
}

.saler-login-box-left-title span {
	margin-right: 5px;
	color: #333;
	font-size: 14px;
}

.saler-login-box-input {
	width: 85%;
	padding: 2px 3px;
	color: #999999;
	border: 1px solid #a9a9a9;
}

.saler-login-box-input:focus {
	-moz-box-shadow: 0 0 5px #81d4fa;
	-webkit-box-shadow: 0 0 5px #81d4fa;
	box-shadow: 0 0 5px #81d4fa;
}

.saler-login-box-user {
	margin-top: 15px;
}

.saler-login-box-password {
	margin-top: 15px;
}

.saler-login-box-btns {
	margin-top: 15px;
	margin-bottom: 10px;
}

.saler-login-box-btn {
	background: inherit;
	background-color: rgba(3, 169, 244, 1);
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFF;
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 7px 0;
}


/* 项目列表 */

.saler-project-header {
	display: block;
	background-color: #03a9f4;
	box-sizing: border-box;
	border: 1px solid #ffffff;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	color: #FFFFFF;
	text-align: center;
	padding: 10px 0;
}

.saler-project-content-wrapper {
	background: #FFF;
	width: 99.1%;
	margin-left: 0.5%;
}

.saler-project-content {}

.saler-project-content-list {
	padding: 5px 10px;
}

.saler-project-content-list li {
	border-bottom: 1px solid #c9c9c9;
	padding-top: 5px;
}

.saler-project-content-list li a {
	color: #333333;
	/*font-family: 'Arial Normal', 'Arial';*/
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	display: block;
	padding: 5px 10px;
}


/* 项目详情 */

.saler-project-view-base {
	height: 100%;
	background: #e7f0f9;
	position: relative;
	overflow: hidden;
}

.saler-project-view-header-wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
}

.saler-project-view-header {
	font-size: 15px;
	color: #03A9F4;
	background: rgba(102, 204, 255, 0.25);
	border-top: 1px solid #03a9f4;
	font-weight: bold;
}

.saler-project-view-header-return {
	padding: 10px 0;
	background: url(../img/project/arrow-left.png) no-repeat scroll 5px 10px/14px 23px;
}

.saler-project-view-header-return-box {
	position: relative;
	padding-left: 20px;
}

.saler-project-view-header-return-btn {
	color: #03A9F4;
	font-size: 13px;
}

.saler-project-view-header-return-box .icon-return {
	background: url(../img/project/arrow-left.png) no-repeat scroll;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
}

.saler-project-view-header-content {
	position: relative;
	padding: 10px 0;
	text-align: center;
}

.saler-project-view-header-content-arrow-bottom {
	background: url(../img/project/arrow-bottom-small.png) no-repeat scroll 2px 10px/20px 10px;
	display: block;
	position: absolute;
	right: 0;
	top: 6px;
	width: 40px;
	height: 25px;
}

.saler-project-header-reload-a {
	display: inline-block;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg)
	}
}

@-ms-keyframes rotate {
	from {
		-ms-transform: rotate(0deg)
	}
	to {
		-ms-transform: rotate(360deg)
	}
}

@-o-keyframes rotate {
	from {
		-o-transform: rotate(0deg)
	}
	to {
		-o-transform: rotate(360deg)
	}
}

.saler-project-header-reload-btn-rotate {
	animation: .5s linear 0s normal none infinite rotate;
	-webkit-animation: .5s linear 0s normal none infinite rotate;
}

.icon-user {
	color: deepskyblue;
	position: absolute;
	right: 8px;
	font-size: 26px;
	top: 9px;
}

.icon-home {
	margin-left: 35px;
	margin-right: -26px;
	font-size: 26px;
	position: relative;
	top: -14px;
}

.icon-fire {
	margin-left: 32px;
	margin-right: -24px;
	font-size: 26px;
	position: relative;
	top: -18px
}

.dibu {
	padding-top: 21px;
}

.icon-exchange {
	margin-left: 5px;
	margin-right: 49px;
	font-size: 24px;
	position: relative;
	top: 6px;
}

.saler-project-view-header-content-box {
	display: block;
	padding-right: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
	font-size: 15px;
}

.saler-project-view-header-content-box-no-arrow {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
	font-size: 15px;
}

.saler-project-view-header-content-box-name,
.saler-project-view-header-content-box-build,
.saler-project-view-header-content-box-unit {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
	font-size: 15px;
}

.saler-project-view-header-right {
	padding: 10px 0;
}

.saler-project-view-header-unit-wrapper {
	position: absolute;
	top: 44px;
	width: 100%;
	display: none;
	z-index: 100;
}

.saler-project-view-header-unit {
	width: 65%;
	margin: 0 auto;
	background: rgba(102, 204, 255, 0.917647058823529);
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ffffff;
}

.saler-project-view-header-unit-info {
	width: 21%;
	text-align: center;
	font-size: 13px;
}

.saler-project-view-header-unit-info > a {
	font-size: 12px;
	margin: 2px 5px;
	background-color: #ffffff;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-style: normal;
	display: block;
	padding: 5px 0;
	color: #999;
        font-weight: 400;
}

.saler-project-view-header-unit-info-selected > a {
	background: #03a9f4;
	color: #FFF;
	font-weight: bold;
	border: 1px solid #03a9f4;
}

.saler-project-view-content-wrapper {
	padding-bottom: 10px;
}

.saler-project-view-content-tabs {
	/*border-bottom: 1px solid #03a9f4;*/
	padding: 0;
	margin-top: 50px
}

.saler-project-view-content-tab-info {
	display: block;
	text-align: center;
	color: rgba(178, 2, 75, 135.7);
	font-size: 14px;
	padding: 0px 0;
}

.saler-project-view-content-tab-hot {
	border: 0;
	/*color: rgba(158, 148, 148, 0.7);*/
}

.saler-project-view-content-tab-selected .saler-project-view-content-tab-info {
	/*background-color: #ffffff;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #03a9f4;
    border-bottom: 0px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #666666;*/
	text-align: center;
	/*font-weight: bold;
    color: #FFF;
    background: #03A9F4;*/
}

.saler-project-view-content-search {
	padding: 5px 0 5px 0;
	margin-top: -5px;
	background: #03A9F4;
}

.saler-project-view-content-search-input {
	height: 25px;
	width: 293%;
	margin: 0 0 0 5px;
	border-radius: 5px;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #999999;
	text-align: center;
	border-color: transparent;
	outline-style: none;
	/*padding-left: 25px;*/
	background: url(../img/project/search.png) no-repeat scroll 2px 2px/18px 18px;
	background-color: #fff;
}

.saler-project-view-content-search-compare {
	text-align: right;
	padding-top: 1px;
}

.saler-project-view-content-search-compare-box {
	position: relative;
	cursor: pointer;
}

.saler-project-view-content-search-compare-btn {
	background-color: #FFF;
	border: none;
	border-radius: 5px;
	font-weight: 700;
	color: #03A9F4;
	font-size: 13px;
	padding: 5px 10px 5px 25px;
	margin: 1px 10px 1px 0;
	position: static;
	z-index: 26;
	line-height: 24px;
}

.saler-project-view-content-search-compare-img {
	position: absolute;
	/*top: -2px;*/
	left: 0;
	z-index: 25;
	width: 25px;
	height: 25px;
	background: url(../img/project/compare.png) no-repeat scroll 0 0px/25px 25px;
}

.saler-project-view-content-rooms {
	top: 81px;
	bottom: 43px;
}

.saler-project-view-content-rooms-box {
	margin: 1px 0;
}

.saler-project-view-content-rooms-box tr {}

.saler-project-view-content-rooms-box td {
	min-height: 60px;
}

.saler-project-view-content-rooms-box td.saler-project-view-content-rooms-floor {
	width: 28px;
	background: #03a9f4;
	border: 1px solid #FFF;
	font-weight: 700;
	color: #FFF;
	font-size: 13px;
	text-align: center;
	padding: 5px 3px;
}

.saler-project-view-content-rooms-box td.saler-project-view-content-rooms-room {
	width: 100%;
}

.saler-project-view-content-rooms-list {
	font-size: 12px;
}

.saler-project-view-content-rooms-list li {
	position: relative;
	z-index: 25;
}

.saler-project-view-content-rooms-room-box-shadow {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 26;
	display: none;
}

.saler-project-view-content-rooms-room-box-shadow-info {
	border-radius: 5px;
	margin: 1px 5px;
	padding: 0 2px;
}

.saler-project-view-content-rooms-room-a {
	display: block;
	color: #333333;
}

.saler-project-hot {
	width: 20px;
	height: 22px;
	position: absolute;
	color: red;
	background: url(../img/hot1.png) no-repeat scroll 0px 0px/20px 22px;
	right: 0;
	top: -3px;
}

.saler-project-view-content-rooms-room-box {
	font-size: 10px;
	background-color: #ffffff;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #33ccff;
	border-radius: 5px;
	margin: 3px 4px;
	padding: 0 5px;
}

.saler-project-view-content-rooms-room-box:hover {}

.saler-project-view-content-rooms-room-box-selected {
	background-color: #c00000;
	color: #FFF;
	border: 1px solid #c00000;
}

.saler-project-view-content-rooms-room-name {
	font-size: 10px;
	text-align: center;
	font-weight: 700;
}

.saler-project-view-content-rooms-room-area {
	font-size: 10px;
	text-align: center;
}

.saler-project-view-content-rooms-room-cost {
	font-size: 10px;
	text-align: center;
}

.saler-project-view-content-selected-wrapper {
	position: absolute;
	bottom: 45px;
	right: 5px;
	width: auto;
	z-index: 25;
	display: none;
}

.saler-project-view-content-selected {
	box-sizing: border-box;
	position: relative;
	z-index: 25;
}

.saler-project-view-content-selected-info {
	position: relative;
	z-index: 25;
	box-sizing: border-box;
}

.saler-project-view-content-selected-shadow {
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	width: 100%;
	border: 1px solid #03a9f4;
	border-radius: 5px;
	background: #ffffff;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	box-sizing: border-box;
}

.saler-project-view-content-selected-num-wrapper {
	position: absolute;
	top: -10px;
	left: -3px;
}

.saler-project-view-content-selected-num {
	display: block;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 0, 0, 1);
	border: none;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	color: #FFFFFF;
	text-align: center;
}

.saler-project-view-content-selected-contrasts-wrapper {}

.saler-project-view-content-selected-contrasts {
	text-align: center;
}

.saler-project-view-content-selected-contrasts-btn {
	text-align: center;
	background-color: rgb(3, 169, 244);
	border: none;
	border-radius: 10px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	color: #FFF;
	font-size: 13px;
	display: block;
	padding: 5px 15px;
	width: 30px;
}

.saler-project-view-content-help-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	border-top: 1px solid #c9c9c9;
	/*padding: 9px 0;*/
	background: #e7f0f9;
	text-align: center;
}

.saler-project-view-content-help-btn {
	font-size: 85%;
	background-color: #ffffff;
	box-sizing: border-box;
	border: 1px solid #33ccff;
	border-radius: 5px;
	margin: 3px 10px;
	padding: 6px 15px;
	line-height: 30px;
}

.saler-project-view-content-help-saled {
	background-color: #c00000;
	color: #FFF;
	border: 1px solid #c00000;
	margin-left: 10px;
}


/* 房间详情 */

.saler-project-view-header-room-title {
	display: block;
	padding-right: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
	font-size: 15px;
}

.saler-project-room {
	margin: 0 2px;
}

.saler-project-room-wrapper {
	top: 45px;
}

.saler-project-room-attribute {
	margin: 0 2px;
}

.saler-project-room-border {
	background-color: #ffffff;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #33ccff;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-style: normal;
	color: #515151;
	text-align: left;
	font-size: 13px;
}

.saler-project-room-project-box {
	font-weight: 700;
	font-size: 13px;
	padding: 5px 5px;
}

.saler-project-room-name-box {
	font-weight: 700;
	font-size: 13px;
	padding: 5px 5px;
}

.saler-project-room-info {
	width: 100%;
}

.saler-project-room-info span {
	display: block;
	padding: 3px 5px;
	font-size: 13px;
}

.saler-project-room-info-title {
	font-weight: 700;
}

.saler-project-room-info table {
	width: 100%;
}

.saler-project-room-info td {
	background-color: #ffffff;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #33ccff;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-style: normal;
	color: #515151;
	text-align: left;
	font-size: 13px;
}

.saler-project-room-info-td1 {
	width: 25%;
}

.saler-project-room-info-td2 {
	width: 15%;
}

.saler-project-room-info-td3 {
	width: 25%;
}

.saler-project-room-info-td4 {
	width: 35%;
}

.saler-project-room-attribute-box {
	margin-top: 5px;
}

.saler-project-room-attribute-box table {
	width: 100%;
}

.saler-project-room-attribute-box td {
	background-color: #ffffff;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #33ccff;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-style: normal;
	color: #515151;
	text-align: left;
	font-size: 13px;
}

.saler-project-room-attribute-box span {
	display: block;
	padding: 3px 5px;
	font-size: 13px;
}

.saler-project-room-attribute-td1 {
	width: 25%;
}

.saler-project-room-attribute-td2 {
	width: 75%;
}

.saler-project-room-attribute-box span.saler-project-room-info-content-star {
	font-size: 16px;
}

.saler-project-room-info-content b {
	font-size: 13px;
}


/* 房间对比 */

.saler-project-room-list {
	top: 45px;
	bottom: 0;
}

.saler-project-room-list-rooms {
	padding: 0 2px;
}

.saler-project-room-list-box {}

.saler-project-room-list-title {
	font-size: 14px;
	box-sizing: border-box;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	color: #000000;
}

.saler-project-room-list-title-box {
	font-size: 14px;
	padding: 5px;
	background-color: #f2f2f2;
}

.saler-project-room-list-rooms-box {
	border-bottom: 1px solid #33ccff;
	border-left: 1px solid #33ccff;
	border-right: 1px solid #33ccff;
}

.saler-project-room-list-rooms-table {
	width: 100%;
	table-layout: fixed;
	word-break: break-all;
	/* overflow:hidden; */
}

.saler-project-room-list-rooms-table td {
	font-size: 13px;
	border: 1px solid #33ccff;
	box-sizing: border-box;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	padding: 5px;
	background: #ffffff;
}

.saler-project-room-list-td1 {
	width: 90px;
}

.saler-project-room-list-td-title {
	font-size: 13px;
	display: block;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #666666;
}

.saler-project-room-list-title-employer {
	font-size: 11px;
}

.saler-project-room-list-rooms-table td.saler-project-room-list-td-room-name {
	background-color: #f2f2f2;
	box-sizing: border-box;
}

.saler-project-room-list-rooms-table td.saler-project-room-list-td1-title {
	padding: 0;
}

.saler-project-room-list-room-name {
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 13px;
	color: #000000;
}

.saler-project-room-list-td-content {
	font-size: 13px;
	display: block;
}

.saler-project-room-list-content-star {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	color: #333333;
	font-size: 12px;
	text-align: left;
}

.saler-project-room-list-td-content-has-sale {
	font-size: 13px;
}

.saler-project-room-list-title-hot-sale {
	border-top: 1px solid #33ccff;
}


/* 热销排行 */

.saler-project-view-content-sort-box {
	background-color: #03a9f4;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	border-bottom: 0px;
	border-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	/*font-weight: 700;*/
	font-style: normal;
	color: #FFFFFF;
	text-align: center;
	padding: 2px 0;
}

.saler-project-view-content-sort-title {
	font-size: 14px;
}

.saler-project-view-content-sort-title-info {
	font-size: 14px;
}

.saler-project-sort-content-rooms {
	background: #ffffff;
	bottom: 57px;
	top: 80px;
}

.saler-project-view-content-sort-ul {
	padding: 15px 5px;
}

.saler-project-view-content-sort-histogram-title {
	text-align: right;
}

.saler-project-view-content-sort-histogram-title-a {
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	text-decoration: underline;
	color: #666666;
	font-size: 14px;
	margin-right: 10px;
}

.saler-project-view-content-sort-histogram-title-select-a {
	/* color: #a764a7; */
	color: #666;
}

.saler-project-view-content-sort-ul li {
	margin-bottom: 12px;
}

.saler-project-view-content-sort-histogram-box {}

.saler-project-view-content-sort-histogram-size {
	box-sizing: border-box;
}

.saler-project-view-content-sort-histogram-size-box {
	border: none;
	border-radius: 5px;
	font-size: 14px;
	color: #6B6B6B;
	height: 26px;
	text-align: left;
	/*margin-right: 50px;*/
	position: relative;
	/*-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);*/
	padding-left: 5px;
}

.saler-project-view-content-sort-histogram-size-tip {
	position: absolute;
	right: -40px;
	padding-top: 6px;
	z-index: 60;
	font-size: 14px;
	text-align: left;
	font-weight: 700;
}


/* 热度排名 - 收藏 */

.saler-project-view-content-sort-collection .saler-project-view-content-sort-histogram-size-box {
	background-color: #FFF;
	border: 1px solid #2cb9dd;
}

.saler-project-view-content-sort-collection .saler-project-view-content-sort-histogram-size-box1 {
	background-color: #eb5858;
	height: 24px;
	border: 0;
}

.saler-project-view-content-sort-collection .saler-project-view-content-sort-histogram-size-box2 {
	background-color: #a764a7;
	height: 24px;
	border: 0;
}

.saler-project-view-content-sort-collection .saler-project-view-content-sort-histogram-size-box3 {
	background-color: #f39900;
	height: 24px;
	border: 0;
}


/* 热度排名 - 对比 */

.saler-project-view-content-sort-comparison .saler-project-view-content-sort-histogram-size-box {
	background-color: #FFF;
	border: 1px solid #d99795;
}

.saler-project-view-content-sort-comparison .saler-project-view-content-sort-histogram-size-box1 {
	background-color: #eb5858;
	border:0;
	height: 24px;
}

.saler-project-view-content-sort-comparison .saler-project-view-content-sort-histogram-size-box2 {
	background-color: #e56c0a;
	border:0;
	height: 24px;
}

.saler-project-view-content-sort-comparison .saler-project-view-content-sort-histogram-size-box3 {
	background-color: #a764a7;
	border:0;
	height: 24px;
}


/* 热度排名 - 关注 */

.saler-project-view-content-sort-follow .saler-project-view-content-sort-histogram-size-box {
	background-color: #FFF;
	border: 1px solid #9bbb58;
}

.saler-project-view-content-sort-follow .saler-project-view-content-sort-histogram-size-box1 {
	background-color: #eb5858;
	border: 0;
	height: 24px;
}

.saler-project-view-content-sort-follow .saler-project-view-content-sort-histogram-size-box2 {
	background-color: #f39900;
	border: 0;
	height: 24px;
}

.saler-project-view-content-sort-follow .saler-project-view-content-sort-histogram-size-box3 {
	background-color: #2cb9dd;
	border: 0;
	height: 24px;
}

.saler-project-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 50;
}

.saler-project-footer-tabs {
	text-align: center;
	padding: 15px 0;
	background: #e7f0f9;
	border-top: 1px solid #03a9f4;
}

.saler-project-footer-tabs-btn {
	background: inherit;
	background-color: #03a9f4;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #03a9f4;
	border-left: 0px;
	border-right: 0px;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFFFFF;
	padding: 8px 15px;
	margin-right: 2px;
	font-size: 13px;
}

.saler-project-footer-tabs-btn1 {
	border-right: 0px;
	border-radius: 15px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.saler-project-footer-tabs-btn3 {
	border-left: 0px;
	border-radius: 15px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.saler-project-footer-tabs-btn-select {
	background-color: #ffffff;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #03a9f4;
	font-weight: 700;
	color: #03a9f4;
}


/* 户型筛选 */

.saler-project-view-content-right-nav {
	position: fixed;
	right: 15px;
	bottom: 80px;
	z-index: 50;
}

.saler-project-view-content-right-nav-box {
	position: relative;
}

.saler-project-view-content-right-nav-btn {
	width: 39px;
	height: 39px;
	border-radius: 50%;
	background: #03a9f4;
	cursor: pointer;
	margin: 0 auto;
	position: relative;
	z-index: 50;
}

.saler-project-view-content-right-nav-btn-box {
	display: block;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	padding: 5px 7px;
}

.saler-project-view-content-right-nav-house-type {
	display: none;
	position: absolute;
	bottom: 20px;
	z-index: 25;
}

.saler-project-view-content-right-nav-house-type-box {
	background-color: #b3e5fc;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #b3e5fc;
	border-bottom: 0px;
	border-radius: 20px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 15px 0 17px 0;
	width: 39px;
}

.saler-project-view-content-right-nav-house-type-one {
	text-align: center;
	margin-bottom: 10px;
}

.saler-project-view-content-right-nav-house-type-one > a {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	display: block;
	width: 35px;
	margin: 0 auto;
	background-color: rgba(251, 253, 254, 0.63);
	box-sizing: border-box;
	border-width: 1px;
	/*border-style: solid;
    border-color: #03a9f4;*/
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #C8C7C7;
}

.saler-project-view-content-right-nav-house-type-one-select > a {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background-color: #03a9f4;
}


/* 搜索 */

.saler-search-base {
	height: 100%;
	overflow: hidden;
        background: #e7f0f9;
}

.saler-search-wrapper {
	padding-top: 45px;
	padding-bottom: 10px;
}

.saler-search-form {
	padding: 2px 0;
}

.saler-search-form-input-box-input {
	height: 25px;
	width: 95%;
	margin: 1px 0 1px 5px;
	border-radius: 10px;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #999999;
	text-align: center;
	border-color: transparent;
	outline-style: none;
	padding-left: 25px;
	background: url(../img/project/search.png) no-repeat scroll 5px 3px/18px 18px;
	background-color: #fff;
	border: 1px solid #03A9F4;
}

.saler-search-form-input-box-input:focus {
	/*background-color: rgba(255, 204, 255, 0.15);*/
}

.saler-search-form-choose-box {
	position: relative;
	text-align: right;
	padding-top: 2px;
}

.saler-search-form-choose-btn {
	background-color: #ffffff;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #03A9F4;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #03A9F4;
	font-size: 13px;
	padding: 5px 10px;
	margin-right: 5px;
	cursor: pointer;
}

.saler-search-form-choose-option {
	position: absolute;
	right: 0;
	z-index: 60;
	width: 245px;
	background: inherit;
	background-color: #ffffff;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #03a9f4;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 5px;
	display: none;
}

.saler-search-form-choose-option-shadow {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 55;
	opacity: 0.5;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	display: none;
}

.saler-search-form-choose-option-box {
	padding: 20px 5px 15px 5px;
}

.saler-search-form-choose-option input {
	box-sizing: border-box;
	padding: 1px 0px 1px 0px;
	width: 48px;
	height: 23px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #333333;
	text-align: center;
}

.saler-search-form-choose-option-list {
	margin-bottom: 15px;
}

.saler-search-form-choose-option-list-build {
	margin-bottom: 10px;
}

.saler-search-form-choose-option-title {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-size: 13px;
	color: #333333;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	width: 40%;
	padding: 3px 0;
}

.saler-search-form-choose-option-content {
	text-align: left;
	width: 60%;
}

.saler-search-form-choose-option-footer-btns {
	text-align: center;
}

.saler-search-form-choose-option-content-info {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	padding: 3px 10px;
}

.saler-search-form-choose-option-a {
	background-color: #ffffff;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: #B9B7B7;
	border-radius: 8px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #B9B7B7;
	cursor: pointer;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	padding: 3px 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
}

.saler-search-form-choose-option-a-select {
	color: #FFFFFF;
	background: #03a9f4;
	border-color: #03a9f4;
	font-weight: bold;
}

.saler-search-form-choose-option-footer-btn {
	background-color: #03a9f4;
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #FFF;
	padding: 5px 25px;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.saler-search-filter {
	background: #e7f1f9;
	border-top: 1px solid #9ac3ec;
	border-bottom: 1px solid #9ac3ec;
	padding: 3px 0 5px 0;
}

.saler-search-filter-title-info {
	font-family: 'Microsoft YaHei';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #797979;
	text-align: left;
	margin-left: 10px;
}

.saler-search-filter-tabs-box {
	text-align: right;
	/*margin-top: 2px;*/
}

.saler-search-filter-tabs-labels {
	margin-right: 10px;
}

.saler-search-filter-tabs-label {
	color: #797979;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	margin-left: 20px;
}


/* 表格 */

.saler-search-filter-rooms-wrapper {
	background: #e7f0f9;
	bottom: 0;
	margin-top: 8px;
}

.saler-search-filter-rooms {
	/*border-bottom: 1px solid #797979;*/
}

.saler-search-filter-table {
	width: 100%;
}

.saler-search-filter-table-title-info {
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFFFFF;
	font-size: 13px;
}

.saler-search-filter-table-title {
	background: #03a9f4;
	border: 1px solid #c9e2f9;
}

.saler-search-filter-table-title-box {
	text-align: center;
	padding: 3px 2px;
}

.saler-search-filter-table-tr {
	background: #ffffff;
	border-bottom: 1px solid #c9c9c9;
	height: 40px;
}

.saler-search-filter-table-tr:hover {
	background: #ffccff;
}

.saler-search-filter-table-tr-title {
	border-bottom: 1px solid #797979;
}

.saler-search-filter-table-room-info {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
	cursor: pointer;
	display: block;
	padding: 5px 8px;
}

.saler-search-filter-table-room-area .saler-search-filter-table-room-info {
	text-align: right;
}

.saler-search-filter-table-room-total .saler-search-filter-table-room-info {
	text-align: right;
}

.saler-search-filter-table-tr .saler-search-filter-table-td {
	/*border: 1px solid #FFF;*/
}

.saler-search-filter-table-sale .saler-search-filter-table-room-info {
	color: #A80000;
}

.saler-search-filter-table-room-box-hx {
	position: relative;
}

.saler-search-filter-table-room-sold {
	position: absolute;
	top: 0;
	right: -12px;
}


/************ 项目数据统计 ************/

.saler-statistics-list-box {
	padding: 0 3px 5px 3px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
}

.saler-statistics-list-wrapper {
	top: 0;
	bottom: 0;
}

.saler-statistics-content-option-btn {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-size: 14px;
	text-decoration: underline;
	color: #FFFFFF;
}

.saler-statistics-content-box-shadow {
	-moz-box-shadow: 0 -3px 2px 0 rgba(20%, 60%, 90%, 0.5);
	-webkit-box-shadow: 0 -3px 2px 0 rgba(20%, 60%, 90%, 0.5);
	box-shadow: 0 -3px 2px 0 rgba(20%, 60%, 90%, 0.5);
}

.sales-statistics-content {
	bottom: 0;
	top: 42px;
}

.saler-statistics-content-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.saler-statistics-content-unit {
	background: #2ca3f5;
	color: #FFF;
	font-size: 14px;
	margin-top: 5px;
}

.saler-statistics-content-unit-box {
	position: relative;
	height: 150px;
}

.saler-statistics-content-unit-info {
	padding-top: 30px;
}

.saler-statistics-content-unit-img {
	text-align: right;
}

.saler-statistics-content-unit-img-info {
	margin-right: 20px;
	width: 82px;
	height: 77px;
}

.saler-statistics-content-unit-title {
	margin-top: 5px;
}

.saler-statistics-content-unit-title1,
.saler-statistics-content-unit-title2 {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-top: 1px;
}

.saler-statistics-content-unit-math {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.saler-statistics-content-unit-option {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	height: 25px;
}

.saler-statistics-content-unit-option-btn {
	margin: 0 10px 5px 0;
	font-size: 14px;
	text-decoration: underline;
}

.saler-statistics-content-price {
	background: #2ac75e;
}

.saler-statistics-content-price-box {
	padding: 10px 5px;
	color: #FFF;
	position: relative;
}

.saler-statistics-content-price-title {
	padding: 15px 5px 20px 5px;
	margin-bottom: 20px;
}

.saler-statistics-content-price-title1,
.saler-statistics-content-price-title2 {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-top: 1px;
}

.saler-statistics-content-price-math {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.saler-statistics-content-price-option {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
	height: 25px;
}

.saler-statistics-content-price-option-btn {
	margin: 0 10px 5px 0;
	font-size: 14px;
	text-decoration: underline;
}

.saler-statistics-content-box1 {}

.saler-statistics-content-sale-box1 {
	background: #fe7495;
	color: #FFF;
}

.saler-statistics-content-sale-box1-wrapper {
	padding: 10px 5px 25px 5px;
	position: relative;
	border-right: 1px solid #d7e7f5;
	height: 90px;
}

.saler-statistics-content-sale-box1-title-info {
	width: 20px;
	height: 76px;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
	word-wrap: break-word;
	display: block;
	line-height: 20px;
	margin-left: 5px;
	margin-top: 7px;
}

.saler-statistics-content-sale-box1-content-list {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.saler-statistics-content-sale-math {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.saler-statistics-content-sale-box1-option {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
	height: 25px;
}

.saler-statistics-content-sale-box1-option-btn {
	margin: 0 10px 5px 0;
	font-size: 14px;
	text-decoration: underline;
}

.saler-statistics-content-sale-box2 {
	background: #7fd340;
	color: #FFF;
}

.saler-statistics-content-sale-box2-wrapper {
	padding: 10px 8px 25px 8px;
	position: relative;
	border-left: 1px solid #d7e7f5;
	height: 90px;
}

.saler-statistics-content-sale-box2-content-list {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.saler-statistics-content-sale-box2-option {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
	height: 25px;
}

.saler-statistics-content-sale-box2-option-btn {
	margin: 0 10px 5px 0;
	font-size: 14px;
	text-decoration: underline;
}

.saler-statistics-content-box2 {
	height: 105px;
}

.saler-statistics-content-box2-content-box {
	text-align: center;
	color: #FFF;
}

.saler-statistics-content-box2-content-box .saler-statistics-content-box2-content-info {
	height: 105px;
}

.saler-statistics-content-box2-content-box1 {
	background: #eac445;
}

.saler-statistics-content-box2-content-box1 .saler-statistics-content-box2-content-info {}

.saler-statistics-content-box2-content-box2 {
	background: #50ade8;
}

.saler-statistics-content-box2-content-box2 .saler-statistics-content-box2-content-info {
	border-left: 2px solid #d7e7f5;
	border-right: 2px solid #d7e7f5;
}

.saler-statistics-content-box2-content-box3 {
	background: #c861fa;
	cursor: pointer;
}

.saler-statistics-content-box2-content-box3 .saler-statistics-content-box2-content-info {}

.sales-statistics-content .saler-statistics-content-img {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	height: 40px;
}

.sales-statistics-content .saler-statistics-content-img-info {
	width: 63px;
	height: 36px;
}

.sales-statistics-content .saler-statistics-content-title {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
}

.saler-statistics-content-info-a {
	color: #FFF;
	display: block;
}


/* 已售占比分析(按户型套数) */

.sales-saled-content {
	bottom: 0;
}

.saler-saled-img-box {
	background: #FFF;
	height: 325px;
}

.saler-saled-svg-wrapper {
	padding: 35px 0;
	margin: 0 auto;
	text-align: center;
}

.saler-saled-svg {
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.saler-saled-svg-inner {
	position: absolute;
	left: 75px;
	bottom: 79px;
}

.saler-saled-content {
	position: relative;
	z-index: 50;
}

.saler-saled-content-icon {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}

.saler-saled-content-icon-info {
	vertical-align: top;
	margin: 0 auto;
	text-align: center
}

.saler-saled-content-info-math {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 700;
	color: #03A9F4;
	font-size: 20px;
}

.saler-saled-content-box {}

.saler-saled-content-box-info {
	padding: 30px 13px;
}

.saler-saled-content-info {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 5px;
}


/* 已售占比分析(按户型金额) */

.saler-saled-content-price-table {
	width: 100%;
}

.saler-saled-content-price-tr {
	background: #FFF;
}

.saler-saled-content-price-tr:nth-child(odd) {
	background: #dfecf7;
}

.saler-saled-content-price-tr:last-child {
	border-bottom: 1px solid #FFF;
}

.saler-saled-content-price-tr .saler-saled-content-price-td {
	font-size: 14px;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	padding: 5px 0;
	text-align: center;
}

.saler-saled-content-price-tr-title .saler-saled-content-price-td {
	background: #03a9f4;
	color: #FFF;
	padding: 5px 0;
}

.saler-saled-content-price-td-title {
	font-size: 14px;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
}

.saler-saled-content-price-img {
	width: 26px;
	height: 28px;
}

.saler-saled-content-price-sort {
	cursor: pointer;
	position: relative;
}

.saler-saled-content-price-sort-active .saler-saled-content-price-td-title {
	font-weight: 700;
}

.saler-saled-content-price-sort-active .saler-saled-content-price-sort-icon-box {
	position: absolute;
	width: 100%;
}

.saler-saled-content-price-sort-active .saler-saled-content-price-sort-icon-top {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 3px solid #FFF;
	display: block;
	height: 0;
	width: 0;
	margin: 0 auto;
}

.saler-saled-content-price-sort-active .saler-saled-content-price-sort-icon-bottom {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 3px solid #FFF;
	display: block;
	height: 0;
	width: 0;
	margin: 0 auto;
}

.saler-saled-content-price-td-sort-active {
	font-weight: bold;
}


/* 户型去化率排名 */

.circliful {
	margin: 0 auto;
}

.saler-saled-content-rate-list {
	padding: 5px 0;
	background: #fff;
}

.saler-saled-content-rate-list:nth-child(odd) {
	/*background: #dfecf7;*/
}

.saler-saled-content-rate-img {
	text-align: right;
}

.saler-saled-content-rate-table {
	width: 100%;
}

.saler-saled-content-rate-content {
	padding-top: 15px;
}

.saler-saled-content-rate-content-title {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
}

.saler-saled-content-rate-td {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	text-align: left;
	color: #515151;
}

.saler-saled-content-rate-list1 .saler-saled-content-rate-content-title {
	color: #558ed5;
}

.saler-saled-content-rate-list2 .saler-saled-content-rate-content-title {
	color: #e46c0a;
}

.saler-saled-content-rate-list3 .saler-saled-content-rate-content-title {
	color: #8064a2;
}

.saler-saled-content-rate-list4 .saler-saled-content-rate-content-title {
	color: #00b050;
}

.saler-saled-content-rate-list5 .saler-saled-content-rate-content-title {
	color: #c00000;
}


/* 开盘情况走势(每30分钟) */

.saler-saled-opened {
	padding-bottom: 15px;
	background: #FFF;
}

.saler-saled-opended-line {
	min-height: 225px;
	width: 95%;
	margin: 0 auto;
}

.saler-saled-opended-line svg,
.saler-saled-opended-line g {
	pointer-events: all;
}

.saler-saled-opended-line .axis path,
.saler-saled-opended-line .axis line {
	fill: none;
	stroke: #959595;
	shape-rendering: crispEdges;
}

.saler-saled-opended-line .axis path.domain {}

.saler-saled-opended-line .title {
	text-anchor: middle;
	font-weight: 700;
}

.saler-saled-opended-line .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2.0px;
}

.saler-saled-opended-line .x-line {
	fill: none;
	stroke: #959595;
	stroke-width: 1px;
}

.saler-saled-opended-line text {
	font-family: sans-serif;
	font-size: 11px;
}

.saler-saled-opended-line .linecircle {
	fill: #4f81bd;
}

.saler-saled-opended-line .linecircle:hover {
	fill: steelblue;
}

.saler-saled-opended-line .flag {
	stroke: #959595;
	stroke-width: 1.0;
	pointer-events: none;
}

.saler-saled-opended-line .flag2 {
	stroke: gray;
	stroke-dasharray: 5;
	stroke-width: 1.5;
	display: none;
	pointer-events: none;
}

.saler-saled-opended-line .tips {
	pointer-events: none;
	display: none;
}

.saler-saled-opended-line .tips-border {
	fill: #F3E4E4;
	stroke: gray;
	stroke-width: 2;
}

.saler-saled-opended-line .grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}

.saler-saled-opended-line .grid path {
	stroke-width: 0;
}

.saler-saled-opended-table-wrapper {
	padding: 0 5px;
}

.saler-saled-opended-table {
	width: 100%;
	table-layout: fixed;
	word-break: break-all;
	overflow: hidden;
}

.saler-saled-opended-td {
	border: 1px solid #797979;
	word-break: break-all;
	word-wrap: break-word;
	padding: 3px 2px;
}

.saler-saled-opended-title {
	word-break: break-all;
	word-wrap: break-word;
}

.saler-saled-opended-title-box {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 11px;
	color: #333;
	text-align: center;
	word-break: break-all;
	word-wrap: break-word;
}

.saler-saled-opended-content-box {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #03A9F4;
	text-align: right;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

.saler-saled-opended-content-time {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
}


/* 奖品分布明细 */

.sales-saled-lottery {
	bottom: 0;
}

.saler-saled-lottery-prizes-list-wrapper {
	top: 0;
	bottom: 0;
}

.saler-saled-lottery-prizes-list-box {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}

.saler-saled-lottery-prize-title-box {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #333333;
	text-align: left;
	padding: 8px 20px;
	background: #d7e7f5;
}

.saler-saled-lottery-prize-title-info {
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
}

.saler-saled-lottery-prize-title-square {
	margin-right: 12px;
}

.saler-saled-lottery-prize-title-square-info {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: inherit;
	background-color: #00b050;
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #CC0000;
	margin-bottom: 1px;
}

.saler-saled-lottery-prize-content {
	background: #FFF;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #333333;
	padding: 10px 0;
	text-align: center;
}

.saler-saled-lottery-prize-content-title {
	padding-bottom: 10px;
	font-family: 'Arial Normal', 'Arial';
}

.saler-saled-lottery-prize-content-info {
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	color: #00B050;
}

.saler-saled-lottery-prize-send-title {}


/* 区分颜色 */

.saler-saled-lottery-prizes-list2 .saler-saled-lottery-prize-title-square-info {
	color: #cc0000;
	background-color: #cc0000;
}

.saler-saled-lottery-prizes-list2 .saler-saled-lottery-prize-content-info {
	color: #cc0000;
}

.saler-saled-lottery-prizes-list3 .saler-saled-lottery-prize-title-square-info {
	color: #03A9F4;
	background-color: #03A9F4;
}

.saler-saled-lottery-prizes-list3 .saler-saled-lottery-prize-content-info {
	color: #03A9F4;
}

.saler-saled-lottery-prizes-list4 .saler-saled-lottery-prize-title-square-info {
	color: #E46C0A;
	background-color: #E46C0A;
}

.saler-saled-lottery-prizes-list4 .saler-saled-lottery-prize-content-info {
	color: #E46C0A;
}

.saler-saled-lottery-prizes-list5 .saler-saled-lottery-prize-title-square-info {
	color: #002060;
	background-color: #002060;
}

.saler-saled-lottery-prizes-list5 .saler-saled-lottery-prize-content-info {
	color: #002060;
}

.a-logout {
	position: absolute;
	top: 9px;
	right: 10px;
	color: #03a9f4;
	font-weight: bold;
	font-size: 90%;
	padding: 3px 10px;
	border-radius: 5px;
	background: #FFF;
        line-height: 20px;
}

.a-logout1 {
	position: absolute;
	top: 9px;
	right: 10px;
	color: red;
	font-weight: bold;
	font-size: 90%;
	padding: 4px 15px;
	border-radius: 10px;
	background: #FFF;
}

.bqsy-sm {
	margin-top: 85%;
	padding: 5px;
	text-align: center;
	position: absolute;
	font-size: 80%;
	font-weight: bold;
	width: 100%;
	color: rgb(67, 67, 67);
	z-index: 999;
}

.bqsy-title {
	top: 7px;
	left: 46px;
	text-align: left;
	position: absolute;
	font-size: 90%;
	font-weight: bold;
	color: #FFF;
	z-index: 999;
}

.bqsy-title-tb {
	position: absolute;
	top: 5px;
	left: 10px;
	width: 50px;
	height: 30px;
	background: url(../img/yun1.png) no-repeat scroll 0 0/35px 25px;
	z-index: 999;
}

.wm20 {
	width: 20%;
}

.rooms-sx {
	background: url(../img/sx11.png) no-repeat scroll 3px 1px/18px 18px;
	position: absolute;
	/* left: 20px; 
    z-index: 99999;*/
	width: 35px;
	height: 35px;
}