@charset "utf-8";
/**
 * 默认主题
 *
 * @edit 2016-10-24
 * @author zlw
 */ 
/* CSS Document */
*html{background-image:url(about:blank);background-attachment:fixed;}
body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;}
article,aside,header,footer,nav,section,figure,figcaption,hgroup,progress,canvas{display:block}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font:14px Arial,"\5b8b\4f53", sans-serif;-webkit-text-size-adjust:100%;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%; font-weight:normal; font-style:normal;}
table{border-collapse:collapse;border-spacing:0;font-size:100%;empty-cells:show}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
fieldset,img{border:0;}
.jedate-skin-jedate address,
.jedate-skin-jedate caption,
.jedate-skin-jedate cite,
.jedate-skin-jedate code,
.jedate-skin-jedate dfn,
.jedate-skin-jedate th,
.jedate-skin-jedate var{
	font-style:normal; 
	font-weight:normal;
}
.jedate-skin-jedate button, 
.jedate-skin-jedate input, 
.jedate-skin-jedate select, 
.jedate-skin-jedate textarea{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	outline:none;
	-moz-outline:none;
	font-size:100%;
}
.jedate-skin-jedate input, 
.jedate-skin-jedate select,
.jedate-skin-jedate  label {
	vertical-align: middle;
}
.jedate-skin-jedate button, 
.jedate-skin-jedate input {
	line-height:normal
}
.jedate-skin-jedate  ul, 
.jedate-skin-jedate ol, 
.jedate-skin-jedate li, 
.jedate-skin-jedate dl {
	list-style-type:none;
}         
.jedate-skin-jedate i, 
.jedate-skin-jedate em {
	font-style:normal;
}     
.jedate-skin-jedate svg:not(:root) {
	overflow:hidden;
}
.jedate-skin-jedate img{
	vertical-align:middle;
	border:0;-ms-interpolation-mode:bicubic;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}   

.jedate-skin-jedate.jedatebox {
	width:268px;
	height:auto; 
	border:1px #00A1CB solid;
	position: absolute;
	background-color:#fff;
	font-family:'microsoft yahei',Verdana,"\u5fae\u8f6f\u96c5\u9ed1","\5b8b\4f53",Arial;
	font-size:14px; 
	display:block; 
	cursor:default;
}
.jedate-skin-jedate.jedatebox.dateshow {
	display:block;
}
.jedate-skin-jedate.jedatebox .jedatetop {
	width:100%;
	background: #00A1CB; 
	color:#fff; 
	overflow:hidden;
	text-align:center;
	font-family:'\5B8B\4F53';
}
.jedate-skin-jedate.jedatebox .jedateym {
	float:left;
	height:40px; 
	line-height:40px;
}
.jedate-skin-jedate .jedateym span {
	cursor: pointer;
	width:70%;
	padding: 0;
	float:left;
	text-align: center;
	text-overflow: ellipsis; 
	display:block;
}
.jedate-skin-jedate .jedateym span input {
	width:100%;
	float:left;
	padding: 0;
	border:none;
	background-color:transparent;
	text-align: center;
}
.jedate-skin-jedate .jedateym .prev,
.jedate-skin-jedate .jedateym .next {
	cursor: pointer;
	width:15%;
	height:40px; 
	line-height:45px;
	float:left;
	display:block;
	text-align: center;
}
.jedate-skin-jedate .jedateym span:hover,
.jedate-skin-jedate .jedateym .prev:hover,
.jedate-skin-jedate .jedateym .next:hover {
	background-color: #35bde0;
}
.jedate-skin-jedate .jedateym .prev:before {
	width: 0;
	height: 0; 
	display:inline-block;
	border-width: 7px; 
	border-style: dashed;
	border-color: transparent;
	overflow: hidden;
	border-right-style:solid; 
	border-right-color:#fff;
	content: "";
	margin: 0 9px 0 0;
}
.jedate-skin-jedate .jedateym .next:before {
	width: 0;
	height: 0; 
	display:inline-block;
	border-width: 7px; 
	border-style: dashed;
	border-color: transparent;
	overflow: hidden;
	border-left-style:solid; 
	border-left-color:#fff;
	content: "";
	margin: 0 0 0 6px;
}
.jedate-skin-jedate .jedateym .pndrop {
	width:14px;
	height:14px; 
	overflow:hidden;
	display: inline-block;
	position:relative;
	vertical-align: middle;
}
.jedate-skin-jedate .jedateym .pndrop:before {
	width: 0;
	height: 0; 
	display:inline-block;
	border-width:5px; 
	border-style: dashed;
	border-color: transparent;
	overflow: hidden;
	border-top-style:solid; 
	border-top-color:#fff;
	content: ""; 
	position:absolute; 
	top:4px; 
	left:2px;
}

.jedate-skin-jedate .jedatesety,.jedatesetm{
	width: 100%; 
	position:absolute;
	left:0; 
	top:40px; 
	bottom:0;
	background-color: #fff;
}
.jedate-skin-jedate .jedatesety .ymdropul,
.jedate-skin-jedate .jedatesetm .ymdropul {
	width:100%;
	height:210px;
	overflow:auto;
}
.jedate-skin-jedate .jedatesety .ymdropul li {
	cursor: pointer;
	width:33.3%;
	float:left;
	text-align: center;
	height:40px; 
	line-height:40px;
}
.jedate-skin-jedate .jedatesetm .ymdropul li {
	cursor: pointer;
	width:33.3%;
	float:left;
	text-align: center;
	height:50px; 
	line-height:50px;
}
.jedate-skin-jedate .jedatesety .ymdropul li:hover,
.jedate-skin-jedate .jedatesetm .ymdropul li:hover {
	background-color: #35bde0;
    color: #fff;
}
.jedate-skin-jedate .jedatesety .ymdropul li.action,
.jedate-skin-jedate .jedatesetm .ymdropul li.action {
	background: #00A1CB;
	color:#fff;
}
.jedate-skin-jedate .jedatetopym p{
	overflow:auto; 
	padding-top:4px;
}
.jedate-skin-jedate .jedatetopym p span{
	cursor: pointer;
	width:31%; 
	margin:0 1.1%;
	background-color: #00A1CB;
	color: #fff;
	display: block;
	height:28px;
	line-height:28px;
	text-align:center;
	font-family:'\5B8B\4F53';
}
.jedate-skin-jedate .jedatetopym p span.jedateymchri{
	background-color: #ECF4FB;
	color: #1F547E;
	float:left;
	font-size: 16px;
}
.jedate-skin-jedate .jedatetopym p span.jedateymchle{
	background-color: #ECF4FB;
	color: #1F547E;
	float:left;
	font-size: 16px;
}
.jedate-skin-jedate .jedatetopym p span.jedateymchri:hover,
.jedate-skin-jedate .jedatetopym p span.jedateymchle:hover {
    background-color: #90b3d2;
    color: #0c283e;
}
.jedate-skin-jedate .jedatetopym p span.jedateymchok{
	background-color: #00A1CB;
	color:#fff;
	float:right;
	font-size: 12px;
}
.jedate-skin-jedate .jedatetopym p span.jedateymchok:hover {
	background-color: #35bde0;
    color: #fff;
}

.jedate-skin-jedate.jedatebox .jedaym{
	height:202px;
	overflow:auto; 
	padding:5px;
}
.jedate-skin-jedate.jedatebox .jedaym li{
	width:50%;
	float:left;
	text-align: center;
	height:32px; 
	line-height:32px;
}
.jedate-skin-jedate.jedatebox .jedaym li.action{
	background: #00A1CB;
	color:#fff;
}
.jedate-skin-jedate.jedatebox .jedaol{
	width:100%;
	overflow:auto;
}
.jedate-skin-jedate.jedatebox .jedaul{ 
	padding:0 4px;
	overflow:auto;
}
.jedate-skin-jedate.jedatebox .jedaol li,
.jedate-skin-jedate.jedatebox .jedaul li {
	width:14.28%; 
	float:left; 
	height:30px; 
	line-height:30px; 
	text-align:center;
}
.jedate-skin-jedate.jedatebox .jedaul li{
	width:14.28%;
	float:left;
	cursor: pointer;
}
.jedate-skin-jedate.jedatebox .jedaul li:hover {
	background: #38c5ea;
    color: #fff;
}
.jedate-skin-jedate.jedatebox .jedaol li.weeks{
	background:#f5f5f5;
	border-bottom: 1px solid #ddd;
}
.jedate-skin-jedate.jedatebox .jedaul li.action{
	background: #00A1CB;
	color:#fff;
}
.jedate-skin-jedate.jedatebox .jedaul li.prevdate,
.jedate-skin-jedate.jedatebox .jedaul li.nextdate{
	color:#4DDBFF;
}
.jedate-skin-jedate.jedatebox .jedaul li.disabled{ 
	color:#bbb;
}
.jedate-skin-jedate.jedatebox .jedaul li:nth-child(7n){
	border-right:none;
}

.jedate-skin-jedate .jedatebot{
	height:34px;
	line-height:34px; 
	padding:0 3px 0 5px;
	overflow:hidden;
	background:#f5f5f5;
}
.jedate-skin-jedate .jedatebot .botflex{
	width:50%;
	float:left;
	display:block;
	margin:0;
	padding-top:3px; 
	overflow:hidden;
}
.jedate-skin-jedate .jedatebot .botflex li{
	width:33.33%; 
	float:left;
	text-align:center;
}
.jedate-skin-jedate .jedatebot .botflex li em{
	cursor: pointer;
	width:70%;
	float:left;
	padding: 0;
	border:none;
	border:1px #ddd solid;
	background-color: #fff;
	text-align: center;
	display:block;
	height:28px;
	line-height:28px;
}
.jedate-skin-jedate .jedatebot .botflex li em:hover {
	border: 1px solid #38c5ea;
}
.jedate-skin-jedate .jedatebot .botflex li i{
	width:30%;
	float:left;
	height:28px;
	line-height:26px;
	font-style:normal;
	display:block;
	text-align: center;
}
.jedate-skin-jedate .jedatebot .jedatebtn{
	text-align:center;
	font-size: 12px;
	font-family:'\5B8B\4F53';
}
.jedate-skin-jedate .jedatebot .jedatebtn span{
	cursor: pointer;
	float:left; 
	margin:0 1.1%;
	background-color: #00A1CB;
	color: #fff;
	display: block;
	height:28px;
	line-height:28px;
	text-align:center;
}
.jedate-skin-jedate .jedatebot .jedatebtn span:hover {
	background: #38c5ea;
    color: #fff;
}
.jedate-skin-jedate .jedateh,.jedatems{
	width: 100%; 
	position:absolute;
	left:0; 
	bottom:40px;
	background-color: #fff;
	border-top: 1px solid #ccc;
}
.jedate-skin-jedate .jedatehmstitle{
	width:100%;
	height:35px;
	line-height:35px;
	background: #f5f5f5; 
	color:#000;
	position: relative; 
	overflow:hidden;
	text-align:center;
	font-size: 15px;
}
.jedate-skin-jedate .jedateh p{
	cursor: pointer;
	width:20%;
	float:left;
	text-align: center;
	height:32px; 
	line-height:32px;
}
.jedate-skin-jedate .jedatems p{
	cursor: pointer;
	width:10%;
	float:left;
	text-align: center;
	height:32px; 
	line-height:32px;
}
.jedate-skin-jedate .jedateh p:hover,
.jedate-skin-jedate .jedatems p:hover  {
	background: #38c5ea;
    color: #fff;
}
.jedate-skin-jedate .jedateh p.action,
.jedate-skin-jedate .jedatems p.action {
	background: #00A1CB;
	color:#fff;
}
.jedate-skin-jedate .jedatehmsclose {
	cursor: pointer;
	width:30px; 
	height:30px; 
	line-height:26px; 
	text-align:center;
	position: absolute;
	top:50%;
	right:4px; 
	margin-top:-15px;
	z-index:150;
	font-size:24px;
	border: 1px solid #00A1CB;
	background-color: #00A1CB;
    color: #fff;
}
.jedate-skin-jedate .jedatehmsclose:hover {
	background: #38c5ea;
    color: #fff;
	border: 1px solid #4ac7e8;
}
