<extend name="Common/base" />

<block name="header_js_add">
<script src="__COMMON__/js/jedate/jedate.js"></script>
<script type="text/javascript">
$(function() {
	//开始时间
	jeDate({
		dateCell:".js-room-search-add-time",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal: false,
		isTime: true,
		skin: 'jedate',
		minDate:"2015-09-19 00:00:00",
	});
});
</script>
</block>

<block name="content">
	<div class="room room-reward">
		<div class="room-title room-game-title">
			<div class="clearfix room-title-box">
				<span class="room-title-info">
					<{$seo_title|default='空白'}>
				</span>
				<span class="room-title-subtitle">
					<include file="Voucher/tab" /> 
				</span>
				<span class="fr room-title-refresh">
					<a href="__SELF__" class="room-title-refresh-btn">
						<img class="room-title-refresh-btn-img" src="__IMG__/sx01.png" />
					</a>
				</span>
			</div>
		</div>

		<div class="room-attr-search">
			<div class="room-attr-search-box">
				<span class="room-attr-search-title">选择项目</span>
				<select name="project-id" class="room-attr-search-select js-voucher-log-project-search-select">
					<if condition="!empty($search_project_id)">
						<option value="0">全部</option>
						<foreach name="project_list" item="project_list_vo">
							<if condition="$search_project_id eq $project_list_vo['id']">
								<option value="<{$project_list_vo['id']}>" selected>
									<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
								</option>
							<else />		 
								<option value="<{$project_list_vo['id']}>">
									<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
								</option>
							</if>
						</foreach> 
					<else />
						<option value="0" selected>全部</option>
						<foreach name="project_list" item="project_list_vo">
							<option value="<{$project_list_vo['id']}>">
								<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
							</option>
						</foreach> 
					</if>
				</select>
			</div>
		</div>
	
		<div class="room-search">
			<div class="room-search-content">	 
				<form method="get" name="room_search" action="__SELF__">
					<label class="room-search-row">
					   ID
					   <input class="room-search-input" type="text" name="search_id" value="<{$search_id|default=''}>"> 
					</label>
				   
				    &nbsp;
					<label class="room-search-row">
					   用户
					   <input class="room-search-input" type="text" name="search_customer" value="<{$search_customer|default=''}>"> 
					</label>
				   
				    &nbsp;
					<label class="room-search-row">
						添加时间
						<input class="room-search-input room-search-add-time js-room-search-add-time" type="text" name="search_add_time" value="<{$search_add_time|default=''}>"> 
					</label>
					
					<input type="submit" value="提交查询" class="button room-search-button">  
				</form>
			</div>
		</div>

		<div class="room-attr-content">
			<div class="room-attr-rooms">
				<table class="room-attr-rooms-table">
                    <thead>
						<tr>
							<th class="room-attr-rooms-table-room-name">
								NO
							</th>
							<th>
								代金券
							</th>
							<th>
								项目
							</th>
							<th>
								用户
							</th>
							<th>
								活动
							</th>
							<th>
								使用
							</th>
							<th>
								添加时间
							</th>
							<th>
								状态
							</th>
							<th class="room-attr-rooms-table-option">
								操作
							</th>
						</tr>
                    </thead> 
					<tbody>
						<volist name="voucher_log_list" id="voucher_log_vo" key="voucher_log_k">
							<tr class="room-attr-rooms-table-list voucher-log-table-list-<{$voucher_log_vo.id}>">
								<td>
									<{$voucher_log_vo.activity_id}><{$voucher_log_vo.voucher_id}><{$voucher_log_vo.customer_id}>.<{$voucher_log_vo.id}>
								</td> 
								<td class="room-attr-rooms-table-list-title">
									<{$voucher_log_vo['voucher_name']|default='代金券'}>
								</td> 
								<td>
									<{$voucher_log_vo.project_name|default=''}>
									
									<notempty name="voucher_log_vo.batch_name">
										[<{$voucher_log_vo.batch_name}>]
									</notempty>
								</td> 
								<td>
									<{$voucher_log_vo.customer_name|default=''}>
								</td> 
								<td>
									<{$voucher_log_vo.activity_name|default=''}>
								</td> 
								<td>
									<eq name="voucher_log_vo['is_use']" value="1">
										<span class="color-red">已使用</span>
										[<a href="javascript:void(0);" data-id="<{$voucher_log_vo.id}>" class="voucher-log-used js-voucher-log-reused">
											取消使用
										</a>]
									<else/>
										未使用
										[<a href="javascript:void(0);" data-id="<{$voucher_log_vo.id}>" class="voucher-log-used js-voucher-log-used">
											确认使用
										</a>]
									</eq>
								</td> 
								<td>
									<if condition="!empty($voucher_log_vo['add_time'])">
										<{$voucher_log_vo.add_time|date="Y-m-d H:i:s",###}>
									</if>
								</td> 
								<td>
									<neq name="voucher_log_vo['status']" value="1">
										<span class="color-red">已删除</span>
									<else/>
										正常
									</neq>
								</td> 
								<td class="btns">
									<neq name="voucher_log_vo['status']" value="1">
										<a href="javascript:void(0);" data-id="<{$voucher_log_vo.id}>" class="btn btn-radius5 mr5 btn-red js-voucher-log-resave-btn">恢复</a>
									<else/>
										<a href="javascript:void(0);" data-id="<{$voucher_log_vo.id}>" class="btn btn-radius5 mr5 js-voucher-log-redelete-btn">移除</a>
									</neq>
									<a href="javascript:void(0);" data-id="<{$voucher_log_vo.id}>" class="btn btn-radius5 mr5 voucher-log-delete-btn js-voucher-log-delete-btn">删除</a>
								</td> 
							</tr>
						</volist>
					</tbody>
				</table>
			</div>
		</div>
	
		<php>$page = trim($page_show);</php>
		<if condition="!empty($page)">
			<div class="room-attr-page page-container">
				<{$page|default=''}>
			</div>
		</if>
	
	</div>
</block>
