<div class="user-voucher-footer">
	<div class="user-voucher-footer-tabs-wrapper">
		<div class="user-voucher-footer-tabs">
			<span class="user-voucher-footer-tabs-box">
				<a href="<{:U('index')}>" 
					class="user-voucher-footer-tabs-btn user-voucher-footer-tabs-btn1 
						<eq name='action_name' value='index'>user-voucher-footer-tabs-btn-select</eq>">
					领代金券
				</a>
				<a href="<{:U('mine')}>" 
					class="user-voucher-footer-tabs-btn user-voucher-footer-tabs-btn2
						<eq name='action_name' value='mine'>user-voucher-footer-tabs-btn-select</eq>">
					我的
				</a>
				<a href="<{:U('grab')}>" 
					class="user-voucher-footer-tabs-btn user-voucher-footer-tabs-btn3
						<eq name='action_name' value='grab'>user-voucher-footer-tabs-btn-select</eq>">
					抢代金券
				</a>
			</span>
		</div>
	</div>
</div>
