<div class="voucher-grab-success">
	<div class="voucher-grab-success-header">
		<span>
			获得代金券一张
		</span>
	</div>
	<div class="voucher-grab-success-content">
		<div class="clearfix voucher-grab-success-content-box">
			<div class="fl wm55 voucher-grab-success-content-left">
				<div class="voucher-grab-success-money">
					<span class="voucher-grab-success-money-icon">
						￥<span class="voucher-item-money-icon"><{:number_format($voucher['voucher_money'], 0)}></span>
					</span>
					<span class="voucher-grab-success-money-info">
						<{:number_format($voucher['voucher_name'], 0)}>
					</span>
				</div>
				<div class="voucher-grab-success-name">
					<{$voucher['voucher_name']|default=''}>
				</div>
			</div>
			
			<div class="fl wm45 voucher-grab-success-content-right">
				<div class="voucher-grab-success-use-top-empty" style="height:0px">
				</div>
				<div class="voucher-grab-success-use">
					<div class="voucher-grab-success-use-type">
					<switch name="voucher.type">
						<case value="gift">满减券</case>
						<case value="common">通用券</case>
						<case value="directional">专用券</case>
						<default />通用券
					</switch>
					</div>
					<div class="voucher-grab-success-use-title">
						限时使用
					</div>
					<div class="voucher-grab-success-use-time">
						<{$voucher['voucher_end_time']|date='Y-m-d', ###}>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="voucher-grab-success-footer">
		<a href="<{:U('mine')}>" class="voucher-grab-success-btn">
			查看我的代金券
		</a>
	</div>
</div>

<style>
.layui-m-layerchild {
	background: none;
}
.voucher-grab-success {
	border-radius: 15px;
	background: #cbafb4;
	overflow: hidden;
}
.voucher-grab-success-header {
	text-align: center;
	padding: 20px 0;
	color: #b40f28;
	font-size: 20px;
	font-weight: bold;
}
.voucher-grab-success-content {
	margin-top: 15px;
	margin-bottom: 38px;
	height: 88px;
}
.voucher-grab-success-content-box {
	width: 80%;
	margin: 0 auto;
	padding: 15px 0;
	border-radius: 15px;
	color: #FFF;
	background: #de3b3e;
}
.voucher-grab-success-content-left {
	line-height: 1;
}
.voucher-grab-success-money {
	text-align: right;
	padding-right: 15px;
	border-right: 1px solid #FFF;
}
.voucher-grab-success-money-icon {
	font-size: 20px;
}
.voucher-grab-success-money-info {
	font-size: 30px;
}
.voucher-grab-success-name {
	text-align: right;
	padding-right: 15px;
	padding-top: 5px;
	font-size: 16px;
	border-right: 1px solid #FFF;
}
.voucher-grab-success-footer {
	text-align: center;
	padding: 10px;
	background: #f85b59;
	color: #FFF;
}
.voucher-grab-success-btn {
	color: #FFF;
	font-size: 17px;
}
.voucher-grab-success-use-top-empty {
	height: 18px;
}
.voucher-grab-success-use {
	padding-left: 8px;
	line-height: 1;
	font-size: 13px;
}
.voucher-grab-success-use-title {
	padding-bottom: 2px;
}
.voucher-grab-success-use-type {
	padding-bottom: 10px;
}
</style>
