<extend name="Common/base" />

<block name="header">
	<div class="common-header-wrapper">
		<div class="clearfix common-header">
			<div class="fl wm25 arrow-left common-header-return">
				<span class="common-header-return-box return-btn">
					<a href="javascript:history.back(-1);" class="common-header-return-btn">返回</a>
				</span>
			</div>
			<div class="fl wm50 common-header-content js-common-header-content">
				<span class="common-header-content-box-no-arrow">
					<span class="common-header-content-box-name"><{$seo_title|default='标题'}></span>
				</span>
			</div>
			<div class="fl wm25 common-header-right">
				<div class="common-header-right-box clearfix">
					<a href="<{:U('index/index', 'info=p'.$project_id)}>" class="fr common-header-right-btn user-voucher-header-right-btn">
						<i class="icon-home icon-home-header"></i>
					</a>
				</div>			
			</div>
		</div>
	</div>
</block>

<block name="content">
	<div class="user-voucher-base">
		<div class="user-voucher-content-wrapper">
			<div class="user-voucher-content">
				<div class="user-voucher-content-title">
					<div class="voucher-title">
						<span class="voucher-title-info">
							<{$project['name']|default='项目名称'}>
						</span>
					</div>
				</div>
				
				<div id="iscroller-wrapper" class="iscroller-style user-voucher-list">
					<div id="iscroller-scroller" class="iscroller-scroller-style user-voucher-list-box">
						<div class="user-voucher-content-vouchers">
							<ul class="voucher-list">
							
								<volist name="vouchers" id="vouchers_vo" key="vouchers_k">
									<li class="voucher-item 
										voucher-item-<{$vouchers_vo['id']|default=0}> 
										<if condition="$vouchers_vo['end_time'] lt time()">voucher-item-expire</if>
										<if condition="in_array($vouchers_vo['id'], $my_voucher_used_ids)">voucher-item-use</if>
									">
									<switch name="vouchers_vo.type">
										<case value="gift">
											<div class="voucher-item-box-gift js-voucher-item">
										</case>
										<case value="common">
											<div class="voucher-item-box-common js-voucher-item">
										</case>
										<case value="directional">
											<div class="voucher-item-box-directional js-voucher-item">
										</case>
										<default /><div class="voucher-item-box js-voucher-item">
									</switch>
											
											<div class="clearfix voucher-item-content" style="padding: 10px 10px 0 10px;">
												<div style="position: relative;left:15px;font-size:10px;color:#FFEB3B"> 
													NO:
													<span style="font-size:14px;font-weight:bold;">
														<{$my_voucher_list[$vouchers_vo['id']]['activity_id']}><{$my_voucher_list[$vouchers_vo['id']]['voucher_id']}><{$my_voucher_list[$vouchers_vo['id']]['customer_id']}><{$my_voucher_list[$vouchers_vo['id']]['id']}>
													</span>
												</div>
												<div class="fl wm65 voucher-item-money">
													<div class="voucher-item-money-title">
														<span class="voucher-item-money-icon">￥</span><{:number_format($vouchers_vo['money'], 0)}>
													</div>
													<div class="voucher-item-money-name">
														<!--<{$vouchers_vo.name|default=''}>-->
														<switch name="vouchers_vo.type">
															<case value="gift">满 <{:number_format($vouchers_vo['min_money'], 0)}> 使用</case>
															<case value="common">本次开盘通用</case>
															<case value="directional">
																<if condition="$vouchers_vo['directional_type'] eq 'house_type'">
																	<{$vouchers_vo['house_type']|default='空户型'}> 户型专用
																<elseif condition="$vouchers_vo['directional_type'] eq 'room_id'" />
																	<{$vouchers_vo['build_name']}>-<{$vouchers_vo['room_unit']}>-<{$vouchers_vo['room_name']}> 专用
																</if>
															</case>
															<default />通用券
														</switch>
													</div>
													
													<div class="voucher-item-line"></div>
													<div class="voucher-item-expire-tip">
														已过期
													</div>
												</div>
												<div class="fl wm35 voucher-item-time">
													<div class="voucher-item-time-wrapper">
														<div style="font-weight: bold;">
															<switch name="vouchers_vo.type">
																<case value="gift">满减券</case>
																<case value="common">通用券</case>
																<case value="directional">专用券</case>
																<default />通用券
															</switch>
														</div>
														<div class="voucher-item-time-box">
															<div class="voucher-item-time-title">
																限时使用
															</div>
															<div class="voucher-item-time-info">
																<{$vouchers_vo['end_time']|date='Y-m-d', ###}>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<ul class="item-border-left-circle voucher-border-circle voucher-border-circle-left">
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li> 
											</ul>
											<ul class="item-border-right-circle voucher-border-circle voucher-border-circle-right">
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li>  
												<li></li> 										
											</ul>
										
											<div class="voucher-item-border">
												<div class="item-border-left-top"></div>
												<div class="item-border-left-bottom"></div>
												<div class="item-border-right-top"></div>
												<div class="item-border-right-bottom"></div>
											</div>
											
											<div class="voucher-item-used">
												<div class="voucher-item-used-box">
													<div class="voucher-item-used-content">
														已使用
													</div>
												</div>
											</div>
										</div>
										
										<div class="voucher-item-get js-voucher-item-get">
											<div style="border-bottom:1px solid #E7CDD6;font-size:14px;font-weight:bold;color:red">
												编号: 
												<span>
													<{$my_voucher_list[$vouchers_vo['id']]['activity_id']}><{$my_voucher_list[$vouchers_vo['id']]['voucher_id']}><{$my_voucher_list[$vouchers_vo['id']]['customer_id']}><{$my_voucher_list[$vouchers_vo['id']]['id']}>
												</span>
											</div>
											<div class="clearfix voucher-item-get-title">
												<div class="fl wm55 voucher-item-get-name">
													<span class="voucher-item-get-tip">
														<switch name="vouchers_vo.type">
															<case value="gift">满减券</case>
															<case value="common">通用券</case>
															<case value="directional">
																<if condition="$vouchers_vo['directional_type'] eq 'house_type'">
																	<{$vouchers_vo['house_type']|default='空户型'}>户型专用
																<elseif condition="$vouchers_vo['directional_type'] eq 'room_id'" />
																	<{$vouchers_vo['build_name']}>-<{$vouchers_vo['room_unit']}>-<{$vouchers_vo['room_name']}>专用
																</if>
															</case>
															<default />通用券
														</switch>
													</span>
												</div>
										
												<div class="fl wm45 voucher-item-get-time">
													<span>
														<{$vouchers_vo['end_time']|date='Y-m-d', ###}>
													</span>
													前有效
												</div>
											</div>
											<div class="voucher-item-get-description">
												<span>
													<switch name="vouchers_vo.type">
														<case value="gift">
															单个房间总价满 <{:number_format($vouchers_vo['min_money'], 0)}> 可使用<br/>
															<{$vouchers_vo['description']|default='暂无描述'}>
														</case>
														<case value="common">
															购买任意房间均可使用<br/>
															<{$vouchers_vo['description']|default='暂无描述'}>
														</case>
														<case value="directional">
															购买特定房间或户型可使用<br/>
															<{$vouchers_vo['description']|default='暂无描述'}>
														</case>
														<default /><{$vouchers_vo['description']|default='暂无描述'}>
													</switch>
												</span>
											</div>
											<div class="voucher-item-get-log-time">
												<span class="voucher-item-bold">
													获得时间：
												</span>
												<{$my_voucher_list[$vouchers_vo['id']]['add_time']|date='Y-m-d H:i:s', ###}>
											</div>
										</div>
									</li>
								</volist>

							</ul>
							
							<div class="clearfix m-page user-voucher-page">
								<{$page_show|default=''}>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
</block>

<block name="footer">
<include file="footer_tab"/>
</block>

<block name="footer_js">
<include file="Common@Common/Mobile/iscroll" iscroller_id="iscroller_voucher_index" iscroller_select_id="iscroller-wrapper" />
</block>
