<extend name="Common/base" />

<block name="header_config_add">
	<script type="text/javascript">
		var room = {
			project_id: '<{$search_project_id}>',
			build_id: '<{$search_build_id}>',
			unit_id: '<{$search_unit_id}>',
			info: '<{:set_search_ids(array('p' => $search_project_id, 'b' => $search_build_id, 'u ' => $search_unit_id))}>',
		};
	</script>
</block>

<block name="header">
	<link href="__COMMON__/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
	<div class="common-header-wrapper">
		<input id="dpproj_id" value="<{$project['id']}>" style="display:none;">
		<div class="clearfix common-header">
			<div class="fl wm15 common-header-return">
				<span class="saler-project-view-header-return-box return-btn">
					<span class="common-header-content-box-name"><i class="toue"></i></a>
				</span>
			</div>
			<div class="clearfix user-project-view-content-tabs">
				<span class="input-icon input-icon-right">

					<input type="text" placeholder="房源查找" class="nav-search-input input-cx" type="text" name="fangyuan" id="fangyuan">
					<a href="#"><i class="icon-search nav-search-icon"></i></a>

					</span>

			</div>
		</div>

		<div>
			<div class="clearfix common-header-unit">

				<php>$project_num = 1;</php>
				<volist name="builds" id="builds_vo" key="builds_k">
					<volist name="new_units[$builds_vo['id']]" id="units_vo" key="units_k">
						<if condition="($builds_vo['id'] eq $search_build_id) AND ($units_vo['unit'] eq $search_unit_id)">
							<div class="fl common-header-unit-info common-header-unit-info-selected">
								<a href="<{:U('index/index', array('info' => set_search_ids(array('p' => $search_project_id, 'b' => $builds_vo['id'], 'u' => $units_vo['unit']))))}>">
									<{$builds_vo[ 'buildname']}>
										<if condition="$units_vo['unit'] neq 0">
											<{$units_vo[ 'unit']}>单元</if>
								</a>
							</div>
							<else />
							<div class="fl common-header-unit-info">
								<a href="<{:U('index/index', array('info' => set_search_ids(array('p' => $search_project_id, 'b' => $builds_vo['id'], 'u' => $units_vo['unit']))))}>">
									<{$builds_vo[ 'buildname']}>
										<if condition="$units_vo['unit'] neq 0">
											<{$units_vo[ 'unit']}>单元</if>
								</a>
							</div>
						</if>

						<if condition="$project_num%4==0">
							<div class="clearfix saler-project-list<{$project_num}>"></div>
						</if>
						<php>$project_num++;</php>
					</volist>
				</volist>

			</div>
		</div>
	</div>
</block>

<block name="content">
	<div class="user-project-view-base">

		<div class="user-project-view-content-wrapper">
			<div class="user-project-view-content">

				<div id="iscroller-wrapper" class="user-project-view-content-rooms iscroller-rooms iscroller-style">
					<div id="iscroller-scroller" class="user-project-view-content-rooms-box iscroller-rooms-scroller iscroller-scroller-style">
						<div id="pullDown" style="display:none;">
							<span class="clearfix pull-down-box">
								<span class="pullDownIcon"></span>
							<span class="pullDownLabel">下拉刷新...</span>
							</span>
						</div>

						<table class="user-project-view-content-rooms-table">
							<volist name="floors" id="floors_vo" key="floors_k">
								<tr>
									<td class="user-project-view-content-rooms-floor" data-floor-id="<{$floors_vo.floor|default=" 1 "}>">
										<{$floors_vo.floor|default="1" }>F
									</td>
									<td class="user-project-view-content-rooms-room" data-floor-id="<{$floors_vo.floor|default=" 1 "}>">
										<div class="user-project-view-content-rooms-list">
											<ul class="clearfix">

												<volist name="rooms[$floors_vo['floor']]" id="rooms_vo" key="rooms_k">
													<li class="fl wm25">
														<a href="<{:U('room/index', array('id' => $rooms_vo['id']))}>" class="user-project-view-content-rooms-room-a">
															<if condition="!empty($rooms_vo['djcount'])">
																<i class="saler-project-hot"></i>
															</if>
															<div class="user-project-view-content-rooms-room-box <if condition=" in_array($rooms_vo[ 'id'], $collection_room_ids) ">user-project-view-content-rooms-room-box-selected</if>">
																<div class="user-project-view-content-rooms-room-name">
																	<{$rooms_vo.room|default="1" }>
																</div>
																<div class="user-project-view-content-rooms-room-area">
																	<{$rooms_vo[ 'area']|default='0' }>㎡
																</div>
																<div class="user-project-view-content-rooms-room-cost">
																	¥
																	<{$rooms_vo[ 'total']|default='0' |intval}>
																</div>
															</div>
														</a>

														<div data-room-id="<{$rooms_vo['id']|default='1'}>" class="user-project-view-content-rooms-room-box-shadow js-user-project-view-content-rooms-room-box-shadow">
															<div class="user-project-view-content-rooms-room-box-shadow-info">
																<span class="user-project-view-content-rooms-room-box-shadow-info-select">
																	<input class="user-project-view-content-rooms-room-select js-user-project-view-content-rooms-room-box-shadow user-project-view-content-rooms-room-select-<{$rooms_vo['id']|default='1'}>" data-room-id="<{$rooms_vo['id']|default='1'}>" type="checkbox" value="1">
																</span>
															</div>
														</div>
													</li>
												</volist>

											</ul>
										</div>
									</td>
								</tr>
							</volist>
						</table>

						<div class="block60 room-bottom-block" style="display:none;"></div>
					</div>
				</div>

				<div class="user-project-view-content-selected-wrapper js-user-project-view-content-selected-wrapper">
					<div class="user-project-view-content-selected">
						<div class="user-project-view-content-selected-info">
							<div class="user-project-view-content-selected-num-wrapper">
								<span class="user-project-view-content-selected-num">
									0
								</span>
							</div>
							<div class="user-project-view-content-selected-contrasts-wrapper">
								<div class="user-project-view-content-selected-contrasts js-user-project-view-content-selected-compare">
									<span class="user-project-view-content-selected-contrasts-btn">
										开始对比
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</block>

<block name="footer">
	<div class="user-project-footer">
		<div class="user-project-view-content-help-wrapper">
			<div class="user-project-view-content-help">

				<div class="clearfix user-project-view-content-search">
					<div class="fl wm25 user-project-view-content-search-rooms">
						<span onclick="wode(0)" class="user-project-view-content-search-collection-box fy">
							<span>房源</span><i class="icon-home home-icon"></i>
						</span>

						<div class="user-search-form-choose-option-shadow js-user-search-form-choose-option-shadow"></div>
					</div>

					<div class="fl wm25 user-project-view-content-search-rooms">
						<span onclick="wode(1)" class="user-project-view-content-search-collection-box">
							<span>活动</span><i class="icon-eye-open home-icon"></i>
						</span>
					</div>

					<div class="fl wm25 user-project-view-content-search-rooms">
						<span onclick="wode(2)" class="user-project-view-content-search-collection-box">
							<span>
						热度</span><i class="icon-globe home-icon"></i>
						</span>
					</div>

					<div class="fl wm25 user-project-view-content-search-rooms">
						<span  onclick="wode(3)" class="user-project-view-content-search-collection-box">
							<span>我的</span><i class="blue icon-user home-icon"></i>
						</span>
					</div>
				</div>

			</div>
		</div>
	</div>


</block>

<block name="footer_js">
	<link href="__COMMON__/js//jquery/iscroll/iscroll.css" type="text/css" rel="stylesheet" />
	<script src="__COMMON__/js/jquery/iscroll/iscroll.js"></script>
	<script>
		var iscroller_index,
			pullDownEl,
			pullDownOffset,
			loadingStep = 0; //加载状态0默认，1显示加载状态，2执行加载数据，只有当为0时才能再次加载，这是防止过快拉动刷新  
		function loaded() {
			pullDownEl = document.getElementById('pullDown');
			pullDownOffset = pullDownEl.offsetHeight;
			setTimeout(function() {
				iscroller_index = new iScroll("iscroller-wrapper", {
					bounce: true,
					checkDOMChanges: true,
					onBeforeScrollStart: function(e) {
						var target = e.target;
						while(target.nodeType != 1) {
							target = target.parentNode;
						}
						if(target.tagName != 'SELECT' && target.tagName != 'INPUT' && target.tagName != 'TEXTAREA') {
							e.preventDefault();
						}
					},
					topOffset: pullDownOffset,
					onRefresh: function() {
						if(pullDownEl.className.match('loading')) {
							//pullDownEl.className = '';
							//pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
						}
					},
					onScrollMove: function() {
						if(this.y > 5 && !pullDownEl.className.match('flip')) {
							pullDownEl.style.display = '';
							pullDownEl.className = 'flip';
							pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...';
							this.minScrollY = 0;
						} else if(this.y < 5 && pullDownEl.className.match('flip')) {
							//pullDownEl.style.display = '';
							//pullDownEl.className = '';
							//pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
							//this.minScrollY = -pullDownOffset;
						}
						loadingStep = 1;
					},
					onScrollEnd: function() {
						if(loadingStep == 1) {
							if(pullDownEl.className.match('flip')) {
								pullDownEl.className = 'loading';
								pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
								pullDownAction();
							}
							if(this.y < (this.maxScrollY + 50)) {
								pullDownEl.style.display = 'none';
							}
							loadingStep = 2;
						}
					},
				});
			}, 100);
			setTimeout(function() {
				document.getElementById('iscroller-wrapper').style.left = '0';
				pullDownEl.style.display = 'none';
			}, 200);
		}
		/**
		 * 下拉刷新 （自定义实现此方法）
		 * iscroller_index.refresh();      
		 * // 数据加载完成后，调用界面更新方法
		 */
		function pullDownAction() {
			setTimeout(function() {
				get_user_room_list(user_url.room);
				pullDownEl.style.display = 'none';
				iscroller_index.refresh();
				loadingStep = 0;
			}, 1000);
		}
		document.addEventListener('touchmove', function(e) {
			e.preventDefault();
		}, false);
		document.addEventListener('DOMContentLoaded', function() {
			setTimeout(loaded, 200);
		}, false);
	</script>
	<script>
		function  v) {
			//var project_id = '<{$search_project_id}>';
			//alert(project_id)
			if(v == 0) {
				window.location.href = "<{:U('Index/index', array('info' => set_search_ids(array('p' => $search_project_id))))}>";
			} else if(v == 1) {
				window.location.href = "<{:U('User/index',array('info' => set_search_ids(array('p' => $search_project_id))))}>";
			} else if(v == 2) {
				window.location.href = "<{:U('hot/index', array('info' => set_search_ids(array('p' => $search_project_id))))}>";
			} else {
				window.location.href = "<{:U('User/index',array('info' => set_search_ids(array('p' => $search_project_id))))}>";
			}

			//			document.searchform.href = "<{:U('User/index')}>";
		}
		
	</script>
</block>