<extend name="Common/base" />

<block name="header_config_add">
<script type="text/javascript">
var room = {
	project_id: '<{$search_project_id}>',
	build_id: '<{$search_build_id}>',
	unit_id: '<{$search_unit_id}>',
	info: '<{:set_search_ids(array('p' => $search_project_id, 'b' => $search_build_id, 'u' => $search_unit_id))}>',
};
</script>
</block>

<block name="header">
	<div class="common-header-wrapper">
		<input id="dpproj_id" value="<{$project['id']}>" style="display:none;">
		<div class="clearfix common-header">
			<div class="fl wm15 common-header-return">&nbsp;</div>
			<div class="fl wm70 common-header-content js-common-header-content">
				<span class="common-header-content-box">
					<span class="common-header-content-box-name"><{$project['name']}></span>
					
					<span class="common-header-content-box-build"><{$builds[$search_build_id]['buildname']}></span>
					<if condition="$search_unit_id neq 0">
						<span class="common-header-content-box-unit"><{$search_unit_id}>单元</span>
					</if>
				</span>
				<i class="saler-project-view-header-content-arrow-bottom"></i>
			</div>
			<div class="fl wm15 common-header-right">&nbsp;</div>
		</div>
		
		<div class="common-header-unit-wrapper js-common-header-unit-wrapper">
			<div class="clearfix common-header-unit">

				<php>$project_num = 1;</php>
				<volist name="builds" id="builds_vo" key="builds_k">
					<volist name="new_units[$builds_vo['id']]" id="units_vo" key="units_k">
						<if condition="($builds_vo['id'] eq $search_build_id) AND ($units_vo['unit'] eq $search_unit_id)">
							<div class="fl common-header-unit-info common-header-unit-info-selected">
								<a href="<{:U('index/index', array('info' => set_search_ids(array('p' => $search_project_id, 'b' => $builds_vo['id'], 'u' => $units_vo['unit']))))}>"><{$builds_vo['buildname']}><if condition="$units_vo['unit'] neq 0"><{$units_vo['unit']}>单元</if></a>
							</div>
						<else />
							<div class="fl common-header-unit-info">
								<a href="<{:U('index/index', array('info' => set_search_ids(array('p' => $search_project_id, 'b' => $builds_vo['id'], 'u' => $units_vo['unit']))))}>"><{$builds_vo['buildname']}><if condition="$units_vo['unit'] neq 0"><{$units_vo['unit']}>单元</if></a>
							</div>
						</if>
						
						<if condition="$project_num%3==0">
							<div class="clearfix saler-project-list<{$project_num}>"></div>
						</if>
						<php>$project_num++;</php>
					</volist>
				</volist>
				
			</div>
		</div>
	</div>
</block>

<block name="content">
	<div class="user-project-view-base">

		<div class="user-project-view-content-wrapper">
			<div class="user-project-view-content">
				<div class="clearfix user-project-view-content-tabs">
					<div class="fl wm50 user-project-view-content-tab user-project-view-content-tab-selected">
						<a href="__SELF__" class="user-project-view-content-tab-info">
							房源信息
							<i class="rooms-sx"></i>
						</a>
					</div>
					<div class="fl wm50 user-project-view-content-tab" style="background: #fff;">
						<a href="<{:U('hot/index', array('info' => set_search_ids(array('p' => $search_project_id))))}>" class="user-project-view-content-tab-info user-project-view-content-tab-hot">
							热度排名
						</a>
					</div>
				</div>
				
				<div id="iscroller-wrapper" class="user-project-view-content-rooms iscroller-rooms iscroller-style">
					<div id="iscroller-scroller" class="user-project-view-content-rooms-box iscroller-rooms-scroller iscroller-scroller-style">
						<div id="pullDown" style="display:none;">
							<span class="clearfix pull-down-box">
								<span class="pullDownIcon"></span>
								<span class="pullDownLabel">下拉刷新...</span>
							</span>
						</div>
		
						<table class="user-project-view-content-rooms-table">
							<volist name="floors" id="floors_vo" key="floors_k">
								<tr>
									<td class="user-project-view-content-rooms-floor" data-floor-id="<{$floors_vo.floor|default="1"}>">
										<{$floors_vo.floor|default="1"}>F
									</td>
									<td class="user-project-view-content-rooms-room" data-floor-id="<{$floors_vo.floor|default="1"}>">
										<div class="user-project-view-content-rooms-list">
											<ul class="clearfix">
											
												<volist name="rooms[$floors_vo['floor']]" id="rooms_vo" key="rooms_k">
													<li class="fl wm25">
														<a href="<{:U('room/index', array('id' => $rooms_vo['id']))}>" class="user-project-view-content-rooms-room-a">
															<if condition="!empty($rooms_vo['djcount'])">
                                                                <i class="saler-project-hot"></i>
                                                            </if>		
															<div class="user-project-view-content-rooms-room-box <if condition="in_array($rooms_vo['id'], $collection_room_ids)">user-project-view-content-rooms-room-box-selected</if>">
																<div class="user-project-view-content-rooms-room-name">
																	<{$rooms_vo.room|default="1"}>
																</div>
																<div class="user-project-view-content-rooms-room-area">
																	<{$rooms_vo['area']|default='0'}>㎡
																</div>
																<div class="user-project-view-content-rooms-room-cost">
																	¥<{$rooms_vo['total']|default='0'|intval}>
																</div>
															</div>
														</a>
															
														<div data-room-id="<{$rooms_vo['id']|default='1'}>" class="user-project-view-content-rooms-room-box-shadow js-user-project-view-content-rooms-room-box-shadow">
															<div class="user-project-view-content-rooms-room-box-shadow-info">
																<span class="user-project-view-content-rooms-room-box-shadow-info-select">
																	<input class="user-project-view-content-rooms-room-select js-user-project-view-content-rooms-room-box-shadow user-project-view-content-rooms-room-select-<{$rooms_vo['id']|default='1'}>" data-room-id="<{$rooms_vo['id']|default='1'}>" type="checkbox" value="1">
																</span>
															</div>
														</div>
													</li>
												</volist>

											</ul>
										</div>
									</td>
								</tr>
							</volist>
						</table>
						
						<div class="block60 room-bottom-block" style="display:none;"></div>
					</div>
				</div>
				
				<div class="user-project-view-content-selected-wrapper js-user-project-view-content-selected-wrapper">
					<div class="user-project-view-content-selected">
						<div class="user-project-view-content-selected-info">
							<div class="user-project-view-content-selected-num-wrapper">
								<span class="user-project-view-content-selected-num">
									0
								</span>
							</div>
							<div class="user-project-view-content-selected-contrasts-wrapper">
								<div class="user-project-view-content-selected-contrasts js-user-project-view-content-selected-compare">
									<span class="user-project-view-content-selected-contrasts-btn">
										开始对比
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</block>

<block name="footer">
	<div class="user-project-footer">
		<div class="user-project-view-content-help-wrapper">
			<div class="user-project-view-content-help">
				
				<div class="clearfix user-project-view-content-search">
					<div class="fl wm32 user-project-view-content-search-rooms">
						<span class="border-sizing user-project-view-content-search-btns user-project-view-content-search-btn js-user-search-form-choose-btn">房源筛选</span>
							
						<div class="user-search-form-choose-option js-user-search-form-choose-option">
							<div class="user-search-form-choose-option-box">
								<!--
								<div class="clearfix user-search-form-choose-option-list user-search-form-choose-option-list-build">
									<div class="fl user-search-form-choose-option-title">
										选择楼栋：
									</div>
									<div class="fl user-search-form-choose-option-content">
										<volist name="builds" id="build_vo" key="build_k">
											<a href="javascript:void(0);" data-id="<{$build_vo.id|default='0'}>" class="user-search-form-choose-option-a js-user-search-form-choose-option-a user-search-form-choose-option-build">
												<{$build_vo.buildname|default='1'}>栋
											</a>
										</volist>
									</div>
								</div>
								-->
								<div class="clearfix user-search-form-choose-option-list">
									<div class="fl user-search-form-choose-option-title">
										楼层范围：
									</div>
									<div class="fl clearfix user-search-form-choose-option-content">
										<div class="fl user-search-form-choose-option-content-start">
											<input class="user-search-form-choose-option-floor-start" type="number" value="">
										</div>
										<div class="fl user-search-form-choose-option-content-info">
											到
										</div>
										<div class="fl user-search-form-choose-option-content-end">
											<input class="user-search-form-choose-option-floor-end" type="number" value="">
										</div>
									</div>
								</div>
								<div class="clearfix user-search-form-choose-option-list">
									<div class="fl user-search-form-choose-option-title">
										面积范围：
									</div>
									<div class="fl clearfix user-search-form-choose-option-content">
										<div class="fl user-search-form-choose-option-content-start">
											<input class="user-search-form-choose-option-area-start" type="number" value="">
										</div>
										<div class="fl user-search-form-choose-option-content-info">
											到
										</div>
										<div class="fl user-search-form-choose-option-content-end">
											<input class="user-search-form-choose-option-area-end" type="number" value="">
										</div>
									</div>
								</div>
								<div class="clearfix user-search-form-choose-option-list">
									<div class="fl user-search-form-choose-option-title">
										价格范围(万)：
									</div>
									<div class="fl clearfix user-search-form-choose-option-content">
										<div class="fl user-search-form-choose-option-content-start">
											<input class="user-search-form-choose-option-price-start" type="number" value="">
										</div>
										<div class="fl user-search-form-choose-option-content-info">
											到
										</div>
										<div class="fl user-search-form-choose-option-content-end">
											<input class="user-search-form-choose-option-price-end" type="number" value="">
										</div>
									</div>
								</div>
								<div class="clearfix user-search-form-choose-option-list">
									<div class="fl user-search-form-choose-option-title">
										房间户型：
									</div>
									<div class="fl user-search-form-choose-option-content">
										<volist name="hx_list" id="hx_vo" key="hx_k">
											<a href="javascript:void(0);" data-id="<{$hx_vo.hx|default=''}>" class="user-search-form-choose-option-a js-user-search-form-choose-option-a user-search-form-choose-option-hx">
												<{$hx_vo.hx|default=''}>
											</a>
										</volist>
									</div>
								</div>
								
								<div class="user-search-form-choose-option-footer">
									<div class="user-search-form-choose-option-footer-btns">
										<span class="user-search-form-choose-option-footer-btn js-user-search-form-choose-option-footer-btn">
											确定
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="user-search-form-choose-option-shadow js-user-search-form-choose-option-shadow"></div>
					</div>
					
					<div class="fl wm36 user-project-view-content-search-compare">
						<span class="user-project-view-content-search-compare-box js-user-project-view-content-search-compare-btn">
							<span class="user-project-view-content-search-btns user-project-view-content-search-compare-btn">房源对比</span>
						</span>
					</div>
					
					<div class="fl wm32 user-project-view-content-search-collection">
						<span class="user-project-view-content-search-collection-box">
							<span class="user-project-view-content-search-btns user-project-view-content-search-collection-btn js-user-project-view-content-search-collection-btn">我的收藏</span>
						</span>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</block>

<block name="footer_js">
<link href="__COMMON__/js//jquery/iscroll/iscroll.css" type="text/css" rel="stylesheet"/>
<script src="__COMMON__/js/jquery/iscroll/iscroll.js"></script>
<script>
var iscroller_index,
	pullDownEl, 
	pullDownOffset,
	loadingStep = 0;//加载状态0默认，1显示加载状态，2执行加载数据，只有当为0时才能再次加载，这是防止过快拉动刷新  
	
function loaded() {
    pullDownEl = document.getElementById('pullDown');
    pullDownOffset = pullDownEl.offsetHeight;
	
	setTimeout(function() {
		iscroller_index = new iScroll("iscroller-wrapper", {
			bounce: true,
			checkDOMChanges: true,
			onBeforeScrollStart: function (e) {
				var target = e.target;
				while (target.nodeType != 1) {
					target = target.parentNode;
				}

				if (target.tagName != 'SELECT' 
					&& target.tagName != 'INPUT' 
					&& target.tagName != 'TEXTAREA'
				) {
					e.preventDefault();
				}
			},
			topOffset: pullDownOffset,
			onRefresh: function () {
				if (pullDownEl.className.match('loading')) {
					//pullDownEl.className = '';
					//pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
				}
				
			},
			onScrollMove: function () {
				if (this.y > 5 && !pullDownEl.className.match('flip')) {
					pullDownEl.style.display = '';
					pullDownEl.className = 'flip';
					pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...';
					this.minScrollY = 0;
				} else if (this.y < 5 && pullDownEl.className.match('flip')) {
					//pullDownEl.style.display = '';
					//pullDownEl.className = '';
					//pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
					//this.minScrollY = -pullDownOffset;
				}
				
				loadingStep = 1;
			},
			onScrollEnd: function () {
				if (loadingStep == 1) { 
					if (pullDownEl.className.match('flip')) {
						pullDownEl.className = 'loading';
						pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';               
						pullDownAction();
					}
					if (this.y < (this.maxScrollY + 50)){
						pullDownEl.style.display = 'none';
					}
					
					loadingStep = 2;
				}
			},
		});
	}, 100);

	setTimeout(function () { 
		document.getElementById('iscroller-wrapper').style.left = '0'; 
		pullDownEl.style.display = 'none'; 
	}, 200);
}

/**
 * 下拉刷新 （自定义实现此方法）
 * iscroller_index.refresh();      
 * // 数据加载完成后，调用界面更新方法
 */
function pullDownAction () {
    setTimeout(function () {    
		get_user_room_list(user_url.room);
		
		pullDownEl.style.display = 'none';
		
        iscroller_index.refresh();
		
		loadingStep = 0;
    }, 1000);  
}

document.addEventListener('touchmove', function (e) { 
	e.preventDefault(); 
}, false);
document.addEventListener('DOMContentLoaded', function () { 
	setTimeout(loaded, 200); 
}, false);
</script>
</block>
