<extend name="Common/base" />

<block name="header_config_add">
<script type="text/javascript">
var condition = {
    event_id : '<{: isset($eventId)?$eventId:0 }>',
	build_id: '<{$buildings[0][2]}>',
	unit_id: '<{$units[0][0][1]}>',
	level : [0,0],
	area : [0,0],
	total : [0,0],
        room : [0,0],
	hx : []
};
</script>
</block>

<block name="header">
<style>
        .common-header-unit-wrapper {
            overflow: hidden;
            height: 40px;
            background: rgba(102, 204, 255, 0.25);
        }
        
        .common-header-unit {
            margin: 0;
            background: rgba(102, 204, 255, 0);
            border: 0; 
            display: flex;
        }
        .common-header-unit-info {
            min-width: 75px;
            cursor: pointer;
        }
        .speedbuy-bg
		{
			height:100%;width:100%;border-top: 1px solid #03A9F4;
        }
		.speedbuy-title
		{
			height:65px;width:100%;
		}
		.speedbuy-djs
		{
			position:absolute;top:10px;left:4%;
		}
		.speedbuy-djs .djs-ul
		{
			text-align:center;
			font-size:12px;
			font-weight:bold;
			color:#000;
		}
		.djs-time
		{
			color: #FFF;
                        font-size: 16px;
                        background: #FFF;
                        padding: 0 6px 0 6px;
		}
		.begin-time
		{
			width: 100%;
			height: 60px;
			/* line-height: 60px; */
			margin-left: 42%;
			font-size: 18px;
			font-weight: bold;
			color: #000;
			margin-top: 10px;
		}
		.remark{
                    position: absolute;
                    top: 65px;
                    right: 0;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    width: 15%;
                    font-size: 18px;
                    color: #BFBFBF;
                    font-weight: normal;
                    background: #c7e7fb;
		}
		.speedbuy-content
		{
			height:100%;
			/*background:#91AEC5;*/
			margin-top:1px;
			display:none;
		}
		.del-div{
			margin-left:12px;margin-top:25px;width:25px;line-height:25px;text-align:center;font-size:13px;font-weight:bold;color:red;background:#FFF;border:1px solid red;border-radius:50%;
			-webkit-box-shadow: 0 0 8px #D20E50;
			-moz-box-shadow: 0 0 8px #D20E50;
			box-shadow: 0 0 8px #D20E50;
		}
		.buy-span
		{
			background:#BFBBBB;
			color:#FFF;
			padding:4px 10px 4px 10px;border-radius:5px;
		}
		.wxrgbuy-button
		{
			background:red;
			-webkit-box-shadow: 0 0 8px #D20E50;
			-moz-box-shadow: 0 0 8px #D20E50;
			box-shadow: 0 0 8px #D20E50;
		}
		.user-voucher-footer-tabs-btn{padding:8px 30px;background:#03a9f4;color:#D6D5D5;}
		.user-voucher-footer-tabs-btn-select{background:#FFF;color:#03a9f4;font-weight:bold;}
		.user-project-view-content-rooms {
			top: 105px;
			bottom: 55px;
		}
		.ycwxrg
		{
			position:absolute;top:35px;right:1%;width:10%;text-align:center;
		}

		.user-project-view-content-gwc-wrapper {
			position: absolute;
			bottom: 45px;
			left: 4%;
			width: auto;
			z-index: 25;
		}

		.user-project-view-content-gwc-num-wrapper {
			position: absolute;
			top: 5px;
			left: 5px;
		}

		.speedbuy-content-li {
			width:100%;height:75px;line-height:75px;
		}
		.speedbuy-content-li ul {
			height:75px;
			margin-top:1px;
		}
		.bxf-ds{background:#91AEC5;color:#FFF;}
		.bxf-ss{background:#FFF;color:#2196F3;}
		.buy-suc{
			background: #009688;
			-webkit-box-shadow: 0 0 8px #0F3935;
			-moz-box-shadow: 0 0 8px #0F3935;
			box-shadow: 0 0 8px #0F3935;
		}
		.div-zz{
			background: rgba(22, 22, 22, 0.8);
			z-index: 99999;
			position: absolute;
			width: 100%;
			height: 100%;
			display:none;
		}
		.show-suc-div {
			    margin-left: 12px;
			margin-top: 25px;
			width: 25px;
			line-height: 25px;
			text-align: center;
			font-size: 13px;
			font-weight: bold;
			color: white;
			background: #009688;
			border-radius: 50%;
			-webkit-box-shadow: 0 0 8px #0A332F;
			-moz-box-shadow: 0 0 8px #0A332F;
			box-shadow: 0 0 8px #0A332F;
		}
		.room_ys{
		    background: #eb3045;
			color: #FFF;
			border-color: #eb3045;
		}
		.room_cggm{
		    background: #009688;
                    color: #FFF;
                    border-color: #009688;
		}
                .roomseach{
                        position: absolute;
                        top: 35px;
                        right: 15px;
                        padding: 0 5px;
                        /* width: 25px;*/
                        height: 25px;
                        background: rgb(242, 239, 239);
                        color: #333;
                        border-radius: 5px; 
                        text-align: center;
                        line-height: 25px;
                        /* box-shadow: 1px 2px 2px rgba(72, 74, 84, 0.7); */
                        z-index: 54;
                        font-size: 12px;
                        font-weight: normal;
                        cursor:pointer;
                }
                .roomduib{
                        position: absolute;
                        top: 35px;
                        right: 88px;
                        padding: 0 5px;
                        /* width: 25px;*/
                        height: 25px;
                        background: rgb(242, 239, 239);
                        color: #333;
                        border-radius: 5px; 
                        text-align: center;
                        line-height: 25px;
                        /* box-shadow: 1px 2px 2px rgba(72, 74, 84, 0.7); */
                        z-index: 54;
                        font-size: 12px;
                        font-weight: normal;
                        cursor:pointer;
                }
                .roomduib i{
                    color: #979797;
                    padding:0px;font-size:15px;width:17px;
                }
                 .roomduib_selected i{
                    color: #fff;
                }
                .roomduib_selected{
                    background: rgb(3, 169, 244);
                    color: #fff;
                }
                .roomseach i{
                    color: #979797;
                    padding:0px;font-size:15px;width:17px;
                }
                .roomseach_selected{
                    background: rgb(3, 169, 244);
                    color: #fff;
                }
                
                .roomseach_selected i{
                    color: #fff;
                }
                .scys{
                    position: absolute;
                    top: 5px;
                    right: 6px;
                    width: 15px;
                    height: 15px;
                    font-size: 15px;
                    color: #09bb07;
                    z-index: 55;
                }
                .tlzs{
                    position: absolute;
                    top: 12px;
                    right: 4%;
                    z-index: 55;
                    color:#000;
                    font-size: 10px;
                    font-weight: 100;
                    width:150px;
                    text-align: right;
                }
                .tlzs ul li
                {
                    float:right;
                    width:30%;
                    margin-top: -2px;
                }
                .tlzs ul li span
                {
                    margin-left: 2px;
                }
                .tljx{
                    width:10px;
                    height:10px;
                    float: right;
                    margin-top: 2px;
                }
                .tlws{
                    width:9px;
                    height:9px;
                    border:1px solid #3cf;
                }
                .tlys{
                    background:#eb3045;
                }
                .tlbx{
                    color:#09bb07;
                    font-size:13px;
                }
                .jxz{
                    color: #000;
                    font-weight: 400;
                }
                .yks,.wks{background:#FFF;color: #eb3045;}
                .closediv{
                    position: absolute;
                    padding: 5px;
                    right: 2px;
                    margin-top: -25px;
                    font-size: 25px;
                    width: 30px;
                    text-align: center;
                }
                .clearsearch {
                    float: left;
                    width: 20%;
                    background: rgba(236, 145, 9, 0.47);
                    color: #FFF;
                    line-height: 40px;
                    text-align: center;
                    cursor: pointer;
                }
    </style>
	<div id="zz01" class="div-zz" ></div>
	<div id="showsuccess" class="div-success" >
		<div class="div-success-content">
			<ul>
				<li><span class="div-success-no"></span></li>
				<li class="div-success-area"></li>
				<li >标准总价：¥<span class="div-success-total"></span></li>
			</ul>
			<div>
				<div class="div-success-rgm">认购码：<{$wxrg['sjm']}></div>
				<div class="div-success-sm">请于1小时内签订认购书，过期作废！</div>
				<div class="div-success-remark">认购信息会以短信形式发送到您的手机，请注意查收！</div>
			</div>
		</div>
		<div class="div-success-btn">确 定</div>
	</div>
	<div class="common-header-wrapper">
		<input id="dpproj_id" value="<{$project['id']}>" style="display:none;">
		<div class="clearfix common-header js-wxrg-djs">			
			<div class="speedbuy-title">
				<div style="position:absolute;color:#FFF;z-index:-1;">
					<span class="a" id="djstemp" style="display:none;"><{$time}></span>秒<span class="b"></span>
                                        <span id="djstemp1" style="display:none;"><{$time1}></span>
				</div>
				<div class="speedbuy-djs">
					<ul class="djs-ul">
						<li id="djs-type-title" style="font-weight: 400;">
                                                <if condition="$iswks eq 1">
                                                    离活动开始还有
                                                    <else/>
                                                    <if condition="$iswks eq 0">
                                                        微信认购结束倒计时
                                                        <else/>
                                                        微信认购已结束
                                                    </if>
                                                </if>
                                                </li>
						<li>
                                                        <!--<span class="qw djs-time" >0</span>
							<span class="bw djs-time" >0</span>
							<span class="sw djs-time" >0</span>
							<span class="gw djs-time" >0</span-->
							<span class="bw djs-time" >0</span>小时
							<span class="sw djs-time" >00</span>分
							<span class="gw djs-time" >00</span>秒
						</li>
					</ul>
				</div>
                                <div class="tlzs">
                                    <ul>
                                        <li>
                                            <i class="tlbx tljx fa fa-heart"></i><span style="margin-left: 5px;">备选</span>
                                        </li>
                                        <li>
                                            <div class="tlys tljx"></div><span>已售</span>
                                        </li>
                                        <li>
                                            <div class="tlws tljx"></div><span>未售</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="roomduib js-user-project-view-content-search-compare-btn"><i class="fa fa-star-half-full weui-tabbar__icon"></i>对比</div>
                                <div class="roomseach"><i class="fa fa-filter weui-tabbar__icon" style="padding:0px;font-size:15px;width:17px;"></i>筛选</div>
                                <if condition="$iswks gt -1"><div class="remark" ><a href="/User/OrderHouse/index/id/<{$eventId}>.html"><i class="fa fa-refresh" style="font-size: 18px;color:#607D8B;padding:5px;"></i></a></div></if>
			</div>
		</div>
                <if condition="$iswks gt -1">
		<div id= "iscroller-wrapper2"  class="common-header-unit-wrapper js-common-header-unit-wrapper" style="display:block;width:85%">
			<div class="clearfix common-header-unit">
				<for start="0" end="count($buildings)" name="i">
					<for start="0" end="count($units[$i])" name="j">
						<div id="b<{$buildings[$i][2]}>u<{$units[$i][$j][1]}>" class="fl common-header-unit-info js-common-header-unit-info <if condition='$j==0 && $i==0'>common-header-unit-info-selected</if>" data-build="<{$buildings[$i][2]}>" data-unit="<{$units[$i][$j][1]}>">
                                                    <if condition="$buildings[$i][3] eq 0">	
                                                    <a href="javascript:;"><{$buildings[$i][1]}><{$units[$i][$j][1]}>单元</a>
                                                    <else />
                                                    <a href="javascript:;"><{$buildings[$i][1]}>车位</a>
                                                    </if>
						</div>
					</for>
				</for>
				<!--<div class="fl common-header-unit-info common-header-unit-info-selected">-->
					<!--<a href="/User/index/wxrg/info/p3b19u1.html">1栋1单元</a>-->
				<!--</div>-->
			</div>
		</div>
                </if>
	</div>
</block>

<block name="content">
	<div class="user-project-view-base">
		<div class="user-project-view-content-wrapper">
			<div class="user-project-view-content">			
				<div id="iscroller-wrapper" class="user-project-view-content-rooms iscroller-rooms iscroller-style">
					<div id="iscroller-scroller" class="user-project-view-content-rooms-box iscroller-rooms-scroller iscroller-scroller-style">
						<div id="pullDown" style="display:none;">
							<span class="clearfix pull-down-box">
								<span class="pullDownIcon"></span>
								<span class="pullDownLabel">下拉刷新...</span>
							</span>
						</div>
		
						<table class="user-project-view-content-rooms-table">
							<tbody>

							</tbody>
						</table>

						<div class="block60 room-bottom-block" style="display:none;"></div>
					</div>
				</div>
				
				<div class="user-project-view-content-selected-wrapper js-user-project-view-content-selected-wrapper">
					<div class="user-project-view-content-selected">
						<div class="user-project-view-content-selected-info">
							<div class="user-project-view-content-selected-num-wrapper">
								<span class="user-project-view-content-selected-num">
									0
								</span>
							</div>
							<div class="user-project-view-content-selected-contrasts-wrapper">
								<div class="user-project-view-content-selected-contrasts js-user-project-view-content-selected-compare">
									<span class="user-project-view-content-selected-contrasts-btn">
										开始对比
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="footer">
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-list weui-tabbar__icon" ></i>
            </span>
            <p class="weui-tabbar__label">房源列表</p>
        </a>

        <a href="/User/OrderHouse/collectedroom/id/<{$eventId}>.html" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-heart-o weui-tabbar__icon" ></i>
                <span class="weui-badge user-project-view-content-gwc-num" style="position: absolute;top: 2px;right: -10px;display:none;">0</span>
            </span>
            <p class="weui-tabbar__label">备选房源</p>
        </a>
        <a href="/User/OrderHouse/myorder/id/<{$eventId}>.html" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-user-o weui-tabbar__icon" ></i>
                <span class="weui-badge weui-badge_dot" style="position: absolute;top: 2px;right: 0px;display:none;"></span>
            </span>
            <p class="weui-tabbar__label">我的订单</p>
        </a>
    </div>
    
    <div class="user-search-form-choose-option js-user-search-form-choose-option" style="bottom: 0px;z-index: 501;">
        <div class="user-search-form-choose-option-box" style="padding: 20px 5px 5px 5px;">
            <div class="closediv">×</div>
            <div class="clearfix user-search-form-choose-option-list">
                <div class="fl user-search-form-choose-option-title">
                    只显示待售：
                </div>
                <div class="fl user-search-form-choose-option-content">
                    <input type="checkbox" id="checkbox_a1" class="chk_1" value="1" style="width:20px;"/> 
                    <label for="checkbox_a1"></label> 
                </div>
            </div>
            <div class="clearfix user-search-form-choose-option-list">
                <div class="fl user-search-form-choose-option-title">
                    房间范围：
                </div>
                <div class="fl clearfix user-search-form-choose-option-content">
                    <div class="fl user-search-form-choose-option-content-start" style="width:30%">
                        <input class="user-search-form-choose-option-room-start" type="number" value="">
                    </div>
                    <div class="fl user-search-form-choose-option-content-info" >
                        到
                    </div>
                    <div class="fl user-search-form-choose-option-content-end" style="width:30%">
                        <input class="user-search-form-choose-option-room-end" type="number" value="">
                    </div>
                </div>
            </div>
            <div class="clearfix user-search-form-choose-option-list" style="display:none">
                <div class="fl user-search-form-choose-option-title">
                    楼层范围：
                </div>
                <div class="fl clearfix user-search-form-choose-option-content">
                    <div class="fl user-search-form-choose-option-content-start" style="width:30%">
                        <input class="user-search-form-choose-option-floor-start" type="number" value="">
                    </div>
                    <div class="fl user-search-form-choose-option-content-info">
                        到
                    </div>
                    <div class="fl user-search-form-choose-option-content-end" style="width:30%">
                        <input class="user-search-form-choose-option-floor-end" type="number" value="">
                    </div>
                </div>
            </div>
            <div class="clearfix user-search-form-choose-option-list" style="display:none">
                <div class="fl user-search-form-choose-option-title">
                    面积范围：
                </div>
                <div class="fl clearfix user-search-form-choose-option-content">
                    <div class="fl user-search-form-choose-option-content-start" style="width:30%">
                        <input class="user-search-form-choose-option-area-start" type="number" value="">
                    </div>
                    <div class="fl user-search-form-choose-option-content-info">
                        到
                    </div>
                    <div class="fl user-search-form-choose-option-content-end" style="width:30%">
                        <input class="user-search-form-choose-option-area-end" type="number" value="">
                    </div>
                </div>
            </div>
            <div class="clearfix user-search-form-choose-option-list">
                <div class="fl user-search-form-choose-option-title">
                    价格范围(万)：
                </div>
                <div class="fl clearfix user-search-form-choose-option-content">
                    <div class="fl user-search-form-choose-option-content-start" style="width:30%">
                        <input class="user-search-form-choose-option-price-start" type="number" value="">
                    </div>
                    <div class="fl user-search-form-choose-option-content-info" >
                        到
                    </div>
                    <div class="fl user-search-form-choose-option-content-end" style="width:30%">
                        <input class="user-search-form-choose-option-price-end" type="number" value="">
                    </div>
                </div>
            </div>

            <div class="clearfix user-search-form-choose-option-list">
                <div class="fl user-search-form-choose-option-title">
                    房间户型：
                </div>
                <div class="fl user-search-form-choose-option-content">
                    <volist name="hxs" id="hx_vo">
                        <a href="javascript:void(0);" data-id="<{$hx_vo}>" class="user-search-form-choose-option-a js-user-search-form-choose-option-a user-search-form-choose-option-hx">
                            <{$hx_vo}>
                        </a>
                    </volist>
                </div>
            </div>
        </div>
        <div class="user-search-form-choose-option-footer">
            <div class="clearsearch">清空</div>
            <div class="user-search-form-choose-option-footer-btns" style="float:right;width:80%;">
                <span class="user-search-form-choose-option-footer-btn js-user-search-form-choose-option-footer-btn" style="cursor:pointer;">
                    查找
                </span>
            </div>
        </div>
    </div>
    <div class="user-search-form-choose-option-shadow js-user-search-form-choose-option-shadow"></div>
</block>
<block name="footer_js">
<link href="__COMMON__/js//jquery/iscroll/iscroll.css" type="text/css" rel="stylesheet"/>
<script src="__COMMON__/js/jquery/iscroll/iscroll.js"></script>
<script>
  document.addEventListener("visibilitychange", function(){
        if (document.visibilitychange!='hidden')
        {
             //window.location.href=window.location.href;
             window.location.href=window.location.protocol+"//"+window.location.host+window.location.pathname+'?time='+((new Date()).getTime())+window.location.hash;
        }
    });   
    
var iscroller_index,
	pullDownEl, 
	pullDownOffset,
	loadingStep = 0;//加载状态0默认，1显示加载状态，2执行加载数据，只有当为0时才能再次加载，这是防止过快拉动刷新

var iscroller_room2;
var eventId = "<{$eventId}>";
var rooms = <{$rooms}>;
var collection = <{$roomCollected}>;
var orderedRoom = <{$orderedRoom}>;
var orderedRooms = <{$orderedRooms}>;
var iswks=<{$iswks}>;

$(document).ready(function() {
    if(window.location.hash!="")
    {
        $(""+window.location.hash).click();
    }
    if (orderedRoom.hasOwnProperty('code')){
        $(".div-success-rgm").html('认购码：'+orderedRoom.code);
	}

	renderRoom(rooms);
	//renderCollection(collection);
        if (collection.length>0)
        {
            $('.user-project-view-content-gwc-num').html(collection.length).show();
        }
        else
        {
            $('.user-project-view-content-gwc-num').hide();
        }
        
        if (orderedRoom['room_id']>0)
        {
            $('.weui-badge_dot').show();
        } 
});

function renderCollection(collection) {
    var root = $('.speedbuy-content-li');

    var html = '';

    for(var i = 0;i<collection.length;i++){

        var ulCss = 'bxf-ds';
        if(i%2===1 && i!==0){
            ulCss = 'bxf-ss';
        }

        var liCss = 'sc-bxfy-btn';

        var divStatus = 'del-div';
        var divTxt = '删';

        var spanCss = 'wxrgbuy-button';
        var spanTxt = '认购';

        if(collection[i]['status']==='1'){
            spanCss = '';
        }

        if(orderedRoom.hasOwnProperty('room_id')&&orderedRoom['room_id']==collection[i]['id']){

            liCss = 'show-suc-btn';

            divStatus = 'show-suc-div';
            divTxt = '查';

            spanCss = 'buy-suc';
            spanTxt = '成功';
        }

		html = `<ul class="bxf-ul ${ulCss}" data-room-id="${collection[i]['id']}">																				<li class=${liCss} style="float:left;width:14%;height:100%;">
											<div class="${divStatus}">${divTxt}</div>
											<div style="margin-top:-40px;height:55px;border-right:1px solid #2196F3;"></div>
										</li>										<li style="float:left;width:70%;height:100%;">
											<ul style="margin-left:15px;">
												<li class="roominfo" style="height:24px;line-height:24px;padding: 4px 5px 0px 5px;font-size:13px;font-weight:bold;">
												${collection[i]['building_name']}${collection[i]['unit']}单元-${collection[i]['floor']}${collection[i]['no']}												<span class="roomhx" style="font-size:12px;font-weight:400;">&nbsp;&nbsp;户型：${collection[i]['hx']}</span>
												</li>
												<li class="roomarea" style="height:20px;line-height:20px;padding: 2px 5px 0px 5px;font-size:12px;">
												面积(㎡)：建筑 ${collection[i]['area']}&nbsp;&nbsp;套内 ${collection[i]['tnarea']}												</li>
												<li style="height:20px;line-height:20px;padding: 2px 5px 0px 5px;font-size:12px;">
												标准总价：¥ <span class="roomtotal" style="font-weight:bold;">${collection[i]['total']}</span>
												</li>
											</ul>
										</li>
										<li style="float:left;width:15%;height:100%;">
											<div style="line-height:25px;margin-top:25px;"><span class="buy-span ${spanCss}" >${spanTxt}</span></div>

										</li>
									</ul>`;

        root.append(html);
    }

}

function renderRoom(rooms) {
	var table = $('.user-project-view-content-rooms-table>tbody');
	table.html('');
    var tr = null;
    var td = null;
    var ul = null;
    var div = null;

    var floorMark = null;
    var tempFloorMark = null;

    var li = null;

    var collected = null;

    var isHot = '';
    var isSc='';
    for(var i = rooms.length-1; i >= 0; i--){
                isSc='';
		collection.forEach(function (x) {
		    if (rooms[i].id==x.id)
                    {
				//collected = 'user-project-view-content-rooms-room-box-selected';
                                isSc='<i class="fa fa-heart scys"></i>'; 
                    }
        });
        orderedRooms.forEach(function (x) {
            if (rooms[i].id==x)
            {
                collected = 'room_ys';
                //isSc='';
            }
        });
        
        /*collectionSort.forEach(function (x) {
            if (rooms[i].id==x)
                isHot = '<i class="saler-project-hot"></i>';
        });*/

        if (rooms[i].id==orderedRoom.room_id){
            //collected = 'room_cggm';
            //isSc='';
        }

        li = `<li class="fl wm25">
				<a href="/User/room/showroom/id/${rooms[i].id}/eventId/${eventId}.html" class="user-project-view-content-rooms-room-a">
                     ${isSc}
					<div class="user-project-view-content-rooms-room-box ${collected}" id="room_${rooms[i].id}">

						<div class="user-project-view-content-rooms-room-name">
							${rooms[i].room}								</div>
						<div class="user-project-view-content-rooms-room-area">
							${rooms[i].area}㎡
						</div>
						<div class="user-project-view-content-rooms-room-cost">
							¥${rooms[i].total}									</div>
					</div>
				</a>

				<div data-room-id="${rooms[i].id}" class="user-project-view-content-rooms-room-box-shadow js-user-project-view-content-rooms-room-box-shadow">
					<div class="user-project-view-content-rooms-room-box-shadow-info">
						<span class="user-project-view-content-rooms-room-box-shadow-info-select">
							<input class="user-project-view-content-rooms-room-select js-user-project-view-content-rooms-room-box-shadow user-project-view-content-rooms-room-select-${rooms[i].id}" data-room-id="${rooms[i].id}" type="checkbox" value="1">
						</span>
					</div>
				</div>
			</li>`;

        tempUlMark = rooms[i].floor;

        tempFloorMark = rooms[i].floor;

        if(floorMark!=tempFloorMark){

            if(ul!=null){
                div.append(ul);
                td.eq(1).append(div);
                tr.append(td);
                table.append(tr);
            }

            floorMark = tempFloorMark;

            div = $('<div class="user-project-view-content-rooms-list"></div>');

            ul = $('<ul class="clearfix"></ul>');

            td = $(`<td class="user-project-view-content-rooms-floor" data-floor-id="${floorMark}">${floorMark}F</td><td class="user-project-view-content-rooms-room" data-floor-id="${floorMark}"></td>`);

            tr = $(`<tr></tr>`);

        }

        ul.append(li);
        collected='';
        isHot='';
    }

    if (ul!==null){
        div.append(ul);
        td.eq(1).append(div);
        tr.append(td);
        table.append(tr);
	}


}

function loaded() {
    pullDownEl = document.getElementById('pullDown');
    pullDownOffset = pullDownEl.offsetHeight;
	
	setTimeout(function() {
		iscroller_index = new iScroll("iscroller-wrapper", {
			bounce: true,
			checkDOMChanges: true,
			onBeforeScrollStart: function (e) {
				var target = e.target;
				while (target.nodeType != 1) {
					target = target.parentNode;
				}

				if (target.tagName != 'SELECT' 
					&& target.tagName != 'INPUT' 
					&& target.tagName != 'TEXTAREA'
				) {
					e.preventDefault();
				}
			},
			topOffset: pullDownOffset,
			onRefresh: function () {
				if (pullDownEl.className.match('loading')) {
					//pullDownEl.className = '';
					//pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
				}
				
			},
			onScrollMove: function () {
				if (this.y > 5 && !pullDownEl.className.match('flip')) {
					pullDownEl.style.display = '';
					pullDownEl.className = 'flip';
					pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...';
					this.minScrollY = 0;
				} else if (this.y < 5 && pullDownEl.className.match('flip')) {
					//pullDownEl.style.display = '';
					//pullDownEl.className = '';
					//pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
					//this.minScrollY = -pullDownOffset;
				}
				
				loadingStep = 1;
			},
			onScrollEnd: function () {
				if (loadingStep == 1) { 
					if (pullDownEl.className.match('flip')) {
						pullDownEl.className = 'loading';
						pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';               
						pullDownAction();
					}
					if (this.y < (this.maxScrollY + 50)){
						pullDownEl.style.display = 'none';
					}
					
					loadingStep = 2;
				}
			},
		});
                iscroller_room2 = new iScroll("iscroller-wrapper2", {
			bounce: true,
			checkDOMChanges: true,
			onBeforeScrollStart: function (e) {
				var target = e.target;
				while (target.nodeType != 1) {
					target = target.parentNode;
				}

				if (target.tagName != 'SELECT' 
					&& target.tagName != 'INPUT' 
					&& target.tagName != 'TEXTAREA'
				) {
					e.preventDefault();
				}
			},
		});
	}, 100);

	setTimeout(function () { 
		document.getElementById('iscroller-wrapper').style.left = '0'; 
		pullDownEl.style.display = 'none'; 
	}, 200);
}

/**
 * 下拉刷新 （自定义实现此方法）
 * iscroller_index.refresh();      
 * // 数据加载完成后，调用界面更新方法
 */
function pullDownAction () {
    setTimeout(function () {

        $(".user-project-view-content-rooms-table").show();
        $(".speedbuy-content").hide();
        $(".user-project-footer").show();
        $(".user-project-view-content-gwc-wrapper") .show();
        $(".user-header-zw").show();
        $(".user-header-return").hide();

        get_user_room_list();
		
	pullDownEl.style.display = 'none';
		
        iscroller_index.refresh();
		
	loadingStep = 0;
        $(".user-project-view-content-selected-num").text(0);
        if ( $(".js-user-project-view-content-search-compare-btn").hasClass("user-project-view-content-search-compare-btn-click"))
        {
            $(".js-user-project-view-content-search-compare-btn").click();
        }
    }, 1000);  
}

document.addEventListener('touchmove', function (e) { 
	e.preventDefault(); 
}, false);
document.addEventListener('DOMContentLoaded', function () { 
	setTimeout(loaded, 200); 
}, false);

$(document).ready(function() {
	var $ishavehd=1;
        if(collection.length>0)
        {
            $("#showdz").text("[成都市]"+collection[0]['project_name']);
        }
	if ($ishavehd==1)
	{
            if (iswks==1){
                $("#djs-type-title").removeClass("jxz");
                $(".djs-time").removeClass("yks").addClass("wks");
            }
            else
            {
                $("#djs-type-title").addClass("jxz");
                $(".djs-time").addClass("yks").removeClass("wks");
            }
            if(iswks>=0)
            {
                var $djs=$("#djstemp").text();
                //var times=$djs*100;
                showjsdjs($djs);
            }
        }
});

//显示时间倒计时
function showjsdjs(times)
{
     var  interval = 1000,
          nextTime=1000,
          count = 0,
          startTime = new Date().getTime(); 
    var ms=Math.floor(times / 1000);
    var gw = (Math.floor(ms%60) >9) ? Math.floor(ms%60): '0'+Math.floor(ms%60);//秒
    var sw = (Math.floor(ms/60%60) >=10) ? Math.floor(ms/60%60): '0'+ Math.floor(ms/60%60); //分
    var bw = Math.floor(ms/3600%60);//时
    $(".bw").text(bw);
    $(".sw").text(sw);
    $(".gw").text(gw);
   
    countTime = setInterval(function() {
                count++;
                if(count==60)
                {   
                    clearInterval(countTime);
                    geteventdjs();
                }
                //times = --times < 0 ? 0 : times;
                times -= interval;
                if (times<0) 
                    times=0;
                ms = Math.floor(times / 1000);
                if(times == 0) {
                    clearInterval(countTime);
                    if (iswks==1)
                    {
                        var $djs=$("#djstemp1").text();
                        iswks=2;
                        showjsdjs($djs);
                    }
                    else if(iswks==3)
                    {
                        $(".begin-time").text("微信认购已结束...");
                        $("#djs-type-title").text("微信认购已结束");
                    }
                }
                else
                {
                    if(iswks==2)
                    {
                        $("#djs-type-title").text("微信认购结束倒计时").addClass("jxz");
                        $(".djs-time").addClass("yks").removeClass("wks");
                        iswks=3;
                    }
                }   
                var offset = new Date().getTime() - (startTime + count * interval);
                nextTime = interval - offset;
                gw = (Math.floor(ms%60) >9) ? Math.floor(ms%60): '0'+Math.floor(ms%60);//秒
                sw = (Math.floor(ms/60%60) >=10) ? Math.floor(ms/60%60): '0'+ Math.floor(ms/60%60); //分
                bw = Math.floor(ms/3600%60);//时
                $(".bw").text(bw);
                $(".sw").text(sw);
                $(".gw").text(gw);
        }, nextTime);
}
//单独获取倒计时
function geteventdjs(){
    var $data = {
        id: eventId
    };
    var $url = orderHouse.getdjs;
    ajax_post_callback($url, $data, function (data, status) {
            if (data.status==1) { 
               var djsinfo = data.info[1];
               iswks=djsinfo['iswks'];
               $("#djstemp").text(djsinfo['time']);
               $("#djstemp1").text(djsinfo['time1']);
               showjsdjs(djsinfo['time']);
            }else {
                
            }
        })
}

//筛选清空
$(".clearsearch").click(function(){
    $(".user-search-form-choose-option-room-start").val("");
    $(".user-search-form-choose-option-room-end").val("");
    $(".user-search-form-choose-option-floor-start").val("");
    $(".user-search-form-choose-option-floor-end").val("");
    $(".user-search-form-choose-option-area-start").val("");
    $(".user-search-form-choose-option-area-end").val("");
    $(".user-search-form-choose-option-price-start").val("");
    $(".user-search-form-choose-option-price-end").val("");
    $(".user-search-form-choose-option-hx").removeClass("user-search-form-choose-option-a-select");
});


    $(function() {
        // 解决输入法遮挡
        var timer = null;
        $('input').on('focus', function() {
            clearInterval(timer);
            var index = 0;
            timer = setInterval(function() {
                if(index>5) {
                    $('body').scrollTop(1000000);
                    clearInterval(timer);
                }
                index++;
            }, 50)
        })
    });

</script>
</block>
