<extend name="Common/base" />
<block name="header">
	<link href="__PUBLIC__/sales/css/saler.css" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" href="/Public/common/css/font-awesome-4.7.0/css/font-awesome.css">
	<style>
		.saler-project-room-info-td1>span{
			width: 66px;
		}
		.saler-project-room-info-td3>span{
			width: 66px;
		}
		.saler-project-room-info-td1{
			width: 10%;
		}
		.saler-project-room-info-td3{
			width: 10%;
		}
		.saler-project-room-info-td2{
			width: 40%;
		}
		.saler-project-room-info-td4{
			width: 40%;
		}
		.saler-project-room-attribute-td1{
			width: 10%;
		}
		.saler-project-room-attribute-td1>span{
			width: 66px;

		}
		.saler-project-room-border {
			background-color: #ffffff;
			box-sizing: border-box;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
			font-style: normal;
			color: #515151;
			text-align: left;
			font-size: 13px;
			border-style: none;
			border-top: 1px solid #dad7d7;
			padding: 9px 5px;
		}

		.weui-tabbar{
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			position: absolute;
			z-index: 500;
			bottom: 0;
			width: 100%;
			background-color: #ffffff;
			border-top: 1px solid #e6e6e6;
		}
		.weui-tabbar__item {
			display: block;
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			flex: 1;
			padding: 2px 0 0;
			font-size: 0;
			color: #999999;
			text-align: center;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
		.weui-bar__item_on
		{
			color:#09BB07;
		}
		.weui-badge {
			display: inline-block;
			width: 15px;
			border-radius: 18px;
			background-color: #F43530;
			color: #FFFFFF;
			line-height: 1.2;
			text-align: center;
			font-size: 12px;
			vertical-align: middle;
		}
		.weui-badge_dot {
			width: 9px;
			height: 9px;
		}

		.weui-tabbar__icon {
			font-size: 20px;
		}
		.weui-tabbar__label {
			text-align: center;
			color: #999999;
			font-size: 10px;
			line-height: 1.8;
		}
		.weui-bar__item_on .weui-tabbar__label
		{
			color:#09BB07;
		}
                .czbtn{
                    position: absolute;
                    top: 332px;
                    width: 98%;
                    height: 45px;
                    /* border-radius: 10px; */
                    color: #FFF;
                    text-align: center;
                    line-height: 45px;
                    background-color: #51c6fa;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 16px;
                    letter-spacing: 5px;
                    margin-left: 1%;
                }
	</style>
</block>

<block name="content">
	<div class="saler-project-view-base">
		<div class="saler-project-view-header-wrapper">
			<div class="clearfix saler-project-view-header" style="background:#FFF;background:#FFF;border:0px">
                            <div class="fl wm25 arrow-left common-header-return">
                                <span class="common-header-return-box return-btn">
                                    <a href="javascript:void(0);" class="common-header-return-btn">返回</a>
                                </span>
                            </div>
                            <div class="fl wm50 common-header-content js-common-header-content">
                                <span class="common-header-content-box-no-arrow">
                                    <span class="common-header-content-box-name">房间详情</span>
                                </span>
                            </div>
                            <div class="fr wm10 common-header-right" style="padding-top: 3%">
                                <div class="common-header-reload">
                                    <a href="" onclick="window.location.reload()" class="saler-project-header-reload-btn js-saler-project-header-reload-btn saler-project-header-reload-a">
                                        <i class="icon-refresh  bigger-230 " style="color: #c1c1c1;font-size: 18px"></i>
                                        <!--<img src="/Public/common/img/refresh.png" style="width: 15px;height: 15px">-->
                                    </a>
                                </div>
                            </div>

			</div>
			<div class="saler-project-room-border saler-project-room-name">
				<div class="saler-project-room-name-box" style="font-size:15px;padding: 8px 5px">
					<{$build.buildname}>-<{$room.unit}>单元-<{$room.floor}>层-<{$room.room}>
				</div>
				<if condition="empty($crid)">
					<div class="add-bx" style="position: absolute;right: 10px;top:52px;color: #21b384;text-align: center;cursor: pointer;font-size: 13px">
							<span>
								<i class="fa fa-heart-o" style="font-size: 20px"></i>
							</span>
						<p>加入备选</p>
					</div>
					<else/>
					<div class="delete-bx"  style="position: absolute;right: 10px;top:52px;color: #21b384;text-align: center;cursor: pointer;font-size: 13px">
							<span>
								<i class="fa fa-heart" style="font-size: 20px"></i>
							</span>
						<p>已备选</p>
					</div>
				</if>

			</div>
		</div>
		
		<div id="iscroller-wrapper" class="iscroller-style">
			<div id="iscroller-scroller" class="saler-project-room-box iscroller-scroller-style">

				<div class="saler-project-room">

					
					<div class="saler-project-room-info">
						<table>
                                                        <tr>
								<td class="saler-project-room-info-td1">
									<span class="saler-project-room-info-title">
										房间状态
									</span>
								</td>
								<td class="saler-project-room-info-td2"  colspan="3" >
									<span class="saler-project-room-info-content" style="font-weight:700;">
										<if condition="$room['is_xf'] eq 1">
											<b class="color-red">已售</b>
										<else />
											待售
										</if>
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-info-td1">
									<span class="saler-project-room-info-title">
										户型
									</span>
								</td>
								<td class="saler-project-room-info-td2"  colspan="3">
									<span class="saler-project-room-info-content">
										(<{$room['hx']}>) <{$hxinfo.hxmx}>
									</span>
								</td>
							</tr>
                                                         <tr>
								<td class="saler-project-room-info-td1">
									<span class="saler-project-room-info-title">
										房间售价
									</span>
								</td>
								<td class="saler-project-room-info-td2"  colspan="3">
									<span class="saler-project-room-info-content">
										<if condition="$room['total'] neq '0.00'">
                                                                            <{:number_format($room['total'], 2)}>元
										</if>
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-info-td1">
									<span class="saler-project-room-info-title">
										建筑面积
									</span>
								</td>
								<td class="saler-project-room-info-td2">
									<span class="saler-project-room-info-content">
											<if condition="$room['area'] neq '0.00'">
										<{$room.area|intval}>
											</if>
									</span>
								</td>
								<td class="saler-project-room-info-td3">
									<span class="saler-project-room-info-title">
										建筑单价
									</span>
								</td>
								<td class="saler-project-room-info-td4">
									<span class="saler-project-room-info-content">
											<if condition="$room['price'] neq '0.00'">
										<{:number_format($room['price'], 2)}>元/㎡
											</if>
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-info-td1">
									<span class="saler-project-room-info-title">
										套内面积
									</span>
								</td>
								<td class="saler-project-room-info-td2">
									<span class="saler-project-room-info-content">
										<if condition="$room['tnarea'] neq '0.00'">
										<{$room.tnarea|intval}>
										</if>
									</span>
								</td>
								<td class="saler-project-room-info-td3">
									<span class="saler-project-room-info-title">
										套内单价
									</span>
								</td>
								<td class="saler-project-room-info-td4">
									<span class="saler-project-room-info-content">
										<if condition="$room['tnprice'] neq '0.00'">
										<{:number_format($room['tnprice'], 2)}>元/㎡
										</if>
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-info-td1">
									<span class="saler-project-room-info-title">
										一次性
									</span>
								</td>
								<td class="saler-project-room-info-td2">
									<span class="saler-project-room-info-content">
										<if condition="($room['ycx_price'] neq '0.00') AND !empty($room['ycx_price'])">
										<{:number_format($room['ycx_price'], 2)}>
										</if>
									</span>
								</td>
								<td class="saler-project-room-info-td3">
									<span class="saler-project-room-info-title">
										分期
									</span>
								</td>
								<td class="saler-project-room-info-td4">
									<span class="saler-project-room-info-content">
										<if condition="($room['fq_price'] neq '0.00') AND !empty($room['fq_price'])">
										<{:number_format($room['fq_price'], 2)}>
										</if>
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-info-td1">
									<span class="saler-project-room-info-title">
										公积金
									</span>
								</td>
								<td class="saler-project-room-info-td2">
									<span class="saler-project-room-info-content">
										<if condition="($room['gjj_price'] neq '0.00') AND !empty($room['gjj_price'])">
										<{:number_format($room['gjj_price'], 2)}>
										</if>
									</span>
								</td>
								<td class="saler-project-room-info-td3">
									<span class="saler-project-room-info-title">
										按揭
									</span>
								</td>
								<td class="saler-project-room-info-td4">
									<span class="saler-project-room-info-content">
										<if condition="($room['aj_price'] neq '0.00') AND !empty($room['aj_price'])">
										<{:number_format($room['aj_price'], 2)}>
										</if>
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-info-td5">
									<span class="saler-project-room-info-title">
										选房时间
									</span>
								</td>
								<td class="saler-project-room-info-td6" colspan='3'>
									<span class="saler-project-room-info-content">
										<if condition="empty($room['xftime'])">
											<b class=""></b>
										<else />
											<{$room['xftime']|date="Y-m-d H:i:s",###}>
										</if>
									</span>
								</td>
							</tr>
						</table>
					</div>

				</div>
				
				<div class="saler-project-room-attribute">
					<div class="saler-project-room-attribute-box" style="margin-top: 2px;">
					
						<table>
                                                        <tr>
								<td class="saler-project-room-attribute-td1">
									<span class="saler-project-room-info-title">
										第①意向
									</span>
								</td>
								<td >
									<span class="saler-project-room-info-content">
										<{$first_count|default='0'|intval}>次
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-attribute-td1" >
									<span class="saler-project-room-info-title">
										备选
									</span>
								</td>
								<td  style="width: 35px">
									<span class="saler-project-room-info-content">
										<{$room_attribute.sccount|default='0'|intval}>次
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-attribute-td1">
									<span class="saler-project-room-info-title">
										对比
									</span>
								</td>
								<td >
									<span class="saler-project-room-info-content">
										<{$room_attribute.sscount|default='0'}>次
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-attribute-td1">
									<span class="saler-project-room-info-title">
										关注
									</span>
								</td>
								<td >
									<span class="saler-project-room-info-content">
										<{$room_attribute.djcount|default='0'|intval}>次
									</span>
								</td>
							</tr>
							<tr>
								<td class="saler-project-room-attribute-td1">
									<span class="saler-project-room-info-title">
										热力指数
									</span>
								</td>
								<td >
									<span class="saler-project-room-info-content saler-project-room-info-content-star">
										<for start="0" end="$hot_num" >★</for><for start="$hot_num" end="5" >☆</for>
									</span>
								</td>
							</tr>
						</table>
						
					</div>
				</div>
				<div>
					<img src="<{$hxinfo.imgurl}>" width="100%" alt="户型图" title="户型图">
				</div>

			</div>
		</div>
	</div>
	

</block>
<block name="footer">
	<div class="weui-tabbar">
		<a href="/User/index/index.html" class="weui-tabbar__item weui-bar__item weui-bar__item_on">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-list weui-tabbar__icon" ></i>
            </span>
			<p class="weui-tabbar__label">房源列表</p>
		</a>

		<a href="/User/index/collectedroom.html" class="weui-tabbar__item">
            <span style="display: inline-block;position: relative;">
                <i class="fa fa-heart-o weui-tabbar__icon" ></i>
                <span class="weui-badge user-project-view-content-gwc-num" style="position: absolute;top: 2px;right: -10px"><{$cou}></span>
            </span>
			<p class="weui-tabbar__label">备选房源</p>
		</a>
	</div>
</block>
<block name="footer_js">
	<link href="__COMMON__/js/jquery/iscroll/iscroll.css" type="text/css" rel="stylesheet" />
	<script src="__PUBLIC__/common/js/jquery/iscroll/iscroll.js"></script>
	<script src="/Public/common/js/mobile/layer.js"></script>
<script>
    var iscroller_room;
    function loaded() {
        setTimeout(function() {
            iscroller_room = new iScroll("iscroller-wrapper", {
                bounce: true,
                checkDOMChanges: true,
                onBeforeScrollStart: function (e) {
                    var target = e.target;
                    while (target.nodeType !== 1) {
                        target = target.parentNode;
                    }

                    if (target.tagName !== 'SELECT'
                        && target.tagName !== 'INPUT'
                        && target.tagName !== 'TEXTAREA'
                    ) {
                        e.preventDefault();
                    }
                }
            });

        }, 100);
    }
    document.addEventListener('touchmove', function (e) {
        e.preventDefault();
    }, false);
    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(loaded, 200);
    }, false);
	$(function () {

		$(document).on("click",".add-bx",function () {
			$.post("<{:U('add_bx')}>",{id:'<{$room_id}>'},function (data) {
			    if(data.status===0){
					layer_alert(data.info);
				}else{
                    layer_tip(data.info);
                    window.pd=true;
                    window.location.reload();
				}
            })
        });
        $(document).on("click",".delete-bx",function () {
            $.post("<{:U('delete_bx')}>",{id:'<{$room_id}>'},function (data) {
                if(data.status===0){
                    layer_alert(data.info);
                }else{
                    layer_tip(data.info);
                    window.pd=true;
                    window.location.reload();
                }
            })
        });
    });
</script>
</block>
