<volist name="floors" id="floors_vo" key="floors_k">
	<tr>
		<td class="user-project-view-content-rooms-floor" data-floor-id="<{$floors_vo.floor|default="1"}>">
			<{$floors_vo.floor|default="1"}>L
		</td>
		<td class="user-project-view-content-rooms-room" data-floor-id="<{$floors_vo.floor|default="1"}>">
			<div class="user-project-view-content-rooms-list">
				<ul class="clearfix">
				
					<volist name="rooms[$floors_vo['floor']]" id="rooms_vo" key="rooms_k">
						<li class="fl wm25">
							<a href="<{:U('room/showroom', array('id' => $rooms_vo['id']))}>" class="user-project-view-content-rooms-room-a">
								<if condition="!empty($rooms_vo['djcount'])">
									<i class="saler-project-hot"></i>
								</if>
								<if condition="$rooms_vo['id'] eq $wxrg['room_id']">
									<div class="user-project-view-content-rooms-room-box room_cggm" >
								<else/>
									<if condition="in_array($rooms_vo['id'], $collection_room_ids)">
									<div class="user-project-view-content-rooms-room-box user-project-view-content-rooms-room-box-selected">
									<else/>
										<if condition="$rooms_vo['is_xf'] eq 1">
									<div class="user-project-view-content-rooms-room-box room_ys" >
										<else/>
									<div class="user-project-view-content-rooms-room-box">
										</if>
									</if>
								</if>								
									<div class="user-project-view-content-rooms-room-name">
										<{$rooms_vo.room|default="1"}>
									</div>
									<div class="user-project-view-content-rooms-room-area">
										<{$rooms_vo['area']|default='0'}>㎡
									</div>
									<div class="user-project-view-content-rooms-room-cost">
										¥<{$rooms_vo['total']|default='0'|intval}>
									</div>
								</div>
							</a>
								
							<div data-room-id="<{$rooms_vo['id']|default='1'}>" class="user-project-view-content-rooms-room-box-shadow js-user-project-view-content-rooms-room-box-shadow">
								<div class="user-project-view-content-rooms-room-box-shadow-info">
									<span class="user-project-view-content-rooms-room-box-shadow-info-select">
										<input class="user-project-view-content-rooms-room-select js-user-project-view-content-rooms-room-box-shadow user-project-view-content-rooms-room-select-<{$rooms_vo['id']|default='1'}>" data-room-id="<{$rooms_vo['id']|default='1'}>" type="checkbox" value="1">
									</span>
								</div>
							</div>
						</li>
					</volist>

				</ul>
			</div>
		</td>
	</tr>
</volist>
