<extend name="Common/base" />

<block name="breadcrumb_active">
	<li><{$classify_name|default=''}></li>
	<li class="active"><{$seo_title|default=''}></li>
</block>

<block name="page_content">
	<div class="table-header" style="margin-bottom: 20px">
		新增用户信息
	</div>
<form class="form-horizontal js-user-select-box" role="form">
        <input type="hidden" value="0" class="js-user-id">
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-company-id">
			<i class="icon-asterisk pink"></i> 
			所属公司 
		</label>
		
		<div class="col-sm-9">
			<select class="col-xs-10 col-sm-5 js-user-select-company-id js-user-add-company-id" 
				name="company_id"
				id="form-field-company-id"
				data-placeholder="请选择项目"
				data-first-title="请选择项目"
				data-first-value='0'
			>
				<foreach name="companys" item="company_list_vo">		 
                                    <option value="<{$company_list_vo['id']}>">
                                            <{$company_list_vo['compname']}>
                                    </option>
				</foreach> 
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-name">
			<i class="icon-asterisk pink"></i> 
			用户姓名 
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="name" value="<{$choose.customer_name|default=''}>" id="form-field-name" placeholder="请填写用户姓名" class="col-xs-10 col-sm-5 js-user-add-name">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写用户姓名</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-phone">
			用户手机
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="phone" value="<{$choose.customer_phone|default=''}>" id="form-field-phone" placeholder="请填写用户手机" class="col-xs-10 col-sm-5 js-user-add-phone">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写用户手机</span>
			</span>
		</div>
	</div>
        <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-code">
			<i class="icon-asterisk pink"></i> 
			用户代码
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="code" value="<{$choose.cardno|default=''}>" id="form-field-code" placeholder="请填写用户代码" class="col-xs-10 col-sm-5 js-user-add-code">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">请填写用户代码</span>
			</span>
		</div>
	</div>

	<div class="space-4"></div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-password"> 
			密码
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="password" value="<{$choose.password|default=''}>" id="form-field-password" class="col-xs-10 col-sm-5 js-user-add-password" placeholder="填写密码" title="" 
				data-rel="tooltip" 
				data-placement="bottom" 
				data-original-title="密码为可选项"
			>
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">请填写密码</span>
			</span>
		</div>
	</div>
      <!--  <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-type"> 
                <i class="icon-asterisk pink"></i> 
                用户类型
            </label>
            <div class="col-sm-9">
                <div class="col-xs-10 col-sm-12 no-padding">
                    <span class="radio inline">
                        <label>
                            <input name="form-field-radio" 
                                   value="0"
                                   type="radio" 
                                   class="ace js-user-add-type"
                                   checked="checked"
                                   >
                            <span class="lbl"> 置业顾问</span>
                        </label>
                    </span>	
                    <span class="radio inline">
                        <label>
                            <input name="form-field-radio" 
                                   value="2"
                                   type="radio" 
                                   class="ace js-user-add-type"
                                   >
                            <span class="lbl">销售助理</span>
                        </label>
                    </span>
                    <span class="radio inline">
                        <label>
                            <input name="form-field-radio" 
                                   value="3"
                                   type="radio" 
                                   class="ace js-user-add-type"
                                   >
                            <span class="lbl">销售经理</span>
                        </label>
                    </span>
                    &lt;!&ndash;<span class="radio inline">
                        <label>
                            <input name="form-field-radio" 
                                   value="6"
                                   type="radio" 
                                   class="ace js-user-add-type"
                                   >
                            <span class="lbl">公司领导</span>
                        </label>
                    </span>&ndash;&gt;
                    <span class="radio inline">
                        <label>
                            <input name="form-field-radio" 
                                   value="4"
                                   type="radio" 
                                   class="ace js-user-add-type"
                                   >
                            <span class="lbl">管理员</span>
                        </label>
                    </span>	
                </div>
            </div>
	</div>-->

	<div class="space-4"></div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-status"> 
			<i class="icon-asterisk pink"></i> 
			是否启用 
		</label>
		
		<div class="col-sm-9">
			<label>
				<input name="switch-field-status" id="form-field-status" class="ace ace-switch ace-switch-4 js-user-add-status" type="checkbox" checked="checked">
				<span class="lbl"></span>
			</label>
		</div>
	</div>

	<div class="space-4"></div>

	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">
			<i class="icon-remove"></i>
		</button>

		<strong>注意：</strong>

		“<i class="icon-asterisk pink"></i>”为必填选项，请注意填写。
		<br>
	</div>

	<div class="clearfix form-actions">
		<div class="col-md-offset-3 col-md-9">
			<button class="btn btn-info js-user-add-save-btn" type="button" data-loading-text="正在提交..." >
				<i class="icon-ok bigger-110"></i>
				提交
			</button>

			&nbsp; &nbsp; &nbsp;
			<button class="btn" type="reset">
				<i class="icon-undo bigger-110"></i>
				重置
			</button>
		</div>
	</div>
	
</form>
</block>

<block name="page_plugin_styles">
<link rel="stylesheet" href="__ASSETS__/css/chosen.css" />
</block>

<block name="plugin_js">
<script src="__ASSETS__/js/chosen.jquery.min.js"></script>
</block>

<block name="page_js">
<script src="__JS__/jquery/jquery.cxSelect-1.4.1/jquery.cxselect.min.js"></script>

</block>

<block name="footer_add_js"></block>
