<!DOCTYPE html>
<html>

	<head>
		<title><block name="seo_title"><{$seo_title|default='销控系统'}></block></title>
		<meta name="keywords" content="<block name='seo_keywords'><{$seo_keywords|default='销控系统'}></block>"/>
		<meta name="description" content="<block name='seo_description'><{$seo_description|default='销控系统'}></block>"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<block name="header_coomon_css">
			<link href="__COMMON__/css/base.css" type="text/css" rel="stylesheet"/>
		</block>
		<block name="header_css">
			<link href="__XK__/css/xk.css" type="text/css" rel="stylesheet"/>
			<link href="__XK__/css/led.css" type="text/css" rel="stylesheet"/>
		</block>
		<block name="header_css_add"></block>
		<block name="header_common_js">
			<script src="__COMMON__/js/jquery/jquery-1.11.3.min.js"></script>
			<script src="__COMMON__/js/jquery/jquery-ui-1.12.0.custom/jquery-ui.js"></script>
			<script src="__COMMON__/js/jquery/jquery.mousewheel.js"></script>
			<link href="__COMMON__/js/jquery/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet"/>
			<script src="__COMMON__/js/jquery/perfect-scrollbar/perfect-scrollbar.js"></script>
			<script src="__COMMON__/js/layer/layer.js"></script>
			<script src="__COMMON__/js/pc/functions.js"></script>
		</block>
		<block name="header_js">
			<script src="__XK__/js/xk.js"></script>
		</block>
		<block name="header_js_add"></block>
		<block name="header_config">
			<script type="text/javascript">
				var room_url = {
					room_index: '<{:U("room/index")}>',
					room_info: '<{:U("room/room_info")}>',
					choose_room: '<{:U("room/choose_room")}>',
					not_choose_room: '<{:U("room/not_choose_room")}>',
					search_room: '<{:U("room/search_room")}>',
                    search_room_name: '<{:U("room/search_room_name")}>',
                                        search_cst: '<{:U("room/search_cst")}>',
                                        get_oneroom: '<{:U("room/get_oneroom")}>',
				}
			</script>
		</block>
		<block name="header_config_add"></block>
	</head>
	
	<body>
		<block name="header"></block>
		<block name="content"></block>
		<block name="footer"></block>
	</body>
	
</html>
	