<extend name="Common/base" />

<block name="header_js_add">
<script src="__COMMON__/js/jedate/jedate.js"></script>
<script type="text/javascript">
$(function() {
	//开始时间
	jeDate({
		dateCell:".js-voucher-activity-date-start-time",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal: true,
		isTime: true,
		skin: 'jedate',
		minDate:"2015-09-19 00:00:00",
	});
	//结束时间
	jeDate({
		dateCell:".js-voucher-activity-date-end-time",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal: true,
		isTime: true,
		skin: 'jedate',
		minDate:"2015-09-19 00:00:00",
	});
});
</script>
</block>

<block name="content">
	<div class="room room-reward">
		<div class="room-title room-game-title">
			<div class="clearfix room-title-box">
				<span class="room-title-info">
					<{$seo_title|default='空白'}>
				</span>
				<span class="room-title-subtitle">
					<include file="Voucher/tab" /> 
				</span>
				<span class="fr room-title-refresh">
					<a href="__SELF__" class="room-title-refresh-btn">
						<img class="room-title-refresh-btn-img" src="__IMG__/sx01.png" />
					</a>
				</span>
			</div>
		</div>

		<div class="room-attr-content">
			<div class="room-attr-rooms">
			
				<div class="room-edit">
					<form method="post" name="room-edit-form" action="">
						<div class="room-edit-content voucher-activity-select-box js-voucher-activity-select-box">
							<table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
								<tbody>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											项目名称：
										</td>
										<td class="room-edit-tr-content">
											<select class="room-edit-select room-edit-auto-select js-voucher-activity-add-project js-voucher-activity-add-project-id" 
												name="project_id"
												data-first-title="请选择项目"
												data-first-value='0'
											>
												<option value="-1">
													请选择项目
												</option>
												<foreach name="project_list" item="project_list_vo">
													<if condition="$project_id eq $project_list_vo['id']">
														<option value="<{$project_list_vo['id']}>" selected>
															<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
														</option>
													<else />		 
														<option value="<{$project_list_vo['id']}>">
															<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
														</option>
													</if>
												</foreach> 
											</select>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											项目批次：
										</td>
										<td class="room-edit-tr-content">
											<select class="room-edit-select room-edit-auto-select js-voucher-activity-add-batch js-voucher-activity-add-batch-id" 
												name="batch_id"
												data-first-title="请选择项目批次"
												data-first-value='0'
											>
											</select>
											<span class="room-edit-tip">（选择代金券项目批次）</span>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											活动类型：
										</td>
										<td>
										  抢<input type="radio" name="cyfs" value="0" class="js-voucher-activity-cyfs-add">&nbsp;&nbsp;&nbsp;&nbsp;
										  领<input type="radio" name="cyfs" value="1" class="js-voucher-activity-cyfs-add">&nbsp;&nbsp;&nbsp;&nbsp;
										  随机<input type="radio" name="cyfs" value="2" class="js-voucher-activity-cyfs-add">
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											选择代金券：
										</td>
										<td class="room-edit-tr-content">
											<div class="voucher-activity-box">
												<div class="voucher-activity-select">
													<div class="voucher-activity-select-info">
														你已经选择了 <span class="voucher-activity-select-num js-voucher-activity-select-num">0</span> 张代金券
													</div>
												</div>
											
												<div class="voucher-activity-wrapper js-voucher-perfect-scroll">
													<div class="js-voucher-activity-add-list">
														<include file="vouchers" />
													</div>
												</div>
											</div>
											<div class="room-edit-tip">
												（选择当前活动需要的代金券）
											</div>
										</td>
									</tr>
									
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span> 
											名称：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="name" value="" class="room-edit-input room-edit-largest-input js-voucher-activity-add-name" > 
											<span class="room-edit-tip">（填写活动名称）</span>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											描述：
										</td>
										<td class="room-edit-tr-content">
											<textarea type="text" name="description" class="room-edit-textarea js-voucher-activity-add-description"></textarea>
											<span class="room-edit-tip">（填写活动的相关描述，选填）</span>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											开始时间：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="start_time" value="" class="room-edit-input js-voucher-activity-date-start-time js-voucher-activity-add-start-time" > 
											<span class="room-edit-tip">（填写活动开始时间）</span>
										</td>
									</tr>
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											结束时间：
										</td>
										<td class="room-edit-tr-content">
											<input type="text" name="end_time" value="" class="room-edit-input js-voucher-activity-date-end-time js-voucher-activity-add-end-time" > 
											<span class="room-edit-tip">（填写活动结束时间）</span>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											<span class="color-red">*</span>
											状态：
										</td>
										<td class="room-edit-tr-content">
											<select class="room-edit-select js-voucher-activity-add-status" name="status">
												<option value="1" selected>
													开启
												</option>
												<option value="0">
													关闭
												</option>
											</select>
											<span class="room-edit-tip">（状态设置.默认开启。）</span>
										</td>
									</tr>
									
									<tr class="room-edit-tr">
										<td class="room-edit-tr-title">
											备注：
										</td>
										<td class="room-edit-tr-content">
											<textarea type="text" name="remark" class="room-edit-textarea js-voucher-activity-add-remark"></textarea>
											<span class="room-edit-tip">（填写活动相关备注）</span>
										</td>
									</tr>
									
								</tbody> 
							</table>
						</div>
						
						<div class="room-edit-tips">
							<div class="room-edit-tips-info">
								<span class="room-edit-tips-bold">提醒：</span>
								“<span class="color-red">*</span>”为必填项，请务必填写。
							</div>
						</div>
						
						<div class="room-edit-btns">
							<a href="javascript:void(0);" class="room-edit-btn room-edit-btn-save js-voucher-activity-add-btn-save">保 存</a> 
							<a href="javascript:history.back(-1);" class="room-edit-btn room-edit-btn-return">返 回</a>				  
						</div>
					</form>
				</div>

			</div>
		</div>
	
	</div>
</block>

<block name="footer_add_js">
<script src="__COMMON__/js/jquery/jquery.mousewheel.js"></script>
<link href="__COMMON__/js/jquery/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet"/>
<script src="__COMMON__/js/jquery/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="__COMMON__/js/jquery/jquery.cxSelect-1.4.1/jquery.cxselect.min.js"></script>
<script type="text/javascript">	
$(function() {
	//滚动条
	$('.js-voucher-perfect-scroll').perfectScrollbar();
	
	//多级联动
	var $project_json = '<{$project_json}>';
	var $project_json = $.parseJSON($project_json);
	$('.js-voucher-activity-select-box').cxSelect({
		data: $project_json,                
		selects: ['js-voucher-activity-add-project', 'js-voucher-activity-add-batch'],  
		jsonName: 'n',         
		jsonValue: 'v',
		jsonSub: 's',
		emptyStyle: 'display'
	});
});
</script>
</block>
