<extend name="Common/base" />

<block name="breadcrumb_active">
	<li><{$classify_name|default=''}></li>
	<li class="active"><{$seo_title|default=''}></li>
</block>

<block name="page_content">
	<div class="table-header" style="margin-bottom: 20px">
		添加客户信息
	</div>
<form class="form-horizontal js-choose-user-select-box" role="form">

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-project-id"> 
			<i class="icon-asterisk pink"></i> 
			项目名称 
		</label>
		
		<div class="col-sm-9">
			<select class="col-xs-10 col-sm-5  js-choose-user-select-project-id js-choose-user-add-project-id"
				name="project_id"
				id="form-field-project-id"
					data-placeholder="请选择项目"
					data-first-title="请选择项目"
					data-first-value="0"
			>
				<option value=""></option>
				<foreach name="project_list" item="project_list_vo">
					<if condition="$project_id eq $project_list_vo['id']">
						<option value="<{$project_list_vo['id']}>" selected>
							<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
						</option>
					<else />		 
						<option value="<{$project_list_vo['id']}>">
							<{$project_list_vo['company_name']}> -- <{$project_list_vo['name']}>
						</option>
					</if>
				</foreach> 
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-batch-id"> 
			项目批次 
		</label>
		
		<div class="col-sm-9">
			<select class="col-xs-10 col-sm-5  js-choose-user-select-batch-id js-choose-user-add-batch-id"
				name="batch_id" required="required"
				id="form-field-batch-id"
				data-placeholder="请选择项目批次"
				data-first-title="请选择项目批次"
			>
			</select>
		</div>
	</div>

	<div class="space-4"></div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-customer-name"> 
			<i class="icon-asterisk pink"></i> 
			客户姓名 
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="customer_name" value="<{$choose.customer_name|default=''}>" id="form-field-customer-name" placeholder="请填写客户姓名" class="col-xs-10 col-sm-5 js-choose-user-add-customer-name">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写客户姓名</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-customer-phone"> 
			<i class="icon-asterisk pink"></i> 
			客户手机
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="customer_phone" value="<{$choose.customer_phone|default=''}>" id="form-field-customer-phone" placeholder="请填写客户手机" class="col-xs-10 col-sm-5 js-choose-user-add-customer-phone">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写客户手机</span>
			</span>
		</div>
	</div>
        <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-cardno">
			身份证号码
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="cardno" value="<{$choose.cardno|default=''}>" id="form-field-cardno" placeholder="请填写身份证号码" class="col-xs-10 col-sm-5 js-choose-user-add-cardno">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写身份证号码</span>
			</span>
		</div>
	</div>

        <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-cyjno"> 

			诚意金编号
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="cyjno" value="<{$choose.cyjno|default=''}>" id="form-field-cyjno" placeholder="请填写诚意金编号" class="col-xs-10 col-sm-5 js-choose-user-add-cyjno">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写诚意金编号</span>
			</span>
		</div>
	</div>
        <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-money"> 
			诚意金金额
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="money" value="<{$choose.money|default=''}>" id="form-field-money" placeholder="请填写诚意金金额" class="col-xs-10 col-sm-5 js-choose-user-add-money">
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写客户诚意金金额，单位：“元”</span>
			</span>
		</div>
	</div>

         <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-ywy"> 
			置业顾问
		</label>
		<div class="col-sm-9">
			<input type="text" name="ywy" value="<{$choose.ywy|default=''}>" id="form-field-ywy" placeholder="" class="col-xs-10 col-sm-5 js-choose-user-add-ywy">
		</div>
	</div>
        <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-ywyphone"> 
			置业顾问电话
		</label>
		<div class="col-sm-9">
			<input type="text" name="ywyphone" value="<{$choose.ywyphone|default=''}>" id="form-field-ywyphone" placeholder="" class="col-xs-10 col-sm-5 js-choose-user-add-ywyphone">
		</div>
	</div>
	<div class="space-4"></div>

	<!--<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-password"> 
			密码
		</label>
		
		<div class="col-sm-9">
			<input type="text" name="password" value="<{$choose.password|default=''}>" id="form-field-password" class="col-xs-10 col-sm-5 js-choose-user-add-password" placeholder="填写相关密码" title="" 
				data-rel="tooltip" 
				data-placement="bottom" 
				data-original-title="密码为可选项，暂时无用"
			>
			<span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写相关密码</span>
			</span>
		</div>
	</div>-->

	<div class="space-4"></div>

	
        <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-start_time">
			选房延时时间
		</label>
		
		<div class="col-sm-9">
			<input type="number" 
				name="ys_time" 
				value="<{$choose['ys_time']}>"
				id="form-field-start_time" 
				placeholder="填写延时时间，分为单位" 
				class="col-xs-10 col-sm-5 js-choose-user-add-ys_time"
			>
                        <span class="help-inline col-xs-12 col-sm-7">
				<span class="middle">填写用户可登录系统进行选房的相对时间(相对于活动开始时间)</span>
			</span>
		</div>
	</div>
        <!-- <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-status"> 
			<i class="icon-asterisk pink"></i> 
			开启 
		</label>
		
		<div class="col-sm-9">
			<label>
				<input name="switch-field-status" id="form-field-status" class="ace ace-switch ace-switch-4 js-choose-user-add-status" type="checkbox" checked="checked">
				<span class="lbl"></span>
			</label>
		</div>
	</div> -->

	<div class="space-4"></div>

	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">
			<i class="icon-remove"></i>
		</button>

		<strong>注意：</strong>

		“<i class="icon-asterisk pink"></i>”为必填选项，请注意填写。
		<br>
	</div>

	<div class="clearfix form-actions">
		<div class="col-md-offset-3 col-md-9">
			<button class="btn btn-info js-choose-user-add-save-btn" type="button" data-loading-text="正在提交..." >
				<i class="icon-ok bigger-110"></i>
				提交
			</button>

			&nbsp; &nbsp; &nbsp;
			<button class="btn" type="reset">
				<i class="icon-undo bigger-110"></i>
				重置
			</button>
		</div>
	</div>
	
</form>
</block>

<block name="page_plugin_styles">
<link rel="stylesheet" href="__ASSETS__/css/chosen.css" />
</block>

<block name="plugin_js">
<script src="__ASSETS__/js/chosen.jquery.min.js"></script>
</block>

<block name="page_js">
<script src="__JS__/jquery/jquery.cxSelect-1.4.1/jquery.cxselect.min.js"></script>
<script type="text/javascript">	
$(function() {	
	//多级联动
	var $project_json = '<{$project_json}>';
	var $project_json = $.parseJSON($project_json);
	$('.js-choose-user-select-box').cxSelect({
		data: $project_json,                
		selects: ['js-choose-user-select-project-id', 'js-choose-user-select-batch-id'],  
		jsonName: 'n',         
		jsonValue: 'v',
		jsonSub: 's',
		emptyStyle: 'display'
	});
});
</script>

<script type="text/javascript">	
$(function() {	
	$(".js-choose-user-select-project-id").chosen({
		no_results_text: "没有找到",
		allow_single_de: true	
	}).change(function() {
		setTimeout(function() {
			$(".js-choose-user-select-batch-id").trigger("chosen:updated");
		}, 500);
	}); 
	
	/*$(".js-choose-user-select-batch-id").chosen({
		no_results_text: "没有找到",
		allow_single_de: true	
	}); */
	
	$('[data-rel=tooltip]').tooltip({container:'body'});
});
</script>
</block>

<block name="footer_add_js"></block>
