<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>岗位用户</title>
</head>
<body>
<extend name="Common/base" />
<block name="breadcrumb_active">
    <li><{$classify_name|default=''}></li>
	<li class="active"><{$seo_title|default=''}></li>
</block>
<block name="page_content">
<style type="text/css">
#tagscontent {
    border-top: none;
    height: auto;
    /* font-size: 12px; */
    color: #1B4670;
    text-align: left;
}

#tagscontent tr {
    line-height: 20px;
    height: auto;
    clear: both;
}

#tagscontent .table_td th, #tagscontent #table th {
    background: #f2f2f2;
    text-align: center;
    font-size: 13px;
    border: 1px solid #DDD;
    padding: 5px 0;
}
#tagscontent th {
    color: #707070;
}

#tagscontent td {
    font-size: 13px;
    color: #1B4670;
    border: 1px solid #DDD;
}
.search {
    text-align: left;
    background: #fcf9f4;
    height: 38px;
    line-height: 38px;
}

.search_content {
    margin-top: 10px;
    color: #666;
    padding-left: 20px;
    font-size:12px
}

.show_page {
    width: 500px;
    text-align: center;
    float: right;
}

#tagscontent .show_page a {
    padding: 2px 9px;
    background: #d1cfd6;
}


#tagscontent .show_page a.current {
    padding: 2px 9px;
    background:rgb(255, 102, 0);
    color: #fff;
}

.button {
    /* background: url('../images/buttom_bg.gif') right bottom no-repeat; */
    height: 24px;
    line-height: 18px;
    cursor: pointer;
    text-align: center;
    padding: 2px 10px;
    border: 1px solid #c4d9e9;
    color: #395366;
    overflow: hidden;
    margin-left: 20px;
	font-size:12px;
}
.showtop_t {
    font-weight: bold;
    text-align: left;
    color: #0086ae;
    padding-left: 20px;
    padding-top: 5px;
}
.show_content_m_t2 {
    width: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #fff;
}

.select_page {
    width: 400px;
    margin-left: 20px;
    float: left;
}
a:link {
    color: #0076cf;
    text-decoration: none;
    /*font-weight:bold;*/
}


.delurl {
    /*background: url('../../Public/admin/images/buttom_bg.gif') right bottom no-repeat;*/
    background: #d6487e;
    cursor: pointer;
    text-align: center;
    padding: 3px 6px;
    /*border: 1px solid #c4d9e9;*/
    overflow: hidden;
    font-size: 14px;
}
.selectpc {
background:rgba(255, 165, 0, 0.12);
font-weight:bold;
}

a{
  cursor:pointer;
}
 #userlisttb td
{
    font-size:13px;
}

#userlisttb tr
{
    width:240px;
    border-bottom: 1px solid #eff3f8;
    cursor: pointer;
}
.xzuserdiv{
    color:#FFF;
    background:rgb(135, 184, 127);
    border-radius:5px;
    padding:3px 5px;
    font-weight:bold;
    cursor:pointer;
    margin-top: -2px;
    display: inline;
}
.adduserlist_div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-50%);
    width: 40%;
    height: 460px;
    /*overflow-y: hidden;
    overflow-x: hidden;*/
    box-shadow: rgb(136, 136, 136) -5px 5px 15px;
    background: rgb(255, 255, 255);
    z-index: 999;
    display:none;
     animation: showdiv1 0.3s;
    -moz-animation: showdiv1 0.3s;	
    -webkit-animation: showdiv1 0.3s;	
    -o-animation: showdiv1 0.3s;	
    -webkit-animation-fill-mode:forwards; 
    
}
.adduserlist_title
{
    width: 100%;
    height: 50px;
    text-align: left;
    background: #ec5858;
    color: #FFF;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    font-size:18px;
}
.adduserlist_sec_title{
    width:240px;background:rgba(158, 158, 158, 0.45);
}
.adduserlist_div table{
    width:100%;
}
.adduserlist_div table th,.adduserlist_div table td{
    text-align:center;
    color:#000;
}
 .user_bottom 
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: #eff3f8;
    color: #FFF;
    height: 50px;
}
.user_bottom input{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    width: 20%;
    border: 0;
    background: #abbac3;
    color: #FFF;
    padding: 6px 0;
}
.user_bottom .save{
    background-color: #428bca;
}
 .user_edit_div{ 
    width:40%;
    height:320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    box-shadow:rgb(136, 136, 136) -5px 5px 15px;
    background: rgb(255, 255, 255);
    display:none;
    z-index: 999;
     animation: showdiv1 0.3s;
    -moz-animation: showdiv1 0.3s;	/* Firefox */
    -webkit-animation: showdiv1 0.3s;	/* Safari 和 Chrome */
    -o-animation: showdiv1 0.3s;	/* Opera */
    -webkit-animation-fill-mode:forwards; /*运行后停留在最后的地方*/
}
.user_edit_div table{
    line-height: 40px;
    margin-top: 20px;
}

.user_edit_div table .left{
    width: 35%;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
.tr_c{
    cursor: pointer;
}
.plusshow{
    background: #6fb3e0;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
    height: 17px;
    width: 17px;
    border-radius: 3px;
}
.minushide{
    color: #DDD;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
    height: 16px;
    width: 16px;
    border:1px solid #ddd;
    border-radius: 3px;
}
#sample-table-2_filter{
    width: 200px;
    margin-top: 6px;
}
#sample-table-2_filter input{
    width: 200px;
}
.delete-no span{
    background-color: #e7e7e7;color: #FFF;
    cursor: not-allowed;
}
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            <div class="adduserlist_div" id="userlistdiv">
                <div class="adduserlist_title">岗位用户选择
                    <div class="nav-search" id="sample-table-2_filter" >
                        <label class="input-icon">
                            <input type="text"   class="nav-search-input" id="search-user" placeholder="请输入姓名、手机、代码">
                            <i class="icon-search nav-search-icon" style="cursor: pointer;left:6px;" ></i>
                        </label>
                    </div>
                </div>
                <table>
                    <thead class="adduserlist_sec_title" style="background: rgba(232, 232, 232, 0.45);">
                    <tr >
                        <th style="width:15%"><input type="checkbox"   id="chkall" name="chkall" onclick="checkall()" ></th>
                        <th style="width:25%;font-size:13px;text-align: left;">用户名称</th>
                        <th style="width:25%;font-size:13px;text-align: left;">用户代码</th>
                        <th style="width:35%;font-size:13px;text-align: left;">用户手机</th>
                    </tr>
                    </thead>
                </table>
                    <div id="usersinfodiv" style="height: 320px;overflow-y: auto;">
                    <table>
                        <tbody id="userlisttb">

                        </tbody>
                    </table>
                </div>
                <div class="user_bottom">
                    <input  id="addqz" style="line-height: normal;"  class="save" type="button" value="确定" onclick="stationadduser()"/>
                    <input  style="line-height: normal;" type="button" value="取消" onclick="ycdiv()"/>
                </div>
            </div>
            <span style="">岗位用户列表</span>
            <div style="display:block;float:left;">
                
            </div>
        </div>
        
        <div class="show_content_m_t2">
            <div style="display:block;float:left;line-height: 38px;background: #eff3f8;width:100%;padding:0 0 3px 0">
               <font style="margin-left:10px;">公司</font>
               <select id= "companylist" name="companylist" style="padding: 1px 10px;height:25px;" >
                    <if condition="$selectedcomp['id'] gt 0">
                        <foreach name="companylist" item="companylist_vo">
                            <if condition="$selectedcomp['id'] eq $companylist_vo['id']">
                                <option value="<{$companylist_vo['id']}>" selected>
                                    <{$companylist_vo['compname']}>
                                </option>
                                <else />		 
                                <option value="<{$companylist_vo['id']}>">
                                    <{$companylist_vo['compname']}>
                                </option>
                            </if>
                        </foreach> 
                        <else />
                        <option value="0" selected></option>
                        <foreach name="companylist" item="companylist_vo">
                            <option value="<{$companylist_vo['id']}>">
                                <{$companylist_vo['compname']}>
                            </option>
                        </foreach> 
                    </if>
                </select>
                <form method="post" id="selectcomp"  action="<{:U('/Account/Yhqxstation/index')}>"  style="display:none">
                    <input type="text" id="compid" name="compid" value=""> 
                    <input type="submit" value="提交查询" class="button">  
                </form> 
            </div>
            <div style="float:left;width:41%;overflow-x:hidden;overflow-y:hidden">
                <div class="tags" style="width:100%;min-height: 75vh;">
                    <div id="tagstitle"></div>
                    <div id="tagscontent">
                        <div id="con_one_1">
                            <div class="table_td" style="">
                                <table border="0" cellspacing="2" cellpadding="4" class="list" name="pctable" id="pctable" width="100%">
                                    <thead>
                                        <tr>
                                            <th align="center" style="width:65%">岗位名称</th>
                                            <th align="center" style="width:35%;min-width:115px">操作</th>
                                        </tr>
                                    </thead> 
                                    <tbody>
                                    <foreach name="stationlist" item="station_vo" key="i">
                                        <if condition="$i eq 0"> 
                                            <if condition="!empty($station_vo['projname']) and empty($station_vo['id'])">
                                            <tr class="tr_x" onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='#ffffff';" bgcolor="#ffffff" stationid="<{$station_vo['id']}>" data_id="<{$i}>" projid="<{$station_vo['proj_id']}>">
                                                <td align="left" colspan="2" height="35px">
                                                    <label class="plusshow">-</label> <{$station_vo['projname']}>
                                                </td>
                                            </tr>
                                            <else/>
                                            <tr class="tr_c selectpc" onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='#ffffff';" bgcolor="#ffffff" stationid="<{$station_vo['id']}>" data_id="<{$i}>" projid="<{$station_vo['proj_id']}>">
                                                 <td align="left"  style="padding: 0 0 0 25px;">
                                                      <{$station_vo['name']}>
                                                 </td>
                                                  <td align="center" style="height:35px"> 
                                                    <a style="margin-right: 5px;" class="delete-no"  href="javascript:void(0);" title="编辑" >
                                                        <span style="padding: 3px 3px;">
								<i class="icon-edit bigger-120"></i>
                                                         </span>
                                                    </a>
                                                      <a data-id="<{$station_vo['id']}>" class="delete-station" title="删除">
                                                    <span style="padding:3px 3px 3px 5px;margin-right:5px;background-color: #d15b47;color: #FFF;">
                                                        <i class="icon-trash bigger-120"></i>
                                                    </span>
                                                      </a>
                                                    <div class="xzuserdiv"  onclick="xzuser(<{$station_vo['id']}>,<{$station_vo['cp_id']}>)" >选用户</div>
                                                </td> 
                                            </tr>
                                            </if>
                                            <else />
                                            <if condition="!empty($station_vo['projname']) and empty($station_vo['id'])">
                                            <tr class="tr_x" onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='#ffffff';" bgcolor="#ffffff" stationid="<{$station_vo['id']}>" data_id="<{$i}>" projid="<{$station_vo['proj_id']}>">
                                                <td align="left"  colspan="2" height="35px">
                                                    <label class="plusshow">-</label> <{$station_vo['projname']}>
                                                </td>
                                            </tr>
                                            <else/>
                                            <tr class="tr_c" onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='#ffffff';" bgcolor="#ffffff" stationid="<{$station_vo['id']}>" data_id="<{$i}>" projid="<{$station_vo['proj_id']}>">
                                                <td align="left" style="padding: 0 0 0 25px;">
                                                      <{$station_vo['name']}>
                                                </td>
                                                <td align="center" style="height:35px">
                                                    <if condition="!empty($station_vo['projname'])">
                                                    <a style="margin-right: 5px;" class="edit_station_btn" pid="<{$station_vo['proj_id']}>" href="javascript:void(0);" title="编辑" >
                                                        <span style="padding: 3px 3px;background-color: #6fb3e0;color: #FFF;">
                                                            <i class="icon-edit bigger-120"></i>
                                                        </span>
                                                    </a>
                                                    <else/>
                                                    <a style="margin-right: 5px;" class="delete-no"  href="javascript:void(0);" title="编辑" >
                                                        <span style="padding: 3px 3px;">
								<i class="icon-edit bigger-120"></i>
                                                         </span>
                                                    </a>
                                                    </if>
                                                    <a data-id="<{$station_vo['id']}>" class="delete-station" title="删除">
                                                    <span style="padding:3px 3px 3px 5px;margin-right:5px;background-color: #d15b47;color: #FFF;">
                                                        <i class="icon-trash bigger-120"></i>
                                                    </span>
                                                      </a>
                                                    <div class="xzuserdiv"  onclick="xzuser(<{$station_vo['id']}>,<{$station_vo['cp_id']}>)" >选用户</div>
                                                </td> 
                                            </tr>
                                            </if>
                                        </if>
                                    </foreach> 
                                    </tbody> 
                                </table>
                                <div class="blank20"></div>  
                                <if condition="$selectedcomp['id'] gt 0">
                                    <div>
                                        <div style="margin-top:10px;line-height: 18px; float:left;margin-bottom: 5px;">
                                            <a href="javascript:void(0);" class="delurl add_station_btn" style="color:#FFF;">
                                                <i class="icon-file bigger-110"></i> 新增岗位
                                            </a>
                                        </div>
                                    </div>
                                </if>				
                            <div class="blank20"></div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div style="float:left;width:55%;margin-left:4%;overflow-x:hidden;overflow-y:hidden;"> 
            <div class="tags" style="width:100%;min-height: 75vh;">
                <div id="tagstitle"></div>
                <div id="tagscontent">
                    <div id="con_one_1">
                        <div class="table_td" style="">
                            <table border="0" cellspacing="2" cellpadding="4" class="list" name="table1" id="table1" width="100%">
                                <thead>
                                    <tr>
                                        <th align="center" style="width:25%">用户名称</th>
                                        <th align="center" style="width:20%">用户代码</th> 
                                        <th align="center" style="width:30%">用户手机</th>
                                        <th align="center" style="width:25%">操作</th>
                                    </tr>
                                </thead> 
                                <tbody id="bldtb" name="bldtb" >
                                <foreach name="userlist" item="userinfo_vo">
                                    <tr class="s_out"  bgcolor="#ffffff" id="trid_<{$userinfo_vo['id']}>"> 
                                        <td align="center"><{$userinfo_vo['username']}></td> 
                                        <td align="center"> <{$userinfo_vo['code']}> </td> 
                                        <td align="center"> <{$userinfo_vo['mobile']}> </td>
                                        <td align="center" style="height: 35px;">
                                            <a onclick="stationdeluser(<{$userinfo_vo['station_id']}>,<{$userinfo_vo['id']}> )" title="删除">
                                                <span style="padding: 3px 5px;background-color: #d15b47;color: #FFF;">
                                                    <i class="icon-trash bigger-120"></i>
                                                </span>
                                            </a> 
                                        </td>
                                    </tr> 
                                </foreach> 
                                </tbody> 
                            </table>

                            <div class="blank20"></div> 	
                            <div class="blank20"></div>
                        </div>
                    </div>
                </div>
            </div>    
        </div> 
    </div>
</div>
<div class="user_edit_div">
    <form method="post" name="form1" action="">
        <div> <div  class="adduserlist_title">编辑岗位</div>
            <table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
                <tbody>
                    <tr onmouseover="this.bgColor = '#F5F5F5';" onmouseout="this.bgColor = 'ffffff';" bgcolor="ffffff">
                        <td class="left">岗位名称</td>
                        <td>
                            <input type="hidden" name="stationid" id="stationid" value="" > 
                            <input type="text" placeholder="请输入岗位名称" name="stationname" id="stationname" value="" class="skey" style="width:150px;">
                        </td>
                    </tr>
                    <tr onmouseover="this.bgColor = '#F5F5F5';" onmouseout="this.bgColor = 'ffffff';" bgcolor="ffffff">
                        <td class="left">所属项目</td>
                        <td>
                            <select name="proj_id" id="proj_id" style="width: 150px">
                                <option value="">请选择一个项目</option>
                                <foreach name="pro" item="vo">
                                    <option value="<{$vo.id}>"><{$vo.name}></option>
                                </foreach>
                            </select>
                        </td>
                    </tr>
                    <tr onmouseover="this.bgColor = '#F5F5F5';" onmouseout="this.bgColor = 'ffffff';" bgcolor="ffffff">
                        <td class="left">所属公司</td>
                        <td>
                            <{$selectedcomp['name']}>
                            <input type="hidden" name="company_id" id="company_id" value=" <{$selectedcomp['id']}>" > 
                        </td>
                    </tr>
                </tbody> 
            </table>
        </div>
        <div class="blank20"></div>
        <div class="user_bottom">
            <input type="button" class="save" value="保存" onclick="savestation()"> 
            <input type="button" value="取消" onclick="ycdiv();"> 
        </div>
    </form>
</div>
</div>
</block>
<block name="page_js">
    <script type="text/javascript">
        //用户搜索
        $("#search-user").on("input propertychange",function () {
            var val=$(this).val();
            if(val==="" || val===undefined){
                $("#userlisttb tr").show();
                return false;
            }
            $("#userlisttb tr").hide();
            var td=$("#userlisttb td");
            for(var i=0;i<td.length;i++){
                 var str=$.trim(td.eq(i).text());
                 if(str.indexOf(val)>=0){
                     td.eq(i).parents("tr").show();
                 }
            };
        });
    //选择公司
    $("#companylist").change(function(){
            $("#compid").val($("#companylist option:selected").val());
        $("#selectcomp").submit();
      });  
     //点击行事件
     $(".tr_c").click(function(){
	
            if($(this).hasClass("selectpc"))
            {
                    //alert(11);
            }
            else{
                    var $trlist=$("#pctable").find("tr");
                    for (var $i=0;$i<$trlist.length;$i++)
                    {
                            $trlist.eq($i).removeClass("selectpc");
                    }
                    $(this).addClass("selectpc");
		
                    var $compid=$("#companylist option:selected").val();
                    showuserist($(this).attr("stationid"),$compid);
            }
	
      });   
      
      $(".tr_x").click(function(){
          $(this).find(".plusshow");
          $projid=$(this).attr("projid");
          $trlist=$(this).parent().find(".tr_c");
          if( $(this).find(".plusshow").text()=="-")
          {
                if($trlist.length>0)
                {
                    for(var i=0;i<$trlist.length;i++)
                    {
                        if($projid==$trlist.eq(i).attr("projid"))
                        {
                            $trlist.eq(i).hide();
                        }
                    }
                }
                $(this).find(".plusshow").text("+")
           }else
           {
                if($trlist.length>0)
                {
                    for(var i=0;i<$trlist.length;i++)
                    {
                        if($projid==$trlist.eq(i).attr("projid"))
                        {
                            $trlist.eq(i).show();
                        }
                    }
                }
                $(this).find(".plusshow").text("-")
           }
      });
      //显示用户列表信息
      function showuserist($stationid,$compid)
      {
            $("#bldtb").html("");
            var project_url = {getuserist: '<{:U("getuserist")}>',}		
            $.ajax({
                    url: project_url.getuserist,
                    data: {
                            station_id: $stationid ,
                            cp_id: $compid ,
                            type: "zj",
                    },
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (data, status) {
                            if (typeof(data.status) == 'undefined') {
                                    layer_alert('请求失败，请重试！');
                                    return false;
                            } 
                            if (data.status == false) {
                                    alert(data.info);
                                    return false;
                            }
                            var $userlist = data.info;
                            var $temphtml="";
                            if ($userlist.length > 0) {

                                            for (var $i = 0; $i < $userlist.length; $i ++) {
                                                    $temphtml+="<tr class='s_out'  bgcolor='#ffffff' id='trid_"+ $userlist[$i].id +"' >";
                                                    $temphtml+="<td align='center'>" + $userlist[$i].username + "</td> ";
                                                    $temphtml+="<td align='center'>" + $userlist[$i].code + "</td> ";
                                                    $temphtml+="<td align='center'>" + $userlist[$i].mobile + "</td> ";
                                                    $temphtml+="<td align='center' style='height: 35px;'>";
                                                    $temphtml+="<a onclick='stationdeluser(" + $userlist[$i].station_id + "," +$userlist[$i].id + ")' ><span style='padding: 3px 5px;background-color: #dc2d0e;color: #FFF;'><i class='icon-trash bigger-120'></i></span></a>";
                                                    $temphtml+="</td></tr> ";
                                            }
                                            $("#bldtb").html($temphtml);
                            } 
			
                    },
                    error: function (data, status, e) {
                            layer_alert('提交连接失败！');
                    }
            }); 
      }
 

        //删除岗位用户
        function stationdeluser($stationid,$id)
        {
            if ($id==0||$id=="")
            {
                layer_alert("数据异常，请稍后重试");
                return false;
            }

            /*if (!confirm("是否从岗位中移除此用户？！"))
                return false;*/

            var project_url = {stationdeluser: '<{:U("stationdeluser")}>',}
            
            var callback = function(){
                $.ajax({
                    url: project_url.stationdeluser,
                    data: {
                        stationid: $stationid ,
                        id: $id ,
                    },
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (typeof(data.status) == 'undefined') {
                            layer_alert('请求失败，请重试！');
                            return false;
                        }
                        if (data.status == false) {
                            alert(data.info);
                            return false;
                        }
                        gritter_alert_success("操作成功");
                        $("#trid_"+ $id).remove();
                        //window.location.reload();
                    },
                    error: function (data, status, e) {
                        layer_alert('提交连接失败！');
                    }
                });
            }
            layer_confirm('是否从岗位中移除此用户？', callback);
        }

            //岗位选择用户界面
            function xzuser($station_id,$cp_id)
            {
                    var project_url = {getuserist: '<{:U("getuserist")}>',}		
                    $.ajax({
                            url: project_url.getuserist,
                            data: {
                                    station_id: $station_id ,
                                    cp_id: $cp_id ,
                                    type:"all",
                            },
                            type: 'POST',
                            dataType: 'JSON',
                            success: function (data, status) {
                                    if (typeof(data.status) == 'undefined') {
                                            layer_alert('请求失败，请重试！');
                                            return false;
                                    } 
                                    if (data.status == false) {
                                            alert(data.info);
                                            return false;
                                    }
                                    var $userlist = data.info;
                                    var $temphtml="";
                                    if ($userlist.length > 0) {

                                                    for (var $i = 0; $i < $userlist.length; $i ++) {
                                                            $temphtml+="<tr id='userid_"+ $userlist[$i].id +"' class='trcb'>";
                                                            $temphtml+="<td style='width:15%;'><input type='checkbox'  class='selectuser' name='id[]' value='" + $userlist[$i].id + "'></td> ";
                                                            $temphtml+="<td align='left;' style='width:25%;font-size:12px;text-align:left;'>" + $userlist[$i].name + "</td> ";
                                                            $temphtml+="<td align='left;' style='width:25%;font-size:12px;text-align:left;'>" + $userlist[$i].code + "</td> ";
                                                            $temphtml+="<td align='left;' style='width:35%;font-size:12px;text-align:left;'>" + $userlist[$i].mobile + "</td> ";
                                                            $temphtml+="</tr> ";
                                                    }
                                                    $("#addqz").attr("station_id",$station_id);
                                                    $("#addqz").attr("cp_id",$cp_id);
                                                    $("#userlisttb").html("").html($temphtml);
                                                    $("#userlistdiv").css("height","75vh").show();
                                                    $allheight=$("#userlistdiv").height();
                                                    $("#usersinfodiv").css("height",$allheight -100)
                                                    $("#zz_div").show();
                                    }
                                    else
                                    {
                                            layer_alert('无可供选择的用户');
                                    }				
				
                            },
                            error: function (data, status, e) {
                                    layer_alert('提交连接失败！');
                            }
                    }); 
            }
	
            //岗位增加用户
            function stationadduser()
            {
                    var $station_id=$("#addqz").attr("station_id");
                    var $cp_id=$("#addqz").attr("cp_id");
                    var $userlist="";
                    var $alluser=$("#userlisttb").find(".selectuser");
		
                    for(var i=0;i<$alluser.length;i++)
                    {
                            if ($alluser.eq(i).is(':checked'))
                                    $userlist+=$alluser.eq(i).val()+"|";
                    }
		
                    if ($userlist=="")
                    {
                            layer_alert('请选择用户！');
                            return false;
                    }
                    else{
                            $userlist=$userlist.substring(0,$userlist.length-1);
                    }
		
                    var project_url = {stationadduser: '<{:U("stationadduser")}>',}	
                    $.ajax({
                            url: project_url.stationadduser,
                            data: {
                                    station_id: $station_id ,
                                    userlist:$userlist,
                            },
                            type: 'POST',
                            dataType: 'JSON',
                            success: function (data, status) {
                                    if (typeof(data.status) == 'undefined') {
                                            layer_alert('请求失败，请重试！');
                                            return false;
                                    } 
                                    if (data.status == false) {
                                            alert(data.info);
                                            return false;
                                    }
                                    $("#userlistdiv").hide();
                                    $("#zz_div").hide();
                                    gritter_alert_success("操作成功");
                                    showuserist($station_id,$cp_id);
                            },
                            error: function (data, status, e) {
                                    layer_alert('提交连接失败！');
                            }
                    }); 
            }
            
            //岗位信息编辑页面
            $(".edit_station_btn").on('click', function(){
                var $station_id=$(this).parent().parent().attr("stationid");
                var station_url = {editstation: '<{:U("editstation")}>', }
                $.ajax({
                        url: station_url.editstation,
                        data: {
                            id: $station_id,
                        },
                        type: 'POST',
                        dataType: 'JSON',
                        success: function (data, status) {
                            if (typeof (data.status) == 'undefined') {
                                layer_alert('请求失败，请重试！');
                            return false;
                            }
                            if (data.status == false) {
                                layer_alert(data.info);
                            return false;
                            }
                            
                            var $stationinfo = data.info;
                            $(".adduserlist_title").text("编辑岗位信息");
                            $("#stationid").val($stationinfo.id);
                            $("#stationname").val($stationinfo.name);
                            $("#proj_id").val($stationinfo.proj_id);
                            $("#company_id").val($stationinfo.id);
                            $("#zz_div").show();
                            $(".user_edit_div").show();
                        },
                        error: function (data, status, e) {
                            layer_alert('提交连接失败！');
                        }
                    });
            });
            
             $(".add_station_btn").on('click', function(){
                 $(".adduserlist_title").text("新增岗位");
                 $("#stationname").val('');
                 $("#proj_id").val('');
                 $("#zz_div").show();
                 $(".user_edit_div").show();
             });
            //保存岗位
            function savestation()
            {
                var $id = $("#stationid").val();
                var $name = $("#stationname").val();
                var proj_id = $("#proj_id").val();
                var $compid = $("#company_id").val();
                if ($name=="")
                {
                        layer_alert("名称不能为空");
                        return false;
                }


                var project_url = {savestation: '<{:U("savestation")}>',}

                $.ajax({
                        url: project_url.savestation,
                        data: {
                                id: $id,
                                compid: $compid,
                                name: $name,
                                proj_id: proj_id,
                        },
                        type: 'POST',
                        dataType: 'JSON',
                        success: function (data, status) {
                                if (typeof(data.status) == 'undefined') {
                                        layer_alert('请求失败，请重试！');
                                        return false;
                                } 
                                if (data.status == false) {
                                        layer_alert(data.info);
                                        return false;
                                }
                               
                                //layer_alert('更改成功！');
                                $("#zz_div").hide();
                                $(".user_edit_div").hide();
                                window.location.reload();
                        },
                        error: function (data, status, e) {
                                layer_alert('提交连接失败！');
                        }
                }); 
            }
            
            
            function checkall()
            { 
                    var $checkinfo = $('#chkall').is(':checked');
                    if($checkinfo ==  true){
                            $("input[name='id[]']").prop("checked",true); 
                    }else{
                            $("input[name='id[]']").prop("checked",false); 
                    } 
            }
	
            function ycdiv()
            {
                $("#userlistdiv").hide();
                $(".user_edit_div").hide();
                $("#zz_div").hide();
            }
            
            $(".adduserlist_div table").on("click",".trcb",function(){
                if ($(this).first().find("input").prop("checked"))
                    $(this).first().find("input").prop("checked", false);
                else
                    $(this).first().find("input").prop("checked", true);
            });
            
            $(".adduserlist_div table").on("click",".selectuser",function(){
                if ($(this).prop("checked"))
                    $(this).prop("checked", false);
                else
                    $(this).prop("checked", true);
            });
    </script>
</block>
</body>
</html>